@import '../themes/mixins';

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 0 2px;
  min-height: 281px;
  padding: 40px;
  text-align: center;

  h1 {
    @include h2;

    color: $white;
  }

  p {
    @include regular-text;

    color: $white;
    margin-bottom: 40px;
  }

  @include xs-to-sm {
    flex: none;
    margin: 5px 0;
    width: 100%;
  }
}

.card-01 {
  background: url('images/card-image-01.jpg');
}

.card-02 {
  background: url('images/card-image-02.jpg');
}

.cardsBlock {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $screen-lg;
  padding: 0 15px;
}

.challengesBlock {
  margin: 0 auto 100px;
  max-width: $screen-lg;
  padding: 0 15px;

  @include xs-to-sm {
    margin-bottom: 50px;
  }
}

.header {
  @include header-block;

  background-image: url('./images/header.jpg');
}

.imageTextBlock {
  margin: 0 auto;
  max-width: $screen-lg;
  padding: 0 15px;
}

.joinButtonInHeader {
  margin-top: 40px;
}

.ourMission {
  @include h2;

  color: $black;
  margin: 100px auto;
  max-width: 900px;
  padding: 0 40px;
  text-align: center;

  @include xs-to-sm {
    margin: 50px auto;
  }
}

.qouteNote {
  @include regular-text;

  font-weight: normal;

  strong {
    font-weight: bold;
  }

  @include xs-to-sm {
    display: none;
  }
}

.qouteAvatar {
  display: flex;

  img {
    height: 150px;
    margin-right: 40px;
    width: 150px;

    @include xs-to-sm {
      height: 50px;
      margin-right: 15px;
      width: 50px;
    }
  }

  .qouteNote {
    display: none;

    strong {
      display: block;
    }

    @include xs-to-sm {
      display: block;
    }
  }
}

.quoteBlock {
  display: flex;
  margin: 200px auto;
  max-width: $screen-lg;
  padding: 0 40px;

  @include xs-to-sm {
    flex-direction: column-reverse;
    margin: 50px auto;
    padding: 0 25px;
  }
}

.qouteCommas {
  @include roboto-medium;

  color: #cfe6ff;
  font-size: 82px;
  font-style: italic;
  position: absolute;
  margin-top: -30px;
  z-index: -1;

  &.left {
    margin-left: -20px;
  }

  &.right {
    margin-left: -10px;
  }
}

.qouteText {
  @include h3;

  font-style: italic;
  margin-bottom: 20px;
}
