@import '~styles/mixins';

.container {
  @include roboto-regular;

  position: relative;
}

.input-container {
  height: 48px;
  border-radius: 4px;
  display: flex;
  background-color: $tc-white;
  border: 1px solid #aaa;
  box-shadow: none !important;
  cursor: pointer;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.input-label {
  @include roboto-regular;

  flex: 1;
  margin-left: 10px;
  color: #262628;
  font-size: 15px;
  line-height: 1.33;
}

.input-placeholder {
  color: $tc-gray-30;
}

.input-arrow {
  width: 20px;
  margin-top: -3px;
}

.modal {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $tc-white;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-top: 2px;
  max-height: 216px;
}

.modal-list-container {
  flex-grow: 1;
  overflow-y: auto;
  cursor: pointer;
}

.select-arrow-zone {
  width: 25px;
  height: 100%;

  .select-arrow {
    position: absolute;
    top: 29px;

    &::before {
      content: url('assets/images/dropdown-arrow.svg');
    }
  }
}

.input-text {
  box-sizing: border-box !important;
  color: #767676 !important;
  border: none !important;
  background: transparent !important;
  font-size: 14px !important;
  height: 48px !important;
  outline: none !important;
  width: 100% !important;
  margin-bottom: 0 !important;
  box-shadow: none !important;
  border-radius: inherit !important;
  padding: 22px 9px 2px 9px;

  &::placeholder {
    color: #767676 !important;
    text-transform: none !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}
