@import "~styles/mixins";

.container {
  :global {
    table {
      display: block;
      width: 100%;
      overflow: auto;
      box-sizing: border-box;

      * {
        box-sizing: border-box;
      }

      tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1;
      }

      th,
      td {
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
      }
    }
  }
}
