@import '~styles/mixins';

.challengeCardContainer {
  border-radius: $corner-radius;
  width: 76.5%;

  @include xs-to-md {
    width: 100%;
    padding: 0;
  }

  .category-challenges-container {
    background: $tc-white;
    margin: 20px 0;
  }

  .view-more {
    width: 100%;
    background: $tc-white;
    border-top: 1px solid $tc-gray-10;
    border-bottom: 1px solid $tc-gray-10;
    border-left: 0;
    border-right: 0;
    color: $tc-gray-50;
    font-weight: 300;
    text-transform: none;
    border-radius: 0;
    outline: none;
    font-size: 13px;
    padding: 12px 0;
  }

  .loading {
    bottom: 10px;
    background: $tc-orange;
    color: $tc-white;
    width: 100%;
    text-align: center;
    padding-top: $base-unit;
    margin: 0;
  }

  .no-results {
    @include tc-label-lg;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: $base-unit * 5;
    border-radius: $corner-radius;

    @include roboto-regular;

    font-size: 24px;
    line-height: 32px;
    color: $tco-black;
    margin-top: 80px;
  }
}
