@import "~styles/mixins";

@mixin body-text {
  color: #73787c;
  font: 15px/180% 'Open Sans', sans-serif;
  text-align: left;
}

@mixin h1 {
  color: #394146;
  font: 600 36px 'Open Sans', sans-serif;
  margin-bottom: 12px;
}

@mixin h3 {
  color: #394146;
  font: 600 20px/150% 'Open Sans', sans-serif;
  margin-bottom: 12px;
  max-height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;

  @include md {
    font-size: 16px;
  }
}

@mixin h4 {
  color: #394146;
  font: 600 16px/150% 'Open Sans', sans-serif;
  max-height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;

  @include md {
    font-size: 16px;
  }
}

@mixin link {
  &,
  &:active,
  &:focus,
  &:hover {
    color: #0092ff;
  }

  &:visited {
    color: $tc-purple;
  }
}

@mixin container {
  @include body-text;

  height: 480px;
  margin-bottom: 48px;
  overflow: hidden;
  position: relative;
  width: 48%;

  @include xs-to-md {
    padding: 0 24px;
    width: 100%;
  }

  a {
    @include link;

    text-decoration: underline;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  iframe {
    height: 280px;
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.container {
  @include container;
}

.fullWidthContainer {
  @include container;

  width: 100%;
  height: 720px;

  @include xs-to-sm {
    height: 480px;
    padding: 0 24px;
    width: 100%;
  }
}

.mask {
  background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.5) 50%, white 80%);
  bottom: 0;
  height: 128px;
  left: 0;
  position: absolute;
  right: 0;
}

.readMore {
  bottom: 0;
  position: absolute;
  z-index: 2;
}
