@import '~styles/mixins';

.trackIcon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  outline-style: none;

  .main-icon {
    width: 100%;
    height: 100%;

    @include tc-label-lg;

    text-align: center;
    vertical-align: center;
    line-height: 40px;
    color: $tc-gray-neutral-light;
    border-radius: $corner-radius * 2;
    cursor: pointer;

    &.design,
    &.generic {
      background: $tc-light-blue-30;
    }

    &.development {
      background: $tc-green-30;
    }

    &.data-science {
      background: $tc-orange-30;
    }

    &.competitive-programming {
      background: $tc-orange-30;
    }

    &:hover {
      &.design,
      &.generic {
        background: $tc-light-blue;
      }

      &.development {
        background: $tc-green;
      }

      &.data-science {
        background: $tc-orange;
      }

      &.competitive-programming {
        background: $tc-orange-30;
      }
    }
  }

  .main-icon-active {
    width: 100%;
    height: 100%;

    @include tc-label-lg;

    text-align: center;
    vertical-align: center;
    line-height: 40px;
    color: $tc-gray-neutral-light;
    border-radius: $corner-radius * 2;
    cursor: pointer;

    &.design,
    &.generic {
      background: $tc-light-blue;
    }

    &.development {
      background: $tc-green;
    }

    &.data-science {
      background: $tc-orange;
    }

    &.competitive-programming {
      background: $tc-orange;
    }

    &:hover {
      &.design,
      &.generic {
        background: $tc-light-blue;
      }

      &.development {
        background: $tc-green;
      }

      &.data-science {
        background: $tc-orange;
      }

      &.competitive-programming {
        background: $tc-orange;
      }
    }
  }

  .big-icon {
    @include tc-label-xl;

    width: 100%;
    height: 100%;
    font-size: 45px;
    line-height: 125px;
    color: $tc-gray-neutral-light;
    border-radius: $corner-radius * 4;
    cursor: default;
    pointer-events: none;

    &.design,
    &.generic {
      background: $tc-light-blue;
    }

    &.development {
      background: $tc-green;
    }

    &.data-science {
      background: $tc-orange;
    }

    &.competitive-programming {
      background: $tc-orange;
    }

    @media screen and (max-width: $screen-md) {
      font-size: 20px;
      line-height: 60px;
    }
  }
}
