/*
 Common mixins for Track Homepages
 */

@import '~styles/mixins';

@mixin outer-container {
  background-color: $tc-gray-neutral-dark;
  display: block;
  width: 100%;

  @include xs-to-lg {
    width: calc(100vw);
  }

  @include xs-to-lg {
    padding: 7px 10px 20px 10px;
  }

  @include lg-to-xl {
    padding: 30px 64px 50px 64px;
  }
}

@mixin page {
  background-color: $tc-white;
  border-radius: 4 * $corner-radius;
  box-shadow: 0 0 8px #ccc;
  margin: auto;
  max-width: 1248px;
  text-align: left;
  width: 100%;

  h1,
  h2,
  h3,
  h4 {
    @include roboto-light;
  }
}

@mixin text {
  @include roboto-regular;

  font-size: 15px;
  line-height: 25px;
  color: $tc-black;
  max-width: 600px;

  p {
    margin: 0;
  }
}

$screen-1024: 1024px;
