@import '~styles/tc-styles';

// Common styles between tile and list view

.challenge {
  .private-challenge-banner {
    width: 100%;
    flex: 1;
    display: flex;

    .title {
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      color: #3d3d3d;
      text-transform: uppercase;
    }

    img {
      width: auto;
    }

    span {
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      color: #b7b7b7;
      text-align: center;
    }
  }

  .invite-only-banner {
    width: 100%;
    flex: 1;
    display: flex;

    .title {
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      color: #3d3d3d;
      text-transform: uppercase;
    }

    img {
      width: auto;
    }

    span {
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      color: #b7b7b7;
      text-align: center;
    }
  }
}

// Default Challenge Tile Stylings
.challenge.tile-view {
  margin: 0 3px;

  header {
    width: 270px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;

    a.name,
    span.name {
      display: block;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      max-height: 48px;
      overflow: hidden;
      color: #3d3d3d;
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: 5px;

      &:hover {
        text-decoration: none;
      }
    }

    p.subtrack-color {
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  }

  .challenge-card__bottom {
    width: 268px;/* 2px adjustment for 2 1px borders */
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  // challenge details section
  .challenge-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    flex: 2;
  }

  .private-challenge-banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-bottom: 60px;
    }

    span {
      margin-top: 20px;
    }
  }

  .invite-only-banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-bottom: 60px;
    }

    span {
      margin-top: 20px;
    }
  }

  // roles bar is common for both active and completed
  .roles {
    width: 100%;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 36px;
    padding: 0 20px;
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    background-color: #f6f6f6;

    span {
      padding: 0;

      @include ellipsis;

      span:first-child {
        color: #a3a3ae;
        white-space: nowrap;
      }
    }
  }

  .active-challenge {
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 270px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: $tc-white;

    .challenge-details {
      .currentPhase {
        margin-bottom: 20px;
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: #3d3d3d;
      }

      .challenge-calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75px;
        height: 63px;
        background-image: url(assets/images/dashboard/ico-calendar.svg);

        > p {
          font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
          font-weight: 700;
        }

        .ends-in {
          margin-top: 3px;
          font-size: 10px;
          line-height: 13px;
          text-transform: uppercase;
          color: #7f7f7f;
        }

        .time-remaining {
          margin-top: 5px;
          font-size: 24px;
          color: #3d3d3d;
        }

        .unit-of-time {
          margin-top: 1px;
          font-size: 10px;
          text-transform: lowercase;
          color: #7f7f7f;
        }

        &.challenge-late {
          .ends-in,
          .time-remaining,
          .unit-of-time {
            color: #e66;
          }
        }
      }

      .stalled-challenge {
        min-height: 83px;
        padding: 21px 20px 0;
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        text-align: center;
        color: #a3a3ae;
      }

      .phase-action {
        min-height: 55px;

        .submit {
          margin: 12px;
          display: block;
          text-align: center;

          &.btn-danger {
            color: #e66e66;
            background-color: $tc-white;
            border-color: #e66e66;

            &:hover {
              background-color: #e66e66;
              color: $tc-white;
            }

            &:active {
              background-color: #e0493e;
              box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
            }
          }
        }

        .submitted {
          position: relative;
          height: 30px;
          line-height: 30px;
          margin-bottom: 25px;
          padding-left: 35px;
          padding-right: 20px;
          border: 1px solid #f0f0f0;
          border-radius: 4px;
          background-color: $tc-white;
          font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
          font-size: 12px;
          text-transform: uppercase;
          color: #3d3d3d;

          &::before {
            content: '';
            width: 15px;
            height: 15px;
            background: url(assets/images/dashboard/ico-checkmark.svg);
            background-size: 15px 15px;
            position: absolute;
            bottom: 6px;
            left: 14px;
          }
        }
      }
    }
  }

  .completed-challenge {
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: $tc-white;
    position: relative;

    header {
      position: relative;

      .date-completed {
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-transform: uppercase;
        color: #a3a3ae;
        margin-bottom: 5px;
      }

      .winner-ribbon {
        position: absolute;
        z-index: 1;
        bottom: -33px;
        left: -2px;

        @include background-image-size(73px, 26px);

        background: url(assets/images/dashboard/ico-winner-ribbon.svg);
      }
    }

    .challenge-details {
      justify-content: space-between;
      align-items: center;

      &.DATA_SCIENCE {
        flex: 2;
        justify-content: center;
      }

      .design-challenge-user-place {
        display: flex;
        flex-direction: column;
        flex: 2;

        .tile-view {
          flex: 2;
          justify-content: flex-end;
        }
      }

      .dev-challenge-user-place {
        display: flex;
        flex-direction: column;
        flex: 2;

        .tile-view {
          flex: 2;
        }
      }

      .marathon-score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .score {
          margin-bottom: 5px;
          font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
          font-size: 32px;
          line-height: 38px;
          color: #3d3d3d;
        }

        p:last-child {
          font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
          font-size: 12px;
          line-height: 14px;
          color: #a3a3ae;
          text-transform: uppercase;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .active-challenge,
    .completed-challenge {
      height: auto;
      margin: auto;
    }
  }

  .past-design-details {
    img {
      height: 200px;
    }
  }
}

.challenge.list-view {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 20px 0;
  padding-left: 5px;
  min-height: 110px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: $tc-white;

  // common styles for active and completed

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
    border-right: 1px solid #f0f0f0;

    @media only screen and (min-width: 1000px) {
      padding: 0 30px;
    }

    a.name,
    span.name {
      display: block;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      max-height: 32px;
      overflow: hidden;
      color: #3d3d3d;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
      }
    }

    p.subtrack-color {
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }

    .roles {
      max-width: 362px;
      font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: #3d3d3d;

      @include ellipsis;

      span:first-child {
        color: #a3a3ae;
        white-space: nowrap;
      }
    }
  }

  .challenge-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-right: 1px solid #f0f0f0;

    @media only screen and (min-width: 1000px) {
      padding: 0 10px 0 30px;
    }

    .challenge-info {
      .currentPhase {
        margin-bottom: 10px;
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #3d3d3d;
        text-transform: uppercase;
      }

      .ends-in {
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #a3a3ae;
      }

      &.challenge-late {
        .ends-in,
        .time-remaining,
        .unit-of-time {
          color: #e66;
        }
      }
    }

    .marathon-score {
      text-align: center;

      .score {
        margin-bottom: 5px;
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-size: 32px;
        line-height: 38px;
        color: #3d3d3d;
      }

      p:last-child {
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #a3a3ae;
        text-transform: uppercase;
      }
    }

    .phase-action {
      .submit {
        display: block;
        margin: 6px 0;
        text-align: center;

        &.btn-danger {
          color: #e66e66;
          background-color: $tc-white;
          border-color: #e66e66;

          &:hover {
            background-color: #e66e66;
            color: $tc-white;
          }

          &:active {
            background-color: #e0493e;
            box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
          }
        }
      }

      .submitted {
        position: relative;
        height: 30px;
        line-height: 30px;
        padding-left: 35px;
        padding-right: 20px;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        background-color: $tc-white;
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        color: #3d3d3d;

        &::before {
          content: '';
          width: 15px;
          height: 15px;
          background: url(assets/images/dashboard/ico-checkmark.svg);
          background-size: 15px 15px;
          position: absolute;
          bottom: 6px;
          left: 14px;
        }
      }
    }
  }

  .private-challenge-banner {
    flex-direction: column;
    justify-content: center;
  }

  .invite-only-banner {
    flex-direction: row;
    justify-content: space-between;

    .invite-only-banner__description {
      .title {
        margin-bottom: 10px;
      }
    }
  }

  // specific styles for active challenges in list view
  .active-challenge {
    width: 100%;
    display: flex;
    flex-direction: row;

    header {
      max-width: 470px;
      flex: 1;
    }

    .challenge-details {
      flex: 2;
    }
  }

  // specific styles for completed challenges in list view
  .completed-challenge {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;

    header {
      flex: 2;
    }

    .challenge-details {
      flex: 1;
    }
  }
}

// Dynamic colors based on track
.DESIGN {
  &.tile-view {
    header {
      border-left: 3px solid #21b2f1;
      border-radius: 3px 0 0;
    }
  }

  &.challenge.list-view {
    border-left: 3px solid #21b2f1;
  }

  .subtrack-color {
    color: #21b2f1;
  }
}

.DEVELOP {
  &.tile-view {
    header {
      border-left: 3px solid #05c14f;
      border-radius: 3px 0 0;
    }
  }

  &.challenge.list-view {
    border-left: 3px solid #05c14f;
  }

  .subtrack-color {
    color: #05c14f;
  }
}

.DATA_SCIENCE {
  &.tile-view {
    header {
      border-left: 3px solid #fc9a00;
      border-radius: 3px 0 0;
    }
  }

  &.challenge.list-view {
    border-left: 3px solid #fc9a00;
  }

  .subtrack-color {
    color: #fc9a00;
  }
}

.COPILOT {
  &.tile-view {
    header {
      border-left: 3px solid #7d939e;
      border-radius: 3px 0 0;
    }
  }

  &.challenge.list-view {
    border-left: 3px solid #7d939e;
  }

  .subtrack-color {
    color: #7d939e;
  }
}

.challenge-tile {
  &.tile-view {
    margin-bottom: 13px;

    @media only screen and (max-width: 767px) {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }
  }

  &.list-view {
    width: 100%;
  }
}

a.tc-btn {
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #0096ff;
  background-color: #0096ff;
  background-image: none;
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  color: $tc-white;
  text-transform: uppercase;
  outline: none;
  text-shadow: none;

  &:focus {
    border: 1px solid #0096ff;
    background-color: #0096ff;
    color: $tc-white;
  }

  &:hover {
    background-color: #097dce;
    border-color: #097dce;
    color: $tc-white;
  }

  &:active {
    background-color: #097dce;
    background-image: none;
    border-color: #097dce;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    line-height: 30px;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.labels {
  position: relative;
}

.community-label {
  background-color: #48f;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  position: absolute;
  right: -9px;
  bottom: 2px;
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
}
