@import "../../../../style";

.container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 20px;
  border: 1px solid $tc-gray-10;
  border-bottom: none;
  background-color: $tc-white;
}

.work-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-icon {
  height: 49px;
  width: 49px;
  margin-right: 18px;
}

.work-parameters {
  @include roboto-medium;

  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: left;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  padding-right: 20px;

  &.single-line {
    flex-direction: row;
    align-items: center;
  }
}

.parameter-first-line {
  font-weight: 500;
  color: $tc-black;
  margin-bottom: 10px;
  word-break: break-all;

  &.single-line {
    margin-bottom: 0;
  }

  @include upto-sm {
    margin-bottom: 0;
  }
}

.parameter-second-line,
.parameter-third-line {
  color: $tc-gray-50;
  font-weight: 400;
  word-break: break-all;

  @include upto-sm {
    display: none;
  }
}

.parameter-second-line-mobile {
  display: none;

  @include upto-sm {
    display: flex;
    flex-direction: column;
    color: $tc-gray-50;
    font-weight: 400;

    p {
      word-break: break-all;
    }
  }
}

.operation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .delete {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    cursor: pointer;
    outline-style: none;
    margin-left: 10px;

    img {
      margin-bottom: 10px;
      width: 20px;
      height: 20px;

      @include upto-sm {
        margin-bottom: 0;
      }
    }

    p {
      @include roboto-regular;

      font-size: 11px;
      line-height: 15px;
      font-weight: 400;
      color: $tc-gray-50;

      @include upto-sm {
        display: none;
      }
    }
  }

  .edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline-style: none;
    margin-left: 10px;

    img {
      margin-bottom: 10px;
      width: 20px;
      height: 20px;

      @include upto-sm {
        margin-bottom: 0;
      }
    }

    p {
      @include roboto-regular;

      font-size: 11px;
      line-height: 15px;
      font-weight: 400;
      color: $tc-gray-50;

      @include upto-sm {
        display: none;
      }
    }
  }
}
