@import "../../style";

.basic-info-container {
  display: flex;
  flex-direction: column;

  @include upto-sm {
    padding: 20px;
    border-bottom: 1px solid $tc-gray-10;
  }

  h1 {
    @include roboto-regular;

    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
    color: $tc-black;
    margin-bottom: 20px;

    @include upto-sm {
      display: none;
    }
  }

  .sub-title {
    @include roboto-light;

    color: #888894;
    line-height: 35px;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 10px;

    &.second {
      margin-top: 40px;
      margin-bottom: 30px;
    }

    &.first {
      margin-bottom: 30px;
      margin-top: 10px;
    }

    &.hidden {
      display: none;
    }

    @include upto-sm {
      display: none;
    }
  }
}

.form-container-default {
  @include form-container-default;

  input {
    @include roboto-regular;

    height: 40px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    margin-bottom: 0;

    @include placeholder {
      text-transform: capitalize;
    }
  }

  textarea {
    @include placeholder {
      text-transform: capitalize;
    }
  }

  .text-required {
    @include roboto-medium;

    font-size: 10px;
    color: $tc-red-110;
    margin-bottom: 5px;
    text-align: right;
  }

  .text-optional {
    @include roboto-medium;

    font-size: 10px;
    color: #888894;
    margin-bottom: 5px;
    text-align: right;
  }

  .description {
    display: flex;
    flex-direction: column;
    width: 80%;

    .first-line {
      display: flex;
      justify-content: flex-end;

      .description-counts {
        @include roboto-medium;

        font-size: 11px;
        color: $tc-dark-blue-110;
        text-align: right;
      }
    }

    .bio-text {
      height: 169px;
      border-radius: 4px;
      margin-bottom: 10px;
      width: 100%;
      resize: vertical;
    }
  }

  .user-icon {
    width: 100%;
  }

  .row {
    .col-1 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      max-width: 0;
      min-width: 0;
      margin-right: 0;
      width: auto;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 0 !important;
    }
  }
}

.about-me-container-mobile {
  display: none;

  @include upto-sm {
    display: flex;
    align-items: flex-start;
  }

  @include sofia-pro-light;

  .user-icon {
    margin-right: 40px;

    @include from-sm-to-lg {
      display: none;
    }

    @include upto-sm {
      display: none;
    }
  }

  .form-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .handle {
      @include sofia-pro-medium;

      width: 103px;
      height: 35px;
      font-size: 28px;
      line-height: 1.25;
      color: $tc-black;
      margin-bottom: 20px;

      @include from-sm-to-lg {
        display: none;
      }

      @include upto-sm {
        display: none;
      }
    }

    .row {
      display: flex;
      margin-bottom: 10px;

      @include upto-sm {
        width: 100%;
        display: block;
        margin-bottom: 0;
      }

      .field {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-right: 10px;

        @include upto-sm {
          display: flex;
          flex-direction: column;
          margin-right: 0;
          padding-bottom: 10px;
        }

        label {
          @include roboto-medium;

          font-size: 12px;
          line-height: 15px;
          font-weight: 500;
          color: $tc-gray-80;
          margin-bottom: 5px;

          .text-required {
            font-size: 10px;
            color: $tc-red-110;
            margin-left: 5px;
          }
        }
      }
    }

    div.field:last-child {
      margin-right: 0;
    }

    div.row:last-child {
      margin-bottom: 0;
    }

    input {
      @include roboto-regular;

      height: 36px;
      margin: 0;
      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
      color: $tc-black;
      border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;

      @include upto-sm {
        margin-top: 5px;
      }

      @include placeholder {
        text-transform: capitalize;
      }
    }

    textarea {
      @include placeholder {
        text-transform: capitalize;
      }
    }

    .second-addr {
      margin-top: 10px;
    }

    .mb-user-card {
      display: none;

      @include upto-sm {
        display: block;
        margin-bottom: 15px;
      }
    }

    .user-card {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      @include from-sm-to-lg {
        margin-bottom: 15px;
      }

      @include upto-sm {
        margin-bottom: 0;
      }

      .img-container {
        display: none;

        @include from-sm-to-lg {
          display: block;
        }
      }

      .main {
        display: block;
        width: 100%;

        @include from-sm-to-lg {
          display: flex;
          flex-direction: column;
        }
      }

      p.user-handle {
        display: none;

        @include from-sm-to-lg {
          @include roboto-regular;

          display: block;
          font-size: 28px;
          font-weight: 400;
          line-height: 35px;
          color: $tc-black;
          margin-bottom: 20px;
        }
      }
    }

    .bio-label {
      display: flex;
      justify-content: space-between;
    }

    .bio-text {
      height: 70px;
    }

    .date-input {
      display: flex;
      align-items: center;
    }
  }

  .required {
    color: $tc-red;
    font-size: 13px;
  }
}

.tracks-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .title-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .title {
      @include sofia-pro-medium;

      font-size: 16px;
      font-weight: 500;
      color: $tc-black;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .description {
      @include merriweather-sans-regular;

      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      color: $tc-gray-40;
      font-style: italic;
    }
  }

  .track-list {
    border-top: 1px solid $tc-gray-neutral-dark;
  }
}

.button-save {
  align-self: center;
  margin-top: 20px;

  div:first-child {
    margin: 0;
  }

  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 170px;
  }

  .white-label {
    color: $tc-white;
    margin: 0;
  }
}

/*
 * React Select component styling
 */
.basic-info-container .form-container .row .field :global .Select,
.basic-info-container .form-container .row .field :global .Select-value span,
.basic-info-container .form-container .row .field :global .Select-menu-outer,
.basic-info-container.form-container .row .field :global .Select-placeholder,
.basic-info-container .form-container .row .field :global .Select-input input {
  color: $tc-gray-80;
  font-size: 15px;

  @include upto-sm {
    margin-top: 5px;
  }
}

.basic-info-container div[class="Select-control"] {
  height: 40px;

  div[class="Select-input"] {
    height: 38px;

    @include placeholder {
      text-transform: capitalize;
    }
  }

  div[class="Select-placeholder"] {
    height: 38px;
    line-height: 40px !important;

    @include upto-sm {
      line-height: 38px !important;
    }
  }

  div[class="Select-value"] {
    line-height: 40px !important;
  }
}

.basic-info-container .form-container .row .field :global .Select-placeholder {
  color: $tc-gray-50;
}

.date-picker {
  padding: 0;
  margin: 0;
  border: none;
}

.date-picker-sm {
  padding: 0;
  margin: 0;
  border: none;
}

.col-2,
.col-percent50,
.col-percent35 {
  width: auto;
}
