@import '~styles/mixins';

.policy-pages-container {
  position: relative;
  max-width: $screen-md;
  margin: 130px auto 200px auto;
  display: grid;
  grid-template-columns: 300px 1fr;

  @include xs-to-md {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .navi {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 85px;
    padding-left: 15px;
    padding-top: 15px;

    @include xs-to-md {
      width: 100%;
      background: white;
      border-bottom: 1px solid #e0e0e0;
    }

    .navi-section-title,
    .navi-section-title2 {
      text-transform: uppercase;
      color: #2a2a2a;
      font-family: Barlow, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 15px;

      @include xs-to-md {
        margin-bottom: 5px;
      }
    }

    .navi-section-title2 {
      margin-top: 42px;

      @include xs-to-md {
        margin-top: 12px;
      }
    }

    .navi-section {
      list-style: none;

      li {
        a {
          color: #2a2a2a;
          font-family: Roboto, sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 38px;

          &:hover {
            font-weight: 700;
          }
        }

        &.active {
          a {
            font-weight: 700;
          }
        }
      }
    }
  }

  .mobile-navi {
    margin-bottom: 30px;

    .mobile-navi-section-title {
      color: #2a2a2a;
      font-family: Barlow, sans-serif;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      font-weight: 600;
      padding: 15px;
      border-bottom: 1px solid #e0e0e0;
      outline: none;

      &::before {
        display: inline-block;
        content: '';
        height: 13px;
        width: 13px;
        margin-right: 11px;
        border-bottom: 3px solid #aaa;
        border-right: 3px solid #aaa;
        transform: rotate(-45deg);
      }

      &.active {
        &::before {
          transform: rotate(45deg);
        }
      }
    }

    .mobile-navi-section {
      list-style: none;
      display: none;
      padding-top: 17px;

      &.active {
        display: block;
        border-bottom: 1px solid #e0e0e0;
      }

      li {
        padding-left: 40px;
        font-family: Roboto, sans-serif;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 15px;
        }

        &.active {
          border-left: 3px solid #43d7b0;
          border-radius: 1.5px;
          padding-left: 37px;

          a {
            font-weight: 700;
            line-height: 26px;
          }
        }
      }
    }
  }

  .page-content {
    min-height: 100vh;
    flex: 1;
  }
}
