@import '~styles/mixins';
$challenge-space-10: $base-unit * 2;
$challenge-space-15: $base-unit * 3;
$challenge-space-20: $base-unit * 4;
$challenge-radius-4: $corner-radius * 2;

.ChallengeCardExamples {
  &.wrapper {
    display: block;
    width: 100%;
    padding: $challenge-space-20;

    @include xs-to-sm {
      padding: $challenge-space-10;
    }
  }
}

.ChallengeFiltersExample {
  background: $tc-gray-neutral-dark;
  flex: 1;

  .tc-content-wrapper {
    display: flex;
    padding: $challenge-space-10;

    @include xs-to-md {
      display: block;
      padding: $base-unit * 0;
    }
  }

  .challenge-cards-container {
    width: 70%;
    padding: $challenge-space-10;

    @include xs-to-md {
      width: 100%;
      padding-top: 0;
    }
  }

  .challenges-container.SRMs-container {
    width: 70%;
    padding: $challenge-space-10;

    @include xs-to-md {
      width: 100%;
      padding-top: 0;
    }

    .title {
      @include roboto-medium;

      font-size: 13px;
      color: $tc-gray-80;
      line-height: $base-unit * 4;
      padding: $base-unit * 2 $base-unit * 4;
      background: $tc-gray-neutral-light;
      border-top-left-radius: $corner-radius * 2;
      border-top-right-radius: $corner-radius * 2;
      margin-top: $base-unit * 4;

      @include xs-to-md {
        margin-top: $base-unit * 2;
      }
    }
  }

  .sidebar-container-mobile {
    margin: $challenge-space-20 $challenge-space-10 $challenge-space-10;
    display: none;

    @include xs-to-md {
      display: block;
      margin: 0;
      padding: $challenge-space-10;
      width: 100%;
    }
  }

  .sidebar-container-desktop {
    margin: $challenge-space-20 $challenge-space-10 $challenge-space-10;
    width: 30%;

    @include xs-to-md {
      display: none;
    }
  }

  .hidden {
    display: none;
  }
}
