/* stylelint-disable no-descending-specificity */

@import '~styles/mixins';
$challenge-space-5: $base-unit;
$challenge-space-10: $base-unit * 2;
$challenge-space-15: $base-unit * 3;
$challenge-space-20: $base-unit * 4;
$challenge-radius-4: $corner-radius * 2;

// .ChallengeCardExamples {
//   &.wrapper {
//     display: block;
//     width: 100%;
//     padding: $challenge-space-20;

//     @include xs-to-sm {
//       padding: $challenge-space-10;
//     }
//   }
// }

.ChallengeFiltersExample {
  flex: 1;
  margin: 0;
  gap: 32px;
  display: flex;
  flex-direction: column;

  @include xs-to-md {
    gap: 0;
  }

  .tc-content-wrapper {
    display: flex;
    padding: 0;
    gap: 16px;

    @include xs-to-md {
      display: block;
      padding: $base-unit * 0;
    }
  }

  // .challenge-cards-container {
  //   width: 70%;
  //   padding: $challenge-space-10;

  //   @include xs-to-md {
  //     width: 100%;
  //     padding-top: 0;
  //   }
  // }

  // .challenges-container.SRMs-container {
  //   width: 70%;
  //   padding: $challenge-space-10;

  //   @include xs-to-md {
  //     width: 100%;
  //     padding-top: 0;
  //   }

  //   .title {
  //     @include roboto-medium;

  //     font-size: 13px;
  //     color: $tc-gray-80;
  //     line-height: $base-unit * 4;
  //     padding: $base-unit * 2 $base-unit * 4;
  //     background: $tc-gray-neutral-light;
  //     border-top-left-radius: $corner-radius * 2;
  //     border-top-right-radius: $corner-radius * 2;
  //     margin-top: $base-unit * 4;

  //     @include xs-to-md {
  //       margin-top: $base-unit * 2;
  //     }
  //   }
  // }

  .sidebar-container-mobile {
    display: none;
    border-radius: 8px;
    background-color: #f4f4f4;

    @include xs-to-md {
      display: block;
      padding: 16px;
      margin: 16px;
    }
  }

  .sidebar-container-desktop {
    width: 326px;

    @include xs-to-md {
      display: none;
    }
  }

  .hidden {
    display: none;
  }
}

.recommended-plus-tag {
  margin-left: 3px;
  display: inline-block;
  background-color: $tc-white;

  button:hover {
    background-color: #d4d4d4 !important;
  }
}

.tag {
  button {
    border-radius: 2px;
    max-width: 400px;
    font-size: 11px;
    color: $color-black-80;
    font-weight: 500;
    background-color: white !important;
    border: 1px solid $color-black-60;

    &:hover {
      background-color: #d4d4d4 !important;
    }
  }

  &.skill {
    button {
      color: $color-black-100;
      background-color: $color-black-10 !important;
      border: none;

      &:hover {
        background-color: #d4d4d4 !important;
      }
    }
  }
}

.additionalTagWrapper {
  background: $tc-black;
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
  max-width: 400px;
  font-size: 11px;
  color: $tco-black;
  font-weight: 500;
}

.additionalTagWrapper::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: 4px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  left: 50%;
  border-top-color: $tc-black;
  z-index: 1000;
}

.additionalTag {
  margin-top: 5px;
  margin-left: 3px;
  display: inline-block;

  & > button {
    background-color: white !important;
    border: 1px solid $color-black-60;

    &:hover {
      background-color: #d4d4d4 !important;
    }
  }

  &.skill {
    & > button {
      color: $color-black-100;
      background-color: $color-black-10 !important;
      border: none;

      &:hover {
        background-color: #d4d4d4 !important;
      }
    }
  }
}

.tagContainer {
  display: flex;
  margin-top: 1px;
  flex-wrap: wrap;
}
