@import '~styles/mixins';
$submang-space-140: $base-unit * 28;
$submang-space-50: $base-unit * 10;
$submang-space-35: $base-unit * 7;
$submang-space-30: $base-unit * 6;
$submang-space-25: $base-unit * 5;
$submang-space-20: $base-unit * 4;
$gray-color: $tc-gray-40;
$light-gray-color: $tc-gray-neutral-light;

.btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
  margin-top: 34px;
  color: white;

  @include xs-to-md {
    margin-right: 16px;
    margin-top: 32px;
  }
}

.add-sub-btn {
  @include roboto-bold;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px !important;
  background: #137d60 !important;
  color: #fff !important;
  text-transform: uppercase;

  @include xs-to-md {
    font-size: 14px;
    line-height: 20px;
  }
}

.add-sub-btn-warning {
  @include roboto-bold;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px !important;
  background: $tc-red-70 !important;
  color: #fff !important;
  text-transform: uppercase;

  @include xs-to-md {
    font-size: 14px;
    line-height: 20px;
  }
}

.submission-management {
  padding-bottom: 40px;
}

.submission-management-content {
  padding: 0 32px;

  @include md {
    padding: $submang-space-20 $submang-space-35;
  }

  @include xs-to-sm {
    padding: 0;
  }

  .content-head {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
    color: $tc-gray-50;
    line-height: $submang-space-25;
    margin-top: 36px;
    margin-bottom: $base-unit;

    @include xs-to-sm {
      flex-direction: column;
      margin-top: $submang-space-20;
      padding: 0 15px;
    }

    .title {
      @include barlow-bold;

      font-weight: 600;
      font-size: 24px;
      color: $tc-black;
      line-height: 28px;
      text-transform: uppercase;

      @include xs-to-md {
        font-size: 20px;
        line-height: 22px;
      }
    }

    .round-ends {
      font-size: 15px;
      color: $tc-black;
      line-height: $submang-space-30;

      @include xs-to-sm {
        margin-top: 10px;
        margin-bottom: 15px;
      }

      span.ends-label {
        color: $tc-gray-50;

        @include xs-to-sm {
          display: block;
          margin-bottom: -10px;
        }
      }
    }
  }

  .subTitle {
    display: flex;
    margin-top: 12px;

    @include xs-to-md {
      margin: 17px 16px 0 16px;
      flex-direction: column;
    }

    .round {
      @include roboto-regular;

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $tc-black;

      span {
        @include roboto-bold;

        font-weight: 700;
      }

      @include xs-to-md {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .seperator {
      width: 2px;
      height: 24px;
      left: 228px;
      top: 0;
      background: #d4d4d4;
      border-radius: 1px;
      margin: 0 16px;

      @include xs-to-md {
        display: none;
      }
    }
  }

  .recommend-info {
    @include roboto-regular;

    font-size: 16px;
    font-weight: 400;
    color: $tc-black;
    line-height: 24px;
    margin-bottom: $submang-space-30;
    margin-top: 40px;

    @include xs-to-sm {
      padding: 0 15px;
      margin-top: 32px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.submission-management-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  padding: $submang-space-25 32px 0 32px;
  background: #fff;
  border-bottom: 1px solid $tc-gray-neutral-dark;

  @include md {
    padding: $submang-space-25 $submang-space-35;
  }

  @include xs-to-sm {
    flex-direction: column;
    padding: 9px 16px;
  }

  .left-col {
    display: flex;
    padding-right: 200px;
    margin-top: 15px;
    margin-bottom: 40px;

    @include xs-to-sm {
      padding-right: 0;
      display: flex;
      flex-direction: column;
    }

    .name {
      @include barlow-bold;

      font-size: 34px;
      color: $tc-black;
      line-height: 32px;
      font-weight: 600;
      margin-left: 16px;
      margin-top: -6px;

      @include xs-to-sm {
        font-size: 28px;
        line-height: 32px;
        margin-top: 0;
        margin-left: 0;
      }
    }

    .back-btn {
      @include roboto-bold;

      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      border: 0;
      color: #137d60 !important;
      width: 32px;
      height: 24px;
      position: relative;

      @include xs-to-md {
        margin-left: 0;
        margin-bottom: 8px;
      }

      svg {
        border: 1.5px solid #137d60;
        border-radius: 24px;

        @include xs-to-md {
          margin-left: 0;
          margin-bottom: 15px;
        }
      }
    }
  }

  .right-col {
    @include roboto-regular;

    min-width: 100px;

    @include xs-to-sm {
      margin-top: 10px;

      p,
      div {
        display: inline-block;
      }
    }

    .time-left {
      font-size: 20px;
      color: $tc-gray-80;
      line-height: $submang-space-30;

      @include xs-to-sm {
        font-size: 15px;
        font-weight: bold;
        line-height: $submang-space-25;
        margin-left: 5px;
      }
    }

    .left-label {
      font-size: 13px;
      color: $tc-gray-50;
      line-height: $submang-space-20;

      @include xs-to-sm {
        margin-left: 5px;
      }
    }
  }
}
