@import '~styles/mixins';

.engagementListing {
  @include roboto-regular;

  max-width: $screen-lg;
  margin: 0 auto;
  padding: 24px 0;

  @media (max-width: 1280px) {
    padding: 24px 15px;
  }
}

.filters {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;

  @include xs-to-sm {
    flex-direction: column;
  }

  > div {
    margin-right: 30px;
    flex: 1;

    @include xs-to-sm {
      margin-right: 0;
      margin-bottom: 15px;
    }

    &:first-child {
      flex: 3;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
}

.loading-state {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.empty-state {
  text-align: center;
  padding: 40px 16px;
  background: $tc-white;
  border: 1px solid $tc-gray-10;
  border-radius: $corner-radius;
  color: $tc-gray-60;
}

.load-more {
  text-align: center;
  margin-top: 24px;
}

.load-more-button {
  @include roboto-medium;

  border-radius: $corner-radius;
  border: 1px solid $tc-dark-blue-70;
  padding: 10px 18px;
  font-size: 14px;
  background: transparent;
  color: $tc-dark-blue-110;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
