@import '~styles/mixins';
$srm-space-10: $base-unit * 2;
$srm-space-15: $base-unit * 3;
$srm-space-20: $base-unit * 4;
$srm-space-25: $base-unit * 5;
$srm-space-30: $base-unit * 6;
$srm-space-40: $base-unit * 8;
$srm-space-45: $base-unit * 9;
$srm-space-50: $base-unit * 10;
$srm-radius-1: $corner-radius / 2;
$srm-radius-4: $corner-radius * 2;

// happening-now-card
.SRMCard {
  @include roboto-medium;

  display: flex;
  justify-content: flex-start;
  position: relative;
  background: $tc-white;
  padding: $srm-space-20;
  border-top: 1px solid $tc-gray-10;
  color: $tc-black;
  font-size: 15px;

  @include xs-to-sm {
    padding: $srm-space-15;
    display: block;
  }

  &.now {
    @include xs-to-sm {
      padding-bottom: 65px;
    }
  }

  &.upcoming {
    @include xs-to-sm {
      padding-bottom: 65px;
    }
  }

  .upper-row {
    display: flex;
    width: 100%;

    @include xs-to-sm {
      display: block;
    }
  }

  /* left panel */
  .left-panel {
    width: 50%;
    display: flex;

    @include xs-to-sm {
      width: 100%;
    }

    &.upcoming {
      width: 70%;

      @include xs-to-sm {
        width: 100%;
      }
    }
  }

  .SRM-track {
    > span {
      display: inline-block;
    }
  }

  .SRM-details {
    .open-title {
      @include roboto-medium;

      font-size: 20px;
      color: $tc-black;
      line-height: $srm-space-30;

      @include xs-to-sm {
        font-size: 20px;
        font-weight: 400;
        line-height: $srm-space-20;
      }
    }

    .upcoming-title {
      font-size: 15px;
      color: $tc-black;
      line-height: $srm-space-20;
    }

    .past-title {
      @extend .upcoming-title;

      padding-bottom: $srm-space-10;
    }

    .SRM-date {
      display: none;

      @include xs-to-sm {
        margin-top: $srm-space-10;
        display: block;
        font-weight: 400;
        font-size: 12px;
        color: $tc-gray-80;
        line-height: $srm-space-15;
      }
    }
  }

  .SRM-open-info {
    display: flex;

    @include xs-to-sm {
      display: block;
    }

    .registered {
      font-weight: 400;
      font-size: 12px;
      color: $tc-black;
      letter-spacing: 0;
      line-height: $srm-space-20;

      @include xs-to-sm {
        padding-top: 5px;
        line-height: $srm-space-15;
      }
    }

    .registeration-ends {
      @extend .registered;

      color: $tc-gray-50;
      padding-left: $srm-space-10;

      @include xs-to-sm {
        padding-left: 0;
      }
    }
  }

  /* right panel */
  .right-panel {
    width: 50%;
    position: relative;

    @include xs-to-sm {
      width: 100%;
    }

    &.now {
      margin-right: 88px;
    }

    &.upcoming {
      text-align: right;
      width: 30%;

      @include xs-to-sm {
        display: none;
      }
    }

    .SRM-date {
      font-weight: 400;
      font-size: 12px;
      color: $tc-gray-80;
      line-height: $srm-space-15;
    }

    .notify-me {
      font-weight: 500;
      font-size: 12px;
      color: $tc-dark-blue;
      line-height: $srm-space-15;
      margin-top: $base-unit;
      display: block;

      @include xs-to-sm {
        margin-top: 0;
        margin-left: auto;
      }
    }
  }

  .SRM-registrants {
    display: flex;
    justify-content: flex-end;
    padding-right: $srm-space-10;

    @include xs-to-sm {
      justify-content: flex-start;
      padding: $srm-space-20 $srm-space-15 0 $srm-space-45;
    }
  }

  .avatar-container {
    margin-right: $srm-space-15;
    text-align: center;

    .name {
      font-weight: 400;
      font-size: 11px;
      color: $tc-level-5;
      line-height: $base-unit * 4;
    }
  }

  a.register-button {
    display: block;
    position: absolute;
    height: 100%;
    background: $tc-gray-neutral-light;
    top: 0;
    right: 0;
    width: 108px;
    padding-left: $srm-space-20;
    text-align: left;
    font-size: 13px;
    color: $tc-black;
    line-height: $srm-space-20;

    @include xs-to-sm {
      position: absolute;
      height: 50px;
      width: auto;
      left: 0;
      right: 0;
      top: auto;
      bottom: 0;
      text-align: center;
      background: $tc-dark-blue-10;
    }

    span.to-register {
      font-size: 12px;
      line-height: $srm-space-15;
      font-weight: 400;
      display: block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: 0;

      @include xs-to-sm {
        display: inline-block;
        position: relative;
        margin-top: 0;
        color: $tc-dark-blue;
      }
    }

    &:hover {
      background: $tc-dark-blue-10;
      color: $tc-dark-blue;
    }
  }

  /*
    This re-uses most of the code from .register-button,
    and adds the display property to hide/show depending the
    screen size
  */
  a.notify-button {
    @extend a.register-button;

    display: none;

    @include xs-to-sm {
      display: block;
    }

    span.notify-me {
      @extend span.to-register;
    }
  }

  /* past SRMs */
  .past-info {
    display: flex;
    justify-content: flex-end;
    padding-bottom: $srm-space-10;

    .SRM-date {
      font-size: 13px;
      margin-right: $srm-space-15;
      padding-top: 3px;
    }
  }

  .challenge-stats {
    a {
      font-weight: 400;
      font-size: 13px;
      color: $tc-black;
      line-height: $srm-space-20;
      margin-left: $srm-space-15;
    }

    svg {
      position: relative;
      top: 2px;
    }

    .number {
      vertical-align: top;
      margin-left: $base-unit - 2;
    }
  }

  &.past {
    display: block;

    &:last-child {
      border-bottom: 1px solid $tc-gray-10;
    }

    .border-line {
      border-bottom: 1px solid $tc-gray-10;
      margin: 0 $srm-space-20 0 $base-unit * 10;
      width: 94%;

      @include xs-to-sm {
        margin: 0 $srm-space-10 0;
      }
    }
  }

  .division-row {
    display: flex;
    width: 100%;

    @include xs-to-sm {
      display: block;
    }

    .division-col.left {
      width: 50%;
      padding-right: $srm-space-10;

      @include xs-to-sm {
        width: 100%;
        padding-right: 0;
      }
    }

    .division-col.right {
      width: 50%;
      padding-left: $srm-space-10;

      @include xs-to-sm {
        width: 100%;
        padding-left: 0;
      }
    }
  }
}
