@import "~styles/mixins";

.credentials {
  .section-fields {
    display: flex;
    flex-direction: column;

    .validation-bar {
      width: 100%;
      display: block;
      position: relative;

      & input[type='text'],
      & input[type='password'] {
        width: 100% !important;
      }

      .password {
        @include merriweather-sans-regular;

        padding-left: 0;
        height: 40px;
        width: 100%;
        font-size: 15px;
        line-height: 20px;
        color: #3d3d3d;
        margin-bottom: 10px;
        outline: none;
        background: #fff;
        border: 1px solid #b7b7b7;
        box-shadow: inset 0 0 2px 0 hsla(0, 0%, 72%, 0.2);
        border-radius: 2px;
        cursor: auto;
        transition: all 0.15s;

        &:hover {
          cursor: text;
        }

        input,
        input:hover,
        input:focus {
          background: none;
          border: none;
          box-shadow: none;
        }
      }
    }

    .button-container {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  // Toggle password directive
  .toggle-password {
    @include merriweather-sans-regular;

    height: 40px;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 2px;
    cursor: auto;
    transition: all 0.15s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0;

    &.focus {
      border: 1px solid #0096ff !important;
    }

    input.password-input {
      margin-bottom: 0;
      outline: 0;
      width: 100%;
      padding-left: 10px;
      padding-right: 64px;
      height: 100%;
      border: none;

      @include placeholder {
        @include sofia-pro-regular;

        color: $tc-gray-40;
        font-size: 12px;
        text-transform: uppercase;
        transition: opacity 0.15s;
      }
    }

    label {
      @include sofia-pro-medium;

      display: flex !important;
      line-height: 20px !important;
      position: absolute;
      top: 10px;
      right: 0;
      text-transform: uppercase;
      font-size: 10px;
      color: #a3a3ae;
      height: 20px;
      width: 60px;
      padding: 0;

      input[type=checkbox] {
        height: 14px;
        width: 14px;
        visibility: visible;
      }
    }
  }
  // FORM TIPS
  // ----------------------------------------------------------------------
  // probably structure needs to be redone

  $tips-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
  $tips-background: $tc-gray-neutral-light;

  // Tip conatiner
  .tips {
    background-color: $tips-background;
    border-radius: 4px;
    opacity: 1;
    padding: 20px;
    padding-bottom: 20px;
    transition: all 0.1s ease-in-out;
    z-index: 1000;

    @media only screen and (min-width: 768px) {
      left: 105%;
    }

    @media screen and (min-width: 915px) {
      box-shadow: $tips-shadow;
      width: 320px;
      padding-bottom: 10px;
      position: absolute;
      text-align: left;
      top: -10px;
    }
    // The tip container is hidden
    &.ng-hide {
      opacity: 0;
    }
    // Tip container arrow element
    .arrow {
      display: none;

      @media screen and (min-width: 915px) {
        display: block;
        height: 34px;
        width: 24px;
        left: -24px;
        overflow: hidden;
        position: absolute;
        top: 10px;

        &::after {
          transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          background-color: $tips-background;
          box-shadow: $tips-shadow;
          content: '';
          display: block;
          height: 12px;
          width: 12px;
          left: 18px;
          position: absolute;
          top: 10px;
        }
      }
    }

    h3 {
      @include sofia-pro-medium;

      font-size: 14px;
      padding-bottom: 15px;

      @media only screen and (max-width: 915px) {
        font-size: 16px;
      }
    }

    p {
      @include merriweather-sans-regular;

      color: $tc-gray-90;
      font-size: 13px;
      line-height: 1.3;
      padding-bottom: 10px;
      position: relative;
      text-align: left;
    }

    p::before {
      @include sofia-pro-medium;

      content: '';
      width: 20px;
      font-size: 14px;
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  // Password tips show checkmark validation
  // TODO: refactor name to be context independent, like .validation-tips
  .password-tips {
    p {
      padding-left: 20px;
    }

    p::before {
      color: $tc-green;
      content: '\2713 ';
      display: none;
    }

    .has-length-between-range::before,
    .has-letter::before,
    .has-symbol-or-number::before,
    .has-number::before {
      display: block;
    }
  }

  .save-password-button {
    @include sofia-pro-medium;

    margin-left: 0;
    height: 40px;
    text-transform: uppercase;
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .section-fields {
    margin-top: 0;
    min-width: 400px;
    width: 100%;
    padding-right: 340px;
  }
}
