@import '~styles/mixins';

.auth {
  display: inline-block;

  a {
    border-radius: 2 * $corner-radius;
    margin: 0 6px;
    text-transform: uppercase;
    top: 0;
  }

  &:global.column {
    display: block;

    a {
      display: block;
      margin: 12px;
      text-align: center;
    }
  }

  :global {
    .tc-btn-primary {
      color: $tc-white;
    }

    .tc-btn-default {
      border: 1px solid $tc-dark-blue;
      color: $tc-dark-blue;

      &:hover {
        background: $tc-dark-blue;
        color: $tc-white;
      }
    }
  }
}
