@import "~styles/mixins";

.container {
  padding: 0 30px;
}

.slider {
  align-items: stretch;

  :global {
    .slick-arrow {
      cursor: pointer;
      padding: 10px;
      position: absolute;

      &:hover {
        background: $tc-gray-neutral-light;
      }
    }

    .slick-next {
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
    }

    .slick-prev {
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
