@import '~styles/mixins';

.subtrack-stats {
  width: 100%;
  max-width: 1242px;
  background-color: #fff;
  margin: 0 auto;

  .ratings {
    .tracks {
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;

      @media only screen and (min-width: 768px) {
        display: none;
      }
    }

    .responsive-carousel {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .slide-wrapper {
      display: inline-block;
    }

    .track:not(:first-child)::before {
      content: '';
      display: block;
      position: absolute;
      top: 22px;
      left: -30px;
      width: 1px;
      height: 60px;
      transform: translateX(0) translateY(20px) rotate(30deg);
      background-color: #d1d3d4;

      @media only screen and (min-width: 768px) {
        top: 24px;
        left: -18px;
      }
    }

    .track {
      position: relative;
      display: inline-block;
      margin-right: 65px;
      padding: 20px 0;

      @media only screen and (min-width: 768px) {
        width: 130px;
        margin-right: 20px;
        padding: 30px 20px;
        cursor: pointer;

        &:hover {
          background-color: #fcfcfc;

          .subtrack {
            color: #3d3d3d;
            border-bottom-color: #3d3d3d;
          }

          p:last-child {
            color: #3d3d3d;
          }
        }
      }

      &:first-child {
        margin-left: 20px;
      }

      &:last-child {
        margin-right: 20px;
      }

      .flex-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      p {
        font-family: Sofia Pro, Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #a3a3ae;

        &:last-child {
          text-transform: uppercase;
        }
      }

      .subtrack {
        padding-bottom: 7px;
        border-bottom: 1px solid #d1d3d4;
        width: 90px;

        @include ellipsis;

        text-align: center;
      }

      .rating {
        position: relative;
        margin-top: 17px;
        margin-bottom: 7px;
        font-size: 32px;

        @media only screen and (max-width: 767px) {
          margin-top: 10px;
        }

        span {
          position: absolute;
          top: 5px;
          right: -10px;
          width: 6px;
          height: 6px;
          background-color: #5e9ef1;
        }
      }
    }
  }

  :global {
    @import "~slick-carousel/slick/slick.scss";

    .slick-slider {
      position: relative;
    }

    .slick-slide {
      display: block;
      text-align: center;
    }

    .slick-arrow {
      transition: opacity 0.2s ease-out;
      font-size: 2rem;
      position: absolute;
      opacity: 0.75;
      cursor: pointer;
      height: 148px;
      width: 80px;
      line-height: 148px;
      top: 0;
      background-color: #fcfcfc;
      color: #a3a3ae;
      text-align: center;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 99;
    }

    .slick-disabled {
      display: none !important;
    }

    .slick-prev {
      left: 0;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 38px;
        background-image: url(assets/images/dashboard/arrow-prev.svg);
        background-size: 20px 38px;
      }
    }

    .slick-next {
      right: 0;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 38px;
        background-image: url(assets/images/dashboard/arrow-next.svg);
        background-size: 20px 38px;
      }
    }
  }
}
