@import '~styles/mixins';

.Leaderboard {
  padding: 0 15px;
  margin: 20px auto;

  @include md {
    margin: 0 auto;
    width: 870px;
  }

  @include lg {
    margin: 40px auto;
    width: 970px;
  }

  @include xl {
    margin: 40px auto;
    width: 1170px;
  }
}

.Leaderboard .section-title {
  @include roboto-light;

  font-size: 30px;
  text-align: center;
  color: #6e6e6e;
  margin: 0 0 30px;
}

.bannerContainer {
  height: 252px;

  @include xs-to-sm {
    height: 300px;
  }
}

.bannerContent {
  bottom: 0;
  top: 0;
  transform: none;
  width: 600px;

  @include xs-to-sm {
    top: auto;
    width: 100%;
  }
}

.bannerContentInner {
  @include xs-to-sm {
    padding-bottom: 20px;
    padding-top: 48px;
  }
}
