.container {
  position: absolute;
  width: 100%;
  height: calc(100vh);
  background-color: white;
  top: -54px;
  left: 0;
  z-index: 100000;
  font-family: 'Roboto';
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h3 {
    font-size: 20px;
    line-height: 30px;
    color: #3d3d3d;
  }

  a {
    font-size: 20px;
    line-height: 30px;
    color: #1A85FF;
  }

  svg {
    margin-top: 50px;
  }

  p {
    font-size: 15px;
    color: #A3A3AD;
    width: 80%;
    text-align: center;
    line-height: 18px;
    margin-bottom: 70px;
    margin-top: 30px;
  }

  p.submitting {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .button-container {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    a {
      font-size: 15px;
    }

    a:last-child {
      color: white;
    }

    a:first-child {
      color: #37373c;
    }
  }

  .error-msg {
    margin-top: -40px;
    margin-bottom: 45px;
    padding: 5px 13px;
    color: red;
    background: #FFF4F4;
    border: 1px solid #ffd4d1;
    color: #f22f24;
    font-size: 13px;
    border-radius: 2px;
    font-style: italic;
    display: flex;
    align-items: center;
  }
}