@import "~styles/mixins";

.container {
  background: $tc-white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 50px;
  align-items: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 765px;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
}

@include xs-to-sm {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    flex-direction: column;
    justify-content: center;
  }
}
