@import '~styles/mixins';

.container {
  background-position: 60% 0 !important;
  height: 300px !important;
}

.content {
  border-radius: 100% !important;
  top: -180px !important;
  height: 600px !important;
  right: -140px !important;
  overflow: visible !important;
  position: absolute !important;
  transform: none !important;
  width: 600px !important;
}

.contentBg {
  background: #70c052 !important;
  position: absolute !important;
  border-radius: 100% !important;
  width: 600px !important;
  height: 600px !important;
  transform: none !important;
}

.contentInner {
  color: #fff !important;
  padding: 200px 0 0 50px !important;
  position: relative !important;
  width: 500px !important;
  z-index: 1 !important;
}

h2.title {
  display: block !important;
  font-family: 'Akkurat mono', monospace !important;
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 150% !important;
  padding-top: 5px !important;
  text-decoration: underline !important;
  text-transform: none !important;

  @include xs-to-sm {
    text-align: left !important;
  }
}

.contentInner p,
.text {
  font-family: 'Akkurat regular', monospace !important;
  line-height: 20px !important;
  margin: 15px 60px 15px 0 !important;

  @include xs-to-sm {
    text-align: left !important;
  }
}

.linkWrap {
  display: none !important;
  position: absolute !important;
  left: 50% !important;
  top: 50px !important;

  .link {
    background-color: $tc-dark-blue !important;
  }
}
