@import '~styles/mixins';

.container {
  @include xxs-to-xs {
    height: 470px;
  }
}

.content {
  border-radius: 100%;
  bottom: 0;
  height: 364px;
  left: 0;
  overflow: visible;
  position: absolute;
  top: 50%;
  transform: none;
  width: 364px;
}

.contentBg {
  background: #00a2e0;
  position: absolute;
  bottom: -135px;
  left: -30px;
  border-radius: 100%;
  width: 364px;
  height: 364px;
  transform: none;

  @include xxs-to-xs {
    left: -30px;
    transform: none;
  }
}

.contentInner {
  color: #fff;
  padding: 76px 0;
  position: relative;
  z-index: 1;

  @include xxs-to-xs {
    padding: 76px 0;
    text-align: left;
  }
}

h2.title {
  border-bottom: 2px solid white;
  display: block;
  font-family: 'Akkurat mono';
  font-size: 20px;
  line-height: 100%;
  padding-left: 18px;
  padding-top: 5px;
  text-transform: none;
  width: 167px;
}

.text {
  font-family: 'Akkurat regular';
  line-height: 20px;
  margin-left: 18px;
  margin-right: 30px;
}

.linkWrap {
  display: none;
  position: absolute;
  left: 50%;
  top: 50px;

  .link {
    background-color: $tc-dark-blue;
  }
}
