@import '~styles/mixins';

.container {
  align-items: center;
  display: flex;
  padding: 0;

  @include xs-to-sm {
    display: block;
    text-align: center;
  }

  .icon {
    margin-right: 20px;
    max-height: 100px;
    max-width: 100px;

    @include xs-to-sm {
      font-size: 11px;
      margin-right: 0;
    }
  }
}

.label {
  font: 400 18px/20px 'Akkurat regular', monospace;
  color: #646363;
  margin-top: 10px;
  text-transform: none;

  @include xs-to-sm {
    font-size: 14px;
  }
}

.text {
  flex: 1;

  .number {
    font: 400 36px/36px 'Akkurat regular', monospace;
    color: #646363;
    text-align: left;

    @include xs-to-sm {
      font-size: 18px;
    }
  }
}
