@import '~styles/mixins';
$podium-border-color: #ededf2;

.PodiumSpot,
.PodiumSpotCondense {
  border-radius: 6px;
  padding: 23px 15px;
  display: flex;
  width: auto;

  .leaderboard-avatar {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    margin-right: 11px;
    overflow: visible;
  }

  .ranking {
    @include roboto-black;

    border-radius: 20px;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: -10px;
    font-size: 15px;
    width: 28px;
    height: 28px;
  }

  .winnings-info span {
    display: block;
  }

  .winnings-info {
    color: #56565d;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .stats {
      color: #747480;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      display: flex;
      margin-bottom: 4px;

      .value-title {
        color: #2a2a2a;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        white-space: nowrap;
      }

      .value {
        color: #2a2a2a;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 20px;
        text-align: left;
        margin-right: 3px;
      }

      span {
        font-size: 16px !important;
        line-height: 25px !important;
      }
    }

    .stats-count {
      color: #747480;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      display: flex;
      margin-bottom: 4px;

      .value {
        margin-right: 5px;
      }
    }

    @include xs-to-sm {
      font-size: 12px;
    }

    @include md-to-lg {
      font-size: 14px;
    }
  }

  a.profile-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .handle-link,
  a.profile-link {
    color: #0d61bf;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-decoration: underline;
    margin-top: 11px;
    margin-bottom: 13px;

    &:hover {
      text-decoration: none;
    }
  }

  .handle-link:hover {
    cursor: pointer;
  }
}

.PodiumSpot--first {
  background-color: #f4f4f4;

  .ranking {
    background-color: #ffd84d;
    color: #fff;
  }
}

.PodiumSpot--second {
  background-color: #f4f4f4;

  .ranking {
    background-color: #746b65;
    color: #fff;
  }
}

.PodiumSpot--third {
  background-color: #f4f4f4;

  .ranking {
    background-color: #854e29;
    color: #fff;
  }
}

.PodiumSpot--fourth {
  background-color: #f4f4f4;

  .ranking {
    background-color: #1e94a3;
    color: #fff;
  }
}

.PodiumSpot--first,
.PodiumSpot--second,
.PodiumSpot--third,
.PodiumSpot--fourth {
  margin-top: 0;

  .leaderboard-avatar {
    height: 79px;
    width: 79px;
  }
}
