@import '../../Themes/mixins';

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  color: $tc-white;

  @include tc-body-md;

  h1 {
    @include roboto-light;
    color: $tc-white;
  }

  @media screen and (max-width: $screen-sm) {
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 28px;
      line-height: 35px;
      text-align: center;
      margin: 40px 43px;
    }
  }

  a,
  a:visited {
    color: $tc-dark-blue-110;

    &:hover {
      background: transparent;
    }
  }
}

.left {
  width: 55%;
  margin-right: 60px;

  p {
    margin: 20px 0;
    color: $tc-white;
  }

  @media screen and (max-width: $screen-sm) {
    margin: 0;
    width: 100%;

    p {
      margin: 20px;
      display: none;
    }
  }
}

.text-mobile {
  display: none;

  @media screen and (max-width: $screen-sm) {
    display: block;
    padding: 20px 20px 0 20px;
  }
}

.time-table {
  color: $tc-white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;

  @media screen and (max-width: $screen-sm) {
    display: none;
  }
}

.time-table-mobile {
  display: none;

  @media screen and (max-width: $screen-sm) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 20px 0 20px;
  }
}

.time-item {
  height: 25px;
}

.time {
  color: $tc-dark-blue-110;
}

.right {
  width: 480px;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: $screen-sm) {
    width: 100%;
    height: auto;
  }
}

.videoPlayButton {
  background: url(assets/images/button_play_video.svg) no-repeat center;
  background-size: cover;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &::after {
    background: url(assets/images/button_play_video.svg) no-repeat;
    content: '';
    height: 160px;
    left: calc(50% - 80px);
    opacity: 0.75;
    position: absolute;
    top: calc(50% - 80px);
    width: 160px;
  }

  &:hover::after {
    opacity: 1;
  }
}
