@import "~styles/tc-styles";

.logo {
  &:first-child > img {
    max-height: 70px;
  }

  &:nth-child(2) {
    margin-left: 30px;
  }
}

.header {
  height: 110px;
}

.challengeDropdown {
  border-left: none;
}

.userMenu {
  height: auto;
  padding: 26px 0;
  margin: 0 30px;

  & > div {
    font-family: 'Akkurat bold', sans-serif;
    text-transform: none;
    text-decoration: underline;
    font-size: 16px;
    color: #00a2e0;
  }

  @include xxs-to-md {
    display: none;
  }
}

.authorize {
  & > div {
    font-family: 'Akkurat bold', sans-serif;
    text-transform: none;
    text-decoration: underline;
    font-size: 16px;
    color: #00a2e0;
  }
}

.additionalLogos {
  @include xxs-to-md {
    display: none;
  }
}

.menuWrap {
  flex-grow: 0;
}

.challengeDropdown {
  font-family: 'Akkurat regular', sans-serif;
  text-transform: none;
  font-size: 16px;
  color: #00a2e0;
}

.menu {
  padding: 30px 0;
}

.menuItem {
  margin: 0 20px;
}

.menuLink {
  font-family: 'Akkurat bold', sans-serif;
  text-transform: none;
  font-size: 18px;
  color: #9bdaf1;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: #9bdaf1;
  }
}

.menuLinkActive {
  font-family: 'Akkurat bold', sans-serif;
  text-transform: none;
  font-size: 18px;
  color: #00a2e0;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: #00a2e0;
  }

  &::after {
    height: 8px;
    width: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 100%;
  }
}

.userWrapMobile {
  opacity: 0; /* This hack hides the user avatar without braking the layout */
}
