@import '~styles/tc-styles';

.disabled {
  background: $tc-gray-30;

  .handle {
    left: 0;
  }
}

.enabled {
  background: $tc-dark-blue-90;

  .handle {
    right: 0;
  }
}

.handle {
  background: $tc-white;
  border-radius: 11px;
  height: 11px;
  margin: 2px;
  position: absolute;
  top: 0;
  width: 11px;
}

.switch {
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  position: relative;
  width: 25px;
}
