@import '~styles/tc-styles';

.Switch {
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  position: relative;
  width: 25px;

  .switch-handle {
    background: $tc-white;
    border-radius: 11px;
    height: 11px;
    margin: 2px;
    position: absolute;
    top: 0;
    width: 11px;
  }
}

.disabled {
  background: $tc-gray-30;

  .switch-handle {
    left: 0;
  }
}

.enabled {
  background: $tc-dark-blue-90;

  .switch-handle {
    right: 0;
  }
}
