@import '~tc-ui/src/styles/tc-includes';

.tag-item {
  margin-bottom: 5px;
  margin-right: 5px;

  @include tc-label;

  font-weight: 400;
  color: $tc-gray-30;

  &:last-child {
    margin-right: 0;

    @media (max-width: 700px) {
      margin-right: 15px;
    }
  }

  .tag-text {
    color: $tc-gray-50;
  }

  .searched-tag {
    color: $tc-black;
  }

  .special-tag {
    color: $tc-purple-70;
  }

  // Commented out since skills are not yet clickable
  // &:hover,
  // &:hover .tag-text {
  //   color: $primary;
  // }
}
