/* stylelint-disable no-descending-specificity */
@import '~styles/mixins';
$table-cell-padding: 2px;

.LeaderboardTable {
  /* Table basic styling (heavily 'inspired' by Bootstrap) */
  @include roboto-regular;

  background-color: transparent;
  width: 100%;
  margin: 30px auto 20px auto;

  th {
    @include roboto-bold;
  }
  // Table cell sizing
  td,
  th {
    &[class*="col-"] {
      position: static;
      float: none;
      display: table-cell;
      text-align: left;
    }
  }
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: 59px;
        vertical-align: top;
        color: #47474f;
        font-size: 20px;
        font-weight: 400;

        @include xs-to-sm {
          line-height: 25px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    line-height: 14px;
    padding: 17px 0;
  }

  // rows
  > tbody > tr {
    td:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    td:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &:nth-child(odd) {
      background-color: #f4f4f4;
    }

    @include sm {
      &:nth-child(even) {
        background-color: #f4f4f4;
      }

      td {
        border-bottom: 16px solid white;
      }
    }
  }
  // hide the table head on extra-small devices
  > thead {
    @include sm {
      display: none;
    }
  }

  // cell alignment
  > tbody tr td,
  > thead tr th {
    vertical-align: middle;
  }

  // Remove top border from thead by default
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }

  /* Column specific styling */
  .col-rank {
    width: 84px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-family: Barlow, sans-serif;
    font-size: 11px;

    @include sm {
      width: 40px;
      vertical-align: baseline;
      padding-top: 20px;
      border-radius: 0;
    }

    span {
      width: 24px;
      height: 24px;
      border-radius: 24px;
      background-color: #16679a;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-left: 16px;

      @include sm {
        margin-right: 25px;
      }
    }
  }

  .col-avatar {
    width: 40px;

    @include md-to-xl {
      line-height: 0;
    }

    @include xs-to-sm {
      display: none !important;
    }
  }

  .col-avatar .leaderboard-avatar,
  .col-handle .leaderboard-avatar {
    display: inline-block;
    height: 32px;
    width: 32px;
    overflow: hidden;

    svg {
      border-radius: 50%;
      max-width: 100%;
    }

    img {
      border: none;
    }
  }

  .col-handle {
    @include sm {
      padding: 15px 0 20px 0;
    }

    .handle-link,
    a {
      color: #0d61bf;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;

      @include sm {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        .leaderboard-avatar {
          margin-right: 8px;
        }
      }
    }
  }

  .col-handle .leaderboard-avatar {
    @include md-to-xl {
      display: none;
    }
  }

  .col-handle .winnings-info {
    @include roboto-light;

    font-size: 14px;
    // display only on small screens
    display: none;

    @include sm {
      display: block;

      span {
        font-weight: 700;
      }
    }

    span {
      display: block;
    }
  }

  .col-fulfillment {
    text-transform: uppercase;
  }

  /* Table responsiveness */
  // Hide 'Fulfillment', 'Challenges' and 'Points' columns on small screens
  .col-fulfillment,
  .col-challenges,
  .col-points {
    width: auto !important;
    color: #2a2a2a;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;

    @include sm {
      display: none !important;
    }
  }

  .col-challenges {
    font-weight: 500;
  }
}

.table-header {
  .col-handleHeader,
  .col-rank,
  .col-fulfillment,
  .col-challenges,
  .col-points {
    color: #767676;
    font-family: Barlow, sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
  }
}
