/* stylelint-disable no-descending-specificity */
@import "~styles/mixins";
@import "~components/Contentful/default";

.container {
  padding: 0;
  width: auto;
  max-width: 95vw;
  height: auto;
  max-height: 95vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include gui-kit-headers;
  @include gui-kit-content;

  @include xs-to-sm {
    width: 90vw;
    max-width: 90vw;
  }

  .title {
    color: #1e94a3;
    font-family: BarlowCondensed, sans-serif;
    font-size: 34px;
    line-height: 38px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
  }

  .loginMsg {
    color: #2a2a2a;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  .ctaButtons {
    display: flex;
    align-content: center;
    justify-content: center;

    & > button:first-child {
      margin-right: 10px !important;
    }

    & > a:first-child {
      margin-right: 10px !important;
    }
  }

  .loginRequired {
    display: flex;
    flex-direction: column;
    padding: 100px 80px;
    text-align: center;

    @include xs-to-sm {
      padding: 20px 15px;
    }

    .loginMsg {
      font-size: 20px;
    }

    .regTxt {
      font-size: 14px;
      margin: 10px 0 0;
    }

    .ctaButtons {
      @include xs-to-sm {
        flex-direction: column;

        > button {
          margin: 0 0 20px !important;
        }
      }
    }
  }
}

.overlay {
  background-color: #2a2a2a;
  opacity: 0.95;
}
