@import "~styles/mixins";
@import "../../style.scss";

.edit-text-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px 36px;
}

.edit-text {
  @include roboto-bold;

  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: $listing-checkbox-green;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.hide {
  display: none;
}

textarea {
  @include placeholder {
    text-transform: uppercase;
  }
}

.hobby-container {
  display: flex;
  flex-direction: column;
  align-items: left;

  h1 {
    @include roboto-regular;

    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
    color: $tc-black;
    margin-bottom: 20px;

    @include upto-sm {
      display: none;
    }
  }

  .sub-title {
    @include roboto-light;

    color: #888894;
    line-height: 35px;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 10px;

    &.second {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    &.first {
      margin-bottom: 30px;
    }

    &.hidden {
      display: none;
    }

    @include upto-sm {
      display: none;
    }
  }

  @include upto-sm {
    margin-top: 32px;
  }
}

.error-message {
  display: none;

  &.active {
    @include roboto-medium;

    display: block;
    border-radius: 5px;
    background-color: $tc-red-10;
    color: $tc-red-110;
    font-size: 15px;
    padding: 15px;
    margin: 15px 0;
  }
}

.form-container-default {
  @include form-container-default;

  input {
    @include roboto-regular;

    height: 40px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    margin-bottom: 0;
  }

  .text-required {
    @include roboto-medium;

    font-size: 10px;
    color: $tc-red-110;
    margin-bottom: 5px;
    text-align: right;
  }

  .description {
    display: flex;
    flex-direction: column;

    .first-line {
      display: flex;
      justify-content: flex-end;

      .description-counts {
        @include roboto-medium;

        font-size: 11px;
        color: $tc-dark-blue-110;
        text-align: right;
        margin-right: 10px;
      }
    }

    .description-text {
      height: 70px;
      border-radius: 4px;
      margin-bottom: 10px;
    }
  }
}

.form-container-mobile {
  display: none;

  @include upto-sm {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid $tc-gray-10;
    padding: 20px 20px 20px 20px;
    background-color: $tc-gray-neutral-light;
  }

  p {
    @include roboto-regular;

    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $tc-black;
    margin-bottom: 10px;

    @include upto-sm {
      margin-bottom: 20px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-content: space-between;

    @include upto-sm {
      width: 100%;
      display: block;
      margin-bottom: 0;
    }

    .field {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-right: 10px;

      @include upto-sm {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
      }

      label {
        @include roboto-medium;

        display: block;
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        color: $tc-gray-80;

        .text-required {
          font-size: 10px;
          color: $tc-red-110;
          margin-left: 5px;
        }
      }

      &.col-1,
      &.col-1-no-padding {
        // width: auto;
      }

      &.col-2 {
        // width: auto;
      }

      &.row-1 {
        width: 280px;

        @include from-sm-to-lg {
          width: 383px;
        }

        @include upto-sm {
          width: 100%;
        }
      }

      &.row-2 {
        min-width: 100%;
      }

      .description-label {
        display: flex;
        justify-content: space-between;
      }

      .description-text {
        height: 70px;
        border-radius: 4px;
        margin-top: 6px;
        margin-bottom: 10px;
        resize: vertical;
      }

      .description-counts {
        @include roboto-medium;

        font-size: 11px;
        color: $tc-dark-blue-110;
      }
    }

    div.field:last-child {
      margin-right: 0;
    }
  }

  input {
    @include roboto-regular;

    height: 36px;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    margin-top: 6px;
  }

  textarea {
    resize: vertical;
    min-width: 100%;
  }

  @include upto-sm {
    border: 0;
    border-radius: 0;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-save,
  .button-cancel {
    align-self: center;

    button,
    a {
      @include roboto-medium;

      height: 40px;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      min-width: 200px;
    }

    .complete {
      color: $tc-white;
    }
  }

  .button-cancel {
    margin-left: 10px;
  }
}
