@import "~styles/mixins";

.badge-link {
  cursor: pointer;
  outline: none;
}

.track-icon {
  height: 40px;
  width: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p.description {
    word-wrap: break-word;
    margin-top: 30px;
    font-size: 15px;
    line-height: 24px;
    width: 100%;

    @include sofia-pro-medium;

    text-align: left;
    color: $tc-gray-90;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1.handle {
      text-align: center;
      font-size: 28px;
      line-height: 34px;

      @include sofia-pro-medium;
    }

    h3.tenure {
      margin-top: 5px;
      font-size: 12px;
      line-height: 14px;

      @include sofia-pro-light;

      color: $tc-gray-40;
      text-align: center;
      text-transform: uppercase;
    }

    h3.location-challenges {
      margin-top: 20px;
      font-size: 12px;
      line-height: 14px;

      @include sofia-pro-medium;

      text-align: center;
      text-transform: uppercase;
    }

    p.description {
      margin-top: 12px;
      max-width: 600px;
      text-align: left;
    }
  }

  img.profile-circle {
    border-radius: 50%;
    display: inline;
    width: 140px;
    height: 140px;
  }

  h5 {
    color: $tc-gray-50;

    &.tracks {
      text-transform: uppercase;
    }

    &.location {
      margin-top: 10px;
    }
  }

  .edit {
    width: 99px;
    margin-top: 30px;
    text-align: center;

    @include sofia-pro-bold;
  }

  .tracks-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;

    .tracks {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .track {
        cursor: pointer;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;

        .track-icon {
          background-size: 40px;
          width: 40px;
        }

        .text {
          @include sofia-pro-light;

          color: $tc-gray-40;
          font-size: 12px;
          line-height: 12px;
          margin-top: 11px;
          text-transform: uppercase;
          text-align: center;
          word-wrap: break-word;
        }
      }
    }
  }

  .links {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .link,
    .link:visited {
      @include sofia-pro-regular;

      color: $tc-light-blue-70;
      font-size: 12px;
      line-height: 14px;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 10px;
      margin-right: 10px;
      transition: color 0.2s;

      &:hover {
        color: $tc-light-blue-110;
      }
    }
  }
}
