@import "~styles/mixins";

.outer-container {
  background: $tc-gray-neutral-dark;
  display: block;
  width: 100%;

  @include xs-to-md {
    width: calc(100vw);
  }

  @include xs-to-md {
    padding: 7px 10px 20px 10px;
  }

  @include lg-to-xl {
    padding: 30px 64px 50px 64px;
  }
}

.page {
  @include roboto-regular;

  background: #f6f6f6;
  border-radius: 4 * $corner-radius;
  box-shadow: 0 0 8px #ccc;
  margin: auto;
  max-width: 1248px;
  text-align: left;
  width: 100%;

  h1 {
    color: #47474f;
    font-size: 41px;
    margin-bottom: 49px;
  }

  h2 {
    color: #262628;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 32px;
  }

  h3 {
    color: #4a4a4a;
    font-size: 28px;
    letter-spacing: 0;
    margin-bottom: 30px;
  }

  @include xs-to-md {
    h1 {
      font-size: 28px;
      letter-spacing: 0;
      line-height: 30px;
      margin-bottom: 35px;
    }

    h2 {
      color: #4a4a4a;
      font-size: 22px;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }
}

.header {
  background-color: #fafafb;
  border-radius: inherit;
  padding: 40px 50px 0 50px;
  text-align: center;

  @include xs-to-md {
    background-color: #fff;
    padding: 20px 20px 0 20px;
  }
}

.body {
  background-color: $tc-white;
  border-top: solid 1px #ededf2;
  padding: 58px;

  @include xs-to-md {
    border-top: 0;
    padding: 0;
  }
}

.event {
  border: 1px solid #dcdce0;
  border-radius: 3 * $corner-radius;
  display: flex;
  flex-wrap: wrap;
  width: 1141px;

  @include xs-to-md {
    border: 0;
    border-radius: 0;
    width: 100%;
  }
}

.event-stats {
  align-items: center;
  background-color: #5d5d66;
  border-bottom-right-radius: 3 * $corner-radius;
  border-bottom-left-radius: 3 * $corner-radius;
  display: flex;
  height: 85px;
  justify-content: space-around;
  width: 1140px;

  h4 {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
  }

  @include xs-to-md {
    border-radius: 0;
    flex-wrap: wrap;
    height: 125px;
    order: 3;
    padding: 15px;
  }
}

.stats-box {
  align-items: center;
  color: #c3c3c8;
  display: flex;
  font-size: 15px;

  img {
    margin-right: 20px;
  }

  h4 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
  }

  @include xs-to-md {
    font-size: 12px;
    text-align: center;
    width: 50%;

    div {
      width: 100%;
    }

    img {
      display: none;
    }

    h4 {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.banner {
  border-top-right-radius: 3 * $corner-radius;
  border-top-left-radius: 3 * $corner-radius;
  height: 375px;
  overflow: hidden;
  width: 810px;

  img {
    min-height: 375px;
    min-width: 810px;
  }

  @include xs-to-md {
    border-radius: 0;
    height: 25vh;
    order: 1;
    width: 100%;

    img {
      min-height: 100%;
      min-width: 100%;
      width: 100%;
    }
  }
}

.button-container {
  color: #a3a3ad;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 25px;
  padding: 40px 20px;
  text-align: center;
  width: 329px;

  @include xs-to-md {
    align-items: center;
    justify-content: center;
    order: 2;
    padding: 30px 15px;
    width: 100%;
  }
}

.location {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;

  strong {
    color: #47474f;
    display: block;
    font-size: 15px;
    width: 100%;
  }

  p {
    width: 100%;
  }

  @include xs-to-md {
    margin-left: 23px;
    min-width: 40%;
    text-align: left;
    width: auto;
  }
}

.button-wrapper {
  width: 127px;

  button,
  a {
    height: 40px;
    font-size: 15px;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
    padding: 0;
    width: 127px;
  }

  margin: 7px;
  margin-top: 14px;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @include xs-to-md {
    margin-top: 29px;
  }
}

.button-wrapper-view-all {
  margin-top: 41px;
  max-height: 30px;
  width: 133px;

  button,
  a {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: 133px;
  }

  @include xs-to-md {
    margin-top: 0;
    margin-bottom: 42px;
  }
}

.learn-more {
  color: #fafafb;
}

.browse-gallery {
  color: #47474f;
  margin-left: 7px;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 120px;
  width: 100%;

  @include xs-to-md {
    height: 52px;
    width: 85px;
  }

  img {
    max-height: 120px;
    max-width: 191px;
    user-select: none;

    @include xs-to-md {
      max-height: 52px;
      max-width: 85px;
    }
  }
}

.finalists {
  margin-top: 35px;
  text-align: center;
}

.trip-winners {
  margin-top: 35px;
  padding-bottom: 30px;
  text-align: center;
}

.fun-facts {
  background: #f2f2f2;
  padding: 35px 53px 40px 53px;
  text-align: center;

  @include xs-to-md {
    padding: 19px 0 28px 0;
  }
}

.champions {
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 4 * $corner-radius;
  border-bottom-right-radius: 4 * $corner-radius;
  display: flex;
  flex-direction: column;
  padding: 38px 46px;

  @include xs-to-md {
    padding: 0;
    padding-top: 24px;
  }
}

.test {
  .color1 {
    color: #5cc900;
  }

  .color2 {
    background-color: #5cc900;
  }
}
