@import "~styles/mixins";

.outer-container {
  background: $tc-gray-neutral-dark;

  @include xs-to-sm {
    padding: 8px 10px 20px;
  }

  @include md {
    padding: 30px 14px 30px 20px;
  }

  @include lg-to-xl {
    padding: 30px 64px;
  }
}

.page {
  @include roboto-regular;

  background: #f6f6f6;
  border-radius: 4 * $corner-radius;
  box-shadow: 3px;
  margin: auto;
  max-width: 1248px;
  text-align: left;
  width: 100%;
}

.header {
  border-radius: inherit;
  background-color: #fafafb;
  padding: 40px 50px 0 50px;
  text-align: center;

  h1 {
    color: #47474f;
    font-size: 41px;
    margin-bottom: 49px;
  }
}

.body {
  background-color: $tc-white;
  border-top: solid 1px #ededf2;
  padding: 58px;
}

.event {
  display: flex;
}

.finalists {
  display: flex;
}

.trip-winners {
  display: flex;
}

.fun-facts {
  display: flex;
}

.champions {
  display: flex;
}
