@import "~styles/mixins";

.form-input-text {
  background-color: #fff !important;
  box-sizing: border-box !important;
  color: #767676 !important;
  font-size: 14px !important;
  height: 48px !important;
  outline: none !important;
  border: 1px solid #aaa !important;
  width: 100% !important;
  margin-bottom: 0 !important;
  box-shadow: none !important;
  border-radius: inherit !important;
  padding: 22px 9px 2px 9px;

  &::placeholder {
    color: #767676 !important;
    text-transform: none !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}
