@import '~styles/mixins';

.page-wrapper {
  padding: 0;

  /* rc checkbox custom style */
  :global {
    .rc-checkbox.payment-service-rc-checkbox {
      display: flex;
      margin-top: 3px;

      .rc-checkbox-inner {
        width: 24px !important;
        height: 24px !important;
      }

      &.rc-checkbox-checked {
        .rc-checkbox-inner {
          background-color: #0ab88a;
          border-color: #0ab88a;
        }
      }

      .rc-checkbox-inner::after {
        left: 7px !important;
        top: 0 !important;
        width: 8px !important;
        height: 16px !important;
      }
    }
  }

  .page-title {
    background-color: white;
    padding: 12px 24px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 8px 8px;
    text-transform: uppercase;

    @include barlow-condensed;

    font-size: 17px;
    font-weight: 500;
    color: $tco-black;
  }

  .payment-method {
    @include xs-to-sm {
      padding: 16px 8px 16px 8px;
    }

    .page-content {
      margin: 0;

      @include xs-to-sm {
        padding: 16px 19px;
        margin: 0;
      }

      .page-header {
        display: flex;
        margin-bottom: 24px;

        .left-pane {
          flex: 1;
          display: flex;
          flex-direction: column;

          .payment-service-title {
            @include barlow;

            margin: 0;
            font-size: 22px;
            line-height: 26px;
            font-weight: 500;
            text-transform: uppercase;

            @include xs-to-sm {
              font-weight: 600;
              font-size: 16px;
              line-height: 16px;
            }
          }
        }

        .right-pane {
          width: 400px;
          display: flex;
          align-items: center;
          padding: 0 24px;

          @include xs-to-sm {
            width: 100%;
            margin-top: 23px;
            padding: 0 16px;
            margin-bottom: 13px;
          }
        }
      }

      .user-name {
        margin-top: 30px;
        font-size: 16px;
        line-height: 26px;

        @include roboto-regular;

        color: $tco-black;

        @include xs-to-sm {
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
        }
      }

      .container {
        display: flex;
        margin-top: 25px;
        margin-bottom: 29px;

        @include xs-to-sm {
          flex-direction: column;
          margin-bottom: 32px;
        }

        .left-pane {
          width: 34.5%;
          display: flex;
          border-right: 2px solid $profile-border-gray;
          flex-direction: column;

          @include xs-to-sm {
            width: auto;
            border-right: 0;
            border-bottom: 2px solid $profile-border-gray;
            padding-bottom: 32px;
          }

          .form-input-checkbox {
            display: flex;
            align-items: flex-start;
            margin-top: 17px;

            span.label {
              font-size: 16px;
              line-height: 26px;
              margin-left: 10px;
              margin-top: -2px;

              @include roboto-regular;

              font-weight: 400;

              .support-email {
                color: #2e55b9;
              }
            }

            > label {
              > div {
                border: 1.5px solid #7f7f7f;
                box-shadow: none !important;
              }
              input {
                &:checked + div {
                  background-color: $color-turq-160;
                  border-color: $color-turq-160;
                  box-shadow: none !important;
                }
              }
            }
          }
        }

        .right-pane {
          display: flex;
          flex: 1;
          flex-direction: column;
          margin-left: 32px;

          @include xs-to-sm {
            margin-left: 0;
          }

          .title {
            @include barlow;

            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;

            @include xs-to-sm {
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              margin: 24px 0;
              color: $tco-black;
            }
          }

          .important-text {
            @include roboto-regular;

            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $color-red-120;
            margin-bottom: 16px;
            margin-top: 22px;

            @include xs-to-sm {
              margin-top: 0;
              font-size: 14px;
              line-height: 22px;
            }
          }

          .condition-text {
            p {
              @include roboto-regular;

              font-weight: 400;
              font-size: 16px;
              color: $tco-black;
              margin-bottom: 16px;
              line-height: 24px;
            }
          }

          .visit-button-wrapper {
            margin-top: 12px;

            .visit-button-desktop-disabled {
              @include roboto-bold;

              font-weight: 700;
              font-size: 13px;
              line-height: 24px;
              height: 32px !important;
              padding: 4px 20px !important;
              border-radius: 24px;
              color: #767676 !important;
              background: #fff !important;
              border: 2px solid #f4f4f4 !important;
              text-transform: uppercase;
            }

            .visit-button-desktop {
              @include roboto-bold;

              font-weight: 700;
              font-size: 13px;
              height: 32px !important;
              padding: 4px 20px !important;
              border-radius: 24px;
              line-height: 24px;
              text-transform: uppercase;
              border: 1px solid #137d60 !important;
              background-color: #137d60 !important;
              color: #fff !important;

              &:hover {
                border: 1px solid #137d60 !important;
                background: #137d60 !important;
                color: #fff !important;
                opacity: 0.8;
              }
            }

            .visit-button-mobile {
              @include roboto-bold;

              font-weight: 700;
              font-size: 14px;
              padding: 14px 20px;
              height: 40px;
              border-radius: 25px;
              display: none;

              @include xs-to-sm {
                height: 32px;
                padding: 10px 15px;
                font-size: 12px;
                display: flex;
              }
            }
          }
        }
      }

      .footer {
        margin-top: 18px;
        margin-bottom: 32px;

        @include xs-to-sm {
          flex-direction: row;
          align-items: center !important;
          justify-content: center !important;
          margin-top: 32px;
        }

        .footer-back-button {
          padding: 18px 30px 18px 34px;
          border-radius: 25px;
          height: 48px;

          @include xs-to-sm {
            height: 40px;
            padding: 14px 14px 14px 24px;
          }

          .footer-back-button-text {
            margin-left: 9px;
            font-size: 20px;
            font-weight: 700;

            @include roboto-bold;

            @include xs-to-sm {
              font-size: 14px;
              line-height: 12px;
            }
          }
        }

        .confirm-button-wrapper {
          flex: 1;
          display: flex;
          justify-content: flex-end;

          @include xs-to-sm {
            margin-bottom: 0;
          }

          .footer-confirm-button {
            height: 48px;
            font-size: 16px !important;
            line-height: 24px !important;
            color: $tc-white !important;
            font-weight: 700;
            border: 0;
            background: #137d60 !important;
            border-radius: 50px !important;
            padding: 12px 24px !important;
            letter-spacing: 0.008em !important;
            text-transform: uppercase;

            @include roboto-bold;

            &:hover {
              color: #fff !important;
              background: #219174 !important;
              border-color: #219174 !important;
            }

            &:focus,
            &:focus-within,
            &:focus-visible {
              outline: none !important;
              box-shadow: none !important;
              border-color: #0d664e;
            }

            &:active {
              color: #fff !important;
              background: #0d664e !important;
              border-color: #0d664e !important;
            }

            &.disabled {
              color: #767676 !important;
              background: #f4f4f4 !important;
            }

            @include xs-to-sm {
              height: 40px;
              padding: 8px 24px !important;
              font-size: 14px !important;
              line-height: 24px !important;
            }
          }

          .footer-confirm-disabled {
            height: 48px;
            font-size: 16px !important;
            line-height: 24px !important;
            color: #767676 !important;
            font-weight: 700;
            border: 0;
            background: #f4f4f4 !important;
            border-radius: 50px !important;
            padding: 12px 24px !important;
            letter-spacing: 0.008em !important;
            text-transform: uppercase;
            opacity: 1;

            @include roboto-bold;

            @include xs-to-sm {
              height: 40px;
              padding: 8px 24px !important;
              font-size: 14px !important;
              line-height: 24px !important;
            }
          }
        }
      }
    }

    .page-divider {
      border-bottom: 2px solid $profile-border-gray;
    }
  }
}

@media screen and (max-width: 425px) {
  .footer {
    .footer-back-button {
      padding: 14px 24px 14px 24px !important;
    }
  }
}

.modal-inner-no-max-width {
  max-width: none !important;
}

.modal-overlay {
  background: #000;
}

.modal-container {
  width: 1200px;
  min-height: 596px;
  max-width: 1232px;
  border-radius: 8px;
  padding: 32px 32px 0 32px;
  gap: 24px;
  overflow-y: scroll;

  @include xs-to-md {
    width: 100%;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    padding: 24px 16px 48px 16px;
  }
}

.icon {
  width: 14.4px;
  height: 14.4px;
  margin-right: 5px;
  margin-top: 4px;
  cursor: pointer !important;
}
