@import '~styles/mixins';

.footer {
  display: flex;
  margin-top: 10px;
}

.avatar {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.handle {
  @include roboto-regular;

  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: $color-link-blue-dark;
  margin-top: 0 !important;
  margin-left: 8px !important;
}

.date {
  list-style: disc;
  margin-left: 15px;
  margin-top: 4px;

  li {
    @include roboto-regular;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $color-black-80;
  }
}
