// @import '~styles/mixins';

.container {
  width: 100%;
}

.singleContent {
  width: 100%;
}

.multiContent {
  width: 100%;
}

.control {
  border: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px;
  cursor: pointer;
  display: flex;
}
