// @import '~styles/mixins';

.container {
  width: 100%;

  :global {
    .slider-control-bottomcenter {
      z-index: 999999;
    }
  }
}

.singleContent {
  width: 100%;
}

.multiContent {
  width: 100%;
}

.controlLeft,
.controlRight {
  border: 0;
  color: white;
  cursor: pointer;
  display: flex;

  @media screen and (max-width: 768px) {
    max-width: 24px;
    max-height: 46px;
  }
}

.controlLeft {
  margin-left: 25px;

  @media screen and (max-width: 768px) {
    margin-left: 15px;
  }
}

.controlRight {
  margin-right: 25px;

  @media screen and (max-width: 768px) {
    margin-right: 15px;
  }
}

.bottomRightControls {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -50px;

  a.controlLeft {
    margin: 0;
    margin-right: 20px;
  }

  a.controlRight {
    margin: 0;
  }
}
