@import '~styles/mixins';

.menu {
  background: $tc-gray-90;
  // height: 58px;
  margin-top: -55px;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 30;
}

.separator {
  background: $tc-gray-40;
  height: 1px;
  margin: 0 12px;
}

.tc-logo {
  left: 12px;
  position: absolute;
}

.title {
  color: $tc-white;
  padding: 12px;
  text-align: center;
}

.x-cross {
  color: $tc-white;
  cursor: pointer;
  font: 100 48px "Sofia Pro", sans-serif;
  position: absolute;
  right: 12px;
  top: -18px;
}
