.container {
  flex-direction: column;
  width: 100%;
}

.loadMoreWrapper {
  display: flex;
  flex-direction: column;

  .loadMoreButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
