@import "~styles/mixins";

.container {
  display: grid;
  margin: 1em auto;
  overflow: auto;
  justify-content: center;

  @include xl {
    max-width: $screen-lg;
  }

  @include xs-to-sm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  > div {
    @include xs-to-sm {
      margin-bottom: 7px;
    }
  }
}
