$primary: #fd7d00;
$champions: #fff0eb;
$empty: #fffaf9;

.track {
  background-color: $primary;
}

.champion {
  background-color: $champions;

  strong {
    color: $primary;
  }
}

.empty {
  background-color: $empty;
}
