$primary: #5cc900;
$champions: #effae4;
$empty: #fafdf6;

.track {
  background-color: $primary;
}

.champion {
  background-color: $champions;

  strong {
    color: $primary;
  }
}

.empty {
  background-color: $empty;
}
