@import "~styles/mixins";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include xs-to-md {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 6px;
  }
}
