@import "~styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 106px;
  width: 80px;

  @media (min-width: 768px) {
    width: 100px;
    height: 128px;
  }

  a:hover {
    text-decoration: none;
  }

  .skill-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $tc-gray-neutral-light;
    padding: 10px;
    border: 1px solid $tc-gray-10;
    height: 80px;
    width: 80px;

    @media (min-width: 768px) {
      height: 100px;
      width: 100px;
    }

    img {
      width: 48px;
      height: 48px;

      @media only screen and (min-width: 768px) {
        width: 60px;
        height: 60px;
      }
    }
  }

  .name-wrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    .name {
      @include sofia-pro-light;

      font-size: 12px;
      color: $tc-gray-90;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 14px;
      }
    }

    .verified-badge {
      padding-left: 5px;
      font-size: 0;
    }
  }
}
