@import "~styles/mixins";

/* Fills the space in the bottom of the modal, when we do not need to render
 * buttons there. */
.bottom-placeholder {
  height: 5 * $base-unit;

  @include xxs-to-xs {
    height: 3 * $base-unit;
  }
}

.container {
  font-family: roboto;
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  padding: 40px 40px 0;
  width: 100%;

  @include xxs-to-xs {
    padding: 3 * $base-unit;
    padding-bottom: 0;
  }
}

.modal-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.scrollable-area {
  flex: 1;
  overflow-y: auto;
}

.title {
  font-size: 28px;
  text-align: center;
}

// TODO: All classes below should be sorted alphabetically for convenience.

.desc {
  margin-top: 24px;
  font-size: 15px;
  line-height: 25px;

  @include xs {
    margin-top: 20px;
  }
}

.tabs-labels {
  overflow-x: auto;
}

.tabs-outer {
  margin-top: 30px;
  margin-bottom: 4px;
  height: 10px;
  border-radius: 5px;
}

.tabs-inner {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  background-color: $tc-gray-20;

  @include xs {
    width: auto;
    display: inline-block;
    white-space: nowrap;
    height: 10px;
    font-size: 0;
  }
}

.tab {
  flex: 1;
  height: 10px;
  position: relative;

  @include xs {
    width: 135px;
    display: inline-block;
  }

  &.agreed,
  &.active.view-only {
    background-color: $tc-green-70;
  }

  &.agreed,
  &.active {
    .indicator {
      background-color: $tc-green-70;
    }
  }

  .indicator {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: $tc-gray-30;
  }
}

.labels {
  margin-bottom: 40px;
  display: flex;

  .label {
    flex: 1;
    cursor: pointer;
    left: 0;
    top: 12px;
    font-size: 13px;
    overflow: hidden;

    @include xs {
      flex: 0 0 135px;
    }
  }
}

.single {
  padding-top: 25px;
}

.sub-title {
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 10px;

  @include xs {
    padding: 0 15px;
  }
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.buttons {
  padding-bottom: 2 * $base-unit;
  text-align: center;
}

.button {
  height: 30px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 20px;
}
