@import "~styles/mixins";

.body {
  border: 1px solid $tc-gray-30;
  word-break: break-word;

  @include xs {
    // max-height: none;
    // padding: 10px 0;
    // border: none;
    // background-color: $tc-white;
  }
}

.frame {
  height: 480px;
  width: 100%;

  &.loading {
    display: none;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0 50px;
}

.button {
  height: 30px;
  padding: 4px 15px;
  font-size: 13px;
  line-height: 20px;
}
