@import "~styles/mixins";

.box {
  background: whitesmoke !important;
}

.container {
  margin: auto;
  max-width: $screen-md;
  padding: 24px;

  code {
    background: whitesmoke;
    font-family: monospace;
    padding: 0 6px;
  }

  em {
    font-style: italic;
  }

  > h3 {
    @include tc-heading-md;

    margin: 18px 0 6px;
  }

  > p {
    @include tc-body-md;

    margin: 6px 0;
  }
}

.text {
  color: red !important;
  font-weight: bold !important;
}

.title {
  @include tc-title;

  margin: 18px 0 6px;
}
