/**
 * Challenge tag button, default style with white text on light blue background.
 */
@import "~styles/mixins";

.button {
  @include roboto-bold;

  align-items: center;
  background-color: $tc-gray-neutral-dark;
  border: none;
  border-radius: 3px;
  color: $tc-gray-80;
  cursor: pointer;
  display: inline-flex;
  font-size: 10px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 2px;
  margin-right: 5px;
  min-height: 20px;
  outline: none;
  padding: 0 7px;
  text-align: center;

  &:active,
  &:focus,
  &:hover {
    color: $tc-gray-80;
    background-color: $tc-dark-blue-30;
  }

  &:visited {
    color: $tc-gray-80;
  }
}
