/**
 * Challenge tag button, default style with white text on light blue background.
 */
@import "~styles/mixins";

@mixin feedback {
  &:active,
  &:focus,
  &:hover {
    color: $tc-gray-80;
    background-color: $tc-dark-blue-30;
  }

  &:visited {
    color: $tc-gray-80;
  }
}

.tag {
  display: inline-block;
  text-align: center;
  padding: 0 7px;
  background-color: $tc-gray-neutral-dark;
  font: bold 11px/20px Roboto;
  color: $tc-gray-80;
  margin-right: 5px;
  border-radius: 2 * $corner-radius;
  margin-bottom: 2px;
  cursor: pointer;

  @include feedback;
}
