/**
 * Event tag, colored with colors of design track (blue).
 */

@import "default";

@mixin feedback {
  &:active,
  &:focus,
  &:hover {
    color: $tc-dark-blue-90;
    background-color: $tc-light-blue-10;
  }

  &:visited {
    color: $tc-dark-blue-90;
  }
}

.tag {
  color: $tc-dark-blue-90;
  background-color: $tc-light-blue-10;

  @include feedback;
}
