/**
 * Event tag, colored with colors of develop track (green).
 */

@import "default";

@mixin feedback {
  &:active,
  &:focus,
  &:hover {
    color: $tc-green;
    background-color: $tc-green-10;
  }

  &:visited {
    color: $tc-green;
  }
}

.tag {
  color: $tc-green;
  background-color: $tc-green-10;

  @include feedback;
}
