/**
 * Event tag, colored with colors of data science track (orange).
 */
 
 @import "~styles/tc-styles";
 
 @mixin feedback {
    &:active,
    &:focus,
    &:hover {
      color: $tc-orange;
      background-color: $tc-light-blue-10;
    }
    &:visited {
      color: $tc-orange;
    }
  }

div, span {
  .tag, a.tag {
    color: $tc-orange;
    background-color: $tc-light-blue-10;
    @include feedback;
  }
}