/**
 * Primary tag, colored with colors of design track (blue).
 */

@import "default";

@mixin feedback {
  &:active,
  &:focus,
  &:hover {
    color: $tc-white;
    background-color: $tc-light-blue;
  }

  &:visited {
    color: $tc-white;
  }
}

.tag {
  background-color: $tc-light-blue;
  color: $tc-white;

  @include feedback;
}
