/**
 * Primary tag, colored with colors of develop track (green).
 */
 
 @import "~styles/tc-styles";
 
 @mixin feedback {
    &:active, 
    &:focus, 
    &:hover {
      color: $tc-white;
      background-color: $tc-green;       
    }
    &:visited {
      color: $tc-white;
    }
  }
 
 div .tag {
   color: $tc-white;
   background-color: $tc-green;
   @include feedback;
 }