@import "../../../style";

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $tc-gray-neutral-dark;
  border-top: 0;
  padding: 20px;
}

.body {
  display: flex;
  flex-direction: row;
}

.icon {
  margin-right: 20px;
  max-height: 80px;
  min-height: 80px;
  max-width: 80px;
  min-width: 80px;
  margin-top: auto;
  margin-bottom: auto;

  @include xs-to-sm {
    display: none;
  }
}

.info {
  display: flex;
  flex-direction: column;

  @include xs-to-sm {
    display: none;
  }
}

.info-first-line {
  @include roboto-medium;

  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.info-second-line {
  @include roboto-regular;

  font-size: 15px;
  line-height: 20px;
  text-align: justify;
  color: #888894;
}

.mobile-view {
  display: none;

  @include xs-to-sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .mobile-first-line {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin-bottom: 10px;
      height: 40px;
      width: 100%;

      .mobile-icon {
        width: 40px;
        height: 40px;
      }

      .mobile-title {
        @include roboto-medium;

        font-size: 15px;
        color: #262628;
        width: 68%;
        margin: auto auto auto 20px;
      }
    }

    .mobile-second-line {
      @include roboto-regular;

      font-size: 15px;
      line-height: 20px;
      color: #888894;
      text-align: justify;
      width: 100%;
    }
  }
}

.onoffswitch-no-padding-right {
  margin-right: 0;
}
