@import '~styles/tc-styles';
$challenge-space-10: $base-unit * 2;
$challenge-space-20: $base-unit * 4;
$challenge-radius-4: $corner-radius * 2;

.ChallengeCardExamples {
  &.wrapper {
    display: block;
    width: 100%;
    padding: $challenge-space-20;

    @include xs {
      padding: $challenge-space-10;
    }
  }

  .cards-container {
    background: $tc-gray-neutral-light;
    border-top-left-radius: $challenge-radius-4;
    border-top-right-radius: $challenge-radius-4;

    .title {
      font-size: 13px;
      color: $tc-gray-80;
      line-height: $base-unit * 4;
      padding: $base-unit * 2 $challenge-space-20;
      font-family: 'Roboto';
      font-weight: 500;
      background: $tc-gray-neutral-light;
      border-top-left-radius: $challenge-radius-4;
      border-top-right-radius: $challenge-radius-4;
    }
  }
}
