@import "~styles/mixins";

.design-content {
  @include roboto-regular;

  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 5px 0;

  @include sm-to-md {
    padding: 0;
  }

  .submission-hints {
    margin-bottom: 2em;
    font-size: 15px;
    color: #37373c;

    ol {
      list-style: decimal;
      margin-left: 15px;
      margin-bottom: 1em;

      li {
        line-height: 20px;
      }
    }
  }

  .row {
    display: flex;
    padding-top: 30px;
    margin-bottom: 32px;
    justify-content: space-between;
    flex-direction: row;

    @include sm-to-md {
      margin: 0 20px;
      flex-direction: column;
    }

    @include sm {
      flex-direction: column;
    }
  }

  a {
    color: $tc-dark-blue-110;
    cursor: pointer;
  }

  .left {
    padding-right: 33px;
    width: 50%;

    @include md-to-lg {
      padding-right: 20px;
    }

    @include sm {
      border-right: none;
      max-width: 100%;
      width: 100%;
      padding-right: 0;
    }

    p.note {
      @include roboto-regular;

      background-color: #fff0ce;
      border-radius: 4px;
      padding: 16px;
      font-size: 16px;
      line-height: 24px;
      color: #2a2a2a;
    }

    .additional-note {
      @include roboto-regular;

      margin-top: 8px;
      font-size: 16px;
      line-height: 24px;
      color: #2a2a2a;
    }

    a {
      font-size: 16px;
      color: $tc-dark-blue;
      cursor: pointer;
    }

    h2 {
      @include barlow-bold;

      font-size: 22px;
      line-height: 26px;
      margin-bottom: 24px;
      color: #2a2a2a;
    }
  }

  .right {
    margin-left: 60px;
    width: 50%;

    @media (min-width: 768px) and (max-width: 1280px) {
      margin-left: 30px;
    }

    @include sm {
      margin-left: 0;
      width: 100%;
    }

    & > p {
      font-size: 15px;
      color: #37373c;
      margin-bottom: 10px;
    }

    button {
      height: 30px;
      font-size: 13px;
      line-height: 0;
    }
  }

  .file-picker-container {
    display: flex;
    height: 100%;
    margin-bottom: 40px;

    @include xs-to-md {
      margin-bottom: 25px;
    }

    & > div {
      margin-right: 16px;
    }
  }

  .agree {
    background-color: #f4f4f4;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
    margin-top: 24px;
    padding: 16px 16px 22px 16px;
    flex-direction: column;
    align-items: center;

    p {
      @include roboto-bold;

      font-weight: 500;
      font-size: 16px;
      color: #37373c;
      line-height: 24px;
      margin-bottom: 50px;
    }

    a {
      color: $tc-dark-blue-110;
    }

    .tc-checkbox-label {
      line-height: 15px;
      margin-left: 21px;
      user-select: none;
      cursor: pointer;
      width: 195px;
      font-size: 15px;
      color: #3d3d3d;
    }

    .tc-checkbox {
      height: 15px;
      width: 100%;
      margin: 0;
      padding: 0;
      vertical-align: bottom;
      position: relative;
      display: inline-block;

      input[type=checkbox] {
        visibility: visible;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      label {
        cursor: pointer;
        position: absolute;
        display: inline-block;
        width: 15px;
        height: 15px;
        top: 0;
        left: 0;
        border-radius: $corner-radius;
        box-shadow: none;
        border: 1px solid $tc-gray-50;
        background: $tc-gray-neutral-light;
        transition: all 0.15s ease-in-out;

        &::after {
          opacity: 0;
          content: '';
          position: absolute;
          width: 9px;
          height: 5px;
          background: transparent;
          top: 3px;
          left: 2px;
          border: 3px solid #137d60;
          border-top: none;
          border-right: none;
          transform: rotate(-45deg);
          transition: all 0.15s ease-in-out;
        }

        @media (min-width: 768px) {
          &:hover::after {
            opacity: 0.3;
          }
        }
      }

      input[type=checkbox]:checked ~ label {
        background: #137d60;
        border-color: #137d60;
      }

      input[type=checkbox]:focus ~ label {
        outline: 2px auto #137d60;
      }

      input[type=checkbox]:checked + label::after {
        opacity: 1;
        border-color: $tc-white;
      }
    }
  }
}

.hr {
  opacity: 0.5;

  @include xs-to-md {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.submitArea {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  @include roboto-bold;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px !important;
  background: #137d60 !important;
  color: #fff !important;
}

.buttonDisabled {
  @include roboto-bold;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px !important;
  color: #767676 !important;
  background: #f4f4f4 !important;
}

.wipro-steps-header {
  font-weight: bold;
  text-decoration: underline;
}

.wipro-steps {
  font-style: normal;
  list-style-type: decimal;
  padding-left: 25px;
}

.wipro-warning {
  font-weight: bold;
  padding-top: 20px;
}

.wipro-red {
  color: red;
}
