.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  > *:nth-child(2):not(:last-child) {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: 0;
  }
}
