@import "../../../../style";

.container {
  width: 100%;
  background-color: $tc-white;
  padding: 0;
  margin-bottom: $margin-xxxxl;

  // &.active {
  //   margin-top: 20px;

  //   @include upto-sm {
  //     margin-top: 0;
  //   }
  // }

  ul {
    display: flex;
    flex-direction: column;
    justify-items: center;

    li {
      margin-bottom: $margin-md;
    }
  }
}
