@import '~styles/mixins';

.statsContainer {
  padding: 0;
}

.statsContent {
  border-bottom: 1px solid #ddd;
  padding: 43px 38px 50px;

  @include xs-to-sm {
    display: flex;
    justify-content: space-around;
    padding: 30px 12px 32px;
  }
}

.resourcesContainer {
  background-color: #fafafa;
  padding: 70px 0;

  @include xs-to-sm {
    padding: 40px 0;
  }
}

.linksContainer {
  padding: 24px 0 60px;

  @include xs-to-sm {
    padding: 0;
  }
}

.BannerContent {
  @include md-to-xl {
    width: 800px;
  }
}

.BannerLink {
  width: 300px;
}

.BannerLinkWrapper {
  display: inline-block;
  margin-right: 24px;
}

.ImageTextContainer {
  padding-bottom: 48px;
}

.WhatCanYouGetDone {
  margin-top: -64px;
}
