@import '~styles/mixins';

.container {
  width: 70%;
  height: 150px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 4px 0 4px;
}

.icon {
  text-align: center;
  padding-top: 30px;
}

.text {
  @include roboto-regular;

  font-size: 13px;
  text-align: center;
  padding-bottom: 26px;
  padding-top: 10px;
  line-height: 22px;
  color: $tc-gray-60;
}
