/**
 * Template mixin for all buttons of similar style
 */

@mixin button($color, $background, $background-active) {
  .button {
    align-items: center;
    background: $background;
    border: 1px solid $background;
    border-radius: 0;
    color: $color;
    display: inline-flex;
    font: 16px 'Akkurat regular', monospace;
    justify-content: center;
    line-height: 16px;
    min-height: 40px;
    margin: 5px;
    padding: 5px 23px 3px;
    vertical-align: middle;
    transition: background-color 0.3s;
  }

  /* Additional styling for a disabled button. */
  .disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  /* .link and .regular classes are applied only to active button-like links,
  * and real buttons (rendered as <button> elements). */
  a.link,
  .regular {
    color: $color;

    &:visited {
      color: $color;
    }

    &:focus {
      outline: none;
      color: $color;
    }

    &:hover {
      border-color: $background-active;
      background-color: $background-active;
      color: $color;
    }

    &:active {
      background-color: $background-active;
      color: $color;
    }
  }

  /* And a few extra classes to support XS, SM and LG sizes. */

  .xs {
    border-radius: 0;
    font-size: 12px;
    line-height: 12px;
    min-height: 20px;
    padding: 2px 13px 0;
  }

  .sm {
    border-radius: 0;
    font-size: 14px;
    line-height: 14px;
    min-height: 30px;
    padding: 2px 18px;
  }

  .lg {
    border-radius: 0;
    font-size: 20px;
    line-height: 20px;
    min-height: 50px;
    padding: 7px 28px 5px;
  }
}
