/**
 * Theme for a gray outline button with Open Sans label font.
 */

@import "../mixins.scss";
@import "_mixin";

@include button(
  $blue-1-75,
  #fff,
  #fff);

.button {
  border: 1px solid $blue-1-75;
}

a.link,
.regular {
  &:hover {
    border-color: $blue-2;
    color: $blue-2;
  }
}
