// NOTE: Babel config for development version of the frontend code is located
// inside Webpack config file, because to enabel Hot Module Replacement it uses
// some special settings, incompatible with NodeJS.
{
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    "inline-react-svg",
    ["module-resolver", {
      "extensions": [".js", ".jsx"],
      "root": [
        "./src/shared",
        "./src"
      ]
    }],
    ["react-css-modules", {
      "filetypes": {
        ".scss": "postcss-scss"
      }
    }]
  ]
}
