// Babel config for NodeJS (server-side). Frontend Babel configuration is embed
// inside Webpack config.
{
  "env": {
    "development": {
      "plugins": [
        ["css-modules-transform", {
          "extensions": [".css", ".scss"],
          "generateScopedName": "[path][name]___[local]"
        }],
        ["react-css-modules", {
          "filetypes": {
            ".scss": {
              "syntax": "postcss-scss"
            }
          },
          "generateScopedName": "[path][name]___[local]"
        }]
      ]
    },
    "production": {
      "plugins": [
        ["css-modules-transform", {
          "extensions": [".css", ".scss"],
          "generateScopedName": "[hash:base64:6]"
        }],
        ["react-css-modules", {
          "filetypes": {
            ".scss": {
              "syntax": "postcss-scss"
            }
          },
          "generateScopedName": "[hash:base64:6]"
        }]
      ]
    },
    "test": {
      "plugins": [
        ["css-modules-transform", {
          "extensions": [".css", ".scss"],
          "generateScopedName": "[path]___[name]__[local]___[hash:base64:5]"
        }],
        ["react-css-modules", {
          "filetypes": {
            ".scss": {
              "syntax": "postcss-scss"
            }
          }
        }]
      ]
    }
  },
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    "dynamic-import-node",
    "inline-react-svg",
    ["module-resolver", {
      "extensions": [".js", ".jsx"],
      "root": [
        "./src/shared",
        "./src"
      ],
      "transformFunctions": ["resolveWeak"]
    }],
    ["transform-assets", {
      "extensions": ["gif", "jpeg", "jpg", "png"],
      "name": "/community-app-assets/images/[hash].[ext]"
    }],
    "transform-runtime"
  ]
}
