@import '~styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  article {
    display: flex;
    flex-direction: column;
  }

  button {
    cursor: pointer;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    padding: 0;
    background: transparent;
  }
}

.h2 {
  @include roboto-bold;

  color: #47474f;
  line-height: 30px;
  font-size: 20px;
}

.description {
  font-size: 15px;
  line-height: 25px;
  margin-top: 5px;
}

.challengeAction {
  min-width: 0;
  width: 181px;
  margin-top: 25px !important;
  align-self: center;
}

.submission-table {
  @include roboto-medium;

  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 20px;
  margin-top: 30px;
}

button.column-1-1,
.column-1-1 {
  width: 50%;
  color: $tc-dark-blue;
}

.submission-table-header {
  background: #fafafb;

  .column-1-1 {
    color: #888894;
  }
}

.submission-table-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.submission-table-row {
  display: flex;
  border: 1px solid #ededf2;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid #ededf2;
  }
}

.column-1 {
  width: 30%;
}

.column-2 {
  width: 70%;
}

.score-title {
  justify-content: unset;

  span {
    margin-left: 28%;
  }
}

.column-1-2 {
  width: 50%;
}

.column-2-1 {
  width: 25%;
  justify-content: flex-end;
  padding-right: 20px;
}

.column-2-2 {
  width: 25%;
  justify-content: flex-end;
  padding-right: 20px;
}

.column-2-3 {
  width: 30%;
  justify-content: flex-start;
  padding-left: 40px;
}

.column-2-4 {
  width: 20%;
}

.icon-download {
  :global {
    path {
      fill: $tc-dark-blue;
    }
  }
}

.col-arrow {
  display: flex;
  padding-left: 5px;
  margin-right: -19px;

  :global {
    svg {
      margin-bottom: 1px;
      height: 8px;
    }
  }
}

.col-arrow-is-sorting {
  :global {
    g {
      fill: $tc-dark-blue;
    }
  }
}

.col-arrow-sort-asc {
  :global {
    svg {
      -moz-transform: scale(1, -1);
      -o-transform: scale(1, -1);
      -webkit-transform: scale(1, -1);
      transform: scale(1, -1);
    }
  }
}

.header-sort {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $tc-dark-blue;

    :global {
      g {
        fill: $tc-dark-blue;
      }
    }
  }
}

button.is-highlight,
.is-highlight {
  background: rgba(26, 133, 255, 0.05);
}
