.challenges {
  background-color: inherit;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    h3 {
      color: #2A2A2A;
      font-family: Barlow, sans-serif;
      font-size: 16px;
      line-height: 20px;
    }
    a {
      color: #219174;
      font-family: Roboto;
      font-size: 13px;
      line-height: 20px;
    }
  }
  .list {
    background: white;
    padding: 0 14px;
    margin: 0;
    list-style: none;
    height: 225px;
    overflow: auto;
    border-radius: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    & > li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 13px 11px;
      border-bottom: 1px solid #E9E9E9;
      color: #2A2A2A;
      font-family: Roboto;
      font-size: 14px;
      line-height: 18px;
      a {
        text-decoration: none;
        color: #2A2A2A;
        margin-right: 25px;
      }
    }
  }
}

.dark {
  .header {
    h3 {
      color: #FFFFFF;
    }
    a {
      color: #5FB7EE;
      text-decoration: underline;
    }
  }
  .list {
    background: #363636;
    color: #FFFFFF;
    li {
      color: #FFFFFF;
      border-bottom: 1px solid #2A2A2A;
      a {
        color: #FFFFFF;
      }
    }
  }
}
