@import "~styles/mixins";

$dashboard-teal: #219174;
$dashboard-dark-card-bg: #363636;
$dashboard-dark-link: #5fb7ee;
$dashboard-dark-bg: #2a2a2a;

.loading {
  height: 195px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include xs-to-sm {
    height: 285px;
  }
}

.container {
  @include roboto-regular;

  color: $tc-gray-90;
  margin-bottom: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;

  .title {
    @include roboto-bold;

    font-size: 20px;
  }

  .allLink {
    color: $dashboard-teal;
    font-size: 13px;
    line-height: 20px;

    &:hover {
      text-decoration: none !important;
    }

    span {
      @include xs-to-sm {
        display: none;
      }
    }
  }
}

.challenges {
  background-color: $tc-white;
  border-radius: 8px;
  width: 100%;

  .row {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 14px;
    border-top: 1px solid $tc-gray-05;

    &:first-child {
      border: none;
    }
  }

  a {
    margin-right: 8px;
    max-width: 70%;
    text-overflow: ellipsis;
  }

  .prize {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
  }

  .amount {
    text-align: right;
  }

  @include xs-to-sm {
    .prize {
      display: flex;
      flex: 1 0 90px;
      flex-direction: column;
    }

    .amount {
      white-space: nowrap;
    }
  }
}

.light {
  background-color: transparent;
}

.container.dark {
  color: $tc-white;

  .header {
    .allLink {
      color: $dashboard-dark-link;
      text-decoration: underline;
    }
  }

  .challenges {
    background-color: $dashboard-dark-card-bg;

    // .row:not(:first-child) {
    //   border-top: 1px solid $dashboard-dark-bg;
    // }
  }
}

.container.light {
  color: $tc-white;

  .header {
    padding: 19px 0;

    .title {
      color: #2a2a2a;
    }

    .allLink {
      color: #fff;
      border-radius: 4px;
      background-color: #0d61bf;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      padding: 1px 12px;
    }
  }

  .challenges {
    background-color: transparent;
    border-radius: 0;
    color: #2a2a2a;

    .row {
      background-color: #fff;
      border: 1px solid #d4d4d4;
      margin: 0;
      margin-bottom: 10px;
      border-radius: 4px;
      padding: 11px 15px;
    }
  }
}
