@import "~styles/mixins";

.distribution-graph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  .axis path,
  .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
  }

  .grid :global(.tick) {
    stroke: white;
    opacity: 0.7;
  }

  .grid path {
    stroke-width: 0;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 11px;
  }

  text:global(.label) {
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 12px;
    fill: white;
    pointer-events: none;
  }
}

@include md-to-xl {
  .distribution-graph {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .axis path,
    .axis line {
      fill: none;
      stroke: none;
      shape-rendering: crispEdges;
    }

    .grid :global(.tick) {
      stroke: white;
      opacity: 0.7;
    }

    .grid path {
      stroke-width: 0;
    }

    .axis text {
      font-family: sans-serif;
      font-size: 11px;
    }

    text:global(.label) {
      text-anchor: middle;
      font-family: sans-serif;
      font-size: 12px;
      fill: white;
      pointer-events: none;
    }
  }
}
