@import '~styles/mixins';

.Podium {
  @include roboto-regular;

  line-height: 1.42;
  margin: 0 auto 40px auto;
  text-align: center;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.PodiumWrap {
  display: flex;
  justify-content: center;

  @include xs-to-sm {
    flex-direction: column;
    align-items: center;
  }
}

.Podium .podium-column {
  display: inline-block;
  padding: 0 15px;
}
