@import '~styles/mixins';

.Podium {
  @include roboto-regular;

  line-height: 1.42;
  margin: 20px auto 40px auto;
  text-align: center;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.Podium .podium-column {
  width: 32%;
  display: inline-block;
  padding: 0 15px;

  @include xs-to-sm {
    width: 100%;
  }
}
