@import '~styles/mixins';

.Podium {
  @include roboto;

  line-height: 1.42;
  margin: 20px -15px;
  text-align: center;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.Podium .podium-column {
  width: 33.33333%;
  float: left;
  padding: 0 15px;
}
