@import '~styles/mixins';

.container {
  align-items: center;
  background: center no-repeat;
  background-size: cover;
  display: flex;
  height: 470px;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;

  @include xs-to-sm {
    align-items: flex-end;
    height: 600px;
  }
}

.content {
  min-height: 252px;
  overflow: hidden;
  position: relative;
  right: 0;
  width: 538px;

  @include xs-to-sm {
    bottom: 0;
    max-height: 100%;
    min-width: 0;
    top: auto;
    transform: none;
    width: 100%;
  }
}

.contentBg {
  background-color: rgba(#0c53a6, 0.7);
  bottom: 0;
  transform: skewX(-10deg);
  transform-origin: left bottom;
  right: 0;
  position: absolute;
  top: 0;
  width: 100%;

  @include xs-to-sm {
    background: linear-gradient(to bottom, rgba(#0c53a6, 0) 0%, rgba(#0c53a6, 0.8) 61%, rgba(#0c53a6, 0.8) 100%);
    transform: none;
  }
}

.contentInner {
  color: #fff;
  padding: 45px 35px 45px 86px;
  position: relative;
  z-index: 1;

  @include xs-to-sm {
    padding: 86px 15px 80px;
    text-align: center;
  }
}

h2.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  line-height: 136.11%;
  text-transform: uppercase;

  @include xs-to-sm {
    font-size: 30px;
  }
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;

  @include xs-to-sm {
    line-height: 22px;
  }
}
