@import '~components/buttons/themed/tc.scss';
@import '~components/GUIKit/Assets/Styles/default';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 6px;
  min-height: 164px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='gray' stroke-width='1' stroke-dasharray='5%2c5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  outline: none !important;
  padding: 0;

  &.hasError {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='red' stroke-width='1' stroke-dasharray='5%2c5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  &.hasFile {
    background-image: none;

    @media (max-width: 768px) {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='gray' stroke-width='1' stroke-dasharray='5%2c5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
  }

  .btn {
    outline: none !important;

    @include primary-white;
    @include sm;

    line-height: 24px !important;

    &:hover {
      @include primary-white;
    }
  }

  .infoText {
    font-family: Roboto, sans-serif;
    font-size: 14px !important;
    line-height: 22px !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: pre-wrap;
    text-align: center;
    color: $color-black-60;
    margin-bottom: 16px !important;

    @media (max-width: 768px) {
      margin-bottom: 8px !important;
    }

    > span {
      display: flex;
      margin: 19px 0;
    }

    &.withFile {
      color: #2a2a2a;
      margin: 40px 0 !important;
    }
  }
}

.errorMessage {
  display: block;

  @include errorMessage;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 8px;
  row-gap: 8px;
  height: 100%;
  width: 100%;

  &.show-mobile {
    @media (max-width: 768px) {
      display: grid !important;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 8px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .photo-item {
    height: 100%;
    border: 1px solid $color-black-40;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: 768px) {
      height: 100px;
      border: none;
      border-radius: 8px;
    }

    .btn-delete {
      position: absolute;
      border: none;
      padding: 0;
      background-color: transparent;
      top: 34px;
      right: 8px;

      @media (max-width: 768px) {
        top: 10px;
        right: 10px;
        width: 28px;
        height: 28px;
      }
    }
  }
}

.wrapper-container {
  display: flex;
  flex-direction: column;
}

.hide-mobile {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.hide-desktop {
  display: none !important;
}

.show-mobile {
  @media (max-width: 768px) {
    display: flex !important;
  }
}
