/* stylelint-disable property-no-unknown */
/* stylelint-disable no-descending-specificity */
@import "~styles/mixins";
@import "../../style.scss";

$checkbox-size: $base-unit * 4;
$checkbox-bg-empty: $tc-gray-neutral-light;
$checkbox-bg-selected: $tc-dark-blue;

.date-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;

  & > div {
    width: 100%;
  }
}

.datePicker {
  input {
    border: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 25px !important;
  }
}

.tc-checkbox {
  height: $checkbox-size;
  width: $checkbox-size;
  margin-bottom: 130px;
  position: absolute;
  display: inline-block;
  bottom: auto;

  @include upto-sm {
    margin-bottom: 10px;
  }

  input[type=checkbox] {
    display: none;
  }

  label {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    top: 0;
    left: 0;
    border-radius: $corner-radius;
    box-shadow: none;
    border: 1px solid $tc-gray-50;
    background: $tc-gray-neutral-light;

    &::after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 13px;
      height: 7px;
      background: transparent;
      top: 4px;
      left: 3px;
      border: 3px solid $tc-dark-blue;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
    }

    &:hover::after {
      opacity: 0.3;
    }
  }

  input[type=checkbox]:checked ~ label {
    background: $checkbox-bg-selected;
    border-color: $checkbox-bg-selected;
  }

  input[type=checkbox]:checked + label::after {
    opacity: 1;
    border-color: $tc-white;
  }
}

.checkbox-wrapper {
  display: flex;
  margin-left: -4px;

  .checkbox-input-wrapper {
    input[type=checkbox] {
      accent-color: #137d60 !important;
      box-sizing: border-box;
      visibility: visible;
      border: 1.5px solid #7f7f7f;
      border-radius: 3px;
      height: $checkbox-size;
      width: $checkbox-size;
    }
  }

  .graduated {
    @include roboto-regular;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $tco-black;
    margin: 0;
  }

  .checkbox-input-label {
    display: inline-block;

    @include roboto-regular;

    font-size: 13px;
    line-height: $checkbox-size;
    vertical-align: middle;
    margin-left: $base-unit * 6;
    user-select: none;
    cursor: pointer;
  }
}

.edit-text-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px 36px;
}

.edit-text {
  @include roboto-bold;

  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: $listing-checkbox-green;
  display: flex;
  align-items: center;
  gap: 4px;
}

.hide {
  display: none;
}

.education-container {
  display: flex;
  flex-direction: column;
  align-items: left;

  :global {
    .SingleDatePickerInput {
      &__showClearDate {
        padding-right: 0;
      }

      &_clearDate {
        padding: 8px 10px;
        top: 20px;
        background: transparent;
      }
    }
  }

  @include upto-sm {
    padding-bottom: 0;
    margin-top: 32px;
  }
}

.error-message {
  display: none;

  &.active {
    @include roboto-medium;

    display: block;
    border-radius: 5px;
    background-color: $tc-red-10;
    color: $tc-red-110;
    font-size: 15px;
    line-height: 21px;
    padding: 12px 15px;
    margin-bottom: 15px;
    white-space: pre-line;
  }
}

label {
  @include roboto-medium;

  display: block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: $tc-gray-80;
  margin-bottom: 5px;

  .text-required {
    font-size: 10px;
    color: $tc-red-110;
    margin-left: 5px;
  }
}

.form-container-default {
  @include form-container-default;

  input {
    @include roboto-regular;

    height: 40px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    margin-bottom: 0;
  }

  .text-required {
    @include roboto-medium;

    font-size: 10px;
    color: $tc-red-110;
    margin-bottom: 5px;
    text-align: right;
  }

  .tc-checkbox-label {
    display: inline-block;

    @include roboto-regular;

    font-size: 13px;
    line-height: $checkbox-size;
    vertical-align: middle;
    margin-left: $base-unit * 6;
    user-select: none;
    cursor: pointer;
  }

  .row {
    .field {
      &.col-1,
      &.col-1-no-padding {
        max-width: 200px;
        min-width: 200px;
      }
    }
  }
}

.form-container-mobile {
  display: none;

  @include upto-sm {
    border: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background-color: $tc-gray-neutral-light;
  }

  p {
    @include roboto-regular;

    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $tc-black;

    @include upto-sm {
      margin-bottom: 20px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-content: space-between;
    width: 100%;

    @include upto-sm {
      display: block;
      margin-bottom: 0;
    }

    div:last-child {
      margin-right: 0;
    }

    .field {
      display: flex;
      flex-direction: column;
      margin-right: 10px;

      @include upto-sm {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
      }

      .tc-checkbox-label {
        display: inline-block;

        @include roboto-regular;

        font-size: 13px;
        line-height: $checkbox-size;
        vertical-align: middle;
        margin-left: $base-unit * 6;
        user-select: none;
        cursor: pointer;
      }

      .date-input {
        display: flex;
        align-items: center;
      }

      &.col-1,
      &.col-1-no-padding {
        width: 23%;

        @include upto-sm {
          width: 100%;
        }
      }

      &.col-2 {
        width: 51%;

        @include upto-sm {
          width: 100%;
        }
      }

      &.col-3 {
        width: 26%;

        @include upto-sm {
          width: 100%;
        }
      }

      &.col-date {
        width: 175px;

        @include upto-sm {
          width: 100%;
        }
      }

      &.col-checkbox {
        position: relative;

        @include upto-sm {
          top: 25px;
        }
      }
    }
  }

  input {
    @include roboto-regular;

    height: 36px;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;

    @include upto-sm {
      margin-top: 5px;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-save,
  .button-cancel {
    align-self: center;

    @include upto-sm {
      margin-top: 30px;
    }

    button,
    a {
      @include roboto-medium;

      height: 40px;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      width: 250px;

      @include upto-sm {
        width: 156px;
      }
    }
  }

  .button-cancel {
    margin-left: 10px;
  }
}

/*
 * React Select component styling
 */
.education-container .form-container .row .field :global .Select,
.education-container .form-container .row .field :global .Select-value span,
.education-container .form-container .row .field :global .Select-menu-outer,
.education-container .form-container .row .field :global .Select-placeholder,
.education-container .form-container .row .field :global .Select-input input {
  color: $tc-gray-80;
  font-size: 15px;

  @include upto-sm {
    margin-top: 5px;
  }
}

.education-container div[class="Select-control"] {
  height: 40px;

  div[class="Select-input"] {
    height: 38px;
  }

  div[class="Select-placeholder"] {
    height: 38px;
    line-height: 40px !important;

    @include upto-sm {
      line-height: 38px !important;
    }
  }

  div[class="Select-value"] {
    line-height: 40px !important;
  }
}

.education-container .form-container .row .field :global .Select-placeholder {
  color: $tc-gray-50;
}
