@import '~styles/mixins';

.content {
  height: 100%;
  width: 100%;
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;

  video {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-play {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
  }

  .btn-left,
  .btn-right {
    position: absolute;
    top: calc(50% - 24px);
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .btn-left {
    left: 0;
  }

  .btn-right {
    right: 0;
  }
}
