@import "~styles/mixins";

@mixin primary {
  @include roboto-bold;

  font-weight: 700 !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  margin: 0 !important;
  white-space: nowrap !important;
  letter-spacing: 0.8px;
}

@mixin primary-green {
  @include primary;

  background-color: #137d60 !important;
  background-image: none !important;
  color: #fff !important;
  border: none !important;

  &:hover {
    background-color: #0ab88a !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:visited {
    background-color: #137d60 !important;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
}

@mixin primary-white {
  @include primary;

  background-color: #fff !important;
  background-image: none !important;
  color: #229174 !important;
  border: 1px solid #137d60 !important;

  &:hover {
    border: 1px solid #229174 !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:visited {
    border: 1px solid #137d60 !important;
    box-shadow: none !important;
  }
}

@mixin primary-borderless {
  @include primary;

  background-color: #fff !important;
  background-image: none !important;
  color: #229174 !important;
  border: none !important;

  &:hover {
    background-color: #fff !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:visited {
    background-color: #fff !important;
    box-shadow: none !important;
  }
}

@mixin xs {
  font-size: 10px !important;
  border-radius: 10px !important;
  min-height: auto !important;
  padding: 0 15px !important;
}

@mixin sm {
  font-size: 12px !important;
  line-height: 30px !important;
  border-radius: 15px !important;
  min-height: auto !important;
  padding: 0 15px !important;
}

@mixin md {
  font-size: 14px !important;
  line-height: 40px !important;
  border-radius: 20px !important;
  min-height: auto !important;
  padding: 0 20px !important;
}

@mixin lg {
  font-size: 20px !important;
  line-height: 50px !important;
  border-radius: 25px !important;
  min-height: auto !important;
  padding: 0 30px !important;
  letter-spacing: 0.8px !important;
}

@mixin secondary {
  @include roboto-bold;

  font-weight: 700 !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  margin: 0 !important;
  white-space: nowrap !important;
  letter-spacing: 0.8px;
}

@mixin secondary-gray {
  @include secondary;

  background-color: #aaa !important;
  background-image: none !important;
  color: #fff !important;
  border: none !important;

  &:hover {
    background-color: #aaa !important;
  }

  &:active,
  &:visited {
    background-color: #aaa !important;
  }
}

@mixin warn {
  @include roboto-bold;

  font-weight: 700 !important;
  text-transform: uppercase !important;
  margin: 0 !important;
  white-space: nowrap !important;
  letter-spacing: 0.8px;
}

@mixin warn-red {
  @include warn;

  background-color: #ef476f !important;
  background-image: none !important;
  color: #fff !important;
  border: none !important;

  &:hover {
    background-color: #ef476f !important;
  }

  &:active,
  &:visited {
    background-color: #ef476f !important;
  }
}

.primary {
  &-green {
    &-xs {
      @include primary-green;
      @include xs;

      &:hover {
        @include primary-green;
      }
    }

    &-sm {
      @include primary-green;
      @include sm;

      &:hover {
        @include primary-green;
      }
    }

    &-md {
      @include primary-green;
      @include md;

      &:hover {
        @include primary-green;
      }
    }

    &-lg {
      @include primary-green;
      @include lg;

      &:hover {
        @include primary-green;
      }
    }
  }

  &-white {
    &-xs {
      @include primary-white;
      @include xs;

      &:hover {
        @include primary-white;
      }
    }

    &-sm {
      @include primary-white;
      @include sm;

      &:hover {
        @include primary-white;
      }
    }

    &-md {
      @include primary-white;
      @include md;

      line-height: 38px !important;

      &:hover {
        @include primary-white;
      }
    }

    &-lg {
      @include primary-white;
      @include lg;

      &:hover {
        @include primary-white;
      }
    }
  }

  &-borderless {
    &-xs {
      @include primary-borderless;
      @include xs;

      &:hover {
        @include primary-borderless;
      }
    }

    &-sm {
      @include primary-borderless;
      @include sm;

      &:hover {
        @include primary-borderless;
      }
    }

    &-md {
      @include primary-borderless;
      @include md;

      &:hover {
        @include primary-borderless;
      }
    }

    &-lg {
      @include primary-borderless;
      @include lg;

      &:hover {
        @include primary-borderless;
      }
    }
  }
}

.sec {
  &-gray {
    &-xs {
      @include secondary-gray;
      @include xs;

      &:hover {
        @include secondary-gray;
      }
    }

    &-sm {
      @include secondary-gray;
      @include sm;

      &:hover {
        @include secondary-gray;
      }
    }

    &-md {
      @include secondary-gray;
      @include md;

      &:hover {
        @include secondary-gray;
      }
    }

    &-lg {
      @include secondary-gray;
      @include lg;

      &:hover {
        @include secondary-gray;
      }
    }
  }
}

.warn {
  &-red {
    &-xs {
      @include warn-red;
      @include xs;

      &:hover {
        @include warn-red;
      }
    }

    &-sm {
      @include warn-red;
      @include sm;

      &:hover {
        @include warn-red;
      }
    }

    &-md {
      @include warn-red;
      @include md;

      &:hover {
        @include warn-red;
      }
    }

    &-lg {
      @include warn-red;
      @include lg;

      &:hover {
        @include warn-red;
      }
    }
  }
}

.themedButtonDisabled {
  background-color: #e9e9e9 !important;
  border: none !important;
  text-decoration: none !important;
  color: #fafafb !important;
}
