@import "~styles/mixins";

.button {
  align-self: center !important;
}

.container {
  background: url("assets/images/communities/cognitive/hearts-banner.jpg");
  background-position-x: 66%;
  background-size: cover;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin: 100px auto 60px;
  max-width: $screen-lg;
  padding: 30px 60px;
}

.text {
  @include tc-heading-lg;

  color: $tc-white;
  font-weight: 300;
}

.title {
  @include tc-title;

  color: $tc-white;
  margin-bottom: 10px;
}
