@import '~components/buttons/themed/tc.scss';
@import '~components/GUIKit/Assets/Styles/default';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 6px;
  min-height: 164px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='gray' stroke-width='1' stroke-dasharray='5%2c5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  outline: none !important;
  padding: 25px 15px 40px 15px;

  &.hasError {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='red' stroke-width='1' stroke-dasharray='5%2c5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .btn {
    outline: none !important;

    @include primary-white;
    @include sm;

    &:hover {
      @include primary-white;
    }
  }

  .infoText {
    color: #aaa;
    font-family: Roboto, sans-serif;
    font-size: 16px !important;
    line-height: 22px !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    > span {
      display: flex;
      margin: 19px 0;
    }

    &.withFile {
      color: #2a2a2a;
      margin: 40px 0 !important;
    }
  }
}

.errorMessage {
  display: block;

  @include errorMessage;
}
