@import "~styles/mixins";

.badge {
  background: url('assets/images/badges.png');
  height: 48px;
  margin: 1px 5px;
  position: relative;
  width: 48px;
}

.algorithmTarget {
  background-position: -48px -576px;
}

.coEciClientBadge {
  background-position: -146px 48px;
}

.crowdForGood {
  background-position: 0 -672px;
}

.designerOfTheMonth {
  background-position: -48px -240px;
}

.digitalRunTopFive {
  background-position: 0 -288px;
}

.digitalRunWinner {
  background-position: 0 -384px;
}

.iosCommunity {
  background-position: -95px -672px;
}

.marathonMatchWinner {
  background-position: 0 -576px;
}

.memberOfTheMonth {
  background-position: -48px -240px;
}

.predixCommunity {
  background-position: -47px -672px;
}

.solvedHardDiv1ProblemInSrm {
  background-position: 0 -624px;
}

.solvedHardDiv2ProblemInSrm {
  background-position: -48px -624px;
}

.srmEngagementHonor {
  background-position: -146px -671px;
}

.srmWinnerDiv1 {
  background-position: -144px -528px;
}

.srmWinnerDiv2 {
  background-position: -192px -528px;
}

.studioCupTopFive {
  background-position: 0 -240px;
}

.studioCupWinner {
  background-position: 0 -336px;
}

.studioMentor {
  background-position: -96px -336px;
}

.studioReviewer {
  background-position: -192px -288px;
}

.studioScreener {
  background-position: -144px -288px;
}

.studioSpecReviewer {
  background-position: -96px -288px;
}

.studioSpirit {
  background-position: -48px -336px;
}

.tco17Champion {
  background: url('assets/images/dashboard/badge-tco17-gold.svg');
  background-size: 48px 48px;
}

.tco17Finalist {
  background: url('assets/images/dashboard/badge-tco17-finalist.svg');
  background-size: 48px 48px;
}

.topcoderReviewer {
  background-position: -192px -288px;
}

.xlBadgeHider {
  background: transparent;
  height: 48px;
  left: 76px;
  position: absolute;
  top: 76px;
  width: 48px;
}

.xlBadgeNode {
  align-items: center;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px $tc-gray-40;
  display: flex;
  height: 200px;
  justify-content: center;
  left: -76px;
  position: absolute;
  top: -76px;
  width: 200px;
  z-index: 6;
}

.xlBadgeImage {
  width: 100%;
}
