@import "~styles/mixins";

.form-input-select {
  :global {
    @import '~react-select/dist/react-select';

    .Select-control {
      border: 1px solid $color-black-40;
      box-shadow: none !important;
      cursor: pointer;

      .Select-placeholder {
        padding: 22px 0 2px 10px !important;
        font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 22px !important;
        color: $color-black-60 !important;
      }

      .Select-value {
        .Select-value-label {
          @include roboto-regular;

          font-size: 14px;
          line-height: 24px;
          color: $color-black-60;
          display: block;
          padding: 22px 0 2px;
        }
      }

      .Select-input {
        height: 48px;
        border-radius: inherit;

        > input {
          @include roboto-regular;

          font-size: 14px;
          line-height: 22px;
          color: $color-black-60;
          height: 100%;
          padding: 22px 0 2px;
        }
      }

      .Select-arrow-zone {
        vertical-align: bottom;
        position: relative;
        padding-right: 5px;
        width: 28px;

        .Select-arrow {
          position: static;
          width: auto;
          height: auto;
          border: none;

          &::before {
            content: url('assets/images/dropdown-arrow.svg');
            display: block;
            margin: 0;
            left: 0;
            top: 30px;
          }
        }
      }
    }

    .Select-menu-outer {
      max-height: 240px;
      z-index: 10;

      .Select-menu {
        @include roboto-regular;

        background-color: $tc-white;

        .Select-option {
          font-size: 16px;
          line-height: 30px;
          color: $tc-gray-90;
          padding: 0 15px;

          &:hover,
          &.is-focused {
            background-color: #229173;
            color: $tc-white;
          }

          &.is-selected {
            font-weight: bold;
            color: $tc-gray-90;
            background-color: #229173;
          }
        }
      }
    }
  }
}
