@import '~styles/mixins';

.signUp,
.signUp:visited,
.compete,
.compete:visited {
  font-family: "Proxima Nova", Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 23px;
  height: 46px;
  width: 161px;
  background-color: $tc-dark-blue;
  color: #fff;
  text-transform: none;
  transition: opacity 0.6s;
  font-size: 18px;
  font-weight: 600;
  line-height: 46px;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
    color: #fff;
  }
}
