@import '~styles/mixins';

.container {
  padding: 0;
  margin: auto;
  max-width: $screen-md;

  .title {
    color: #394146;
    font: 600 36px/136.11% 'Open Sans', sans-serif;
    padding-bottom: 15px;
    text-align: center;

    @include xs-to-sm {
      font-size: 24px;
      padding-top: 30px;
    }
  }

  .cardsWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @include md {
      width: 720px;
    }

    @include xs-to-sm {
      display: block;
      width: 100%;
    }
  }
}
