@import '~styles/mixins';
@import './default';

.container {
  .cardsWrapper {
    width: auto;
    flex-wrap: wrap;

    .card {
      width: 23%;
      height: 300px;
      flex-grow: 1;
      margin: 10px;
      min-width: 180px;

      @include sm-to-md {
        width: 50%;
        height: 480px;
      }

      @include xs-to-sm {
        width: 100%;
        height: 480px;
      }
    }
  }
}
