@import "../../themes/mixins";

.button {
  margin: 20px 0 0 !important;
}

.container {
  margin-top: 60px;
  text-align: left;
  width: 48%;

  @include xs-to-sm {
    width: 100%;
  }

  a {
    @include link;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;

    li {
      margin: 5px 0;
    }
  }
}

.h1 { @include h3; }

.thumbnail {
  width: 100%;
}
