@import '~styles/mixins';
$submission-space-10: $base-unit * 2;
$submission-space-20: $base-unit * 4;
$submission-space-25: $base-unit * 5;
$submission-space-50: $base-unit * 10;

.submission-row {
  width: 100%;
  font-size: 15px;
  color: $tc-black;
  font-weight: 400;

  @include xs-to-sm {
    display: block;
    position: relative;
    padding: 10px 0;
  }

  td {
    vertical-align: middle;
    padding: $submission-space-20;
    background: $tc-white;
    border-top: 1px solid $tc-gray-10;
    line-height: 12px;

    @include xs-to-lg {
      padding: $submission-space-10;
    }

    @include xs-to-sm {
      display: block;
      border: none;
    }

    &.no-submission {
      line-height: $submission-space-20;
      padding: $submission-space-50 $submission-space-20;
      text-align: center;
    }

    &.dev-details {
      padding-right: 60px;
    }
  }

  .preview-col {
    @include xs-to-sm {
      float: left;
    }

    .design-img {
      width: 90px;
      height: 90px;

      @include xs-to-sm {
        width: 80px;
        height: 80px;
      }
    }

    .dev-img {
      width: 40px;
      height: 40px;
    }
  }

  .id-col {
    font-weight: 700;
  }

  .date-col {
    color: $tc-gray-50;
    font-weight: 400;
    line-height: $submission-space-20;

    @include xs-to-sm {
      padding: 0 10px;
    }
  }

  .status-col {
    text-align: center;

    button {
      background: none;
      border: none;
      padding: 0;

      .pending {
        text-transform: initial;
        font-size: 15px;
        color: $tc-gray-40;
        line-height: $submission-space-20;
      }
    }
  }

  .action-col {
    text-align: center;
    min-width: 120px;

    @include xs-to-sm {
      position: absolute;
      right: 0;
      top: 10px;
      padding: 10px 0;
      min-width: 100px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    path {
      fill: $tc-gray-80;
    }

    .delete-icon {
      margin: 0 0 0 24px;

      @include xs-to-sm {
        margin-left: 15px;
      }
    }

    button {
      background: none;
      border: 0;
      font-size: 0;
      padding: 0;
      line-height: 0;
      display: inline-block;

      &:focus {
        outline: none;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    .expand-icon {
      transition: all 1.5s;
      margin-left: 24px;

      @include xs-to-sm {
        margin-left: 15px;
      }

      &.expanded {
        transform: rotate(180deg);
      }
    }
  }

  .status-col button:focus {
    outline: none;
  }
}
