@import "../../style";

.hide {
  display: none;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: left;

  @include upto-sm {
    padding-bottom: 0;
    border-bottom: 1px solid #c3c3c8;

    &.no-skills {
      border-bottom: none;
    }
  }

  h1 {
    @include roboto-regular;

    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
    color: $tc-black;
    margin-bottom: 20px;

    @include upto-sm {
      display: none;
    }
  }

  .sub-title {
    @include roboto-light;

    color: #888894;
    line-height: 35px;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 10px;

    &.second {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    &.first {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    &.hidden {
      display: none;
    }

    @include upto-sm {
      display: none;
    }
  }
}

.error-message {
  display: none;

  &.active {
    @include roboto-medium;

    display: block;
    border-radius: 5px;
    background-color: $tc-red-10;
    color: $tc-red-110;
    font-size: 15px;
    padding: 15px;
    margin: 15px 0;
  }
}

.form-container-default {
  @include form-container-default;

  input {
    @include roboto-regular;

    height: 40px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    margin-bottom: 0;
  }

  .text-required {
    @include roboto-medium;

    font-size: 10px;
    color: $tc-red-110;
    margin-bottom: 5px;
    text-align: right;
  }
}

.form-container-mobile {
  display: none;

  @include upto-sm {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c3c3c8;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background-color: $tc-gray-neutral-light;

    &.no-skills {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  p {
    @include roboto-regular;

    font-size: 20px;
    line-height: 30px;
    color: $tc-black;

    @include upto-sm {
      margin-bottom: 20px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-content: space-between;
    width: 100%;

    @include upto-sm {
      display: block;
      margin-bottom: 0;
    }

    .field {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-right: 10px;
      align-content: space-between;
      width: 100%;

      @include upto-sm {
        display: block;
        padding-bottom: 10px;
      }

      label {
        @include roboto-medium;

        font-size: 12px;
        line-height: 15px;
        color: $tc-gray-80;
        margin-bottom: 6px;
      }

      .col-1,
      .col-2 {
        // width: auto;
      }
    }

    div.field:last-child {
      margin-right: 0;
    }
  }
}

.button-save {
  align-self: center;

  @include upto-sm {
    margin-top: 10px;
  }

  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 200px;

    @include upto-sm {
      width: 156px;
    }
  }

  .complete {
    color: $tc-white;
  }
}

.skill-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    overflow: hidden;
    padding-left: 0;
    margin: 0 -10px;

    @include xs-to-lg {
      margin: 0 -15px;
    }

    @include upto-sm {
      padding: 30px 22px 0;
      margin: 0 -8px;
      justify-content: center;
    }
  }

  li {
    margin: 0 10px 55px;
    border-radius: 6px;

    @include xs-to-lg {
      margin: 0 15px 75px;
    }

    @include upto-sm {
      margin: 0 8px 75px;
    }
  }

  @include upto-sm {
    &.hide {
      display: none;
    }
  }
}

.skill-tile {
  a {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75px;
    width: 75px;
  }

  a:hover {
    text-decoration: none;
  }

  .skill-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    padding: 10px;
    border: 1px solid $tc-gray-20;
    border-radius: 6px;
    height: 75px;
    width: 75px;
    flex-shrink: 0;

    .remove-indicator {
      position: absolute;
      display: none;
      top: 20px;
      left: 17px;

      @include background-image-size(40px, 50px);

      background: url(assets/images/profile/x-mark-red.svg);
      z-index: 100;
    }

    .hidden-indicator {
      position: absolute;
      display: none;
      top: 32px;
      left: 31px;

      @include background-image-size(36px, 36px);

      background: url(assets/images/profile/x-mark-gray.svg);
    }

    img {
      width: 48px;
      height: 48px;

      @media only screen and (min-width: 768px) {
        width: 60px;
        height: 60px;
      }
    }
  }

  .new {
    .skill-icon {
      background-color: #f2faff;
      border: 1px solid #85ccff;
      box-shadow: 0 0 3px #0096ff;
    }
  }

  .name {
    @include roboto-regular;

    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
    color: #262628;
    text-align: center;
    width: 100%;
  }

  a.skill-hidden {
    img {
      opacity: 0.3;
    }

    .hidden-indicator {
      display: block;
    }

    .name {
      text-decoration: line-through;
      color: $tc-gray-40;
    }
  }

  a:not(.skill-hidden):hover {
    div.skill-icon {
      background-color: #fee8ec;
      border: 1px solid #fcbbc5;
      box-shadow: none;

      .remove-indicator {
        display: block;
      }
    }

    img {
      opacity: 0.3;
    }
  }
}

.mobile-buttons {
  display: none;
  margin-top: 10px;

  @include upto-sm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &.hide {
      display: none;
    }
  }
}

.mobile-button {
  background-color: #b3bac5;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  margin: 0 6px;
  outline: none;
  width: 10px;

  &.mobile-active {
    background-color: #0681ff;
  }
}

/*
 * React Select component styling
 */
.skill-container .form-container .row .field :global .Select,
.skill-container .form-container .row .field :global .Select-value span,
.skill-container.form-container .row .field :global .Select-menu-outer,
.skill-container.form-container .row .field :global .Select-placeholder,
.skill-container .form-container .row .field :global .Select-input input {
  color: $tc-gray-80;
  font-size: 15px;

  @include upto-sm {
    margin-top: 5px;
  }
}

.skill-container div[class="Select-control"] {
  height: 40px;

  div[class="Select-input"] {
    height: 38px;
  }

  div[class="Select-placeholder"] {
    height: 38px;
    line-height: 40px !important;

    @include upto-sm {
      line-height: 38px !important;
    }
  }

  div[class="Select-value"] {
    line-height: 40px !important;
  }
}

.skill-container .form-container .row .field :global .Select-placeholder {
  color: $tc-gray-50;

  @include upto-sm {
    margin-top: 5px;
  }
}
