@import '~styles/mixins';
$status-space-10: $base-unit * 2;
$status-space-15: $base-unit * 3;
$status-space-20: $base-unit * 4;
$status-space-25: $base-unit * 5;
$status-space-30: $base-unit * 6;
$status-space-40: $base-unit * 8;
$status-space-50: $base-unit * 10;
$status-radius-1: $corner-radius / 2;
$status-radius-4: $corner-radius * 2;

.challenge-status {
  display: inline-block;
  text-align: right;
  width: 77.7%;

  @include xs-to-md {
    margin-top: $status-space-20 + 3;
    width: 100%;
  }

  @include xs-to-sm {
    margin-top: $status-space-15;
  }

  &.completed {
    @include xs-to-md {
      text-align: left;
      padding-left: 0;
      margin-bottom: $base-unit + 2;
    }

    > div {
      display: flex;
      align-items: center;
      height: 30px;

      @include xs-to-md {
        display: flex;
        align-items: center;
      }
    }
  }

  .avatar-container {
    margin-right: $status-space-15 + 2;

    @include xl {
      margin-right: 14px;
    }

    > span {
      display: inline-block;
      cursor: pointer;
    }
  }

  .challenge-progress {
    min-width: 100%;

    &.with-register-button {
      padding-right: 108px;

      @include xs-to-sm {
        padding-right: 0;
        margin-bottom: 50px;
      }
    }

    .current-phase {
      float: left;
      font-size: 13px;
      font-weight: 400;
      color: $tc-black;
      line-height: $status-space-20;
    }

    .time-left {
      text-align: left;
      color: $tc-gray-50;
      font-size: 12px;
      line-height: $status-space-15;
      font-weight: 400;
      display: table-cell;
    }
  }

  .challenge-stats {
    display: inline-block;
    line-height: $status-space-15 + 1;
    font-size: 13px;
    color: $tc-black;
    margin-left: auto;

    span.num-reg,
    span.num-sub {
      display: inline-block;
    }

    a.num-reg {
      font-weight: 400;
      margin-left: $status-space-20;

      @include xs-to-sm {
        margin-left: $status-space-15;
      }
    }

    a.num-sub {
      @extend .num-reg;
    }

    a.link-forum {
      @extend .num-reg;
    }

    a.num-reg.past,
    a.num-sub.past,
    a.link-forum.past {
      @include xl {
        margin-left: 10px;
      }
    }

    @include xl {
      margin-left: auto;
      display: block;
    }

    @include xs-to-md {
      margin-left: auto;
      min-width: auto;
    }

    .number {
      vertical-align: top;
      padding-left: $base-unit - 3;
    }
  }
  // register btn
  a.register-button {
    display: block;
    position: absolute;
    height: 100%;
    background: $tc-gray-neutral-light;
    top: 0;
    right: 0;
    width: 108px;
    padding-left: $status-space-20;
    text-align: left;
    font-size: 13px;
    color: $tc-black;
    line-height: $status-space-20;

    @include xs-to-sm {
      position: absolute;
      height: 50px;
      width: auto;
      left: 0;
      right: 0;
      top: auto;
      bottom: 0;
      text-align: center;
      background: $tc-dark-blue-10;
    }

    span {
      font-size: 12px;
      line-height: $status-space-15;
      font-weight: 500;
      display: block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: -$status-space-10;

      @include xs-to-sm {
        display: inline-block;
        position: relative;
        margin-top: 0;
        color: $tc-dark-blue;
      }
    }

    .to-register {
      font-weight: 400;
      margin-top: $status-space-10;

      @include xs-to-sm {
        margin-top: 0;
        padding-left: 5px;
      }
    }

    &:hover {
      background: $tc-dark-blue-10;
      color: $tc-dark-blue;
    }
  }
}

// number registrant tooltip
.num-reg-tooltip {
  font-weight: 500;
  font-size: 13px;
  color: $tc-white;
  letter-spacing: 0;
  padding: 15px;
}

.spacing {
  display: inline-block;
  margin-left: 20px;

  @include xs-to-sm {
    margin-left: 15px;
  }
}
