.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.arrow {
  display: inline-block;
  pointer-events: none;
  outline: none;
  height: 24px;
  width: 10px;

  &:focus {
    outline: none;
  }

  &.active {
    cursor: pointer;
    pointer-events: all;

    path {
      fill: #0681ff;
    }
  }
}

.arrow-wrapper,
.logo {
  padding-bottom: 30px;
}

.logo {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 128px;
  height: 110px;
  margin: 0 26px;
  outline: none;
  cursor: pointer;

  &:first-of-type {
    margin-left: 52px;
  }

  &:last-of-type {
    margin-right: 52px;
  }

  img {
    filter: grayscale(100%);
    height: auto;
    max-width: 128px;
    max-height: 82px;
    user-select: none;
  }

  &.active {
    border-bottom: solid 2px #0681ff;
    padding-bottom: 28px;

    img {
      filter: none;
    }
  }
}
