@import "~styles/mixins";
@import "~components/GUIKit/Assets/Styles/default";
@import "~components/Contentful/default";
@import "~components/buttons/themed/tc";

.container {
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #2a2a2a;
  padding: 25px 35px 25px 44px;
  margin-bottom: 15px;

  @include gui-kit-headers;
  @include gui-kit-content;
  @include roboto-regular;
}

.gig-name,
.gig-name:visited,
.gig-name:active,
.gig-name:hover {
  color: #1e94a3;
  margin-top: 0;
  margin-bottom: 12px;
  text-decoration: none;
  font-family: Barlow, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;

  @include xs-to-sm {
    margin-bottom: 20px;
  }
}

.job-infos {
  display: flex;
  flex-wrap: nowrap;

  @include xs-to-sm {
    flex-direction: column;
  }
}

.icon-val {
  display: flex;
  align-items: center;

  @include xs-to-sm {
    margin-bottom: 20px;
  }

  &:first-child {
    width: 250px;

    @media (max-width: 1280px) {
      width: auto;
      margin-right: 20px;
    }
  }

  &:nth-child(2) {
    width: 204px;

    @media (max-width: 1280px) {
      width: auto;
      margin-right: 20px;
    }
  }

  &:nth-child(3) {
    width: 345px;

    @media (max-width: 1280px) {
      width: auto;
      margin-right: 20px;
    }
  }

  &:nth-child(4) {
    width: 255px;

    @media (max-width: 1280px) {
      width: auto;
      margin-right: 20px;
    }
  }

  &:nth-child(5) {
    width: 330px;

    @media (max-width: 1280px) {
      width: auto;
      margin-right: 20px;
    }
  }

  &:nth-child(6) {
    width: 200px;

    @media (max-width: 1280px) {
      width: auto;
      margin-right: 20px;
    }
  }

  svg,
  img {
    margin-right: 7px;
    width: 20px;
    height: 20px;
  }
}

.row-btn {
  display: flex;
  justify-content: flex-end;
  flex: 1;

  &:last-child {
    width: 141px;
    flex: 0 0 141px;
    margin-left: auto;
  }

  @include xs-to-sm {
    justify-content: flex-start;

    &:last-child {
      width: auto;
      flex: 1;
      margin-left: 0;
    }
  }
}

.primary-green-md {
  outline: none;

  @include primary-green;
  @include md;

  &:hover {
    @include primary-green;
  }

  &:disabled,
  &:hover:disabled {
    background-color: #e9e9e9 !important;
    border: none !important;
    text-decoration: none !important;
    color: #fafafb !important;
    box-shadow: none !important;
  }
}
