@import "~styles/mixins";

.container {
  @include roboto-regular;

  padding-top: 66px;
  padding-bottom: 197px;
  max-width: 966px;
  margin: 0 auto;

  @include xs-to-sm {
    padding: 0 30px 30px;
  }
}

.head {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 14px;
  color: $tc-gray-50;
  display: flex;
  border-bottom: 1px solid $tc-gray-10;

  @include xs-to-sm {
    display: none;
  }
}

.body {
  @include xs-to-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.row {
  display: flex;
  line-height: 50px;
  color: $tc-gray-70;
  font-size: 15px;
  border-bottom: 1px solid $tc-gray-10;

  @include xs-to-sm {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
}

.sm-only {
  display: none;

  @include xs-to-sm {
    display: block;
  }
}

.title {
  color: $tc-gray-50;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
}

.col-1 {
  padding-left: 30px;
  width: 298px;

  @include xs-to-sm {
    padding-left: 0;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
    width: auto;
  }

  a,
  a:hover,
  a:visited {
    color: $tc-dark-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.col-2 {
  width: 317px;

  @include xs-to-sm {
    margin-bottom: 15px;
    line-height: 20px;
    width: auto;
  }
}

.col-3 {
  display: flex;
  align-items: center;

  @include xs-to-sm {
    margin-bottom: 15px;
    line-height: 20px;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}

.col-4 {
  display: flex;
  align-items: center;
  width: 351px;

  @include xs-to-sm {
    line-height: 20px;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}

.passed {
  display: inline-block;
  height: 22px;
  margin-bottom: 3px;
  margin-left: 9px;
  vertical-align: middle;
  width: 22px;
}

.placement {
  background-color: $tc-dark-blue-30;
  color: $tc-dark-blue-100;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  line-height: 22px;
  text-align: center;
  margin-left: 6px;
}

.placement-1 {
  background-color: $tc-gold;
  color: $tc-gold-130;
}

.placement-2 {
  background-color: $tc-silver;
  color: $tc-silver-130;
}

.placement-3 {
  background-color: $tc-bronze;
  color: $tc-bronze-130;
}

.design {
  .col-1 {
    width: 212px;
  }

  .col-2 {
    width: 231px;
  }

  .col-3 {
    width: 265px;
  }

  .col-4 {
    width: 258px;
  }
}
