@import '~styles/mixins';

.button {
  min-width: 150px !important;
}

.challengeTabLinks {
  color: $tc-gray-40;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.container {
  border: 1px solid $tc-gray-neutral-dark;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  max-width: 250px;
  min-height: 360px;
  overflow: hidden;
  width: 100%;
}

.deadlineMsg {
  @include tc-label-sm;

  color: $tc-gray-40;
  margin: 0 0 20px;

  &.warning {
    color: $tc-red-110;
  }

  &.alert {
    color: $tc-red-110;
    font-weight: bold;
  }
}

.forumLink {
  @include tc-label-sm;

  vertical-align: top;

  &:hover {
    color: $tc-dark-blue-110;
  }
}

.header {
  background: $tc-gray-neutral-light;
  min-height: 85px;
  padding: 10px;
}

.roles {
  @include tc-label-md;

  background: $tc-gray-neutral-light;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.statusMsg {
  @include tc-heading-md;
  @include roboto-light;

  &.alert {
    color: $tc-red-110;
    font-weight: 300;
  }
}

.statusPanel {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tag {
  margin: 0 5px 0 0;
}

.tags {
  margin-bottom: 5px;
}

.title {
  @include tc-label-md;

  display: block;

  &,
  &:active,
  &:focus,
  &:visited {
    color: $tc-black;
  }

  &:hover {
    color: $tc-dark-blue-110;
  }
}
