@import '~styles/tc-styles';

.avatar {
  display: inline-block;
  margin: 12px 6px 8px 12px;
}

.avatar-mobile {
  float: right;
  margin: 19px 0 8px 12px;
}

.user-menu {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  margin-bottom: 6px;
  margin-left: 24px;
  vertical-align: bottom;
}

@media (max-width: #{$md-width}) {
  .user-menu {
    display: none;
  }
}

@media (min-width: #{$md-width}) {
  .avatar-mobile {
    display: none;
  }
}

.user-menu-handle {
  // border-bottom: 2px solid $tc-dark-blue-90;
  display: inline-block;
  font-size: 15px;
  height: 54px;
  padding: 20px 0;
  vertical-align: bottom;
}

.container {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;

  @include roboto;

  a {
    cursor: pointer;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }
}

.logo {
  & + .logo {
    margin-left: 20px;
  }

  > img {
    display: block;
    max-height: 40px;
  }

  @include xxs-to-sm {
    & + .logo {
      margin-left: 10px;
    }
  }
}

.logos {
  align-items: center;
  display: flex;
  float: left;
  height: 100%;
}

.header {
  float: none;
  height: 66px;
  padding: 0 20px;

  &::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }

  @media (min-width: #{$md-width}) {
    float: left;
  }
}

.menu-wrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  &.open {
    max-height: 1000px;
    transition-timing-function: ease-in;
  }

  @media (min-width: #{$md-width}) {
    overflow: visible;
  }
}

.menu {
  border-top: 1px solid #e7e7e7;
  padding: 0 20px;
  text-align: right;
}

.menu-item {
  display: block;
  text-align: left;

  @media (min-width: #{$md-width}) {
    display: inline-block;
  }
}

.menu-link {
  display: block;
  line-height: 66px;
  padding: 0 20px;

  &:hover {
    color: #2886af;
  }

  @media (min-width: #{$md-width}) {
    display: inline-block;
  }
}

/*
  This is a hack for server-rendering

  As we have to change active link style dynamically we have import styles to some variable like
  import styles from './Header.scss' and after use it like className={styles['menu-link_active']}
  But so far on the server when importing styles it returns empty object styles == {}
  So when when we try to use styles['menu-link_active'] we get undefined instead of real class name
  It breaks server rendering.

  To temporary fix it, we create a global style instead so inside Header component we can use
  a constant string instead of variable.

  TODO: when importing styles on server will be fixed to return an object with style list
        the :global has to be removed and inside Header component string "menu-link_active"
        must be replaced with styles['menu-link_active']
 */
:global {
  .menu-link_active,
  .menu-link_active:visited {
    color: #2886af;
  }
}

.mobile-toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  float: right;
  margin-top: 18px;
  outline: none;
  padding: 9px 10px;
  position: relative;

  &:focus {
    background-color: #ddd;
  }

  > span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  > i {
    background-color: #888;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;

    & + i {
      margin-top: 4px;
    }
  }

  @media (min-width: #{$md-width}) {
    display: none;
  }
}
