@import '~styles/tc-styles';

.container {
  display: flex;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 0 #d1d3d4;
  justify-content: space-between;

  a {
    cursor: pointer;
  }

  @include xxs-to-md {
    display: block;
  }
}

.header {
  display: flex;
  flex-shrink: 0;
  height: 55px;
  margin-left: 30px;
  margin-right: 30px;

  @include xxs-to-md {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }

  @include xxs-to-sm {
    height: 64px;
  }
}

.logos-wrap {
  align-items: center;
  display: flex;

  @include xxs-to-sm {
    display: block;
  }
}

.logos {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;

  @include xxs-to-sm {
    height: auto;
    margin-top: 12px;
    justify-content: center;
  }
}

.logo {
  & + .logo {
    margin-left: 20px;
  }

  > img {
    display: block;
    max-height: 40px;
  }

  @include xxs-to-sm {
    & + .logo {
      margin-left: 10px;
    }

    > img {
      max-height: 15px;
    }
  }
}

.challenge-dropdown {
  align-items: center;
  border-left: 1px solid #47474f;
  color: #47474f;
  display: flex;
  flex-shrink: 0;
  font: 15px/20px 'Open Sans';
  justify-content: center;
  height: 20px;
  margin-left: 13px;
  padding-left: 13px;
  text-transform: uppercase;

  @include xxs-to-sm {
    border-left: 0;
    font-size: 12px;
    height: 17px;
    margin-left: auto;
    margin-top: 9px;
    padding-left: 0;
  }
}

.menu-wrap {
  flex-grow: 1;
  max-width: 700px;
  max-height: 0;
  overflow: visible;
  transition: max-height 0.3s ease-out;

  &.open {
    max-height: 1000px;
    transition-timing-function: ease-in;
  }

  @include xxs-to-md {
    max-width: 100%;
    overflow: hidden;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  text-align: center;

  @include xxs-to-md {
    display: block;
    text-align: left;
  }
}

.menu-item {
  display: block;

  @include xxs-to-md {
    padding: 0 15px;
  }
}

.menu-link {
  color: #a3a3ae;
  display: block;
  font: 700 14px/55px 'Open Sans';
  position: relative;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #a3a3ae;
    text-decoration: none;
  }
}

/*
  This is a hack for server-rendering

  As we have to change active link style dynamically we have import styles to some variable like
  import styles from './Header.scss' and after use it like className={styles['menu-link_active']}
  But so far on the server when importing styles it returns empty object styles == {}
  So when when we try to use styles['menu-link_active'] we get undefined instead of real class name
  It breaks server rendering.

  To temporary fix it, we create a global style instead so inside Header component we can use
  a constant string instead of variable.

  TODO: when importing styles on server will be fixed to return an object with style list
        the :global has to be removed and inside Header component string "menu-link_active"
        must be replaced with styles['menu-link_active']
 */
:global {
  .menu-link_active,
  .menu-link_active:visited {
    color: #394146;

    &::after {
      background-color: #0092ff;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 4px;
      position: absolute;
      right: 4px;

      @include xxs-to-md {
        display: none;
      }
    }
  }
}

.mobile-toggle {
  background-color: transparent;
  border: 0;
  display: block;
  float: right;
  outline: none;
  padding: 9px 15px;
  position: relative;

  &:focus {
    background-color: transparent;
  }

  > span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  > i {
    background-color: #394146;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 16px;

    & + i {
      margin-top: 5px;
    }
  }

  @media (min-width: #{$md-width}) {
    display: none;
  }
}

.avatar {
  display: inline-block;
  margin: 11px 6px 7px 12px;
}

.avatar-mobile {
  float: right;
  margin-top: 12px;

  @include xxs-to-sm {
    margin-top: 16px;
  }
}

.user-wrap {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  flex-shrink: 0;
}

.user-wrap-mobile {
  display: none;
  margin-right: 15px;

  @include xxs-to-md {
    display: block;
  }
}

.user-menu {
  cursor: pointer;
  height: 100%;
  vertical-align: bottom;

  @include xxs-to-md {
    display: none;
  }
}

.user-menu-handle {
  color: #a3a3ae;
  display: inline-block;
  font: 700 14px/20px 'Open Sans';
  height: 55px;
  padding: 18px 0 17px;
  vertical-align: bottom;

  @include xxs-to-lg {
    display: none;
  }
}

.authorize {
  padding-top: 12px;

  @include xxs-to-md {
    display: none;
  }
}

.btnRegister {
  border: 1px solid #60c700;
  border-radius: 30px;
  background: #60c700;
  color: #fafafa;
  display: inline-block;
  font: 700 14px/30px 'Open Sans';
  height: 32px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #fafafa;
    text-decoration: none;
  }
}

.btnLogin {
  background: #0092ff;
  border: 1px solid #0b71e6;
  border-radius: 30px;
  color: #fafafa;
  display: inline-block;
  font: 700 14px/30px 'Open Sans';
  height: 32px;
  margin-left: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #fafafa;
    text-decoration: none;
  }
}

.search {
  align-items: center;
  display: flex;
  margin-left: 6px;
  padding-left: 13px;
  position: relative;

  &::before {
    background-color: #a3a3ae;
    content: '';
    display: block;
    height: 22px;
    left: 0;
    margin-top: -11px;
    position: absolute;
    top: 50%;
    width: 1px;
  }

  @include xxs-to-md {
    display: none;
  }
}
