@import "~styles/tc-styles";

.container {
  font-family: roboto;
}

.title {
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-bottom: 1px solid $tc-gray-10;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  padding: 27px 0 12px;
  font-size: 15px;
}

.status-img {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;

  &.required {
    background-image: url(assets/images/terms-status-required.png);
  }
}

.terms-table {
  width: 100%;

  th {
    border-bottom: 1px solid $tc-gray-10;
    height: 42px;
    vertical-align: middle;
    padding: 0 17px;
    background: #f1f1f1;
    color: $tc-orange;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
  }

  td {
    border-bottom: 1px solid $tc-gray-10;
    height: 32px;
    vertical-align: middle;
    padding: 10px 17px;
    font-size: 14px;
    color: #666;
  }

  tr:nth-child(2n) {
    td {
      background-color: #f7f7f7;
    }
  }
}

.view-agree {
  color: $tc-orange;
  cursor: pointer;
}

.modal-container {
  width: 960px;
  max-height: 660px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
