@import "~styles/tc-styles";

.container {
  font-family: roboto;
}

.title {
  line-height: 40px;
  font-size: 28px;
  text-align: center;

  @include xs {
    text-align: left;
  }
}

.desc {
  margin-top: 60px;
  font-size: 15px;
  line-height: 25px;

  @include xs {
    margin-top: 20px;
  }
}

.tabs-labels {
  overflow-x: auto;
}

.tabs-outer {
  margin-top: 30px;
  margin-bottom: 4px;
  height: 10px;
  border-radius: 5px;
}

.tabs-inner {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  background-color: $tc-gray-20;

  @include xs {
    width: auto;
    display: inline-block;
    white-space: nowrap;
    height: 10px;
    font-size: 0;
  }
}

.tab {
  flex: 1;
  height: 10px;
  position: relative;

  @include xs {
    width: 135px;
    display: inline-block;
  }

  &.agreed,
  &.active.view-only {
    background-color: $tc-green-70;
  }

  &.agreed,
  &.active {
    .indicator {
      background-color: $tc-green-70;
    }
  }

  .indicator {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: $tc-gray-30;
  }
}

.labels {
  margin-bottom: 40px;
  display: flex;

  .label {
    flex: 1;
    cursor: pointer;
    left: 0;
    top: 12px;
    font-size: 13px;
    overflow: hidden;

    @include xs {
      flex: 0 0 135px;
    }
  }
}

.single {
  padding-top: 25px;
}

.sub-title {
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 10px;

  @include xs {
    padding: 0 15px;
  }
}

.modal-container {
  width: 1167px;
  max-height: 965px;
  padding: 60px 64px 20px 56px;

  @include md {
    width: 960px;
  }

  @include sm {
    width: 720px;
    padding: 20px;
  }

  @include xs {
    width: 300px;
    padding: 0;
    max-height: 80%;
    overflow-y: auto;
    top: calc(50% - 50px);
  }
}

.top-section {
  @include xs {
    padding: 15px;
  }
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 5px;
  background-color: $tc-white;

  @include xs {
    position: fixed;
    bottom: 0;
    height: 50px;
    margin-top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
  }
}

.button {
  height: 30px;
  padding: 4px 15px;
  font-size: 13px;
  line-height: 20px;
}
