@import "~styles/tc-styles";

.title {
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-bottom: 1px solid $tc-gray-10;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.body {
  max-height: 480px;
  overflow: auto;
  border-bottom: 1px solid $tc-gray-10;
}

.frame {
  height: 480px;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0 50px;
}
