@import "../../Themes/mixins";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: $screen-sm) {
    flex-direction: column;
  }
}

.button-menu {
  align-self: left;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 22.5%;
  margin-bottom: 50px;

  @media screen and (max-width: $screen-1024) {
    margin-right: 30px;
    width: 28%;
  }

  @media screen and (max-width: $screen-sm) {
    display: none;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: transparent;

  @media screen and (max-width: $screen-sm) {
    position: static;
  }
}

.steps::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background: $tc-gray-10;

  @media screen and (max-width: $screen-sm) {
    display: none;
  }
}

.step {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -48px;

  @media screen and (max-width: $screen-sm) {
    position: static;
    margin-left: 0;
  }

  @media screen and (max-width: $screen-sm) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.big-icon {
  flex-shrink: 0;
  max-width: 96px;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: solid 1px $tc-gray-20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $tc-white;

  img {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: $screen-sm) {
    height: 72px;
    width: 72px;
    margin-bottom: 20px;

    img {
      margin: auto;
    }
  }
}

.content {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 30px;
  max-width: 700px;

  @media screen and (max-width: $screen-1024) {
    max-width: 500px;
  }

  @media screen and (max-width: $screen-sm) {
    width: 100%;
    margin: 0;
  }
}

.title {
  @include tc-body-lg;

  color: $tc-black;
  margin-bottom: 20px;
}

.text {
  @include tc-body-md;

  text-align: left;
  padding-bottom: 40px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 20px 0;
  }

  @media screen and (max-width: $screen-sm) {
    padding-bottom: 20px;
  }
}
