@import "~styles/tc-styles";

.design-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 5px 60px;
  font-family: 'Roboto';

  @include xs-to-sm {
    padding: 0;
  }

  .row {
    display: flex;
    padding: 30px 0;
    margin-bottom: 70px;

    @include xs-to-sm {
      margin: 0 20px;
    }

    @include xs {
      flex-direction: column;
    }
  }

  a {
    color: #1F7BE7;
    cursor: pointer;
  }

  .left {
    padding-right: 33px;
    border-right: 6px solid #F6F6F6;
    max-width: 310px;

    @include sm-to-md {
      padding-right: 20px;
    }

    @include xs {
      border-right: none;
      max-width: 100%;
    }

    p, a {
      font-size: 13px;
      color: #A3A3AE;
      font-style: italic;
      max-width: 270px;
      width: 270px;
      line-height: 20px;
      margin-bottom: 12px;

      @media (min-width: 800px) and (max-width: 1000px) {
        max-width: 220px;
        width: 220px;
      }

      @media (min-width: 768px) and (max-width: 800px) {
        max-width: 200px;
        width: 200px;
      }

      @include xs {
        max-width: 100%;
        width: 100%;
      }

      @include xs-to-sm {
        margin-bottom: 25px;
      }
    }

    h4 {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 4px;
    }
  }

  .right {
    width: 100%;
    margin-left: 60px;

    @media (min-width: 768px) and (max-width: 1280px) {
      margin-left: 30px;
    }

    @include xs {
      margin-left: 0;
    }

    &>p {
      font-size: 15px;
      color: #37373C;
      margin-bottom: 10px;
    }

    button {
      height: 30px;
      font-size: 13px;
      line-height: 0;
    }
  }

  .file-picker-container {
    display: flex;
    margin-bottom: 40px;

    @include xxs-to-sm {
      margin-bottom: 25px;
    }

    &>div {
      margin-right: 16px;
    }
  }

  .agree {
    background-color: #fcfcfc;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
    padding: 30px 60px;
    flex-direction: column;
    align-items: center;

    @include xxs-to-md {
      margin: 0;
    }

    @include xxs-to-sm {
      padding: 30px;
    }

    p {
      font-size: 13px;
      color: #37373c;
      line-height: 24px;
      margin-bottom: 50px;
    }

    a {
      color: #1A85FF;
    }

    .tc-checkbox-label {
      line-height: 15px;
      margin-left: 21px;
      user-select: none;
      cursor: pointer;
      width: 188px;
      font-size: 15px;
      color: #3d3d3d;
    }

    .tc-checkbox {
      height: 15px;
      width: 210px;
      margin: 0;
      padding: 0;
      vertical-align: bottom;
      position: relative;
      display: inline-block;
      margin-bottom: 30px;

      input[type=checkbox] {
        display: none;
      }

      label {
        cursor: pointer;
        position: absolute;
        display: inline-block;
        width: 15px;
        height: 15px;
        top: 0;
        left: 0;
        border-radius: $corner-radius;
        box-shadow: none;
        border: 1px solid $tc-gray-50;
        background: $tc-gray-neutral-light;
        transition: all 0.15s ease-in-out;

        &::after {
          opacity: 0;
          content: '';
          position: absolute;
          width: 9px;
          height: 5px;
          background: transparent;
          top: 3px;
          left: 2px;
          border: 3px solid $tc-dark-blue-90;
          border-top: none;
          border-right: none;
          transform: rotate(-45deg);
          transition: all 0.15s ease-in-out;
        }

        &:hover::after {
          opacity: 0.3;
        }
      }

      input[type=checkbox]:checked ~ label {
        background: $tc-dark-blue-90;
        border-color: $tc-dark-blue-90;
      }

      input[type=checkbox]:checked + label::after {
        opacity: 1;
        border-color: $tc-white;
      }
    }
  }
}