@import "~styles/mixins";

.container {
  @include tc-heading-xl;

  background: $tc-white;
  padding: 20px;
  text-align: center;
}

.join {
  @include tc-heading-xl;

  background: $tc-white !important;
  border: none !important;
  color: $tc-dark-blue !important;
  display: inline !important;
  outline: none !important;
  padding: 0 !important;
  text-decoration: underline !important;
}

.joinCommunityWrapper {
  display: inline;
}

.joinContainer {
  display: inline;
}
