@import "~styles/mixins";

$text-black: #2a2a2a;

.container {
  @include roboto-regular;

  display: flex;
  flex-direction: row;
  color: $text-black;
  position: relative;
  font-size: 14px;
}

.separator {
  margin: 0 6px;
  width: 6px;
  height: 1px;
  background-color: $text-black;
  margin-top: 20px;
}
