.container,
.containerWithLink {
  display: flex;
  background-image: linear-gradient(97.21deg, #2984bd 0%, #0ab88a 100%);
  border-radius: 10px;
  width: 100%;
  max-width: 1280px;
  margin: 30px auto 0;
  align-items: center;
  padding: 13px 25px 11px;

  @media screen and (max-width: 1280px) {
    margin: 30px 15px 0;
    width: auto;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-weight: bold;

    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  span {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 22px;
    margin-right: 5px;
  }

  button {
    margin-left: 10px !important;

    &:hover {
      margin-left: 10px !important;
    }

    @media screen and (max-width: 768px) {
      margin: 10px 0 0 !important;

      &:hover {
        margin: 10px 0 0 !important;
      }
    }
  }

  .rondedArea {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 12px;

    @media screen and (max-width: 768px) {
      max-width: 100%;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: auto;
      padding: 6px;
      margin-bottom: 40px;
    }

    span {
      white-space: nowrap;

      @media screen and (max-width: 768px) {
        max-width: 100%;
        display: block;
        overflow: auto;
        margin-right: 0;
      }
    }

    button {
      @media screen and (max-width: 768px) {
        position: absolute;
        bottom: -30px;
        margin: 0 !important;
        left: 0;
      }
    }
  }
}

.containerWithLink {
  padding: 10px 25px 9px;

  svg {
    width: 34px;
    height: 34px;
    margin: initial;
  }
}
