/* stylelint-disable no-descending-specificity */
@import '~styles/mixins';

.challengeAction {
  margin: $base-unit 0;
  min-width: 0;
  width: 100%;
  border-radius: 50px !important;
  height: 48px;
  padding: 0 25px !important;
}

.topcrowd-container {
  @include roboto-medium;

  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  background-color: $listing-checkbox-blue;
  padding: 12px 24px 12px 20px;
  color: white;
  gap: 4px;
  align-items: center;
  display: flex;

  &:hover {
    color: white;
  }
}

.challenge-ops-container button,
.challenge-ops-container a,
.challenge-ops-container div {
  margin: 0 !important;
}

@mixin button-styles {
  @include roboto-medium;

  min-width: 0;
  border-radius: 3px !important;
  white-space: nowrap;
  padding: 12px 24px 12px 20px !important;
  line-height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.challenge-ops-container .submitButton {
  @include button-styles;

  background: $dashboard-light-link !important;
  color: #fff !important;

  @include xs-to-sm {
    width: fit-content;
  }
}

.challenge-ops-container .submitButtonDisabled {
  @include button-styles;

  color: #767676 !important;
  background: #d4d4d4 !important;

  svg {
    path {
      fill: #767676;
    }
  }

  @include xs-to-sm {
    width: fit-content;
  }
}

.challenge-ops-container .submitButton:hover,
.challenge-ops-container .unregisterButton:hover,
.challenge-ops-container .registerBtn:hover {
  color: #fff !important;
  background: #219174 !important;
  border-color: #219174 !important;
}

.challenge-ops-container .submitButton:active,
.challenge-ops-container .unregisterButton:active,
.challenge-ops-container .registerBtn:active {
  color: #fff !important;
  background: #0d664e !important;
  border-color: #0d664e !important;
}

.challenge-ops-container .submitButton:focus,
.challenge-ops-container .submitButton:focus-within,
.challenge-ops-container .submitButton:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: #0d664e;
}

.challenge-ops-container .registerBtn:focus,
.challenge-ops-container .registerBtn:focus-within,
.challenge-ops-container .registerBtn:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: #0d664e;
}

.challenge-ops-container .unregisterButton:focus,
.challenge-ops-container .unregisterButton:focus-within,
.challenge-ops-container .unregisterButton:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: #0d664e;
}

.challenge-ops-container {
  display: flex;
  gap: 8px;

  button {
    text-transform: capitalize;
  }

  @include xs-to-sm {
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

    div,
    button,
    a {
      width: fit-content !important;
    }
  }
}

.challenge-ops-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include xs-to-sm {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 34px;
  }
}

@mixin design-accent-bg {
  .design-accent-background {
    background-color: $tc-dark-blue;
  }
}

@mixin develop-accent-bg {
  .develop-accent-background {
    background-color: $tc-green;
  }
}

@mixin datasci-accent-bg {
  .datasci-accent-background {
    background-color: $tc-orange;
  }
}

@mixin design-accent-clr {
  .design-accent-color {
    color: $tc-dark-blue;
  }
}

@mixin develop-accent-clr {
  .develop-accent-color {
    color: $tc-green;
  }
}

@mixin datasci-accent-clr {
  .datasci-accent-color {
    color: $tc-orange;
  }

  .data-science-accent-color {
    color: $tc-orange;
  }
}

@mixin design-accent-btm-border {
  .design-accent-bottom-border {
    border-bottom: 3px solid $tc-dark-blue;
  }
}

@mixin develop-accent-btm-border {
  .develop-accent-bottom-border {
    border-bottom: 3px solid $tc-green;
  }
}

@mixin datasci-accent-btm-border {
  .datasci-accent-bottom-border {
    border-bottom: 3px solid $tc-orange;
  }
}

.challenge-outer-container {
  .important-detail {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include xs-to-md {
      gap: 16px;
    }

    .challenge-header {
      @include roboto-medium;

      font-size: 36px;
      color: $tco-black;
      line-height: 40px;

      @include xs-to-md {
        font-size: 20px;
        line-height: 25px;
      }
    }

    .tag-container {
      display: flex;
      align-items: center;
      margin-top: 8px;

      @include xs-to-md {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 18px;
      }

      span a:hover {
        background-color: #d4d4d4 !important;
      }
    }

    .recommend-container {
      display: flex;
      align-items: center;
      margin-left: -5px;
      margin-bottom: 2px;

      @include xs-to-md {
        margin-left: -16px;
        margin-top: 8px;
      }
    }

    .recommend-tag {
      @include roboto-bold;

      margin-left: 17px;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      height: 20px;
      display: flex;
      align-items: center;

      &.link {
        @include roboto-bold;

        cursor: pointer;
        color: #137d60;
        font-weight: 700;
      }

      &.separator {
        width: 1px;
        background: #979797;
      }
    }

    @include design-accent-bg;
    @include develop-accent-bg;
    @include datasci-accent-bg;
    @include design-accent-clr;
    @include develop-accent-clr;
    @include datasci-accent-clr;

    .miscTag {
      color: $tc-gray-80;
      background-color: $tc-gray-neutral-dark;
      cursor: pointer;
    }

    .prizes-ops-container {
      background-color: $tc-white;
      border: 1px solid #d4d4d4;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      padding: 16px 24px;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

      @include xs-to-sm {
        flex-direction: row;
        height: auto;
        padding-bottom: 0;
      }

      .prizes-outer-container {
        flex: 4;
        display: flex;
        align-items: center;

        @include xs-to-md {
          justify-content: center;
        }

        .prizes-container {
          display: flex;
          align-content: center;
          flex-wrap: wrap;
          width: 85%;
          gap: 48px;

          @include xs-to-md {
            width: 100%;
            justify-content: center;
          }

          .prize-fill {
            display: flex;
            align-items: center;
            gap: 8px;

            .prize-card {
              display: flex;
              border-bottom: 0;
              border-radius: 20px;
              width: 40px;
              height: 40px;
              background-color: #e0faf3;
              justify-content: center;
              flex-direction: column;
              text-align: center;

              @include xs-to-md {
                width: 32px;
                height: 32px;
              }

              .prize-rank {
                @include roboto-regular;

                font-size: 16px;
                font-weight: 500;
                color: $tco-black;
                letter-spacing: 0;
                line-height: 20px;

                .rank-ordinal {
                  color: $tco-black;
                }

                @include xs-to-md {
                  font-size: 12px;
                }
              }
            }

            .prize-money {
              @include roboto-bold;

              font-size: 24px;
              font-weight: 500;
              color: #2a2a2a;
              line-height: 32px;

              .prize-currency {
                color: #2a2a2a;
              }

              @include xs-to-md {
                font-size: 14px;
                line-height: 30px;
              }
            }

            .prize-card[id='rank1'] {
              border-bottom: 0;
              background-color: #ffd84d;
            }

            .prize-card[id='rank2'] {
              border-bottom: 0;
              background-color: #d1d0cf;
            }

            .prize-card[id='rank3'] {
              border-bottom: 0;
              background-color: #d98f64;
            }
          }

          .fun-challenge-prize {
            @include roboto-bold;

            color: #2a2a2a;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            margin: 0;

            @include xs-to-md {
              font-size: 14px;
              line-height: 30px;
              text-align: center;
            }
          }
        }

        .bonus-div {
          @include roboto-regular;

          text-align: left;
          color: $tc-black;
          line-height: 25px;
          margin: 25px 25px 0;
          padding-bottom: 20px;

          .bonus-text {
            .bonus-highlight {
              font-weight: 500;
            }

            @include design-accent-clr;
            @include develop-accent-clr;
            @include datasci-accent-clr;
          }
        }
      }
    }

    .deadlines-view {
      border-radius: 0 0 8px 8px;
      border: 1px solid #d4d4d4;
      overflow: hidden;
      border-top: none;

      .deadlines-overview {
        background-color: white;
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding: 19px 24px;

        @include xs-to-md {
          padding: 16px;
        }

        svg {
          path {
            fill: #2a2a2a;
          }
        }

        &.opened {
          border-radius: 0 !important;
        }

        .deadlines-overview-text {
          @include roboto-regular;

          display: flex;
          justify-content: flex-start;
          color: #2a2a2a;
          line-height: 24px;
          font-size: 15px;

          @include xs-to-md {
            flex-direction: column;
            padding: 0;
          }

          .next-deadline {
            word-wrap: normal;
            border-right: $tc-gray-50 solid 1px;
            padding-right: 10px;
            display: inline;

            @include xs-to-md {
              border-right: none;
            }
          }

          .completed,
          .draft {
            border-right: none;
          }

          .current-phase {
            overflow-wrap: normal;

            @include xs-to-md {
              padding-left: 0;
            }
          }

          .deadline-highlighted {
            font-weight: 500;
          }
        }

        .deadlines-collapser {
          cursor: pointer;
          margin-top: 2px;

          .collapse-text {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}

.title-wrapper {
  display: flex;
  position: relative;
  gap: 8px;

  @include xs-to-md {
    flex-direction: column;
    align-items: flex-start;
  }
}

.back-arrow {
  width: 32px;
  height: 32px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;

  @include xs-to-md {
    margin-top: 0;
  }
}

.matchScoreWrap {
  width: 100%;
  margin-right: -2px;
  padding: 0;
}

.block-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill {
  & > a {
    color: $color-black-100;
    background-color: $color-black-10 !important;
    border: none;
    margin: 0;
    padding: 4px 8px;

    &:hover {
      background-color: #d4d4d4 !important;
    }
  }
}

.tag {
  svg {
    display: none;
  }

  span {
    margin-left: 0;
    color: $color-black-80;
  }

  div {
    margin: 0;
  }

  button,
  a {
    background-color: white !important;
    border: 1px solid $color-black-60;
    color: $color-black-80;
    margin: 0;

    &:hover {
      background-color: #d4d4d4 !important;
    }
  }
}
