@import "~styles/mixins";

.container {
  @include tc-body-md;

  border: 1px solid $tc-gray-10;
  margin: 10px 0;
  padding: 10px;

  &:hover { border: 1px solid $tc-gray-40; }

  &.focused,
  &.focused:hover { border: 1px solid $tc-dark-blue; }
}

