@import '~styles/mixins';

.Leaderboard {
  padding: 0 15px;
  margin: 20px auto;
  max-width: $screen-md;
}

.Leaderboard .section-title {
  @include barlow-condensed-medium;

  color: $tco-black;
  font-size: 60px;
  letter-spacing: 0.4px;
  text-align: center;
  margin: 116px 0 79px 0;
  line-height: 60px;
  text-transform: uppercase;
}
