@import "../../../../style";

.container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 20px;
  border: 1px solid $tc-gray-10;
  border-bottom: none;
  background-color: $tc-white;
}

.subscription-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subscription-icon {
  height: 49px;
  width: 49px;
  margin-right: 18px;
}

.subscription-parameters {
  @include roboto-medium;

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
}

.parameter-first-line {
  font-weight: 500;
  color: $tc-black;
  display: inline-block;
  word-break: break-word;
  word-break: break-all;
}

.delete {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  cursor: pointer;
  outline-style: none;

  img {
    margin-bottom: 10px;

    @include xs-to-sm {
      margin-bottom: 0;
    }
  }

  p {
    @include roboto-regular;

    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    color: $tc-gray-50;

    @include xs-to-sm {
      display: none;
    }
  }
}
