@import '~styles/mixins';
@import '../../themes/mixins';

.social-sharing {
  margin-top: 30px;
  width: 100%;
  text-align: center !important;
  a.sfsi_wicons {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
