@import "~styles/mixins";

.form-field-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 16px;

  .form-field {
    // border: 1px solid #aaa;
    border-radius: 4px;
    background: white;
    // padding-top: 24px;
    // margin-bottom: 10px;

    .label {
      @include roboto-regular;

      font-weight: 500 !important;
      font-size: 11px !important;
      line-height: 10px;
      position: absolute;
      top: 10px;
      left: 11px;
      color: $listing-checkbox-green;
      z-index: 1;
    }
  }
}
