@import "../../style";

.EmailPreferences {
  margin-bottom: 90px;

  @include md-to-lg {
    margin-bottom: 0;
  }

  @include xs-to-sm {
    margin-bottom: 0;
  }

  .title {
    @include tc-heading-lg;

    margin-bottom: 25px;

    @include xs-to-sm {
      font-size: 20px;
      line-height: 30px;
      margin: 20px;
    }
  }

  .preferences-container {
    border-top: 1px solid $tc-gray-neutral-dark;
  }
}
