@import "../../style";

.EmailPreferences {
  .title {
    @include tc-heading-lg;

    margin-bottom: 25px;

    @include upto-sm {
      font-size: 20px;
      line-height: 30px;
      margin: 20px;
    }
  }

  .sub-title {
    @include roboto-light;

    color: #888894;
    line-height: 35px;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 5px;

    @include upto-sm {
      display: none;
    }
  }

  .preferences-container {
    border-top: 1px solid $tc-gray-neutral-dark;
  }
}
