@import '~styles/mixins';

.email-details {
  padding: 16px;
  background-color: $color-orange-25;
  margin-right: 32px;
  border-radius: 8px;
  margin-bottom: 16px;

  @include xs-to-sm {
    margin-right: 0;
  }

  .title {
    @include barlow;

    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 24px;
    color: $tco-black;
    text-transform: uppercase;
  }

  .instructions {
    list-style: disc;
    list-style-position: outside;
    padding-left: 23px;

    li {
      @include roboto-regular;

      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: $tco-black;

      a {
        color: #2e55b9;
      }
    }
  }
}
