@import "~styles/mixins";

.container {
  @include roboto-regular;

  padding: 0;
  position: fixed;
  overflow: auto;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: auto;
  max-width: none;
  transform: none;
  background: transparent;

  .deletion-confirmation-container {
    background: transparent;
    opacity: 1;
    position: relative;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    color: #444;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
  }
}

.deletion-confirmation {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  background-color: $tc-white;
  opacity: 1;
  border-radius: 4px;
  padding: 40px;
}

@media (min-width: 768px) {
  .deletion-confirmation {
    width: 520px;
    min-height: 256px;
  }
}

.deletion-confirmation-title {
  @include sofia-pro-medium;

  font-size: 20px;
  line-height: 24px;
  color: $tc-gray-90;
  text-transform: uppercase;
}

.deletion-confirmation-message {
  @include merriweather-sans-light;

  margin: 10px 0;
  width: 100%;

  .deletion-confirmation-account-title {
    font-style: italic;
    word-wrap: break-word;
  }
}

.deletion-confirmation-buttons {
  display: flex;
  flex-flow: row wrap;

  .deletion-confirmation-button-no {
    margin-left: 10px;

    button {
      text-transform: uppercase;

      @include sofia-pro-medium;

      font-size: 12px;
    }
  }

  .deletion-confirmation-button-yes {
    button {
      border: 1px solid $tc-dark-blue;
      text-transform: uppercase;

      @include sofia-pro-medium;

      font-size: 12px;

      &:hover {
        color: $tc-white;
        background-color: $tc-dark-blue;
      }
    }
  }
}
