@import "~styles/mixins";

.links {
  border-bottom: none;
}

// Add web link section
.external-web-link {
  .web-link {
    margin-bottom: 20px;

    form {
      display: flex;
      flex-direction: column;
      min-height: 60px;

      label {
        @include roboto-medium;

        font-size: 12px;
        line-height: 15px;
        margin-bottom: 6px;
        color: #47474f;
      }

      input.url {
        max-width: 450px;
        min-width: 450px;
        margin: 0;
        border-radius: 4px;

        @include placeholder {
          @include roboto-regular;

          color: $tc-gray-40;
          font-size: 12px;
        }

        &:disabled {
          color: #b7b7b7;
        }
      }

      // Error and Success styles
      .validation-bar {
        flex: 1;
        width: auto;
        position: relative;

        &::before {
          border-radius: 3px 0 0 3px;
          content: '';
          display: none;
          height: 40px;
          width: 2px;
          left: 1px;
          position: absolute;
          top: 0;
        }

        &.error-bar::before {
          background-color: $tc-red;
          display: block;
        }
      }

      .form-input-error {
        background-color: $tc-red-10;
        border: 1px solid $tc-red-30;
        color: $tc-red;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 10px;
        padding: 10px;
        text-align: left;

        p {
          @include merriweather-sans-regular;
        }
      }

      .add-button {
        width: auto;
        height: 40px;
        margin-top: 0;
        margin-left: 10px;
        text-transform: uppercase;
      }
    }
  }
}

.external-link-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //margin-top: 10px;

  .external-link-tile {
    border: 1px solid $tc-gray-20;
    border-radius: 6px;
    width: 280px;
    height: 90px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 10px;
    //border-radius: 4px;

    @include sofia-pro-medium;

    i {
      color: #7f7f7f;
    }

    &:hover {
      cursor: pointer;
      background-color: #fbfbfb;

      i {
        color: black;
      }
    }

    i.fa-globe {
      color: #82a0aa;
    }

    i.fa-weblinks {
      color: #82a0aa;
    }

    i.fa-bitbucket {
      color: #205081;
    }

    i.fa-dribble {
      color: #ea4c89;
    }

    i.fa-linkedin {
      color: #127cb5;
    }

    i.fa-twitter {
      color: #62aadc;
    }

    i.fa-stack-overflow {
      color: #e5712a;
    }

    i.fa-behance {
      color: #188cfc;
    }

    i.fa-github {
      color: #4b3d74;
    }

    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90px;
      height: 88px;
      background-color: $tc-gray-neutral-light;
      border-radius: 4px 0 0 4px;
      position: relative;

      i {
        font-size: 40px;
        margin-top: 15px;
      }

      h2 {
        margin-top: 5px;
        flex-basis: 40px;
        font-weight: normal;
        text-transform: uppercase;
        color: #a3a3ae;
        font-size: 10px;
      }
    }

    .bottom {
      width: 220px;
      margin-top: 10px;

      .handle {
        @include sofia-pro-light;

        font-size: 18px;
        height: 20px;
      }

      .title {
        // placeholder
        margin-top: 10px;
        color: #9e9e9e;
        font-size: 12px;
        line-height: 14px;

        @include sofia-pro-medium;
      }

      .pending {
        p {
          @include sofia-pro-regular;

          font-size: 16px;
          color: $tc-gray-90;
          margin-bottom: 15px;
          padding: 0 10px;
        }
      }

      ul {
        margin-top: 10px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
          justify-content: space-between;
          margin: 10px 0 10px 0;
          width: 90px;
          color: #9e9e9e;

          .key {
            font-size: 11px;
            text-transform: capitalize;
          }

          .value {
            font-size: 14px;
            // placeholder
          }
        }
      }

      .logo {
        padding: 10px;
        font-size: 50px;
      }

      .link-title {
        @include sofia-pro-medium;

        font-size: 12px;
        line-height: 20px;
        color: $tc-gray-90;
        margin-top: 10px;
        height: 40px;
        overflow: hidden;
        padding: 0 20px;
        text-transform: uppercase;
      }

      .link-url {
        font-size: 12px;
        line-height: 14px;
        word-wrap: break-word;
        display: block;
        overflow: hidden;
        max-height: 14px;
        padding: 0 20px;
        text-transform: uppercase;
        color: $tc-dark-blue-110;

        &:hover {
          color: $tc-light-blue-110;
        }
      }
    }

    img {
      margin-top: 15px;
      height: 40px;
      width: auto;
    }
  }

  div.external-link-tile:nth-child(3n+1) {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .external-link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;

    .external-link-tile {
      border: 1px solid #f0f0f0;
      background-color: $tc-gray-neutral-light;
      margin-left: 15px;
      margin-bottom: 30px;
      // &:nth-child(3n+1) {
      //   margin-left: 0px;
      // }
      width: 218px;
      height: 240px;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0;

      @include sofia-pro-medium;

      i {
        color: #7f7f7f;
      }

      &:hover {
        cursor: pointer;
        background-color: #fbfbfb;

        i {
          color: black;
        }
      }

      .top {
        padding-top: 15px;
        background-color: none;
        width: auto;

        h2 {
          flex-basis: 40px;
          font-weight: normal;
          text-transform: uppercase;
          color: #a3a3ae;
          font-size: 12px;
          line-height: 14px;
        }
      }

      .bottom {
        margin-top: 15px;
        width: auto;

        .handle {
          margin-top: 20px;
          margin-bottom: 20px;
        }

        .title {
          // placeholder
          height: 40px;
          margin-top: 15px;
          margin-bottom: 30px;
        }

        ul {
          margin-left: 10px;
          margin-bottom: 10px;
          height: 40px;
          display: flex;
          flex-direction: row;

          li {
            justify-content: space-between;
            margin: 10px 0 10px 0;
            width: 90px;

            @include sofia-pro-medium;

            .value {
              color: $tc-gray-90;
              font-size: 18px;
            }

            .key {
              text-transform: uppercase;
              font-size: 12px;
              margin-top: 4px;
              color: $tc-gray-40;
            }
          }
        }

        .logo {
          padding: 10px;
          font-size: 50px;
        }

        .link-title {
          margin-top: 15px;
          margin-bottom: 20px;
          height: 60px;
        }

        .link-url {
          max-height: 28px;
        }
      }
    }

    .external-link-tile--pending {
      &:hover {
        cursor: default;
      }
    }
  }
}

// Existing links section
.existing-links {
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: none;

  .ext-link-tile_edit-header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -10px;
    right: -15px;

    @media only screen and (min-width: 768px) {
      top: 0;
      right: 0;
    }

    &:hover {
      .show-on-profile_label {
        color: $tc-gray-90;
      }
    }
  }

  .ext-link-tile_edit-header_delete {
    background-image: url(assets/images/ico-delete.svg);
    background-position: center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    height: 43px;
    width: 51px;
    cursor: pointer;
    opacity: 0.7;

    &:hover:not(.ext-link-tile_edit-header_delete--disabled) {
      // border-left: 1px solid $tc-gray-20;
      // border-bottom: 1px solid $tc-gray-20;
      opacity: 1;
    }
  }

  .ext-link-tile_edit-header_delete--disabled {
    cursor: default;
    opacity: 0.4;
  }
}

@media only screen and (min-width: 768px) {
  .links {
    & .external-link-list {
      padding: 0;
    }

    .existing-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}

// Link accounts section
.external-links {
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;

  .ext-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 15px 0;
    cursor: pointer;

    .external-account-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      border: 1px solid $tc-gray-20;
      border-radius: 6px;

      img {
        filter: grayscale(0);

        &.unadded {
          filter: grayscale(1);
        }
      }

      .provider {
        margin-top: 8px;

        @include sofia-pro-medium;

        font-size: 12px;
        line-height: 13px;
        text-align: center;
        text-transform: uppercase;
        color: $tc-gray-40;
        padding: 0 10px;
      }
    }

    &.connect {
      .external-account-box {
        background-color: #fbfbfb;
      }
    }

    .status {
      font-size: 15px;
      line-height: 20px;
      max-width: 90.2px;
      min-width: 90.2px;
      text-align: center;

      @include roboto-regular;

      margin-top: 10px;
      text-transform: capitalize;
      color: $tc-gray-90;

      &.disconnect {
        display: none;
        color: #f06;
      }
    }

    &.connected {
      .status {
        color: $tc-gray-80;
      }

      &:hover {
        .external-account-box {
          border: 1px solid #ff99c2;
          background-color: #ffcce1;
        }

        .already-connected {
          display: none;
        }

        .disconnect {
          display: block;
        }
      }

      .el-bitbucket i {
        color: #205081;
      }

      .el-dribble i {
        color: #ea4c89;
      }

      .el-linkedin i {
        color: #127cb5;
      }

      .el-twitter i {
        color: #62aadc;
      }

      .el-stackoverflow i {
        color: #e5712a;
      }

      .el-behance i {
        color: #188cfc;
      }

      .el-github i {
        color: #4b3d74;
      }

      .el-weblinks i {
        color: #82a0aa;
      }
    }

    &.enabled:hover {
      .el-bitbucket i {
        color: #205081;
      }

      .el-dribble i {
        color: #ea4c89;
      }

      .el-linkedin i {
        color: #127cb5;
      }

      .el-twitter i {
        color: #62aadc;
      }

      .el-stackoverflow i {
        color: #e5712a;
      }

      .el-behance i {
        color: #188cfc;
      }

      .el-github i {
        color: #4b3d74;
      }

      .el-weblinks i {
        color: #82a0aa;
      }
    }

    &.connecting {
      cursor: default;
    }

    &.disabled {
      cursor: default;
    }

    &.enabled.connect:hover {
      .external-account-box {
        background-color: #f2faff;
        border: 1px solid #85ccff;
      }
    }
  }
}

.section-loading {
  background: url(assets/images/ripple.gif) no-repeat center center;
  width: 100%;
  min-height: 50px;
}

///////////////////////
.hide {
  display: none;
}

.linked-account-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-bottom: 80px;

  h1 {
    @include roboto-regular;

    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
    color: $tc-black;
    margin-bottom: 20px;
  }
}
