@import '~styles/mixins';

// common styles for both list and tile view
.srm {
  .noclick {
    cursor: default;
  }

  .phase-status {
    .registered {
      position: relative;
      height: 30px;
      line-height: 30px;
      padding-left: 35px;
      padding-right: 20px;
      border: 1px solid #f0f0f0;
      border-radius: 4px;
      background-color: $tc-white;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: #3d3d3d;

      &::before {
        content: '';
        width: 15px;
        height: 15px;
        background: url(assets/images/dashboard/ico-checkmark.svg);
        background-size: 15px 15px;
        position: absolute;
        bottom: 6px;
        left: 14px;
      }
    }

    a {
      display: block;
    }
  }
}

.srm.tile-view {
  position: relative;
  width: 270px;
  height: 321px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: $tc-white;

  &:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }

  .challenge-track {
    width: 5px;
    height: 52px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-top-left-radius: 4px;
    background-color: #f39426;
  }

  header {
    padding: 0 20px;
    height: 52px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-flow: column wrap;

    a {
      display: block;
      width: 210px;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 49px;
      color: #3d3d3d;
      text-decoration: none;

      @include ellipsis;
    }

    .ended-on {
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: #a3a3ae;
    }
  }

  .past-srm {
    header {
      a {
        line-height: 29px;
      }
    }
  }

  .srm-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76px;
    height: 91px;
    background-image: url(assets/images/dashboard/ico-calendar-detailed.svg);

    span {
      display: block;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #b7b7b7;

      &.day {
        margin-top: 2px;
        font-size: 24px;
        color: #3d3d3d;
      }

      &.month,
      &.time-zone {
        letter-spacing: 1.6px;
        font-size: 10px;
      }

      &.month {
        margin-top: 3px;
        margin-left: 3px;
      }

      &.time-zone {
        margin-top: 3px;
        margin-left: 2px;
      }

      &.hour {
        margin-top: 18px;
        margin-left: 3px;
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #3d3d3d;
      }
    }
  }

  .srm-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    .starts-in,
    .ended-on {
      margin-top: 40px;
      margin-bottom: 20px;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;

      span {
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
    }
  }

  .member-stats {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .points {
      margin-top: 40px;
      margin-bottom: 20px;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      flex-flow: column wrap;
      align-items: center;

      span {
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: bold;
        height: 24px;// matches the line-height of the section
      }
    }

    .ranks {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 10px;

      .division {
        width: 84px;
        height: 84px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #f6f6f6;
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #3d3d3d;

        p:last-child {
          font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
          font-weight: 500;
          font-size: 9px;
          color: #a3a3ae;
          text-transform: uppercase;
          display: flex;
          flex-flow: column wrap;
        }
      }

      .room {
        width: 84px;
        height: 84px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #f6f6f6;
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #3d3d3d;
        margin-left: 15px;

        p:last-child {
          font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
          font-weight: 500;
          font-size: 9px;
          color: #a3a3ae;
          text-transform: uppercase;
          display: flex;
          flex-flow: column wrap;
        }
      }
    }

    .placement {
      color: #a3a3ae;
      text-transform: uppercase;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 60px;
    }
  }

  .phase-status {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 40px;
  }
}

a.tc-btn {
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #0096ff;
  background-color: #0096ff;
  background-image: none;
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  color: $tc-white;
  text-transform: uppercase;
  outline: none;
  text-shadow: none;

  &:focus {
    border: 1px solid #0096ff;
    background-color: #0096ff;
    color: $tc-white;
  }

  &:hover {
    background-color: #097dce;
    border-color: #097dce;
    color: $tc-white;
  }

  &:active {
    background-color: #097dce;
    background-image: none;
    border-color: #097dce;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    line-height: 30px;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}
