@import "~styles/mixins";

/* Styling of Markdown syntax highlighting. */
.container {
  @include tc-body-md;

  overflow: hidden;

  a {
    color: $tc-dark-blue-90;
    text-decoration: underline;
  }

  code {
    background: $tc-gray-neutral-light;
    border: 1px solid $tc-gray-20;
    border-radius: 6px;
    display: block;
    font-family: 'Roboto Mono', monospace;
    padding: 15px 20px;

    &:global.inline {
      background: $tc-gray-10;
      border: none;
      border-radius: 0;
      display: inline;
      padding: 0 5px;
    }
  }

  em { font-style: italic; }
  strong { font-weight: bold; }

  :global .hr {
    width: 100%;

    > div > span > span {
      border-top: 1px solid firebrick;
      display: inline-block;
      height: 0;
      line-height: 0;
      width: 100%;
    }
  }

  :global .mdSyntax {
    color: firebrick;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
  }

  :global .prism-token.token {
    /* Code. */
    &.code {
      background: $tc-gray-10;
      font-family: 'Roboto Mono', monospace;
    }

    /* Headings */
    &.h1 {
      @include tc-heading-xl;

      display: inline-block;
      margin-top: 25px;
    }

    &.h2 {
      @include tc-heading-lg;

      display: inline-block;
      margin-top: 20px;
    }

    &.h3 {
      @include tc-heading-md;

      display: inline-block;
      margin-top: 15px;
    }

    &.h4 {
      @include tc-heading-sm;

      display: inline-block;
      margin-top: 10px;
    }

    &.h5,
    &.h6 {
      @include tc-heading-xs;

      display: inline-block;
      margin-top: 5px;
    }

    /* Thematic break. */
    &.thematicBreak {
      border-bottom: 2px solid $tc-gray-10;
      display: inline-block;
      line-height: 0;
      width: 100%;
    }

    /* Any markup symbols. */
    &.markup {
      color: $tc-gray-40;
      font-family: 'Roboto Mono', monospace;
    }
  }

  :global .public-DraftEditor-content {
    /* All these elements have an extra spacing added between them, which does
     * not look nice, when they are the first element in the editor field. Thus,
     * for the first elements we suppress these. */
    & > div > div:first-child > div {
      & > .h1,
      & > .h2,
      & > .h3,
      & > .h4,
      & > .h5,
      & > .h6 {
        margin-top: 0;
      }
    }
  }
}
