@import "../style";

.ToggleableItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $pad-lg;
  background: $tc-white;
  border: 1px solid $color-black-20;
  border-radius: 8px;

  .body {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  p.primary {
    @include roboto-bold;

    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: $tco-black;
  }

  p.secondary {
    @include roboto-medium;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-black-60;
  }

  .onoffswitch-no-padding-right {
    margin-right: 0;
    position: relative;
    bottom: 15px;
  }
}
