@import "../style";

.ToggleableItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $tc-gray-neutral-dark;
  border-top: 0;
  padding: 20px;

  .body {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  p.primary {
    @include roboto-bold;

    color: $tc-black;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;

    @include xs-to-sm {
      @include roboto-medium;

      font-weight: 500;
      margin-bottom: 0;
    }
  }

  p.secondary {
    @include roboto-medium;

    color: $tc-gray-50;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    @include xs-to-sm {
      font-size: 11px;
    }
  }

  .onoffswitch-no-padding-right {
    margin-right: 0;
  }
}
