@import "~styles/mixins";

.paymentRow {
  border-bottom: 1px solid $tc-gray-10;
  background: #fff;

  .icon {
    width: 40px;
    padding-left: 10px;
    padding-right: 0;
  }

  td {
    height: 50px;
    padding: 0 15px;
    vertical-align: middle;
  }

  .name {
    padding-left: 0;
    width: 60%;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &:hover {
    .icon {
      width: 38px;
      padding-left: 9px;
      border-left: 2px solid #55a5ff;
    }

    .name {
      font-weight: 700;
    }
  }

  .memberAvatar {
    vertical-align: top;
  }

  .memberName {
    line-height: 32px;
    vertical-align: top;
    margin-left: 10px;
    font-weight: 700;
    color: $tc-gray-80;
  }

  .price {
    color: #202a36;
    font-weight: 500;
  }
}

.member {
  display: flex;
  align-items: center;
}
