@import "~styles/mixins";

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  background: $tc-gray-neutral-light;
  border: 1px solid #c3c3c8;
  border-radius: 4px 4px 0 0;

  button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 13px;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    color: $tc-gray-80;
    text-align: center;
    appearance: none;
    background: none;
    border: 0;

    svg {
      vertical-align: bottom;
    }
  }

  .separator {
    display: block;
    width: 1px;
    height: 20px;
    background: $tc-gray-80;
  }
}
