@import '~styles/mixins';

.payment-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  .header {
    display: flex;
    margin-left: -4px;
    margin-top: -6px;
  }

  .icon-wrapper {
    margin-right: 5px;

    svg {
      width: 13px;
      height: 13px;
    }
  }

  .label {
    font-weight: 700;
    font-size: 12px;

    @include roboto-bold;

    line-height: 16px;
    color: $color-teal-140;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include xs-to-sm {
      font-size: 10px;
      line-height: 12px;
    }
  }

  .content {
    display: flex;

    .value {
      font-weight: 400;
      font-size: 16px;

      @include roboto-regular;

      line-height: 24px;
      color: $tco-black;
      margin-top: 4px;
      margin-left: -4px;

      @include xs-to-sm {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  &.last-child {
    margin-bottom: 0;
  }
}
