@import "~styles/mixins";

.coin {
  background: $tc-gold;
  border-radius: 35px;
  color: $tc-gold-110;
  display: inline-block;
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  margin: 10px;
  vertical-align: top;
  width: 26px;
}
