@import '~styles/mixins';

.item {
  color: $tc-white;
  font: 500 14px "Sofia Pro", sans-serif;
  margin: 9px 18px;
  text-transform: uppercase;

  a:hover {
    color: $tc-dark-blue;
  }
}

.sub-menu {
  padding: 6px 0;
}

.title {
  color: $tc-gray-40;
  font: 500 18px "Sofia Pro", sans-serif;
  margin: 9px 18px;
  text-transform: uppercase;
}
