@import "~styles/mixins";
$prize-space-10: $base-unit * 2;

.prizes-tooltip {
  @include roboto-regular;

  max-width: 480px;
  padding: 10px 10px 0 10px;
  overflow: hidden;

  .bonuses {
    border-top: 1px solid $tc-gray-70;
    clear: both;
    padding: $prize-space-10 0 0;
  }

  h1 {
    @include roboto-regular;
    border: none;
    color: $tc-white;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 $prize-space-10;
    padding: 0;
    text-align: left;
    text-transform: none;
    font-weight: 500;
  }
}

.points {
  border-top: 1px solid $tc-gray-70;
  padding: (3 * $base-unit) 0 (2 * $base-unit);
}
