@import "~styles/mixins";
@import "~components/Contentful/brackets";

.awardModal {
  display: flex;
  margin-top: 48px;

  @include xs-to-md {
    flex-direction: column;
    margin-top: 24px;
  }

  .image {
    width: 100px;
    height: 100px;

    @include xs-to-md {
      display: block;
      margin: 0 auto;
    }
  }

  .rightContent {
    margin-left: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    @include xs-to-md {
      align-items: center;
    }

    .title {
      @include roboto-bold;

      color: $tco-black;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;

      @include xs-to-md {
        text-align: center;
      }
    }

    .awardedAt {
      @include roboto-bold;

      color: $listing-placeholder-gray;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      margin-top: 8px;
    }

    .description {
      @include brackets-content;

      font-weight: 400;
      color: $tco-black;
      font-size: 16px;
      line-height: 24px;
      margin-top: 16px;
    }

    @include xs-to-md {
      margin-top: 24px;
      text-align: center;
    }
  }
}
