@import '~styles/mixins';

.form {
  display: flex;
  background-color: $tc-white;
  height: 331px;
  margin-left: 96px;
  margin-top: 34px;
  border-radius: 8px;
  width: 70%;
  padding: 16px;
  margin-bottom: 39px;
  position: relative;
  flex-wrap: wrap;

  &::after {
    content: '';
    background: url("assets/images/timeline/input-pointer.svg");
    bottom: -8px;
    left: 48%;
    width: 36px;
    height: 9px;
    position: absolute;
  }
}

.title {
  @include barlow;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $tc-black;
  text-transform: uppercase;
  width: 100%;
}

.close-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.content {
  display: flex;
  width: 100%;
  margin-top: -30px;
  gap: 16px;
}

.left {
  width: 50%;
}

.left-upper {
  display: flex;
  gap: 8px;
  justify-content: space-between;

  &:first-child {
    div {
      width: 100%;
    }
  }

  &:last-child {
    width: 50%;
  }
}

.right {
  width: 50%;
}

.file-upload-area {
  border: 1px dashed #aaa;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 71%;
  justify-content: center;
  text-align: center;

  h3 {
    @include roboto-regular;

    font-size: 14px;
    line-height: 22px;
    color: #767676;
    padding: 0 80px;
  }
}

.button {
  @include roboto-bold;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px !important;
  background: #fff !important;
  color: #137d60 !important;
  border: 2px solid #137d60 !important;
  margin-top: 16px;
}

.disabledButton {
  margin: $base-unit 0;
  min-width: 0;
  width: 100%;
  border-radius: 50px !important;
  height: 48px;
  padding: 0 25px !important;
  color: #767676 !important;
  background: #f4f4f4 !important;

  @include xs-to-sm {
    width: fit-content;
  }
}

.file {
  display: none;
}

.files-uploaded {
  display: flex;
  gap: 8px;

  img {
    width: 146px;
    height: 184px;
    object-fit: cover;
  }
}

.footer-buttons {
  display: flex;
  gap: 8px;
  align-self: flex-end;
  position: absolute;
  right: 12px;
}
