@import "~styles/mixins";

.container {
  @include roboto-regular;

  margin: 35px 32px 0 32px;
  padding-bottom: 48px;

  @include xs-to-sm {
    margin: 24px 16px 0 16px;
    padding-bottom: 24px;
    padding-right: 15px;
    padding-left: 0;
  }
}

.section-title {
  @include tc-heading-xl;

  margin: 25px 0 5px;
  text-align: center;
  width: 100%;
}

.block-download-all {
  display: flex;
  justify-content: flex-end;
  height: 50px;

  :global {
    svg {
      height: 100%;
      margin: 0;
    }
  }
}

.download {
  font-size: 15px;
  line-height: 22px;
  color: $tc-dark-blue;

  &:disabled {
    color: #767676;
    pointer-events: none;
  }

  &.MM {
    cursor: pointer;
  }

  @include xs-to-sm {
    font-size: 13px;
  }
}
