@import "~styles/mixins";

.container {
  @include roboto-regular;

  display: flex;
  flex-wrap: wrap;
}

.section-title {
  @include tc-heading-xl;

  margin: 25px 0 5px;
  text-align: center;
  width: 100%;
}
