@import "~styles/mixins";

.container {
  @include roboto-regular;

  max-width: 1122px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 138px;
}

.section-title {
  @include tc-heading-xl;

  margin: 25px 0 5px;
  text-align: center;
  width: 100%;
}
