@import "~styles/mixins";

.col-1 {
  padding: 0 30px;
  width: 55%;

  .challenge-name {
    color: $tc-gray-90;
    font-weight: 700;
  }

  @media (max-width: 768px) {
    padding-left: 2 * $base-unit;
  }
}

.col-2 {
  width: 22.5%;
  text-align: center;
}

.col-3 {
  color: $tc-gray-40;
  width: 22.5%;
  text-align: center;
}

.body {
  border: $tc-gray-10 1px solid;
}

.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  @include roboto-regular;

  color: $tc-gray-50;
  background: $tc-white;
  border-radius: 3 * $corner-radius 3 * $corner-radius;
  top: 50%;
  width: 70%;
  max-height: 90%;
  overflow-y: auto;

  @media (max-width: 768px) {
    width: 80%;
  }

  h1 {
    color: $tc-gray-80;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      font-size: 4vw;
    }
  }
}

.podium-spot-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 1em;

  > div > span {
    height: 128px;
    width: 128px;

    img,
    svg {
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
      height: 100%;
      width: 100%;
    }
  }
}

.head {
  background: $tc-gray-neutral-light;
  border: $tc-gray-10 1px solid;
  border-bottom: none;
  color: $tc-gray-40;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  padding: 12.5px 0;
  display: flex;

  @media (max-width: 768px) {
    font-size: 3vw;
    padding: 2 * $base-unit 0;
  }
}

.row {
  display: flex;
  align-items: center;
  line-height: 40px;
  color: $tc-gray-70;
  font-size: 15px;
  border-bottom: 1px solid $tc-gray-10;

  @media (max-width: 768px) {
    font-size: 3vw;
  }
}

.title {
  color: $tc-gray-50;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
}

.link {
  color: #0681ff;
  display: block;
  line-height: 1.5;

  &:visited,
  &:hover,
  &:active {
    color: #0681ff;
  }
}
