@import "~styles/mixins";

.container {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;

  @include xs-to-sm {
    flex-direction: column;
  }
}

.title {
  @include tc-title;

  margin-bottom: 40px;
}
