version: 2

jobs:
  # Build & Deploy against development backend
  "build-dev":
    docker:
      - image: docker:17.11.0-ce-git
    steps:
      # Initialization.
      - checkout
      - setup_remote_docker
      - run:
          name: Installation of build dependencies.
          command: apk add --no-cache bash

      # Restoration of node_modules from cache.
      - restore_cache:
          key: docker-node-modules-v3-{{ checksum "package-lock.json" }}

      # Build of Docker image.
      - run:
          name: Build of Docker image
          command: ./build.sh development

      # Caching node modules.
      - save_cache:
          key: docker-node-modules-v3-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

      # Deployment.
      - run:
          name: Installing AWS client
          command: |
            apk add --no-cache jq py-pip sudo
            sudo pip install awscli --upgrade

      - deploy:
          command: ./deploy.sh DEV $CIRCLE_SHA1
  # Build & Deploy against testing backend
  "build-test":
    docker:
      - image: docker:17.11.0-ce-git
    steps:
      # Initialization.
      - checkout
      - setup_remote_docker
      - run:
          name: Installation of build dependencies.
          command: apk add --no-cache bash

      # Restoration of node_modules from cache.
      - restore_cache:
          key: docker-node-modules-v3-{{ checksum "package-lock.json" }}

      # Build of Docker image.
      - run:
          name: Build of Docker image
          command: ./build.sh test

      # Caching node modules.
      - save_cache:
          key: docker-node-modules-v3-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

      # Deployment.
      - run:
          name: Installing AWS client
          command: |
            apk add --no-cache jq py-pip sudo
            sudo pip install awscli --upgrade

      - deploy:
          command: ./deploy.sh TEST $CIRCLE_SHA1

  # Build & Deploy against testing backend
  "build-prod-beta":
    docker:
      - image: docker:17.11.0-ce-git
    steps:
      # Initialization.
      - checkout
      - setup_remote_docker
      - run:
          name: Installation of build dependencies.
          command: apk add --no-cache bash

      # Restoration of node_modules from cache.
      - restore_cache:
          key: docker-node-modules-v3-{{ checksum "package-lock.json" }}

      # Build of Docker image.
      - run:
          name: Build of Docker image
          command: ./build.sh production_beta

      # Caching node modules.
      - save_cache:
          key: docker-node-modules-v3-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

      # Deployment.
      - run:
          name: Installing AWS client
          command: |
            apk add --no-cache jq py-pip sudo
            sudo pip install awscli --upgrade

      - deploy:
          command: ./deploy.sh PRODBETA $CIRCLE_SHA1

  # Build & Deploy against production backend
  "build-prod":
    docker:
      - image: docker:17.06.1-ce-git
    steps:
      # Initialization.
      - checkout
      - setup_remote_docker
      - run:
          name: Installation of build dependencies.
          command: apk add --no-cache bash

      # Restoring node_modules from the previous build.
      - restore_cache:
          key: docker-node-modules-v3-{{ checksum "package-lock.json" }}

      # Building.
      - run:
          name: Build of Docker image
          command: ./build.sh production

      - save_cache:
          key: docker-node-modules-v3-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

      # Deployment.
      - run:
          name: Installing AWS client
          command: |
            apk add --no-cache jq py-pip sudo
            sudo pip install awscli --upgrade

      - deploy:
          command: ./deploy.sh PROD $CIRCLE_SHA1

  # Test job for the cases when we do not need deployment. It just rapidly
  # installs (updates) app dependencies, and runs tests (ESLint, Stylelint,
  # Jest unit-tests).
  test:
    docker:
      - image: circleci/node:8.11.1
    steps:
      - checkout
      - restore_cache:
          key: test-node-modules-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: test-node-modules-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run: npm test

workflows:
  version: 2
  build:
    jobs:
      # Development builds are executed on "new-develop" branch only.
      - "build-dev":
          filters:
            branches:
              only: new-develop
      # This is alternate dev env for parallel testing
      - "build-test":
          filters:
            branches:
              only: "mm-feature-experiment"
      # This is beta env for production soft releases
      - "build-prod-beta":
          filters:
            branches:
              only: "mm-feature-experiment"
      # Production builds are exectuted only on tagged commits to the
      # master branch.
      - "build-prod":
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*/

      # Simple testing is executed for any branch other than "develop" and
      # "master".
      - test:
          filters:
            branches:
              ignore:
                - mm-feature-experiment
                - new-develop
