version: 2.1
parameters:
  run_basedeployment:
    default: true
    type: boolean
  run_smoketesting:
    default: false
    type: boolean
  run_performancetesting:
    default: false
    type: boolean

defaults: &defaults
  docker:
    - image: docker:20.10.21-git
      environment:
        ENV: $BASH_ENV

install_dependency: &install_dependency
  name: Installation of build and deployment dependencies.
  command: |
    apk update
    apk add --no-cache bash openssl curl
    apk upgrade
    apk add --no-cache jq py-pip sudo
    sudo pip install awscli --upgrade

install_deploysuite: &install_deploysuite
  name: Installation of install_deploysuite.
  command: |
    git clone --branch v1.4.17 https://github.com/topcoder-platform/tc-deploy-scripts ../buildscript
    cp ./../buildscript/master_deploy.sh .
    cp ./../buildscript/buildenv.sh .
    cp ./../buildscript/awsconfiguration.sh .
    cp ./../buildscript/psvar-processor.sh .
restore_cache_settings_for_build: &restore_cache_settings_for_build
  key: docker-node-modules-v4-{{ checksum "package-lock.json" }}

# save_cache_settings: &save_cache_settings
#   key: docker-node-modules-v4-{{ checksum "package-lock.json" }}
#   paths:
#     - node_modules

build_docker_image: &build_docker_image
  name: Build of Docker image
  command: |
    source buildvar_env
    ./build.sh
  no_output_timeout: 20m

build_steps: &build_steps
      # Initialization.
      - checkout
      - setup_remote_docker
      - run: *install_dependency
      - run: *install_deploysuite
      # Restoration of node_modules from cache.
      # - restore_cache: *restore_cache_settings_for_build
      # Build of Docker image.
      - run:
          name: "configuring environment"
          command: |
            ./awsconfiguration.sh ${DEPLOY_ENV}
            source awsenvconf
            ./psvar-processor.sh -t appenv -p /config/${APPNAME}/buildvar
            source buildvar_env
            # ./buildenv.sh -e ${DEPLOY_ENV} -b dev_communityapp_buildvar,dev_communityapp_deployvar -l dev_communityapp_buildvar_ps
      - run: *build_docker_image
      # Caching node modules.
      # - save_cache: *save_cache_settings
      # Deployment.
      - deploy:
          name: Running MasterScript
          command: |
            source awsenvconf
            # source buildenvvar
            ./psvar-processor.sh -t appenv -p /config/${APPNAME}/deployvar
            source deployvar_env
            ./master_deploy.sh -d ECS -e $DEPLOY_ENV -t latest -j /config/${APPNAME}/appvar -i ${APPNAME} -p FARGATE
            # ./master_deploy.sh -d ECS -e DEV -t latest -s dev_communityapp_taskvar -i communityapp -p FARGATE
            if [ "${DEPLOY_ENV}" = "PROD" ]; 
            then
                # Executing plan
                curl --request POST \
                --url https://circleci.com/api/v2/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/pipeline \
                --header "Circle-Token: ${CIRCLE_TOKEN}" \
                --header 'content-type: application/json' \
                --data '{"branch":"'"$CIRCLE_BRANCH"'","parameters":{"run_smoketesting":true , "run_performancetesting":false, "run_basedeployment": false}}'
            fi              

jobs:
  # Build & Deploy against development backend
  "build-dev":
    <<: *defaults
    environment:
      DEPLOY_ENV: "DEV"
      LOGICAL_ENV: "dev"
      APPNAME: "community-app-v6"    
    steps: *build_steps

  # Build & Deploy against production backend
  "build-prod":
    <<: *defaults
    environment:
      DEPLOY_ENV: "PROD"
      LOGICAL_ENV: "prod"
      APPNAME: "community-app-v6"
    steps: *build_steps


  # Test job for the cases when we do not need deployment. It just rapidly
  # installs (updates) app dependencies, and runs tests (ESLint, Stylelint,
  # Jest unit-tests).
  test:
    docker:
      - image: circleci/node:10.24.1
    steps:
      - checkout
      - restore_cache:
          key: test-node-modules-{{ checksum "package-lock.json" }}
      - run:
          name: Config Git
          command: git config --global url."https://git@".insteadOf git://
      - run:
          name: App npm install
          command: npm install
          no_output_timeout: 20m
      - save_cache:
          key: test-node-modules-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run: npm test

  Performance-Testing:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run: mvn verify

      - store_artifacts:
          path: target/jmeter/reports

workflows:
  version: 2
  Build:
    when: << pipeline.parameters.run_basedeployment >>
    jobs:
      # Development builds are executed on "new-develop" branch only.
      - "build-dev":
          context: org-global
          filters:
            branches:
              only:
                - develop
                - v6
                - PM-2479

      - "build-prod":
          context: org-global
          filters: &filters-prod
            branches:
              only:
                - master
      # Simple testing is executed for any branch other than "develop" and
      # "master".
      - test:
          filters:
            branches:
              ignore:
                - develop
                - submission_delete_button
                - v6

  Smoke Testing:
    when: << pipeline.parameters.run_smoketesting >>
    jobs:
      - Hold [Smoke-Testing]:
          type: approval
      - Smoke-Testing-On-Production:
          context: org-global
          requires:
            - Hold [Smoke-Testing]
          filters:
            <<: *filters-prod

  Performance Testing:
    when: << pipeline.parameters.run_performancetesting >>
    jobs:
      - Hold [Performance-Testing]:
          type: approval
      - Performance-Testing:
          requires:
            - Hold [Performance-Testing]
          filters:
            branches:
              only:
                - master
                - develop
