@import '~styles/mixins';

.Podium {
  @include roboto-regular;

  line-height: 1.42;
  margin: 0 auto 10px auto;
  text-align: center;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.PodiumWrap,
.PodiumWrapCondense {
  display: flex;
  justify-content: center !important;

  @include xs-to-sm {
    flex-direction: column;
    align-items: center;
  }
}

.Podium .podium-column {
  display: inline-block;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  @include xs-to-sm {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
