/* stylelint-disable no-descending-specificity */
@import '~styles/mixins';

.Podium {
  @include roboto-regular;

  line-height: 1.42;
  margin: 88px auto 40px auto;
  text-align: center;

  @include sm {
    margin: 32px auto 24px auto;
  }

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.PodiumWrap,
.PodiumWrapCondense {
  display: flex;
  justify-content: center !important;

  @include xs-to-sm {
    flex-direction: column;
    align-items: center;
  }
}

.PodiumWrap {
  .podium-column:nth-child(2) {
    @include md-to-xl {
      margin-top: -16px;
    }
  }

  .podium-column:nth-child(3) {
    @include md-to-xl {
      margin-top: 16px;
    }
  }
}

.Podium .podium-column {
  display: inline-block;
  margin-right: 52px;

  &:last-child {
    margin-right: 0;
  }

  @include xs-to-sm {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.PodiumWrapCondense {
  @media screen and (min-width: 375px) and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
  }

  .podium-column {
    margin-right: 16px;

    @include xs-to-sm {
      margin: 0;
    }
  }
}
