@import '~styles/mixins';

.tools-container {
  background-color: $listing-filter-bg;
  padding: 32px;
  border-radius: 8px;
  margin: 32px 0 32px;

  @include xs-to-md {
    margin-top: 24px;
  }

  .header {
    h3 {
      @include barlow-bold;

      font-size: 20px;
      line-height: 22px;
      color: $tco-black;
      text-transform: uppercase;

      @include xs-to-md {
        @include barlow-condensed-semi-bold;

        font-size: 27px;
        line-height: 28px;
      }
    }
  }

  @include xs-to-md {
    padding: 24px 16px;
  }
}

.footer {
  display: flex;
  flex-direction: row-reverse;

  .save-changes-btn {
    @include roboto-bold;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 50px !important;
    background: #137d60 !important;
    color: #fff !important;
    text-transform: uppercase;
    padding: 11px 23px;
    margin: 0;

    &.disabled {
      opacity: 0.5;
    }
  }

  @include xs-to-md {
    padding: $pad-xxxxl 0 $pad-sm;
    border-top: 2px solid $color-black-10;

    .save-changes-btn {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
