@import "../style";

.tools-container {
  display: flex;
  flex-direction: row;
  padding: 60px 50px 55px;
  box-shadow: 0 2px 9px 0 rgba(38, 38, 40, 0.06);

  @include md-to-lg {
    padding: 30px;
  }

  @include xs-to-sm {
    padding: 0;
  }

  .mobile-view {
    display: none;

    @include md-to-lg {
      display: none;
    }

    @include xs-to-sm {
      display: block;
      width: 100%;
    }
  }

  .col-bar {
    width: 319px;
    padding-right: 70px;

    @include md-to-lg {
      width: 90px;
      padding-right: 30px;
    }

    @include xs-to-sm {
      display: none;
    }
  }

  .col-content {
    flex: 1;

    @include xs-to-sm {
      display: none;
    }
  }
}
