@import "~styles/mixins";

.challenges {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  padding: 20px 20px 0;
}

.innerContainer {
  display: flex;
  position: relative;

  @include xs-to-sm {
    align-items: flex-end;
    flex-direction: column-reverse;
  }
}

.loading {
  margin: 40px 20px 30px;
}

.msg {
  @include tc-heading-md;

  max-width: 640px;
  padding: 20px 0 0;

  a,
  a:active,
  a:focus,
  a:hover,
  a:visited {
    color: $tc-dark-blue-110;
  }
}

.sticky {
  width: 65px;
}
