.challenges {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  padding: 20px;
  position: relative;
}

.loading {
  margin: 40px 20px 30px;
}

.sticky {
  width: 65px;
}
