@import "~styles/mixins";

.challenges {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  padding: 20px 20px 0;
}

.innerContainer {
  display: flex;
  position: relative;
}

.link {
  @include tc-body-md;

  &,
  &:active,
  &:focus,
  &:visited {
    color: $tc-dark-blue-110;
  }

  &:hover {
    color: $tc-dark-blue-70;
  }
}

.linksContainer {
  padding: 30px 20px 0;
  text-align: center;
}

.loading {
  margin: 40px 20px 30px;
}

.msg {
  @include tc-heading-md;

  max-width: 640px;
  padding: 20px 0 0;

  a,
  a:active,
  a:focus,
  a:hover,
  a:visited {
    color: $tc-dark-blue-110;
  }
}

.sticky {
  width: 65px;
}
