/*
 Common mixins for Email Verification Result Page
 */

@import '../../../style';

@mixin outer-container {
  background-color: $tc-gray-neutral-dark;
  display: block;
  width: 100%;

  @include xs-to-lg {
    width: calc(100vw);
  }

  @include xs-to-lg {
    padding: 7px 10px 20px 10px;
  }

  @include lg-to-xl {
    padding: 30px 64px 50px 64px;
  }
}

@mixin page {
  background-color: $tc-white;
  border-radius: 4 * $corner-radius;
  box-shadow: 0 0 8px #ccc;
  margin: auto;
  max-width: 1246px;
  text-align: center;
  width: 100%;
  overflow: hidden;

  h1,
  h2,
  h3,
  h4 {
    @include roboto-regular;
  }
}

@mixin text {
  @include roboto-regular;

  font-size: 13px;
  line-height: 25px;
  color: $tc-black;
  max-width: 600px;
  margin-bottom: 20px;

  p {
    margin: 0;
  }
}

@mixin inner-container {
  background: $tc-white;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 28px;
    line-height: 35px;
    margin-top: 22px;
    margin-bottom: 3px;
  }
}
