@import "~styles/mixins";

.container {
  padding: 10px;
}

.modalTitle {
  color: $tc-black;
  text-align: center;
}

.modalMsg {
  @include tc-body-md;

  color: #787d81;
  margin: 24px 0;
  text-align: center;
}
