@import "~styles/mixins";

.signing:hover {
  background: $tc-white;
  cursor: default;
}

.signingContainer {
  align-items: center;
  display: flex;
}

.loadingIndicator {
  display: inline-block;
  height: 32px;
  padding-left: 10px;
  width: 32px;
}

.placeholder {
  height: 24px;
}

.returnToCommunityButton {
  display: block !important;
  margin: auto !important;
}
