@import '~styles/mixins';

.assets {
  display: flex;
  column-gap: 7px;
  overflow: scroll;
  margin-top: 10px;
}

.timeline-asset {
  cursor: pointer;

  img {
    height: 136px;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
  }

  &.video {
    &::after {
      content: "";
      position: absolute;
      left: 46%;
      top: 50%;
      width: 32px;
      height: 32px;
      background: url("assets/images/timeline/video-preview.svg");
    }
  }

  &.third {
    img {
      width: 136px;
    }
  }

  &.half {
    img {
      width: 208px;
    }
  }

  &.full {
    img {
      width: 420px;
    }
  }
}
