@import '~styles/mixins';

.button {
  @include roboto-bold;

  padding: 8px 13px;
  font-size: 12px;
  color: #137d60;
  line-height: 1;
  letter-spacing: 0.8px;
  white-space: nowrap;
  appearance: none;
  background: $tc-white;
  border: 1px solid #137d60;
  border-radius: 15px;

  &.is-selected {
    color: $tc-gray-90;
    border-color: $tc-gray-90;
  }

  &.button-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
  }

  &.button-primary {
    &.button-inverted {
      border: none;
      padding: 9px 14px;
    }
  }
}

.button-primary {
  color: $tc-white;
  background-color: #137d60;

  &.button-inverted {
    color: #137d60;
    background-color: $tc-white;
  }
}

.button-text {
  padding: 0;
  letter-spacing: 1px;
  color: inherit;
  border: none;
  background: none;
}

.button-lg {
  padding: 12px 20px;
  font-size: 12px;
  border-radius: 20px;

  &.button-circle {
    padding: 0;
    width: 40px;
    height: 40px;
  }

  &.button-primary {
    &.button-inverted {
      padding: 13px 21px;
    }
  }
}

.button-sm {
  border-radius: 10px;
  padding: 4px 13px;
  font-size: 10px;

  &.button-circle {
    padding: 0;
    width: 20px;
    height: 20px;
  }

  &.button-primary {
    &.button-inverted {
      padding: 5px 14px;
    }
  }
}
