@import "../../../../style";

.container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 19px 20px 18px 45px;
  border: 1px solid $tc-gray-10;
  border-bottom: none;
  background-color: $tc-white;

  &.isEditing {
    border: 1px solid $tc-gray-75;
  }
}

.device-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.device-icon {
  height: 49px;
  width: 49px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-parameters {
  @include roboto-medium;

  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  line-height: 20px;
  padding-right: 20px;
  flex: 1;

  &.single-line {
    flex-direction: row;
    align-items: center;
  }

  > div:first-child {
    @include roboto-medium;

    font-size: 15px !important;
    letter-spacing: -0.16px !important;
    color: $tc-black !important;
  }
}

.parameter-model {
  margin-bottom: 8px;
}

.parameter-second-line {
  @include roboto-regular;

  font-size: 13px;
  letter-spacing: -0.14px;
  color: #888894;
}

.operation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
    cursor: pointer;
    outline-style: none;
    margin-left: 10px;

    img {
      margin-bottom: 10px;

      @include upto-sm {
        margin-bottom: 0;
      }
    }

    p {
      @include roboto-regular;

      font-size: 11px;
      line-height: 15px;
      font-weight: 400;
      color: $tc-gray-50;

      @include upto-sm {
        display: none;
      }
    }
  }

  .edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline-style: none;
    margin-left: 10px;

    img {
      margin-bottom: 10px;

      @include upto-sm {
        margin-bottom: 0;
      }
    }

    p {
      @include roboto-regular;

      font-size: 11px;
      line-height: 15px;
      font-weight: 400;
      color: $tc-gray-50;

      @include upto-sm {
        display: none;
      }
    }
  }
}
