@import "../../../../style";

.container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  min-height: 96px;
  width: 100%;
  border-bottom: none;
  background-color: $tc-white;
  padding: $pad-lg;
  border: 1px solid $color-black-20;
  border-radius: 8px;

  @include xs {
    padding: $pad-sm;
  }
}

.device-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.device-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 64px;
  width: 64px;
  height: 64px;
  background: $color-black-5;
  border-radius: 4px;
  margin-right: $margin-lg;

  svg {
    display: block;
  }
}

.device-parameters {
  @include roboto-medium;

  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  padding-right: 20px;

  &.single-line {
    flex-direction: row;
    align-items: center;
  }

  > div:first-child {
    @include roboto-bold;

    color: $tc-black;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    word-break: break-all;

    &.single-line {
      margin-bottom: 0;
    }

    @include upto-sm {
      margin-bottom: 0;
    }
  }
}

.parameter-second-line,
.parameter-third-line,
.parameter-second-line-mobile {
  @include roboto-medium;

  color: $color-black-60;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  word-break: break-all;
}

.parameter-second-line-mobile {
  @include upto-sm {
    display: flex;
    flex-direction: column;

    p {
      word-break: break-all;
    }
  }
}

.tctooltiptext {
  background: $tc-black;
  color: $tc-white;
  border-radius: 8px;
  padding: 10px;

  p {
    @include roboto-medium;

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}

.tctooltiptext::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: 4px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  left: 50%;
  border-top-color: $tc-black;
  z-index: 1000;
}

.operation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .delete-wrapper {
    margin-left: $margin-xl;
    margin-right: $margin-xs;

    @include xs-to-sm {
      margin-left: $margin-lg;
      margin-right: 0;
    }

    @media screen and (max-width: 320px) {
      margin-right: 0;
      margin-left: 6px;
    }
  }

  .delete {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    cursor: pointer;
    outline-style: none;

    img {
      width: 20px;
      height: 20px;
    }

    p {
      @include roboto-regular;

      font-size: 11px;
      line-height: 15px;
      font-weight: 400;
      color: $tc-gray-50;

      @include upto-sm {
        display: none;
      }
    }
  }

  .edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline-style: none;

    img {
      width: 20px;
      height: 20px;
    }

    p {
      @include roboto-regular;

      font-size: 11px;
      line-height: 15px;
      font-weight: 400;
      color: $tc-gray-50;

      @include upto-sm {
        display: none;
      }
    }
  }
}
