@import "~styles/mixins";

.outer-container {
  width: 100%;
  max-width: $screen-max;
  margin: 0 auto;
}

.content {
  padding: 0 32px 32px 32px;
  display: flex;
  width: 100%;

  @include xs-to-md {
    flex-direction: column;
    padding: 180px 16px 16px 16px;
  }
}

.left-content {
  width: 73%;
  padding-right: 45px;

  .description {
    @include roboto-regular;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $tco-black;
    margin-top: 24px;
  }

  @include xs-to-sm {
    padding-bottom: 32px;
    border-bottom: 2px solid $listing-gray;
  }

  @include xs-to-md {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}

.right-content {
  border-left: 2px solid #e9e9e9;
  padding-left: 50px;
  margin-top: -27px;

  @include xs-to-sm {
    border-left: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 32px;
  }
}

.modal-overlay {
  background: #000;
}

.modal-container-copilot{
  min-height: 220px;
}
.modal-container {
  width: 1232px;
  min-height: 700px;
  max-width: 1232px;
  border-radius: 8px;
  padding: 32px 32px 0 32px;
  gap: 24px;

  &.modal-container-copilot {
    height: auto;
  }

  @include xs-to-sm {
    width: 100%;
    max-width: 100%;
    height: 100% !important;
    max-height: 100% !important;
    padding: 24px 16px 48px 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    .title {
      @include barlow-medium;

      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-transform: uppercase;
    }

    .icon {
      cursor: pointer;
    }
  }
}
