@import "../../style";

a.SideItem {
  @include tc-body-md;

  line-height: 25px;
  color: $tc-black;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  padding-left: 21px;
  display: flex;
  align-items: center;
  border-radius: 4px;

  @include md-to-lg {
    width: 60px;
    justify-content: center;
    padding: 0;
  }

  img {
    margin-right: 14px;
    width: 34px;
    max-height: 30px;

    @include md-to-lg {
      margin-right: 0;
    }
  }

  &:focus {
    outline: none;
  }

  &.active-tab {
    background-color: #ededf2;
    font-weight: 700;
  }

  .svg-container {
    display: flex;
    justify-content: center;
    margin-right: 12px;

    @include md-to-lg {
      margin-right: 0;
    }
  }

  span.name {
    @include md-to-lg {
      display: none;
    }
  }
}
