@import "~styles/mixins";

a.SideItem {
  @include tc-body-md;

  line-height: 25px;
  color: #262628;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  padding-left: 21px;
  display: flex;
  align-items: center;
  border-radius: 4px;

  img {
    margin-right: 14px;
    width: 34px;
    max-height: 30px;
  }

  &:focus {
    outline: none;
  }

  &.active-tab {
    background-color: #ededf2;
    font-weight: 700;
  }

  .svg-container {
    display: flex;
    justify-content: center;
    margin-right: 12px;
  }
}

.tab {
  .menu-item {
    @include roboto-regular;

    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
}
