@import "~tc-ui/src/styles/tc-styles";
@import "~styles/mixins";

@mixin phone {
  @media (max-width: #{$screen-sm - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$screen-sm}) and (max-width: #{$screen-lg - 1px}) {
    @content;
  }
}

.isErrorInput {
  :global .rdrDateRangePickerWrapper {
    margin-top: -20px !important;
  }
}

.isRange {
  :global {
    .rdrDay {
      .rdrInRange {
        background: $tc-dark-blue-30 !important;
      }

      .rdrStartEdge,
      .rdrEndEdge {
        background: $tc-dark-blue-30 !important;
      }
    }
  }
}

.isInvalidPreview {
  :global {
    .rdrDayInPreview,
    .rdrDayStartPreview,
    .rdrDayEndPreview,
    .rdrStartEdge.rdrEndEdge {
      border: none !important;
    }
  }
}

.dateRangePicker {
  @include roboto-regular;

  display: block;
  position: relative;
  color: $tc-black;

  :global {
    @include phone {
      .rdrDateRangePickerWrapper {
        position: relative;
        width: 100vw !important;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        padding: 0 20px;

        .rdrDateRangeWrapper {
          width: 100%;

          .rdrMonthAndYearWrapper {
            padding-top: 0;

            .rdrMonthAndYearPickers select {
              font-size: 16px;
            }
          }

          .rdrMonth {
            width: 100%;
          }

          .rdrDayNumber {
            font-size: 15px;
          }

          .rdrMonths {
            .rdrWeekDay {
              font-size: 15px;
              margin-bottom: 10px;
            }

            .rdrDay {
              .rdrDayStartPreview {
                left: 17%;
              }

              .rdrDayEndPreview {
                right: 17%;
              }
            }
          }
        }
      }
    }

    .rdrDateRangePickerWrapper {
      z-index: 15;
      position: relative;
      background: $tc-white;
      overflow: hidden;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      .rdrDefinedRangesWrapper {
        display: none;
      }
    }

    .rdrMonthAndYearPickers select {
      background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)'><g id='input' transform='translate(172.000000, 37.000000)' fill='%230B71E6' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>") no-repeat right 8px center;
    }

    .rdrNextPrevButton {
      position: relative;
      width: 22px;
      height: 23px;
      background: none;
      border: 1px solid #0681ff;
      border-radius: 50%;

      i {
        position: absolute;
        top: 7px;
        left: 7px;
        display: block;
        width: 8px;
        height: 8px;
        margin: 0;
        border: 0;
        border-top: 2px solid #0681ff;
        border-left: 2px solid #0681ff;
        transform: none;
      }

      &.rdrPprevButton {
        transform: rotate(-45deg);
      }

      &.rdrNextButton {
        transform: rotate(135deg);
      }
    }

    .rdrMonths {
      border-top: 1px solid $tc-gray-20;
      border-bottom: 1px solid $tc-gray-20;

      .rdrWeekDay {
        font-weight: bold;
        color: #484848;
      }

      .rdrDayDisabled {
        background: transparent;

        .rdrDayInPreview,
        .rdrDayStartPreview,
        .rdrDayEndPreview,
        .rdrStartEdge.rdrEndEdge {
          filter: none !important;
          -webkit-filter: none !important;
        }
      }

      .rdrDayPassive {
        .rdrInRange,
        .rdrStartEdge,
        .rdrEndEdge,
        .rdrSelected,
        .rdrDayStartPreview,
        .rdrDayInPreview,
        .rdrDayEndPreview {
          display: block;
        }

        .rdrInRange ~ .rdrDayNumber span {
          opacity: 0.5;
        }
      }

      .rdrDayEndOfMonth .rdrInRange,
      .rdrDayEndOfMonth .rdrStartEdge,
      .rdrDayEndOfWeek .rdrInRange,
      .rdrDayEndOfWeek .rdrStartEdge {
        right: 0;
      }

      .rdrDayStartOfMonth .rdrInRange,
      .rdrDayStartOfMonth .rdrEndEdge,
      .rdrDayStartOfWeek .rdrInRange,
      .rdrDayStartOfWeek .rdrEndEdge {
        left: 0;
      }

      .rdrDayStartOfWeek {
        .rdrDayInPreview {
          left: 0;
          border-radius: 0 !important;
          border-left: none;
        }
      }

      .rdrDayEndOfWeek {
        .rdrDayInPreview {
          right: 0;
          border-radius: 0 !important;
          border-right: none;
        }
      }

      .rdrDayStartOfMonth,
      .rdrDayEndOfMonth {
        .rdrDayInPreview {
          border-radius: 0;
          border-left: 0;
          border-right: 0;
        }
      }

      .rdrDay {
        margin-bottom: 6px;

        .rdrInRange {
          color: transparent;
          background: transparent;

          & ~ .rdrDayNumber span {
            color: $tc-black;
          }
        }

        .rdrDayStartPreview {
          border-radius: 18px 0 0 18px;
          height: 36px;
          left: 4px;
          border-right: none;
        }

        .rdrDayEndPreview {
          border-radius: 0 18px 18px 0;
          height: 36px;
          right: 4px;
          border-left: none;
        }

        .rdrDayStartPreview.rdrDayEndPreview,
        .rdrDayHovered {
          border-radius: 50%;
          width: 36px;
          height: 36px;
          left: 4px;
          border: 1px solid $tc-dark-blue-70;
        }

        .rdrSelected,
        .rdrInRange,
        .rdrStartEdge,
        .rdrEndEdge {
          top: 0;
          bottom: 0;
          border-radius: 0;
        }

        .rdrDayInPreview,
        .rdrDayStartPreview,
        .rdrDayEndPreview {
          border-color: $tc-dark-blue-70;
          top: 0;
          bottom: 0;
        }

        .rdrDayStartPreview,
        .rdrDayEndPreview {
          & ~ .rdrDayNumber span {
            color: $tc-white;
          }
        }

        .rdrStartEdge {
          background: transparent;
          left: 50%;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -18px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            background: currentColor;
            z-index: 0;
          }
        }

        .rdrEndEdge {
          background: transparent;
          right: 50%;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -18.2px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            background: currentColor;
            z-index: 0;
          }
        }
      }

      .rdrDayStartOfWeek,
      .rdrDayEndOfWeek {
        border-radius: 0;
      }
    }
  }
}

.dateInputWrapper {
  display: flex;
  position: relative;
  z-index: 1;
  text-align: left;

  > div:first-child {
    width: calc(50% - 4px);
    margin-right: 4px;
  }

  > div:last-child {
    width: calc(50% - 4px);
    margin-left: 4px;
  }
}

.calendar-container {
  position: absolute;
  top: calc(100% + 8px);
}

.calendar-inner-container {
  position: absolute;
  padding: 0 18px;
  text-align: right;
  border: 1px solid $tc-gray-30;
  border-radius: 4px;
  background: $tc-white;
  z-index: 10;

  @include phone {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    padding: 65px 0 0;
    border: 0;
    border-radius: 0;
  }

  .reset-button {
    @include roboto-bold;

    width: 71px;
    height: 24px;
    line-height: 22px;
    margin: 9px 4px 16px;
    padding: 0;
    font-size: 10.5px;
    text-align: center;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 2px;

    @include phone {
      width: 79px;
      height: 26px;
      line-height: 27px;
      font-size: 12px;
      margin: 20px 12px 0;
    }
  }
}

.endDate {
  .calendar-container,
  .calendar-inner-container {
    right: 0;
  }

  @include tablet {
    .calendar-container,
    .calendar-inner-container {
      right: auto;
      left: 62px;
    }
  }
}
