@import "~tc-ui/src/styles/tc-styles";
@import "~styles/mixins";

@mixin phone {
  @media (max-width: #{$screen-sm - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$screen-sm}) and (max-width: #{$screen-lg - 1px}) {
    @content;
  }
}

.isErrorInput {
  :global .rdrDateRangePickerWrapper {
    margin-top: -20px !important;
  }
}

.isRange {
  :global {
    .rdrDayHovered {
      color: #fff !important;
    }

    .rdrDay {
      .rdrInRange {
        background: #e7f2ef !important;
      }

      .rdrStartEdge,
      .rdrEndEdge {
        background: #e7f2ef !important;
      }
    }
  }
}

.isInvalidPreview {
  :global {
    .rdrDayInPreview,
    .rdrDayStartPreview,
    .rdrDayEndPreview,
    .rdrStartEdge.rdrEndEdge {
      border: none !important;
    }
  }
}

.dateRangePicker {
  @include roboto-regular;

  display: block;
  position: relative;
  color: $tc-black;

  :global {
    .rdrMonth {
      padding: 0 !important;
    }

    @include phone {
      .rdrDateRangePickerWrapper {
        position: relative;
        width: 100vw !important;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        padding: 0 20px;

        .rdrDateRangeWrapper {
          width: 100%;

          .rdrMonthAndYearWrapper {
            padding-top: 0;

            .rdrMonthAndYearPickers select {
              font-size: 16px;
            }
          }

          .rdrMonth {
            width: 100%;
          }

          .rdrDayNumber {
            font-size: 15px;
          }

          .rdrMonths {
            .rdrMonth {
              padding: 0 !important;
            }

            .rdrWeekDay {
              font-size: 15px;
              margin-bottom: 10px;
            }

            .rdrDay {
              .rdrDayStartPreview {
                left: 17%;
              }

              .rdrDayEndPreview {
                right: 17%;
              }
            }
          }
        }
      }
    }

    #input-end-date-range-calendar-icon,
    #input-start-date-range-calendar-icon {
      outline: none !important;
    }

    .rdrYearPicker,
    .rdrMonthPicker {
      position: relative;

      &::after {
        content: "\f08e";
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 6px;
        top: 46%;
        height: 34px;
        font-family: "FontAwesome", serif;
        font-size: 12px;
        color: $listing-checkbox-green;
        transform: translateY(-50%);
        pointer-events: none;
      }

      select {
        option {
          font-weight: 700;
          background: #fff;
          border-radius: 4px;
          border: 1px solid #aaa;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
          width: 131px;
          padding: 8px 0;
        }
      }
    }

    .rdrDateRangePickerWrapper {
      z-index: 15;
      position: relative;
      background: $tc-white;
      overflow: hidden;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      .rdrDefinedRangesWrapper {
        display: none;
      }
    }

    .rdrNextPrevButton {
      position: relative;
      width: 22px;
      height: 23px;
      background: none;
      border: 2px solid $listing-checkbox-green;
      border-radius: 50%;

      i {
        position: absolute;
        top: 5px;
        left: 5px;
        display: block;
        width: 8px;
        height: 8px;
        margin: 0;
        border: 0;
        border-top: 2px solid $listing-checkbox-green;
        border-left: 2px solid $listing-checkbox-green;
        transform: none;

        &::after {
          content: "";
          position: absolute;
          top: 2px;
          left: -3px;
          width: 11px;
          height: 2px;
          background: #137d60;
          transform: rotateZ(45deg);
          border-radius: 999rem;
        }
      }

      &.rdrPprevButton {
        transform: rotate(-45deg);
      }

      &.rdrNextButton {
        transform: rotate(135deg);
      }
    }

    .rdrMonths {
      border-top: 1px solid $tc-gray-20;
      border-bottom: 1px solid $tc-gray-20;

      .rdrWeekDay {
        font-weight: bold;
        color: #484848;
      }

      .rdrDayDisabled {
        background: transparent;

        .rdrDayInPreview,
        .rdrDayStartPreview,
        .rdrDayEndPreview,
        .rdrStartEdge.rdrEndEdge {
          filter: none !important;
          -webkit-filter: none !important;
        }
      }

      .rdrDayPassive {
        .rdrInRange,
        .rdrStartEdge,
        .rdrEndEdge,
        .rdrSelected,
        .rdrDayStartPreview,
        .rdrDayInPreview,
        .rdrDayEndPreview {
          display: block;
        }
      }

      .rdrDayEndOfMonth .rdrInRange,
      .rdrDayEndOfMonth .rdrStartEdge,
      .rdrDayEndOfWeek .rdrInRange,
      .rdrDayEndOfWeek .rdrStartEdge {
        right: 0;
      }

      .rdrDayStartOfMonth .rdrInRange,
      .rdrDayStartOfMonth .rdrEndEdge,
      .rdrDayStartOfWeek .rdrInRange,
      .rdrDayStartOfWeek .rdrEndEdge {
        left: 0;
      }

      .rdrDayStartOfWeek {
        .rdrDayInPreview {
          left: 0;
          border-radius: 0 !important;
          border-left: none;
        }
      }

      .rdrDayEndOfWeek {
        .rdrDayInPreview {
          right: 0;
          border-radius: 0 !important;
          border-right: none;
        }
      }

      .rdrDayStartOfMonth,
      .rdrDayEndOfMonth {
        .rdrDayInPreview {
          border-radius: 0;
          border-left: 0;
          border-right: 0;
        }
      }

      .rdrDay {
        margin-bottom: 6px;

        .rdrInRange {
          background: transparent;

          & ~ .rdrDayNumber span {
            color: $tc-black;
          }
        }

        .rdrDayStartPreview {
          border-radius: 18px 0 0 18px;
          height: 36px;
          left: 4px;
          border-right: none;
        }

        .rdrDayEndPreview {
          border-radius: 0 18px 18px 0;
          height: 36px;
          right: 4px;
          border-left: none;
        }

        .rdrDayStartPreview,
        .rdrDayEndPreview,
        .rdrDayHovered {
          border-radius: 50%;
          width: 36px;
          height: 36px;
          left: 4px;
          border-color: transparent;
          background-color: #09b286 !important;
        }

        .rdrSelected,
        .rdrInRange,
        .rdrStartEdge,
        .rdrEndEdge {
          top: 0;
          bottom: 0;
          border-radius: 0;
        }

        .rdrDayInPreview,
        .rdrDayStartPreview,
        .rdrDayEndPreview {
          border: none;
          top: 0;
          bottom: 0;
          left: 5px;
        }

        .rdrDayStartPreview,
        .rdrDayEndPreview {
          & ~ .rdrDayNumber span {
            color: $tc-white !important;
            z-index: 100;
          }
        }

        .rdrStartEdge {
          background: transparent;
          left: 50%;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -18px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            background: currentColor;
            z-index: 0;
          }
        }

        .rdrEndEdge {
          background: transparent;
          right: 50%;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -18.2px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            background: currentColor;
            z-index: 0;
          }
        }
      }

      .rdrDayStartOfWeek,
      .rdrDayEndOfWeek {
        border-radius: 0;
      }
    }
  }
}

.dateInputWrapper {
  display: flex;
  position: relative;
  z-index: 1;
  text-align: left;

  > div:first-child {
    width: calc(50% - 4px);
    margin-right: 4px;
  }

  > div:last-child {
    width: calc(50% - 4px);
    margin-left: 4px;
  }
}

.calendar-container {
  position: absolute;
  top: calc(100% + 8px);
}

.calendar-inner-container {
  position: absolute;
  padding: 0 18px;
  text-align: right;
  border: 1px solid $tc-gray-30;
  border-radius: 4px;
  background: $tc-white;
  z-index: 10;

  @include phone {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    padding: 65px 0 0;
    border: 0;
    border-radius: 0;
  }

  .reset-button {
    @include roboto-bold;

    width: 71px;
    margin: 16px 16px 16px 0;
    padding: 0 16px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #137d60;
    text-align: center;
    background: transparent;
    border: 1.5px solid #137d60;
    border-radius: 24px;
    display: flex;
    align-self: flex-start;
    text-transform: uppercase;
    height: 26px;

    @include phone {
      width: 79px;
      height: 26px;
      line-height: 27px;
      font-size: 12px;
      margin: 20px 12px 0;
    }
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    line-height: 16px;
    padding: 15px;
    font-size: 36px;
    color: $tc-black;
    appearance: none;
    background: none;
    border: 0;

    @include phone {
      display: block;
    }
  }
}

.endDate {
  @include tablet {
    .calendar-container,
    .calendar-inner-container {
      right: auto;
      left: 62px;
    }
  }
}
