@import '~styles/mixins';
@import '../themes/mixins';

.coursesContainer {
  padding-bottom: 60px;
}

.coursesContent {
  flex-wrap: wrap;
}

.resourcesTitle {
  padding-bottom: 50px;
  padding-top: 0;

  @include xxs-to-xs {
    font-size: 36px;
    padding-bottom: 30px;
  }
}

.resourcesContainer {
  padding-bottom: 60px;

  @include xxs-to-xs {
    padding-bottom: 50px;
  }
}

.bannerContainer {
  height: 470px;

  @include xxs-to-xs {
    height: 300px;
  }
}

.bannerContent {
  bottom: 0;
  top: 0;
  transform: none;
  width: 600px;

  @include xxs-to-xs {
    top: auto;
    width: 100%;
  }
}

.bannerContentInner {
  @include xxs-to-xs {
    padding-bottom: 20px;
    padding-top: 48px;
  }
}

.learnBasicsContainer {
  padding-bottom: 0;
}

.joinnowWrap {
  margin-top: 10px;

  @include xxs-to-xs {
    margin-top: 20px;
    text-align: center;
  }
}

.joinnow {
  color: #0092ff;
  background: white;
  display: inline-block;
  border: 1px solid #0092ff;
  border-radius: 20px;
  font: 700 14px/40px 'OpenSans';
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 171px;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #0092ff;
    outline: none;
    text-decoration: none;
  }
}

.linksList {
  @include body-text;

  list-style: disc;
  margin-left: 6px;

  a {
    @include link;

    display: block;
  }
}

.historyOfBlockchainVideo {
  position: absolute;
  width: 100%;
  height: 100%;

  @include xxs-to-sm {
    padding: 0 18px;
  }
}

.historyOfBlockchainVideoWrapper {
  margin-bottom: 24px;
  padding-bottom: 33%;
  position: relative;
  width: 49%;

  @include xxs-to-sm {
    padding-bottom: 66%;
    width: 100%;
  }
}
