@import "../../../style";

.image {
  @include upto-sm {
    display: none;
  }

  .edit-image {
    display: flex;
    align-items: left;

    p.handle {
      display: none;

      @include upto-sm {
        @include roboto-regular;

        display: block;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
        color: $tc-black;
        margin-bottom: 10px;
      }
    }

    .profile-circle {
      border-radius: 50%;
      border: 1px solid #d1d3d4;
      width: 120px;
      height: 120px;
      padding: 2px;

      @include upto-sm {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        margin-top: 0;
      }
    }

    .uploading {
      width: 155px;
    }

    .buttons {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 50px;

      .file-upload {
        align-self: center;
        color: $tc-white;
        margin: 0;

        div:first-child {
          margin: 0;
        }

        button,
        a {
          @include roboto-medium;

          height: 40px;
          font-size: 15px;
          font-weight: 500;
          margin: 0;
          padding: 0;
          width: 155px;
        }
      }

      .file-delete {
        width: 140px;

        button,
        a {
          @include roboto-medium;

          height: 40px;
          font-size: 15px;
          font-weight: bold;
          line-height: 40px;
          margin: 0;
          padding: 0;
          width: 140px;
        }

        margin: 0;
        margin-top: 15px;
      }
    }
  }
}
