@import '~styles/mixins';

.auth {
  position: absolute;
  right: 0;
  top: 16px;

  @media only screen and (max-width: 360px) {
    position: static;
    padding-top: 30px;
    text-align: center;
    display: block;
    width: 100%;
  }
}

.avatar {
  position: absolute;
  right: 12px;
  top: 10px;
}

.header {
  border-bottom: 1px solid $tc-gray-20;
  cursor: pointer;
  min-height: 54px;
  padding: 16px 12px;
}

.logo {
  position: absolute;
}

.menu {
  color: $tc-black;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  margin: auto;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0;
    border-color: $tc-black transparent transparent transparent;
    position: absolute;
    top: 36px;
    left: 50%;
    margin-left: -6px;
    background-color: transparent;
  }
}

.right-menu {
  height: 100%;
  position: absolute;
  right: 0;
  top: 16px;
}

.header-wrapper {
  display: none;

  @include xs-to-md {
    display: block;
  }
}
