/*
  Minor fix on the DateInput__input
  Without this the input is not clickable as it's rendered below the text
*/

.DateInput__input {
  z-index: 2;
}

.DayPickerKeyboardShortcuts__show--bottom-right {
  border-top-width: 36px;
}

.DayPickerKeyboardShortcuts__show--bottom-right .DayPickerKeyboardShortcuts__show_span {
  bottom: 1px;
  right: -28px;
  font-size: 15px;
}

.DateRangePickerInput {
  border: none;
}

.DayPicker_weekHeader_li {
  font-size: 15px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.CalendarDay {
  vertical-align: middle;
  outline: none;
  font-size: 15px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
}
