/*
  Minor fix on the DateInput__input
  Without this the input is not clickable as it's rendered below the text
*/

.DateInput__input {
  z-index: 2;
}

.DayPickerKeyboardShortcuts__show--bottom-right {
  border-top-width: 36px;
}

.DayPickerKeyboardShortcuts__show--bottom-right .DayPickerKeyboardShortcuts__show_span {
  bottom: 1px;
  right: -28px;
  font-size: 15px;
}
