.SingleDatePicker {
  width: 100%;
}

.SingleDatePickerInput {
  border: none;
}

.DateInput {
  padding: 0px;
  width: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.DateInput__display-text {
  background: white; 
  color: black;
}
