@import "~styles/mixins";

.container {
  margin-top: 44px;

  .tabListWrap {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
    margin-bottom: 20px;

    .tablist {
      display: flex;

      @include xs-to-sm {
        flex-direction: column;
        margin-left: 20px;
      }

      .tab {
        margin-right: 20px;
        border-radius: 20px;
        color: #7f7f7f;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        padding: 0 15px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .tabCount {
          background-color: #7f7f7f;
          color: #fff;
          font-family: Roboto, sans-serif;
          font-size: 10px;
          font-weight: 700;
          line-height: 12px;
          text-align: center;
          border-radius: 9px;
          margin-left: 9px;
          padding: 0 7px;
        }

        &.selected {
          background-color: #e9e9e9;
          color: #2a2a2a;
          font-weight: 700;

          .tabCount {
            background-color: #2a2a2a;
          }
        }
      }
    }
  }

  .tabpannel {
    display: flex;
    flex-direction: column;
  }

  .videosTabPannel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 0;

    @include xs-to-md {
      display: flex;
      flex-direction: column;

      > div {
        margin-bottom: 18px;
      }
    }
  }

  .loadMoreBtn {
    background-color: #fff;
    border: 1px solid #0ab88a;
    border-radius: 20px;
    color: #229174;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 40px;
    text-align: left;
    padding: 0 20px;
    text-transform: uppercase;
    margin: 40px auto;
  }
}
