@import "~styles/mixins";

.container {
  align-items: flex-start;
  background-size: cover;
  border-bottom: 1px solid $tc-gray-neutral-dark;
  display: flex;
  min-height: 480px;
  max-width: $screen-lg;
  padding: 30px;
  position: relative;
  width: 100%;

  @include xs-to-sm {
    flex-direction: column;
  }
}

.details {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.hide {
  @include roboto-regular;

  background: $tc-gray-80;
  color: $tc-white;
  cursor: pointer;
  font-size: 38px;
  font-weight: bold;
  height: 64px;
  line-height: 64px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 64px;
}

.loading {
  padding: 30px;
}

.previewLabel {
  color: $tc-purple;
  font-size: 300px;
  font-weight: bold;
  left: 0;
  line-height: 100%;
  opacity: 0.5;
  position: absolute;
  right: 0;
  text-align: center;
  vertical-align: bottom;
  z-index: 1000;
}

.readMore {
  margin: 20px 0 0 !important;
}

.text {
  @include tc-body-lg;
}

.title {
  @include tc-title;

  margin-bottom: 10px;
}

.type {
  @include tc-label-md;

  background: $tc-red;
  border-radius: 4px;
  color: $tc-white;
  padding: 5px 10px;
  margin-bottom: 30px;
}

.video {
  flex: 1;
  margin: 35px 30px 35px 0;

  @include xs-to-sm {
    align-self: stretch;
    margin-bottom: 0;
  }
}

.hidden {
  align-items: center;
  background: $tc-gray-80;
  display: flex;
  height: 64px;
  padding: 0 94px 0 30px;
  position: relative;
  width: 100%;

  .text {
    @include tc-heading-md;

    color: $tc-white;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .title {
    @include tc-heading-md;

    color: $tc-white;
    font-weight: 400;
    margin: 0 15px 0 0;
    white-space: nowrap;
  }

  .type {
    margin: 0 30px 0 0;
  }
}

.preview {
  @include tc-body-md;

  background: $tc-purple-10;
  border: 1px solid $tc-purple-110;
  color: $tc-purple-110;
  padding: 30px;
}

.previewContent {
  background: $tc-white;
  margin-top: 20px;
}
