@import "~styles/tc-styles";

.sidebar-footer {
  padding: 10px 0 24px;

  @include xs-to-sm {
    display: none;
  }

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    color: $tc-gray-70;
    line-height: 30px;
  }

  li a {
    font-weight: 400;
    font-size: 13px;
    color: $tc-gray-70;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    display: inline-block;
    position: absolute;
    right: 0;
    font-weight: 500;
    font-size: 13px;
    color: $tc-gray-30;
    line-height: 30px;
  }
}
