@import "~styles/mixins";
@import "../../_default";

.container {
  background-color: #f4f4f4;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  @include xs-to-sm {
    background: #f4f4f4;
  }
}

.contentWrapper {
  height: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.main {
  flex-grow: 1;
  padding: 0 20px;
}

.playIconContainer {
  display: none;
}

.playIconWrapper {
  display: none;
}

.playIcon {
  display: none;
}

.tags {
  display: none;
}

.tag {
  display: none;
}

.readTime {
  margin: 13px 0 1px;
  color: #555;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;

  @include xs-to-sm {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.4px;
  }
}

.title {
  color: #2a2a2a;
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  @include xs-to-sm {
    font-size: 21px;
    line-height: 23px;
  }
}

.contentPreview {
  display: none;
}

.infoContainer {
  margin: 11px 0 15px;
}

.articleInfo {
  display: block;
}

.authors {
  display: none;
}

.author {
  display: none;

  p {
    display: none;
  }
}

.avatarWrapper {
  display: none;

  img {
    display: none;
  }
}

.iconWrapper {
  display: none;
}

.personIcon {
  display: none;
}

.creationDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -5px;

  p {
    color: #2a2a2a;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;

    @include xs-to-sm {
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.4px;
    }
  }
}

.calendarIcon {
  height: 15px;
  fill: #555;
}

.readTimeInfo {
  display: none;
}

.articleStats {
  display: none;
}

.stat {
  display: none;

  p {
    display: none;
  }
}

.statIcon {
  display: none;
}

.image {
  width: 155px;
  min-width: 155px;
  min-height: 138px;

  &::before {
    content: '';
    width: 20px;
    height: calc(100% + 4px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='62px' height='243px' viewBox='0 0 62 243' version='1.1'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3EPath%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='0' fill='%23F4F4F4' fill-rule='evenodd'%3E%3Cg id='D02_1_Sub-Categories' transform='translate(-942.000000, -765.000000)' stroke='%23D4D4D4'%3E%3Cg id='Group-12' transform='translate(487.000000, 765.000000)'%3E%3Cg id='Group-6'%3E%3Cg id='Rectangle'%3E%3Cpath d='M509.30846,0.5 L455.5,0.5 L455.5,242.5 L508.617085,242.5 C507.565627,231.458342 505.342443,222.812797 499.81365,205.498144 C498.841092,202.452361 498.803426,202.334252 498.441929,201.192793 C490.772688,176.976448 488.598592,162.883515 491.893617,144.520969 C494.226825,131.518446 497.32869,120.750152 502.214017,107.197394 C502.600941,106.124 507.246472,93.5421986 508.498983,89.9414647 C513.151743,76.565653 515.483741,66.1807 516.061901,53.7719377 C516.75289,38.9415855 514.689419,21.8799506 509.308459,0.500000054 Z' id='Path'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right -2px;
    position: absolute;
    margin-left: -1px;
  }
}
