@import "../../../style";
@import "~styles/mixins";

.overlay {
  background: #0c0c0c;
  border: none;
  height: 100%;
  left: 0;
  opacity: 0.85;
  outline: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 950;
}

.container {
  background: #fff;
  position: fixed;
  width: 90%;
  max-width: 1000px;
  min-width: 650px;
  min-height: 752px;
  max-height: 99%;
  top: 50%;
  left: 50%;
  padding: 32px;
  box-shadow: 0 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: auto;
  transform: translate(-50%, -50%);
  z-index: 951;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 40px;
      background: #fff;
      border-radius: 4px;
      margin-right: $margin-md;

      img {
        display: block;
      }
    }

    .title {
      @include barlow-semi-bold;

      flex: 1;
      font-size: 22px;
      line-height: 26px;
      color: $tco-black;
      text-transform: uppercase;
    }

    .close-button {
      cursor: pointer;
      height: 15px;
      width: 15px;
    }
  }

  .body {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .divider {
    width: 100%;
    min-height: 2px;
    background-color: #e9e9e9;
    border-radius: 1px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .left-button {
      @include roboto-bold;

      text-align: center;
      margin: 0;
      height: 48px;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.008em;
      text-transform: uppercase;
      color: $color-turq-160;
      padding: 12px 24px;
      background: $tc-white;
      border: 2px solid $color-turq-160;
      border-radius: 50px;
      cursor: pointer;

      &.disabled {
        background: #f4f4f4;
        color: #767676;
        border: none;
        line-height: 24px;
        pointer-events: none;
      }
    }

    .right-button {
      @include roboto-bold;

      text-align: center;
      margin: 0;
      height: 48px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.008em;
      text-transform: uppercase;
      color: $tc-white;
      padding: 12px 24px;
      background: $color-turq-160;
      border-radius: 50px;
      cursor: pointer;

      &.disabled {
        background: #f4f4f4;
        color: #767676;
        pointer-events: none;
      }
    }
  }
}
