@import "~styles/mixins";

.container {
  border-bottom: 1px solid $tc-gray-neutral-dark;
  padding: 30px 0;
  position: relative;
  text-align: center;
}

.link,
.link:active,
.link:visited {
  color: $tc-dark-blue-110;
}

.link:hover {
  color: $tc-dark-blue-70;
}

.loading {
  margin: 30px 0;
}

.title {
  @include tc-heading-md;

  padding: 0 30px;
  text-transform: uppercase;
}

.totalNumber {
  @include tc-heading-xl;

  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0 0;
  padding: 20px 30px;

  &,
  &:active,
  &:visited {
    color: $tc-yellow-110;
  }

  &:hover {
    background: $tc-gray-neutral-light;
  }
}

.showEarningsSwitch {
  @include tc-label-sm;

  position: absolute;
  right: 25px;
  top: 10px;
}
