@import '~styles/tc-includes';

:global {
  .SideBarFilters.placeholder {
    .filter-item {
      height: $base-unit * 2;
      margin: $base-unit * 4;
    }
  }
}

.SideBarFilters {
  font: 400 13px/30px Roboto;
  width: 100%;

  .FilterBox {
    background: $tc-white;
    padding: 2 * $base-unit;
    padding-bottom: 2 * $base-unit;
    border-radius: $corner-radius * 2;

    hr {
      color: $tc-gray-10;
      background: $tc-gray-10;
      border: 0;
      height: 1px;
      margin: 2 * $base-unit;
    }

    .my-filters {
      display: block;
      position: relative;
      padding: 0 3 * $base-unit;
      margin-top: 7 * $base-unit;

      @include xs {
        padding: 0;
      }

      h1 {
        display: inline-block;
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 12px;
        color: $tc-gray-50;
        letter-spacing: 0;
        line-height: 30px;
        border: none;
        text-transform: uppercase;

        @include xs {
          font-size: 15px;
        }
      }

      .edit-link {
        float: right;
        font-weight: 400;
        font-size: 11px;
        color: $tc-dark-blue;
        line-height: $base-unit * 4;
        cursor: pointer;

        @include xs {
          font-size: 13px;
        }
      }
    }

    .get-rss {
      text-align: center;

      a {
        color: $tc-gray-50;
        font-size: 13px;
        line-height: 30px;
      }
    }
  }
  // sidebar footer
  .sidebar-footer {
    padding: 10px;

    @include xs-to-sm {
      display: none;
    }

    ul {
      display: inline-block;
    }

    li {
      display: inline-block;
      font-weight: 400;
      font-size: 13px;
      color: $tc-gray-70;
      line-height: 30px;
    }

    li a {
      font-weight: 400;
      font-size: 13px;
      color: $tc-gray-70;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }

    .copyright {
      display: inline-block;
      position: absolute;
      right: 0;
      font-weight: 500;
      font-size: 13px;
      color: $tc-gray-30;
      line-height: 30px;
    }
  }
}

.FilterItem {
  color: $tc-black;
  border-radius: 2 * $corner-radius;
  cursor: pointer;
  padding: 0 2 * $base-unit 0 3 * $base-unit;

  @include xs {
    font-size: 15px;
    padding: 2px 0;
  }

  .right {
    color: $tc-gray-50;
    float: right;
    position: static;
    font-weight: 700;
  }
}

.FilterItem.highlighted {
  background: $tc-gray-10;
  cursor: default;

  @include xs {
    background: $tc-white;
  }

  .left {
    font-weight: 600;
  }
}

