@import "~styles/mixins";

.container {
  display: inline-block;
  font-weight: 400;
}

.link:hover {
  color: $tc-black;
}

.number {
  @include tc-label-sm;

  color: inherit;
  vertical-align: top;
  padding-left: $base-unit - 3;
}

.tooltip {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $tc-white;
  letter-spacing: 0;
  padding: 10px;
  border-radius: 8px;
  background-color: #2a2a2a;
}
