@import "~styles/mixins";
$tc-link-visited: #0c4e98;

.container {
  border-radius: 0 0 (3 * $corner-radius) (3 * $corner-radius);
}

@mixin noteStyle {
  @include roboto-regular;

  background: $tc-yellow-30;
  border: 1px solid $tc-yellow-70;
  border-radius: 6px;
  font-style: italic;
  font-size: 13px;
  color: $tc-black;
  line-height: 20px;
  padding: 15px 20px;
  margin: 25px 0;

  a,
  p,
  ul {
    font-size: 13px;
  }
}

@mixin linkStyle {
  a {
    color: $tc-dark-blue-110;
    word-wrap: break-word;
  }

  a:visited {
    color: $tc-link-visited;
  }

  a:hover {
    color: $tc-dark-blue-110;
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
    color: $tc-dark-blue-70;
  }
}

:global {
  .editor-note-global {
    @include noteStyle;
  }
}

.hiddenSaveButton,
.hiddenSaveButton:active,
.hiddenSaveButton:focus,
.hiddenSaveButton:hover {
  background: white !important;
  border: none !important;
  color: white !important;
  max-height: 10px !important;
  min-height: 10px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  outline: none !important;
  max-width: 10px !important;
}

.rawHtml {
  @include tc-typography;

  h1 {
    @include roboto-medium;

    font-size: 28px;
    color: $tc-black;
    letter-spacing: -0.78px;
    line-height: 40px;
    margin: 50px 0 10px;
  }

  h2 {
    @include roboto-bold;

    font-size: 20px;
    color: $tc-black;
    line-height: 30px;
    margin: (6 * $base-unit) 0 (2 * $base-unit);
  }

  h3 {
    @include roboto-bold;

    font-size: 15px;
    color: $tc-black;
    line-height: 25px;
    margin: (5 * $base-unit) 0 0;
  }

  h4 {
    @include roboto-bold;

    font-size: 15px;
    color: $tc-gray-90;
    line-height: 25px;
  }

  strong {
    font-weight: bold !important;
  }

  p,
  em,
  strong,
  a {
    @include roboto-regular;

    font-size: 15px;
    color: $tc-gray-90;
    line-height: 25px;

    @include linkStyle;
  }

  p {
    margin: (2 * $base-unit) 0 (3 * $base-unit);
  }

  code {
    background: $tc-gray-neutral-light;
    border: 1px solid $tc-gray-20;
    border-radius: 6px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 13px;
    color: $tc-black;
    line-height: 20px;
    margin: (2 * $base-unit) 0 (3 * $base-unit);
    padding: 3 * $base-unit;
    display: block;
  }

  pre {
    overflow-x: scroll;
  }

  ol {
    @include roboto-regular;

    margin: 0 0 5px;
    counter-reset: item;
    font-size: 15px;
    color: $tc-gray-90;
    line-height: 25px;
    display: table;

    li {
      list-style-type: none;
      font-weight: 400;
      counter-increment: item;
      display: table-row;
      white-space: normal;

      @include linkStyle;
    }

    li::before {
      display: table-cell;
      text-align: right;
      content: counter(item) ".";
      padding: 0 10px 0 0;
      white-space: nowrap;
    }
  }

  ul {
    @include roboto-regular;

    margin: 0 0 5px 20px;
    font-size: 15px;
    color: $tc-gray-90;
    line-height: 25px;
    list-style: revert;

    li {
      font-weight: 400;

      @include linkStyle;
    }
  }

  @include linkStyle;
}

.challenge-details-view {
  white-space: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  word-break: break-word;
  gap: 16px;

  @include linkStyle;

  @include xs-to-sm {
    flex-direction: column;
  }

  .challenge-specifications {
    @include roboto-regular;

    flex: 4;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #d4d4d4;

    @include xs-to-md {
      width: 100%;
    }

    .challenge-specs-develop {
      blockquote {
        border-left: 3px solid $tc-green;
        padding-left: 17px;
      }
    }

    .challenge-specs-datasci {
      blockquote {
        border-left: 3px solid $tc-orange;
        padding-left: 17px;
      }
    }

    .challenge-specs-design {
      blockquote {
        border-left: 3px solid $tc-light-blue;
        padding-left: 17px;
      }
    }

    h1 {
      @include roboto-bold;

      font-size: 32px;
      color: #151516;
      letter-spacing: -0.78px;
      line-height: 40px;
      margin: (10 * $base-unit) 0 (2 * $base-unit);
    }

    h2 {
      @include roboto-bold;

      font-size: 24px;
      color: $tc-black;
      line-height: 28px;
      margin: 16px 0 16px;
    }

    h3 {
      @include roboto-bold;

      font-size: 18px;
      color: $tc-black;
      line-height: 25px;
      margin: (5 * $base-unit) 0 0;
    }

    h4 {
      @include roboto-bold;

      margin: (4 * $base-unit) 0 (2 * $base-unit);
      font-size: 15px;
      line-height: 25px;
      color: $tc-gray-90;
    }

    h5,
    h6 {
      margin: (4 * $base-unit) 0 (2 * $base-unit);
    }

    p,
    em,
    strong {
      @include roboto-regular;

      font-size: 15px;
      color: $tc-gray-90;
      line-height: 25px;
    }

    p {
      @include roboto-regular;

      font-size: 15px;
      color: $tc-gray-90;
      line-height: 25px;

      @include linkStyle;

      margin: (2 * $base-unit) 0 (3 * $base-unit);
    }

    ul {
      @include roboto-regular;

      margin: 0 0 5px 20px;
      font-size: 15px;
      color: $tc-gray-90;
      line-height: 25px;
      list-style: revert;

      li {
        font-weight: 400;

        @include linkStyle;
      }
    }

    em {
      @include roboto-regular;

      font-style: italic;
      font-weight: 400;
      font-size: 15px;
      color: $tc-gray-90;
      line-height: 25px;
    }

    ol {
      @include roboto-regular;

      color: $tc-gray-80;
      font-size: 15px;
      line-height: 25px;
      list-style-type: decimal;
      margin: 0 0 5px;
      counter-reset: item;
      display: table;

      li {
        list-style-type: none;
        font-weight: 400;
        counter-increment: item;
        display: table-row;
        white-space: normal;

        &::before {
          display: table-cell;
          text-align: right;
          content: counter(item) ".";
          padding: 0 10px 0 0;
          white-space: nowrap;
        }
      }
    }

    td,
    th {
      @include roboto-regular;

      color: $tc-gray-80;
      font-size: 15px;
      line-height: 25px;
    }

    img {
      max-width: 100%;
    }

    code {
      white-space: pre;
      margin: 10px 0 15px;
      background: $tc-gray-neutral-light;
      border: 1px solid silver;
      border-radius: 6px;
      font-family: Roboto Mono, monospace;
      font-weight: 400;
      font-size: 13px;
      color: $tc-black;
      line-height: 20px;
      padding: 15px;
      display: block;
    }

    sub {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
      bottom: -0.25em;
    }

    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
      top: -0.5em;
    }

    strong {
      @include roboto-bold;

      font-size: 15px;
      color: $tc-gray-90;
      line-height: 25px;
    }

    pre {
      overflow-x: scroll;
    }
  }
}

.challenge-specs-main {
  @include roboto-regular;

  width: 100%;
  padding: 0 16px;
  align-self: center;
  font-size: 16px;
  color: $tc-gray-90;
  line-height: 24px;
  white-space: normal;

  .note {
    @include noteStyle;
  }

  @include xs-to-sm {
    max-width: 95vw;
  }
}

article {
  >*:first-child {
    margin-top: 0;   
  }
}

a[href*="/talent-routes/details"] {
  width: fit-content;
  padding: 11px 23px 11px 19px;
  border: 1px solid $color-link-blue-dark;
  border-radius: 3px;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

*:not(br)+h1,
*:not(br)+h2,
*:not(br)+h3 {
  margin-top: 40px;
  
}