@import "~styles/mixins";

.SideBarFilters {
  @include roboto-regular;

  font-size: 13px;
  line-height: 30px;
  width: 100%;

  .FilterBox {
    background: $tc-white;
    padding: 2 * $base-unit;
    padding-bottom: 2 * $base-unit;
    border-radius: $corner-radius * 2;

    hr {
      color: $tc-gray-10;
      background: $tc-gray-10;
      border: 0;
      height: 1px;
      margin: 2 * $base-unit;
    }
  }
}
