@import "~styles/mixins";

.SideBarFilters {
  @include roboto-regular;

  font-size: 13px;
  line-height: 30px;
  width: 100%;
  background-color: $listing-filter-bg;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0;

  .StatusBar {
    display: flex;
    padding: 10px 24px 0;
    background: #fafafb;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 4px 4px 0 0;

    .Status {
      font-size: 12px;
      line-height: 30px;
      color: #151516;
      border-bottom: 1px solid transparent;
      cursor: pointer;

      &.active {
        font-weight: bold;
        border-bottom-color: #43d7b0;
      }
    }

    .Status + .Status {
      margin-left: 30px;
    }
  }

  .FilterBox {
    padding: 2 * $base-unit;
    padding-bottom: 2 * $base-unit;
    border-radius: $corner-radius * 2;

    hr {
      color: $tc-gray-10;
      background: $tc-gray-10;
      border: 0;
      height: 2px;
      margin: 12px 12px 0;
    }

    @include xs-to-md {
      padding: 0;
    }
  }
}

hr.hr {
  color: $tc-gray-10;
  background: $tc-gray-10;
  border: 0;
  height: 2px;
  margin: 0 16px;
}

.buttons {
  display: block;

  @include xs-to-md {
    display: none;
  }

  button {
    @include roboto-bold;

    height: 24px;
    min-height: 26px;
    line-height: 24px;
    padding: 0 10px;
    margin: 13px 16px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.6px;
  }

  @include xs-to-md {
    margin-bottom: 80px;
  }
}
