@import '~styles/mixins';

.SideBarFilters {
  @include roboto-regular;

  font-size: 13px;
  line-height: 30px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
  background-color: white;

  @include xs-to-md {
    background-color: transparent;
  }

  .StatusBar {
    display: flex;
    padding: 10px 24px 0;
    background: #fafafb;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 4px 4px 0 0;

    .Status {
      font-size: 12px;
      line-height: 30px;
      color: #151516;
      border-bottom: 1px solid transparent;
      cursor: pointer;

      &.active {
        font-weight: bold;
        border-bottom-color: #43d7b0;
      }
    }

    .Status + .Status {
      margin-left: 30px;
    }
  }

  .FilterBox {
    padding: 24px;
    border-radius: $corner-radius * 2;
    display: flex;
    flex-direction: column;
    gap: 34px;

    @include xs-to-md {
      padding: 0;
      gap: 16px;
    }
  }
}
