@import "~styles/mixins";

.hr {
  background-color: #d4d4d4;
  border-radius: 0;
  height: 2px;
  margin: 48px 0;

  @include xs-to-sm {
    margin: 24px 0;
  }
}

.button {
  @include roboto-bold;

  align-self: center !important;
  position: relative !important;
  white-space: nowrap !important;
  border-color: #137d60 !important;
  color: #137d60 !important;
  margin: 0 !important;
  border-radius: 24px !important;
  border-width: 2px !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  line-height: 24px;
  letter-spacing: 0.2px;
  min-height: 32px !important;
  padding: 3px 17px !important;

  @include xs-to-sm {
    align-self: flex-start !important;
  }
}

.container {
  @include roboto-regular;

  width: 100%;
  display: flex;
  background-color: $tc-white;
  flex-direction: column;
  border-radius: (3 * $corner-radius);
  padding: 0 32px 48px 32px;

  @include xs-to-sm {
    padding: 0 16px 24px 16px;
  }
}

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.header {
  @include barlow-bold;

  font-size: 24px;
  line-height: 28px;
  color: $tc-black;
  text-transform: uppercase;
  width: 55%;
}

.right-url {
  margin-right: 13px;
  font-size: 15px;
  color: $tc-dark-blue-110;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.article {
  display: flex;
  flex:1;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: (5 * $corner-radius);
  background-color: #f4f4f4;
}

.article:nth-child(3n) {
  margin-right: 0;
}

.article-left {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.article-read-time {
  @include roboto-bold;

  margin-top: 16px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #555;
  text-transform: uppercase;
}

.article-title {
  @include barlow-semi-bold;

  margin-top: 1px;
  font-size: 20px;
  line-height: 26px;
  color: #2a2a2a;
}

.article-create-time {
  @include roboto-regular;

  display: flex;
  align-items: center;
  margin-top: 11px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.33px;
  color: #2a2a2a;

  svg {
    margin-right: 5px;
  }
}

.article-right {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 155px;
  min-width: 155px;
  min-height: 138px;

  &::before {
    content: "";
    width: 20px;
    height: calc(100% + 4px);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='243' viewBox='0 0 62 243'%3E%3Ctitle%3EPath%3C/title%3E%3Cpath d='M54.308.5H.5v242h53.117c-1.051-11.042-3.275-19.687-8.803-37.002-.973-3.046-1.01-3.164-1.372-4.305-7.67-24.217-9.843-38.31-6.548-56.672 2.333-13.003 5.435-23.77 10.32-37.324.387-1.073 5.032-13.655 6.285-17.256 4.653-13.375 6.985-23.76 7.563-36.17.69-14.83-1.373-31.891-6.754-53.271z' stroke='%23D4D4D4' stroke-width='0' fill='%23F4F4F4' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right -2px;
    position: absolute;
    margin-left: -1px;
  }
}

@include xs-to-md {
  .articles {
    flex-direction: column;
  }
  .article {
    width: 100%;
  }
}
