@import '~styles/mixins';

.topHeader {
  display: flex;
  align-items: center;
  background-color: $tc-black;

  @include xs-to-sm {
    flex-direction: column;
    padding-top: 15px;
  }

  .headerLogo {
    svg {
      max-height: 28px;
    }
  }

  .profile {
    margin-right: 26px;
    display: flex;

    .userMenuHandle {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      white-space: nowrap;
      font-family: Roboto, sans-serif;
      margin-right: 12px;
    }
  }
}
