@import '~styles/mixins';

.challenge-links.tile-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  a {
    text-decoration: none;

    p {
      color: #a3a3ae;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      align-self: flex-start;
    }
  }

  .stats,
  .registrants,
  .submissions,
  .forum {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .registrants,
  .submissions,
  .form {
    cursor: pointer;
  }

  .registrants {
    margin-right: 15px;
  }

  div[class$="-icon"] {
    margin-right: 3px;
  }

  .registrants-icon {
    @include background-image-size(15px, 16px);

    background-image: url(assets/images/dashboard/ico-users.svg);
  }

  .submissions-icon {
    @include background-image-size(22px, 14px);

    background-image: url(assets/images/dashboard/ico-submissions.svg);
  }

  .forum-icon {
    @include background-image-size(20px, 17px);

    background-image: url(assets/images/dashboard/ico-posts.svg);
  }
}

.challenge-links.list-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 15px;

  @media only screen and (min-width: 1000px) {
    padding: 0 30px;
  }

  a {
    width: 35px;
    height: 48px;
    text-align: center;
    text-decoration: none;
    display: flex;

    &.registrants,
    &.submissions,
    &.forum {
      display: flex;
      flex-direction: column;
    }

    .icon {
      order: 2;
    }

    p {
      order: 1;
      color: #a3a3ae;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }
  }

  .registrants-icon,
  .submissions-icon {
    margin: 5px auto 0;
  }

  .registrants-icon {
    @include background-image-size(14px, 19px);

    background-image: url(assets/images/dashboard/ico-users.svg);
  }

  .submissions-icon {
    @include background-image-size(24px, 17px);

    background-image: url(assets/images/dashboard/ico-submissions.svg);
  }

  .forum-icon {
    margin: 3px auto 2px;

    @include background-image-size(30px, 27px);

    background-image: url(assets/images/dashboard/ico-posts.svg);
  }
}
