/**
 * Event tag, colored with colors of data science track (orange).
 */

@import "../default";

.button {
  color: $tc-orange;
  background-color: $tc-orange-10;

  &:active,
  &:focus,
  &:hover {
    color: $tc-orange;
    background-color: $tc-orange-10;
  }

  &:visited {
    color: $tc-orange;
  }
}
