/**
 * Event tag, colored with colors of develop track (green).
 */

@import "../default";

.button {
  color: $tc-green;
  background-color: $tc-green-10;

  &:active,
  &:focus,
  &:hover {
    color: $tc-green;
    background-color: $tc-green-10;
  }

  &:visited {
    color: $tc-green;
  }
}
