@import '~styles/mixins';
$status-space-10: $base-unit * 2;
$status-space-20: $base-unit * 4;
$status-space-40: $base-unit * 8;
$gray-color: #a3a3ad;
$green-color: #60c700;
$red-color: #f22f24;

.status {
  font-weight: 700;
  display: inline-block;
  padding: $base-unit $status-space-10;
  border-radius: $status-space-40 0 0 $status-space-40;
  text-transform: capitalize;

  &.passed {
    background: $tc-orange;
  }

  &.failed {
    background: $red-color;
  }
}

.screening-status {
  background: $tc-gray-50;
  border-radius: $status-space-40;
  font-weight: 400;
  font-size: 13px;
  line-height: $status-space-20;
  color: $tc-white;
  padding: $base-unit $status-space-10;
  display: inline-block;
  text-transform: initial;
  cursor: pointer;

  &.has-warn {
    padding: 0 $status-space-10 0 0;
  }

  &.pass-with-no-warn {
    background: $green-color;

    .status {
      padding: 0 $base-unit;
    }
  }

  &.fail-with-no-warn {
    background: $red-color;

    .status {
      padding: 0 $base-unit;
    }
  }

  &.pending {
    background: transparent;
    font-size: 15px;
    color: $gray-color;
    font-style: italic;
  }
}

.warning {
  padding-left: $status-space-10;
  display: inline-block;
}
