// FONT STACK
// --------------------------------------------------------------------------------------------
// Use the mixin to include fonts.

@mixin font-family($font-name, $font-weight, $font-style, $font-url, $font-file) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('#{$font-url}#{$font-file}.eot');
    src: url('#{$font-url}#{$font-file}.eot?#iefix') format('embedded-opentype'), url('#{$font-url}#{$font-file}.woff') format('woff'), url('#{$font-url}#{$font-file}.ttf') format('truetype'), url('#{$font-url}#{$font-file}.svg##{$font-name}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

// FONT WEIGHTS
// --------------------------------------------------------------------------------------------
// Use the numerical value instead of the weight name.

//  100   Thin (Hairline)
//  200   Extra Light (Ultra Light)
//  300   Light
//  400   Normal
//  500   Medium
//  600   Semi Bold (Demi Bold)
//  700   Bold
//  800   Extra Bold (Ultra Bold)
//  900   Black (Heavy)

// Roboto
@include font-family('Roboto', 900, normal, '../assets/fonts/roboto/', 'roboto-black');
@include font-family('Roboto', 900, italic, '../assets/fonts/roboto/', 'roboto-blackitalic');
@include font-family('Roboto', 700, normal, '../assets/fonts/roboto/', 'roboto-bold');
@include font-family('Roboto', 700, italic, '../assets/fonts/roboto/', 'roboto-bolditalic');
@include font-family('Roboto', 500, normal, '../assets/fonts/roboto/', 'roboto-medium');
@include font-family('Roboto', 500, italic, '../assets/fonts/roboto/', 'roboto-mediumitalic');
@include font-family('Roboto', 400, normal, '../assets/fonts/roboto/', 'roboto-regular');
@include font-family('Roboto', 400, italic, '../assets/fonts/roboto/', 'roboto-italic');
@include font-family('Roboto', 300, normal, '../assets/fonts/roboto/', 'roboto-light');
@include font-family('Roboto', 300, italic, '../assets/fonts/roboto/', 'roboto-lightitalic');
@include font-family('Roboto', 100, normal, '../assets/fonts/roboto/', 'roboto-thin');
@include font-family('Roboto', 100, italic, '../assets/fonts/roboto/', 'roboto-thinitalic');

/* Sofia Pro font is currently used in the Topcoder footer
  and header. */

@include font-family('Sofia Pro', 300, normal, '../assets/fonts/sofiapro/', 'sofiapro-light-webfont');
@include font-family('Sofia Pro', 300, italic, '../assets/fonts/sofiapro/', 'sofiapro-light-italic-webfont');
@include font-family('Sofia Pro', 400, normal, '../assets/fonts/sofiapro/', 'sofiapro-regular-webfont');
@include font-family('Sofia Pro', 400, italic, '../assets/fonts/sofiapro/', 'sofiapro-regular-italic-webfont');
@include font-family('Sofia Pro', 500, normal, '../assets/fonts/sofiapro/', 'sofiapro-medium-webfont');
@include font-family('Sofia Pro', 500, italic, '../assets/fonts/sofiapro/', 'sofiapro-medium-italic-webfont');
@include font-family('Sofia Pro', 600, normal, '../assets/fonts/sofiapro/', 'sofiapro-semibold-webfont');
@include font-family('Sofia Pro', 600, italic, '../assets/fonts/sofiapro/', 'sofiapro-semibold-italic-webfont');
@include font-family('Sofia Pro', 700, normal, '../assets/fonts/sofiapro/', 'sofiapro-bold-webfont');
@include font-family('Sofia Pro', 700, italic, '../assets/fonts/sofiapro/', 'sofiapro-bold-italic-webfont');

/* OpenSans font is being used by the new design of community pages */
@include font-family('Open Sans', 300, normal, '../assets/fonts/opensans/', 'opensans-light-webfont');
@include font-family('Open Sans', 300, italic, '../assets/fonts/opensans/', 'opensans-lightitalic-webfont');
@include font-family('Open Sans', 400, normal, '../assets/fonts/opensans/', 'opensans-regular-webfont');
@include font-family('Open Sans', 400, italic, '../assets/fonts/opensans/', 'opensans-italic-webfont');
@include font-family('Open Sans', 600, normal, '../assets/fonts/opensans/', 'opensans-semibold-webfont');
@include font-family('Open Sans', 600, italic, '../assets/fonts/opensans/', 'opensans-semibolditalic-webfont');
@include font-family('Open Sans', 700, normal, '../assets/fonts/opensans/', 'opensans-bold-webfont');
@include font-family('Open Sans', 700, italic, '../assets/fonts/opensans/', 'opensans-bolditalic-webfont');
@include font-family('Open Sans', 800, normal, '../assets/fonts/opensans/', 'opensans-extrabold-webfont');
@include font-family('Open Sans', 800, italic, '../assets/fonts/opensans/', 'opensans-extrabolditalic-webfont');

/* Akkurat font is being used by the Wipro community */
@include font-family('Akkurat light', 300, normal, '../assets/fonts/Akkurat/', 'WiproAkkuratTT-Light');
@include font-family('Akkurat regular', 400, normal, '../assets/fonts/Akkurat/', 'WiproAkkuratTTRegular');
@include font-family('Akkurat mono', 400, normal, '../assets/fonts/Akkurat/', 'AkkuratMonoMono');
@include font-family('Akkurat bold', 700, normal, '../assets/fonts/Akkurat/', 'WiproAkkuratTT-Bold');
