// Topcoder colour palette

/* TODO: This pallete should be removed, and colors defined in _variables.scss
 * should be used instead. */
$tc-white: #fff;
$tc-black: #262628;
$tc-light_blue: #26ade9;
$tc-light_blue-10: #e9f6fc;
$tc-orange: #fb7d22;
$tc-orange-10: #fff0eb;
$tc-red-70: #ff5b52;
$tc-green: #60c700;
$tc-green-10: #effae5;
$tc-gray-neutral-dark: #ebebeb;
$tc-gray-neutral-light: #fafafb;
$tc-gold: #fce217;
$tc-silver: #a9bcd4;
$tc-bronze: #bd731e;
$tc-purple: #b47dd6;
$tc-accent: #59a7ff;
$tc-gray-10: #ededf2;
$tc-gray-20: #dcdce0;
$tc-gray-30: #c3c3c8;
$tc-gray-50: #888894;
$tc-gray-60: #747480;
$tc-gray-70: #5d5d66;
$tc-gray-80: #47474f;
$tc-gray-90: #394146;
$tc-dark-blue: #0b71e6;
$tc-dark-blue-10: #f4f9ff;
$tc-dark-blue-30: #cfe6ff;
$tc-dark-blue-90: #1a85ff;
$prize-color: #202a36;
$tc-level-4: #fcb816;
$tc-level-5: #e6175c;
