// Variables

// Table of Contents
//
// Base
// Colors
// Typography

// 
// Base unit and corner radius are to be used instead of direct pixel dimensions.
// 
// Make sure to use them with with multiples to create a harmonic ratios and even 
// spacing at your components layout (paddng, margins) and typography (line height)
$base-unit: 5px;
$corner-radius: 2px;

/* COLORS */

/*
 * NOTE: Topcoder brand colors are listed at
 * https://www.topcoder.com/about-topcoder/brand-guidelines/
 *
 * According to that page, the primary colors are (of the ones defined below):
 * $tc-dark-blue
 * $tc-gray-90
 * $tc-gray-30
 * and secondary colors are:
 * $tc-orange
 * $tc-green
 * $tc-yellow
 * $tc-red
 * $tc-purple
 *
 * Other colors, already present below, are fine. If you have to use a color
 * slighly different from the colors available below, please consider to use
 * the closest available color instead; i.g. if you need #c1c1c6 color, in
 * most cases nobody will notice if you use $tc-gray-30 (#c3c3c7) instead.
 */

// Colors
// 
// Primary Brand
$tc-light-blue: #26ade9;
$tc-dark-blue: #0b71e6;
$tc-green: #60c700;
$tc-orange: #fb7d21;
$tc-yellow: #fce217;
$tc-black: #262628;
$tc-gray-90: #37373b;
$tc-gray-80: #47474f;
$tc-gray-70: #5d5d66;
$tc-gray-60: #747480;
$tc-gray-50: #888894;
$tc-gray-40: #a3a3ad;
$tc-gray-30: #c3c3c7;
$tc-gray-20: #dcdce0;
$tc-gray-10: #ededf2;
$tc-gray-neutral-dark: #ebebeb;
$tc-gray-neutral-light: #fafafb;
$tc-white: #fff;

// Accents & Shades
$tc-dark-blue: $tc-dark-blue;
$tc-dark-blue-90: #1a85ff;
$tc-dark-blue-70: #59a7ff;
$tc-dark-blue-30: #cfe6ff;
$tc-dark-blue-10: #f4f9ff;

// Light Blue
$tc-light-blue: $tc-light-blue;
$tc-light-blue-70: #67c5ef;
$tc-light-blue-30: #bde6f8;
$tc-light-blue-10: #e9f6fc;

// Warm Orange
$tc-orange: $tc-orange;
$tc-orange-70: #fda464;
$tc-orange-30: #fee3d0;
$tc-orange-10: #fff0eb;
$tc-red: #f22e24;
$tc-red-70: #ff5b52;
$tc-red-30: #ffd4d1;
$tc-red-10: #fff4f4;
$tc-gold: #fce217;
$tc-gold-70: #faed8e;
$tc-gold-30: #fff7cc;
$tc-gold-10: #fffde6;
$tc-green: $tc-green;
$tc-green-70: #96d957;
$tc-green-30: #cfefb2;
$tc-green-10: #effae5;
$tc-purple: #9050a3;
$tc-purple-70: #b47dd6;
$tc-purple-30: #e2c7f2;
$tc-purple-10: #f8f2fb;

// Badges
$tc-gold: $tc-gold;
$tc-silver: #a9bcd4;
$tc-bronze: #bd731e;

// Levels
$tc-level-1: $tc-gray-40;
$tc-level-2: #25c089;
$tc-level-3: #666eff;
$tc-level-4: #fcb816;
$tc-level-5: #e6175c;

// Typography
//
// Label, body, and heading font sizes The typographyc scale of the TC System
// is                           : 11, 12, 13, 15, 20, 28, 42, 64, 72 using the variables below we provide a
// systematic approach to your creative typography; also opens the possiblitiy
// for fine adjustment and more typefaces used as the system evlovles.

// Labels
$tc-label-lg: 15px;
$tc-label-md: 13px;
$tc-label-sm: 12px;
$tc-label-xs: 11px;

// Body
$tc-body-lg: 20px;
$tc-body-md: $tc-label-lg; // 15
$tc-body-sm: $tc-label-md; // 13
$tc-body-xs: $tc-label-xs; // 11

// Headings
$tc-heading-xl: 42px;
$tc-heading-lg: 28px;
$tc-heading-md: $tc-body-lg;
$tc-heading-sm: $tc-body-md;
$tc-heading-xs: $tc-body-sm;

// breakpoints
$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
