@import "~styles/mixins";

.loading {
  height: 195px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include xs-to-sm {
    height: 285px;
  }
}

.container {
  @include roboto-regular;

  color: $tc-gray-90;
  padding: 13px 12px 3px 12px;
  border-radius: 8px;
  margin-bottom: 18px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;

  .title {
    @include roboto-bold;

    display: flex;
    font-size: 16px;
    align-items: center;
  }

  .allLink {
    color: $dashboard-light-link;
    text-decoration: underline;
    font-size: 13px;
    line-height: 20px;

    &:hover {
      text-decoration: none !important;
    }

    span {
      @include xs-to-sm {
        display: none;
      }
    }
  }
}

.blogs {
  width: 100%;

  .row {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid $tc-gray-05;

    &:first-child {
      border: none;
    }
  }
}

.light {
  background-color: $dashboard-light-card-bg;
}

.container.dark {
  color: $tc-white;
  background: $dashboard-dark-card-bg;

  .header {
    .icon {
      fill: $tc-white;
    }

    .allLink {
      color: $dashboard-dark-link;
    }
  }

  .blogs {
    .row:not(:first-child) {
      border-top: 1px solid $dashboard-dark-bg;
    }
  }
}

.container.light {
  color: #000;
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 4px;

  .header {
    .icon {
      fill: $tc-white;
    }

    .allLink {
      color: #0d61bf;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .blogs {
    .row:not(:first-child) {
      border-top: 1px solid $dashboard-dark-bg;
    }
  }
}
