@import '~styles/mixins';

.container {
  background-color: #eaeaea;
  width: 100%;
  max-width: $screen-max;
  margin: 0 auto;
}

.overlay {
  opacity: 0.85;
  background: #0c0c0c;
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: absolute;
  margin: 0 auto;
}
