@import '~styles/tc-styles';

.container {
  display: flex;
  background: center no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  align-items: center;
  text-align: center;

  &::before {
    background-color: rgba(#394146, 0.7);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include xxs-to-sm {
    height: auto;
  }
}

.content {
  margin: 0 auto;
  position: relative;
  width: 960px;

  @include sm {
    width: 720px;
  }

  @include xxs-to-sm {
    padding: 20px 15px 37px;
    width: auto;
  }
}

.title {
  color: #fff;
  font: 600 32px/134.38% 'Open Sans';

  @include xxs-to-sm {
    font-size: 24px;
  }
}

.text {
  color: #fff;
  font: 18px/133.33% 'Open Sans';
  margin-top: 20px;

  @include xxs-to-sm {
    font-size: 15px;
    margin-top: 10px;
  }
}

.form {
  display: inline-block;
  border-radius: 25px;
  margin-top: 40px;
  overflow: hidden;

  @include xxs-to-sm {
    display: flex;
    margin-top: 20px;
    width: 100%;
  }
}

input:not([type="checkbox"]).formEmail {
  background-color: #fff;
  border: 0;
  color: #394146;
  font: 14px/50px 'Open Sans';
  height: 50px;
  margin: 0;
  outline: none;
  padding: 0 25px;
  width: 326px;

  @include placeholder {
    color: #a3a3ae;
    font: 14px/50px 'Open Sans';
    text-transform: none;
  }

  &:hover,
  &:active,
  &:focus {
    border: 0;
  }

  @include xxs-to-sm {
    flex-grow: 1;
    width: 100%;
  }
}

.formButton {
  background: #0092ff;
  color: #fff;
  border: 0;
  font: 700 14px/50px 'Open Sans';
  outline: none;
  padding: 0;
  text-transform: uppercase;
  width: 124px;

  @include xxs-to-sm {
    width: 95px;
  }
}
