@import "~styles/mixins";

.mobile-tab-expanded {
  margin: 0 16px;
  background-color: $listing-light-blue;

  .item {
    height: 40px;
    margin: 0;

    p {
      @include barlow-bold;

      font-weight: 600;
      color: #555;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      padding-left: 16px;
      padding-top: 10px;
    }
  }

  .active {
    background-color: #bae1f9;

    p {
      color: $tco-black;
      font-weight: 700;
    }
  }
}

.challenge-tab {
  display: flex;
  height: 48px;
  background-color: white;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid $color-black-10;
  gap: 24px;
  padding: 0 8px;

  .item {
    @include roboto-medium;

    font-size: 14px;
    color: $tc-black;
    line-height: 24px;
    padding: 12px 8px 12px 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid transparent;

    &:not(.active):hover {
      color: $color-blue-140;
      border-bottom-color: $color-blue-140;
    }
  }

  .active {
    color: $color-blue-140;
    border-bottom-color: $color-blue-140;
  }
}

.mobile-tab-container {
  background-color: $listing-light-blue;
  height: 40px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #d4d4d4;

  .title {
    @include barlow-bold;

    font-weight: 700;
    color: $tco-black;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 16px;
    padding-top: 10px;
  }

  .icon {
    width: 16px;
    height: 9px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    transform: scale(1.5);
  }

  .down {
    transform: scale(1.5) rotate(180deg);
    margin-right: 20px !important;
  }

  @include xs-to-md {
    margin: 0 16px;
  }
}

.tc-title {
  @include roboto-medium;

  color: $tco-black;
  font-size: 36px;
  margin: 0;
  line-height: 44px;
  text-transform: capitalize;

  @include xs-to-md {
    margin: 16px;
  }
}

.tc-seperator {
  background-color: $listing-gray;
  height: 2px;
  opacity: 0.5;
  margin: 0;

  @include xs-to-md {
    margin: 0 16px;
  }
}
