@import "~styles/mixins";

.mobile-tab-expanded {
  margin: 0 16px;
  background-color: $listing-light-blue;

  .item {
    height: 40px;
    margin: 0;

    p {
      @include barlow-bold;

      font-weight: 600;
      color: #555;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      padding-left: 16px;
      padding-top: 10px;
    }
  }

  .active {
    background-color: #bae1f9;

    p {
      color: $tco-black;
      font-weight: 700;
    }
  }
}

.challenge-tab {
  display: flex;
  height: 42px;
  margin-top: 24px;
  background-color: $listing-light-blue;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid $listing-light-gray;

  .item {
    @include barlow;

    font-weight: 600;
    font-size: 14px;
    color: $member-gray;
    line-height: 20px;
    padding: 12px 16px 10px 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:not(.active):hover {
      background-color: #bae1f9;
    }
  }

  .active {
    color: $tc-black;
    font-weight: 700;
    position: relative;

    &::after {
      content: "";
      background-image: url(assets/images/nav-active-item.svg);
      height: 10px;
      width: 40px;
      margin-top: 10px;
      justify-content: center;
      z-index: 100;
      display: block;
      position: absolute;
      top: 31px;
    }
  }
}

.mobile-tab-container {
  background-color: $listing-light-blue;
  height: 40px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #d4d4d4;

  .title {
    @include barlow-bold;

    font-weight: 700;
    color: $tco-black;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 16px;
    padding-top: 10px;
  }

  .icon {
    width: 16px;
    height: 9px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    transform: scale(1.5);
  }

  .down {
    transform: scale(1.5) rotate(180deg);
    margin-right: 20px !important;
  }

  @include xs-to-md {
    margin: 0 16px;
  }
}

.tc-title {
  @include barlow-condensed;

  color: $tco-black;
  font-size: 32px;
  margin: 32px 0 24px 0;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;

  @include xs-to-md {
    margin: 16px;
  }
}

.tc-seperator {
  background-color: $listing-gray;
  height: 2px;
  opacity: 0.5;
  margin: 0;

  @include xs-to-md {
    margin: 0 16px;
  }
}
