@import '~styles/mixins';

.dashboard-container {
  background-color: #f6f6f6;
  flex: 1;
}

.page-container {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .page-container {
    padding: 30px 10px;
  }
}

.tc-banner-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3d3d3d;
  padding: 20px 10px;

  @media only screen and (min-width: 768px) {
    padding: 30px 20px;
  }

  .image {
    margin-bottom: 15px;

    img {
      width: 186px;
    }
  }

  .title {
    font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
  }

  .content {
    margin-top: 20px;

    @media only screen and (min-width: 768px) {
      margin-top: 30px;
    }
  }

  .description {
    max-width: 650px;
    margin-top: 20px;
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;

    @media only screen and (min-width: 768px) {
      margin-top: 30px;
    }

    @media only screen and (min-width: 900px) {
      max-width: 856px;
    }
  }

  .ctas {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @media only screen and (min-width: 768px) {
      margin-top: 30px;
    }

    .cta {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    a {
      text-transform: uppercase;
      display: block;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 500;

      &.secondary-cta {
        font-size: 12px;
        line-height: 12px;
        color: #a3a3ae;
      }

      &.tco-cta {
        border: 1px solid $tc-orange;
        background-color: $tc-orange;

        &:focus {
          border: 1px solid $tc-orange;
          background-color: $tc-orange;
        }

        &:hover {
          background-color: $tc-orange-110;
          border-color: $tc-orange-110;
        }

        &:active {
          background-color: $tc-orange-110;
          border-color: $tc-orange-110;
        }
      }
    }
  }
}

.my-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-title {
    font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #3d3d3d;
    text-align: center;
    text-transform: uppercase;
  }

  .subtrack-stats {
    width: 100%;
    max-width: 1242px;
    background-color: $tc-white;
  }

  .challenges,
  .srms,
  .programs,
  .tco,
  .ttl,
  .community-updates {
    background-color: $tc-white;
    max-width: 1242px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0;
    margin-top: 1px;
    width: 100%;

    @media only screen and (min-width: 900px) {
      padding-top: 30px;
    }

    header {
      .section-title {
        padding-top: 30px;
      }
    }
  }

  .ttl {
    .tc-banner-placeholder {
      background: url(assets/images/dashboard/team-live-bg.png) repeat;

      .image {
        img {
          width: auto;
        }
      }
    }
  }
}

// from topcoder-app/assets/css/directives/tc-banner.scss
.tco17 {
  margin-bottom: 10px;
}

// themes

// black
.tc-banner-placeholder.black {
  margin-bottom: 10px;
  background-color: #222;

  .title {
    font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $tc-white;
  }

  .subtitle {
    @extend .title;

    font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  .description {
    color: $tc-white;
  }

  .ctas {
    .cta {
      .learn-more {
        color: #f6f6f6;
      }
    }
  }

  .tc-btn-white {
    background-color: white;
    color: #0096ff;
    padding: 10px 20px;
    margin-top: 5px;
  }

  .tc-btn-radius {
    border-radius: 26px;
  }
}

.tc-banner-placeholder.bg-image {
  background-image: url(assets/images/dashboard/home-hero.png);
  background-size: 100%;
  height: 352px;
  background-position: center 25%;
  background-repeat: no-repeat;
  flex-direction: row;
  padding-top: 50px;

  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 37px;
    height: 95%;
    justify-content: space-between;

    .title {
      margin-top: 10px;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: $tc-white;
    }

    .subtitle {
      margin-top: 20px;
      width: 450px;
      font-size: 20px;

      @extend .title;

      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 400;
      text-align: left;
    }

    .description {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    .cta {
      margin-top: 20px;
    }
  }
}

.tc-banner-placeholder.cognitive {
  background-image: url(assets/images/dashboard/cognitive-home-hero.jpg);
  background-size: cover;
  height: 352px;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-color: #222;
  z-index: 1;
  flex-direction: row;

  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 37px;
    height: 95%;
    justify-content: space-between;

    .img {
      background-image: url(assets/images/dashboard/cognitive-home-hero-title.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center 100%;
      height: 57px;
      width: 75%;
    }

    .description {
      color: $tc-white;
      margin: 0 30px 0 0;
      font-size: 24px;
      line-height: 29px;
      text-align: left;
      font-weight: 300;
    }

    .cta {
      margin-top: 20px;
    }

    .tc-btn-white {
      background-color: white;
      color: #0096ff;
      padding: 10px 20px;
    }

    .tc-btn-radius {
      border-radius: 26px;
    }
  }
}
