@import '~tc-ui/src/styles/tc-includes';

.subtrack-item {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 13px;

  @include tc-label-small;

  font-weight: 500;

  &:last-child {
    margin-right: 0;

    @media (max-width: 700px) {
      margin-right: 15px;
    }
  }

  &.track-DESIGN {
    background-color: $tc-light_blue;
  }

  &.track-DEVELOP {
    background-color: $tc-green;
  }

  &.track-DATA_SCIENCE {
    background-color: $tc-orange;
  }

  &.track-COPILOT {
    background-color: $tc-gray-70;
  }

  .subtrack-wins {
    @include tc-label;

    color: $tc-white;

    svg {
      margin-right: 2px;
    }
  }

  .track-code {
    color: rgba($tc-white, 0.7);
    margin-left: 3px;
  }
}
