/**
 * Ghost button (transparent background, blue text).
 */

@import "default";

.button {
  background: transparent;
  border-color: transparent;
  color: #0b71e6;
}

.disabled {
  color: $tc-gray-80;
}

.link:visited {
  color: #0b71e6;
}

.link,
.regular {
  &:focus {
    box-shadow: 0 0 2px 1px #cfe6ff;
    border-color: #59a7ff;
    outline: none;
  }

  &:hover {
    background-image: none;
    border-color: transparent;
    color: #59a7ff;
  }

  &:active {
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    color: $tc-dark-blue-90;
  }
}
