/**
 * Primary button (blue back, white text).
 */

@import "default";

.button {
  background: $tc-dark-blue-90;
  border-color: transparent;
  color: $tc-white;
}

.disabled {
  background-color: $tc-gray-20;
  opacity: 1;
}

.link,
.regular {
  &:focus {
    box-shadow: 0 0 2px 1px #59a7ff;
    border-color: #0b71e6;
    outline: none;
  }

  &:hover {
    background-image: linear-gradient(to bottom, #3996ff, #127bf3);
    border-color: transparent;
    color: $tc-white;
  }

  &:active {
    background-image: none;
    box-shadow: inset 0 1px 3px 0 rgba(71, 71, 79, 0.5);
    border-color: transparent;
  }
}

.link:visited {
  color: $tc-white;
}
