.tc-communities__header__container .tc-communities__header__logo:first-child > img {
  max-height: 70px;
}

.tc-communities__header__container .tc-communities__header__logo:nth-child(2) {
  margin-left: 30px;
}

.tc-communities__header__container .tc-communities__header__header {
  height: 110px;
}

.tc-communities__header__container .tc-communities__header__challenge-dropdown {
  border-left: none;
}

.tc-communities__header__container .tc-communities__header__login-state {
  height: auto;
  padding: 26px 0;
  margin: 0 30px;
}

.tc-communities__header__container .tc-communities__header__login-state > div {
  font-family: 'Akkurat bold', sans-serif;
  text-transform: none;
  text-decoration: underline;
  font-size: 16px;
  color: #00a2e0;
}

.tc-communities__header__container .tc-communities__header__menu-wrap {
  flex-grow: 0;
}

.tc-communities__header__container .tc-communities__header__challenge-dropdown .Dropdown-placeholder {
  font-family: 'Akkurat regular', sans-serif;
  text-transform: none;
  font-size: 16px;
  color: #00a2e0;
}

.tc-communities__header__container .tc-communities__header__menu-wrap .tc-communities__header__menu {
  padding: 30px 0;
}

.tc-communities__header__container .tc-communities__header__menu-wrap
.tc-communities__header__menu .tc-communities__header__menu-item {
  margin: 0 20px;
}

.tc-communities__header__container .tc-communities__header__menu-wrap
.tc-communities__header__menu .tc-communities__header__menu-item .tc-communities__header__menu-link {
  font-family: 'Akkurat bold', sans-serif;
  text-transform: none;
  font-size: 18px;
  color: #9bdaf1;
}


.tc-communities__header__container .tc-communities__header__menu-wrap
.tc-communities__header__menu .tc-communities__header__menu-item .menu-link_active {
  font-family: 'Akkurat bold', sans-serif;
  text-transform: none;
  font-size: 18px;
  color: #00a2e0;
}

.tc-communities__header__container .tc-communities__header__menu-wrap
.tc-communities__header__menu .tc-communities__header__menu-item .menu-link_active::after {
  height: 8px;
  width: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 100%;
}

@media screen and (max-width: 1280px) {
  .tc-communities__header__user-wrap-mobile {
    opacity: 0; /* This hack hides the user avatar without braking the layout */
  }

  .tc-communities__header__login-state {
    display: none;
  }

  .tc-communities__header__logos.additional-logos {
    display: none;
  }
}
