@import '~styles/tc-includes';

.container {
  width: 270px;
  background-color: #48f;
  border-radius: 2px;
  padding: 10px;
  align-self: flex-start;
  color: $tc-white;
  font-size: 12px;
  line-height: 24px;
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: 768px) {
    margin-left: 15px;
    margin-right: 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    margin: 2px 0;
    cursor: pointer;
    border-radius: 4px;

    &.selected,
    &:hover {
      background-color: $tc-white;
      color: #48f;
    }
  }
}
