@import '~styles/mixins';

.admin-nav {
  display: flex;
  gap: 32px;
  padding-left: 96px;
  padding-top: 51px;
}

.tab-item {
  @include barlow-condensed;

  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 16px;
  color: $tc-white;
  opacity: 0.8;
  position: relative;
  cursor: pointer;
  display: flex;

  &.current {
    opacity: 1;

    &::after {
      content: "";
      border-radius: 99px;
      width: 26px;
      height: 2px;
      background-color: $tc-white;
      z-index: 1000;
      top: 24px;
      left: 35%;
      position: absolute;
    }
  }
}

.pending {
  @include roboto-regular;

  background-color: #ef476f;
  width: 33px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  color: $tc-white;
  border-radius: 50px;
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 16px;
}
