@mixin default-headers {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
  }

  h1 {
    font-size: 42px;
    line-height: 50px;

    @include roboto-light;
  }

  h2 {
    color: $tc-black;
    font-size: 36px;
    line-height: 45px;

    @include roboto-light;
  }

  h3 {
    font-size: 28px;
    line-height: 35px;

    @include roboto-regular;
  }

  h4 {
    font-size: 20px;
    line-height: 35px;

    @include roboto-regular;
  }

  h5 {
    font-size: 15px;
    line-height: 25px;

    @include roboto-bold;
  }

  h6 {
    font-size: 13px;
    line-height: 25px;

    @include roboto-bold;
  }
}
