@import "~styles/mixins";

.container {
  padding: 10px;
  width: 520px;
}

.confirmMsg {
  @include tc-body-md;

  color: #787d81;
  text-align: center;
  padding-bottom: 10px;
}

.signupButtons,
.loginButtons {
  text-align: center;

  button {
    margin: 24px 12px 0;
  }
}

.joinButtons {
  button {
    width: 100px;
  }
}

.loginButtons {
  button {
    width: 200px;
  }
}
