@import "~styles/mixins";

.container {
  padding: 90px 60px;
  width: 629px;
  height: 440px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  background-color: #2a2a2a;
  opacity: 0.95;
}

.confirmMsg {
  text-align: center;

  h4 {
    margin-bottom: 20px;
  }

  p {
    padding: 0 50px;
  }
}

.signupButtons,
.loginButtons {
  text-align: center;

  button {
    margin: 24px 12px 0;

    &:first-child {
      margin-right: 12px !important;
    }
  }
}
