@import '~styles/mixins';

.outerContainer {
  margin: 0 auto;

  @include md-to-xl {
    width: 1280px;
    padding: 0 15px;
  }

  .description {
    margin-bottom: 2em;
  }

  h1 {
    @include frutiger-light;

    font-size: 40px;
    line-height: 1.2;
    color: #4c433d;
    padding: 60px 0 30px;
    text-align: left;
    margin: 0;

    @include xs-to-sm {
      font-size: 24px;
    }
  }

  h2,
  h3 {
    @include frutiger-light;

    color: #706964;
    margin-top: 1em;
  }

  h2 {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #706964;
  }

  p {
    @include frutiger-regular;

    color: #3e3e3e;
    font-size: 16px;
    line-height: 1.5;
    opacity: 1;
    margin-bottom: 0;
  }

  ul,
  ol {
    list-style: disc;
    margin-bottom: 1em;
  }

  ol {
    list-style: decimal;
  }
}

.container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titleList {
  position: relative;
  width: 300px;
  flex: 1;
  margin-right: 2em;

  &::after {
    background-color: #ddd;
    bottom: 5px;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 5px;
    width: 1px;
  }

  li {
    list-style: none;
  }

  @include md {
    width: 250px;
  }

  @include xs-to-sm {
    display: none;
  }
}

.titleListItem {
  cursor: pointer;

  @include frutiger-bold;

  font-size: 16px;
  line-height: 1.5;
  color: #039;
  padding: 20px 0;
  position: relative;

  div {
    outline: none;
  }
}

.titleListItemSelected {
  cursor: default;
  color: #979797;

  &::after {
    background-color: #4268b1;
    bottom: 5px;
    content: '';
    display: block;
    position: absolute;
    right: 1px;
    top: 5px;
    width: 4px;
  }
}

.content {
  width: 600px;
  flex: 2;
  margin-left: 2em;

  @include md {
    width: 430px;
  }

  @include xs-to-sm {
    width: 100%;
  }

  h1 {
    @include frutiger-light;

    font-size: 40px;
    line-height: 1.2;
    color: #4c433d;
  }

  h3 {
    @include frutiger-regular;

    font-size: 18px;
    line-height: 1.22;
    color: #4c433d;
    margin: 1em 0;
  }

  p {
    @include frutiger-regular;

    color: #4c433d;
    font-size: 16px;
    line-height: 1.5;
  }

  ul {
    margin-left: 2em;

    li {
      margin-bottom: 1em;
    }
  }
}

.title {
  padding-right: 12px;
}
