@import "~styles/mixins";

.joining:hover {
  background: $tc-white;
  cursor: default;
}

.joining div p {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
}

.loadingIndicator {
  display: inline-block;
  height: 32px;
  padding-top: 4px;
  width: 32px;
}

.modalTitle {
  color: $tc-black;
  text-align: center;
}

.modalMsg {
  @include tc-body-md;

  color: #787d81;
  margin: 24px 0;
  text-align: center;
}

.placeholder {
  height: 24px;
}
