@import "~styles/mixins";

@mixin module-s {
  margin-top: 6px;
  background-color: $tc-white;
}

@mixin module-l {
  @include module-s;

  max-width: 1242px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;

  @media only screen and (min-width: 900px) {
    padding-top: 30px;
  }
}

.empty-profile {
  @include sofia-pro-light;

  align-items: center;
  background-color: $tc-white;
  color: $tc-gray-80;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  min-height: 330px;
  height: 530px;
  justify-content: space-around;
  padding-top: 3 * $base-unit;
  text-align: center;

  h2 {
    font-size: 22px;
    font-weight: 500;
  }
}

.outer-container {
  background: $tc-gray-neutral-light;
  width: 100%;

  @include xs-to-sm {
    padding: 8px 10px 20px;
  }

  @include md {
    padding: 30px 14px 30px 20px;
  }

  @include lg-to-xl {
    padding: 30px 64px;
  }
}

.button {
  font-size: 12px;
  height: 30px;
  margin-bottom: 30px;
  min-height: 30px;
  line-height: 28px;
  padding: 0 10px;
}

.profile-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

hr {
  width: 100%;
  border: 1px solid $tc-gray-20;
  margin-bottom: 15px;
}

// Main container
// This is the flex container; we convert it to 2 column layout on >767px width
.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include module-l;

  background-color: transparent;
  padding-top: 0;

  @media (min-width: 768px) {
    padding-top: 30px;
    flex-direction: row;
  }
}

// Both containers are flex column, then flex fows on >767px
// User data container
.profile-header-container {
  background: transparent;
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;
  display: flex;
  position: relative;

  @media (min-width: 768px) {
    max-width: 368px;
    margin: 0 auto;
    padding-right: 10px;
    display: block;
    position: relative;
  }

  // Sticky container
  .sticky-container {
    background-color: $tc-white;
    display: flex;
    justify-content: center;
    width: calc(100vw - 40px);

    @media (min-width: 768px) {
      display: block;
      box-sizing: border-box;
      width: 368px;
      margin: 0;
    }

    padding: 30px 34px;
    margin: 0 10px;
    transition: 0.2s all;
  }
}

// Where we show the info
.profile-about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 883px;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .profile-about-container {
    .activity {
      font-size: 24px;
      line-height: 30px;
      margin-top: 30px;
    }
  }
}
