/* stylelint-disable no-descending-specificity */
@import "~styles/mixins";

.divisions-container {
  width: 100%;
  height: 385px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  hr {
    width: 100%;
    height: 2px;
    border: none;
    border-radius: 2px;
    background: #f4f4f4;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

table.division {
  width: 1152px;
  height: 314px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .wide {
    tr th,
    tr td {
      width: 274px;
    }
  }

  thead {
    width: 1152px;
    height: 42px;

    tr {
      width: 1152px;
      height: 42px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      // padding-bottom: 16px;
      th {
        width: 214.4px;
        height: 26px;

        @include barlow;

        h5 {
          width: 100%;
          height: 26px;
          text-align: left;
          position: relative;
          left: 0 !important;
        }
      }

      th:not(:first-child) h5 {
        text-transform: uppercase;
        color: #767676;
        font-weight: 600;
        font-size: 11px;
        line-height: 14px;
        position: relative;
        height: 14px;
        left: 0 !important;
        top: 12px;
      }

      th:first-child h5 {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        position: relative;
        left: 0 !important;
      }
    }
  }

  tbody {
    width: 1152px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    tr {
      width: 1152px;
      height: 56px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      td {
        width: 214.4px;
        height: 56px;
        background: #f4f4f4;
        border-radius: 8px;

        h5 {
          width: 100%;
          height: 24px;
          text-align: left;
          position: relative;
          left: 16px;
          top: 16px;

          @include roboto-regular;

          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      }

      td:first-child {
        background: #eaf6fd; // $listing-light-blue;
        h5 {
          font-weight: 700;
        }
      }
    }

    tr:first-child h5 {
      font-weight: 700;
      color: #0d61bf;
    }
  }
}
