@import "~styles/mixins";

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @include xs-to-sm {
    justify-content: center;
  }
}

.container {
  background: $tc-gray-neutral-light;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 20px 30px;
  position: relative;

  @include xs-to-sm {
    flex-direction: column;
    text-align: center;
  }
}

.title {
  @include tc-title;

  margin-right: 20px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.xlBadge {
  height: 66%;
  width: 66%;
}
