@import '~styles/mixins';

.statsContainer {
  padding: 0;
}

.statsContent {
  border-bottom: 1px solid #ddd;
  padding: 43px 38px 50px;

  @include xs-to-sm {
    display: flex;
    justify-content: space-around;
    padding: 30px 12px 32px;
  }
}

.resourcesContainer {
  background-color: #fafafa;
  padding: 70px 0;

  @include xs-to-sm {
    padding: 40px 0;
  }
}

.linksContainer {
  padding: 24px 0 60px;

  @include xs-to-sm {
    padding: 0;
  }
}

.introContainer {
  background: $tc-gray-neutral-light;
  color: #787d81;
  padding-bottom: 48px;
  margin-bottom: 24px;

  @include xs-to-sm {
    padding-left: 24px;
    padding-right: 24px;
  }

  h1 {
    color: #394146;
    font: 600 36px 'Open Sans', sans-serif;
    margin-bottom: 12px;
  }

  p {
    color: #787d81;
    font: 15px/22px 'Open Sans', sans-serif;
    padding: 6px 0;
  }
}

