@import '~styles/mixins';

.statsContainer {
  padding: 0;
}

.statsContent {
  border-bottom: 1px solid #ddd;
  padding: 43px 38px 50px;

  @include xxs-to-xs {
    display: flex;
    justify-content: space-around;
    padding: 30px 12px 32px;
  }
}

.resourcesContainer {
  background-color: #fafafa;
  padding: 70px 0;

  @include xxs-to-xs {
    padding: 40px 0;
  }
}

.linksContainer {
  padding: 24px 0 60px;

  @include xxs-to-xs {
    padding: 0;
  }
}

.joinNow {
  color: #0092ff;
  display: inline-block;
  background: white;
  border: none;
  border-radius: 20px;
  font: 700 14px/40px 'Open Sans';
  height: 40px;
  margin-top: 24px;
  text-align: center;
  text-transform: uppercase;
  width: 171px;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #0092ff;
    outline: none;
    text-decoration: none;
  }

  p {
    display: inline-block;
    position: relative;
    top: -7px;
  }
}

.introContainer {
  background: $tc-gray-neutral-light;
  color: #787d81;
  padding-bottom: 48px;
  margin-bottom: 24px;

  @include xxs-to-xs {
    padding-left: 24px;
    padding-right: 24px;
  }

  h1 {
    color: #394146;
    font: 600 36px 'Open Sans';
    margin-bottom: 12px;
  }

  p {
    color: #787d81;
    font: 15px/22px 'Open Sans';
    padding: 6px 0;
  }
}

