@import "~styles/mixins";
$tc-gray-border: #aaaab5;

.challenge-detail-checkpoints {
  display: flex;
  justify-content: flex-start;

  .challenge-checkpoint-list {
    margin: 50px 20px 50px 10px;
    display: flex;
    flex-direction: column;

    @include xs-to-sm {
      display: none;
    }

    .challenge-checkpoint-li {
      @include tc-label-xl;

      background: $tc-white;
      border: 1px solid $tc-gray-border;
      border-radius: 2px;
      color: $tc-dark-blue;
      padding: 10px 0;
      margin-bottom: 8px;
      width: 190px;
      max-width: 190px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }
  }

  .challenge-checkpoint-detail {
    flex: 1;
    margin: 34px 19px 36px 29px;

    @include xs-to-sm {
      margin: 24px 16px;
    }

    & > h2 {
      @include barlow-bold;

      font-weight: 600;
      color: $tc-black;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 10px;

      @include xs-to-sm {
        font-size: 20px;
        line-height: 22px;
      }
    }

    & > h5 {
      @include roboto-regular;

      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-top: 16px;

      @include xs-to-sm {
        font-size: 14px;
        line-height: 20px;
      }
    }

    & > p {
      @include tc-body-md;

      white-space: pre-wrap;
      color: $tc-gray-90;
      margin-bottom: 25px;
    }

    .challenge-checkpoint-winners {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .challenge-checkpoint-submission {
        @include barlow-bold;

        flex: 1;
        background: #f4f4f4;
        padding: 8px 8px 8px 16px;
        border: 0;
        color: $tc-black;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        display: flex;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 4px;
        overflow: hidden;
        justify-content: space-between;
        cursor: pointer;

        @include xs-to-sm {
          font-size: 16px;
          line-height: 18px;
        }

        .challenge-checkpoint-expander {
          padding-right: 23px;

          @include xs-to-sm {
            padding-right: 16px;
          }

          svg {
            width: 12px;
            height: 12px;
            padding-top: 2px;
            padding-bottom: 2px;
          }
        }

        .feedback-text {
          @include xs-to-sm {
            display: none;
          }
        }
      }

      .challenge-checkpoint-feedback {
        @include roboto-regular;

        flex: 1;
        white-space: pre-wrap;
        color: $tc-black;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 16px;
        background-color: #f4f4f4;

        @include xs-to-sm {
          font-size: 14px;
          line-height: 20px;
        }

        span {
          color: $tc-black;
        }
      }
    }
  }
}
