.button {
  color: #0092ff !important;
  display: inline-block !important;
  background: white !important;
  border: none !important;
  border-radius: 20px !important;
  font: 700 14px/35px 'Open Sans', sans-serif !important;
  height: 40px !important;
  margin-top: 24px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  width: 171px !important;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #0092ff !important;
    outline: none !important;
    text-decoration: none !important;
  }

  &.disabled {
    cursor: not-allowed !important;
    opacity: 0.3 !important;
  }

  p {
    display: inline-block !important;
    position: relative !important;
    top: -7px !important;
  }
}
