@import "~styles/mixins";

.activity {
  background-color: $listing-filter-bg;
  border-radius: 8px;
  margin: 68px 0 16px 0;
  padding-bottom: 32px;

  @include xs-to-sm {
    border-radius: 0;
    margin-top: 24px;
    margin-bottom: 0;
    padding-bottom: 16px;
  }

  .header {
    padding: 32px 0 40px 32px;

    @include xs-to-sm {
      padding: 32px 0 16px 16px;
    }

    span {
      @include barlow-bold;

      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-transform: uppercase;
      color: $tco-black;
    }
  }
}
