@import "../../style";

.hide {
  display: none;
}

.myaccount-container {
  display: flex;
  flex-direction: column;
  align-items: left;

  @include upto-sm {
    padding: 20px;
  }

  h1 {
    @include roboto-regular;

    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
    color: $tc-black;
    margin-bottom: 20px;

    @include upto-sm {
      display: none;
    }
  }

  .sub-title {
    @include roboto-light;

    color: #888894;
    line-height: 35px;
    font-weight: 300;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 30px;

    @include upto-sm {
      display: none;
    }
  }

  .error-message {
    @include roboto-regular;

    background-color: $tc-red-10;
    border: 1px solid $tc-red-30;
    color: $tc-red;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
    font-size: 13px;
  }
}

.form-container-default {
  display: flex;
  flex-direction: column;

  .form-default {
    display: block;

    @include upto-sm {
      display: none;
    }
  }

  .form-mobile {
    display: none;

    @include upto-sm {
      display: block;

      .row {
        display: flex;
        flex-direction: column;
      }
    }
  }

  // Toggle password directive
  .toggle-password {
    @include merriweather-sans-regular;

    height: 40px;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 2px;
    cursor: auto;
    transition: all 0.15s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0;

    &.focus {
      border: 1px solid #0096ff !important;
    }

    input.password-input {
      margin-bottom: 0;
      outline: 0;
      width: 100%;
      padding-left: 10px;
      padding-right: 64px;
      height: 100%;
      border: none;

      @include placeholder {
        @include sofia-pro-regular;

        color: $tc-gray-40;
        font-size: 12px;
        text-transform: uppercase;
        transition: opacity 0.15s;
      }
    }

    label {
      @include sofia-pro-medium;

      display: flex !important;
      line-height: 20px !important;
      position: absolute;
      top: 10px;
      right: 0;
      text-transform: uppercase;
      font-size: 10px;
      color: #a3a3ae;
      height: 20px;
      width: 60px;
      padding: 0;

      input[type=checkbox] {
        height: 14px;
        width: 14px;
        visibility: visible;
      }
    }
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-content: space-between;
    justify-content: flex-start;

    .field {
      @include upto-sm {
        display: block;
        padding-bottom: 10px;
      }

      label {
        @include roboto-bold;

        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        color: $tc-gray-80;

        @include upto-sm {
          @include roboto-regular;

          font-size: 12px;
        }
      }

      .passwordCheckbox {
        @include roboto-medium;

        font-size: 10px;
        line-height: 15px;
        font-weight: 500;
        color: $tc-gray-80;
        margin-bottom: 5px;
      }

      &.col-1 {
        max-width: 152px;
        min-width: 152px;
        margin-right: 14px;
        align-self: left;
        margin-bottom: auto;
        margin-top: auto;
        white-space: nowrap;
      }

      &.col-2 {
        align-self: right;
        width: 80%;
        margin-bottom: auto;
        margin-top: auto;
        display: flex;
        flex-direction: column;
      }

      .date-input {
        display: flex;
        align-items: center;
      }

      &.hide {
        display: none;
      }
    }

    &.hide {
      display: none;
    }
  }

  input {
    @include roboto-regular;

    height: 40px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    margin-bottom: 0;
  }

  .form-field {
    background: white;
    color: black;

    &:disabled {
      color: #b7b7b7;
    }

    &.grey {
      background-color: #fcfcfc;
      color: #151516;
    }
  }

  .password {
    @include merriweather-sans-regular;

    padding-left: 0;
    height: 40px;
    width: 230px;
    font-size: 15px;
    line-height: 20px;
    color: #3d3d3d;
    margin: 0;
    outline: none;
    background: #fff;
    border: 1px solid $tc-gray-20;
    box-shadow: inset 0 0 2px 0 hsla(0, 0%, 72%, 0.2);
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    cursor: auto;
    transition: all 0.15s;

    &:hover {
      cursor: text;
    }

    input,
    input:hover,
    input:focus {
      background: none;
      border: none;
      box-shadow: none;
    }

    .newPasswordCheckbox,
    .currentPasswordCheckbox {
      margin: 3px;
    }
  }

  .validation-bar {
    width: 100%;
    display: block;
    position: relative;

    & input[type='text'],
    & input[type='password'] {
      width: 100% !important;
    }

    .password {
      @include merriweather-sans-regular;

      padding-left: 0;
      height: 40px;
      width: 100%;
      font-size: 15px;
      line-height: 20px;
      color: #3d3d3d;
      margin: 0;
      outline: none;
      background: #fff;
      border: 1px solid $tc-gray-20;
      box-shadow: inset 0 0 2px 0 hsla(0, 0%, 72%, 0.2);
      border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
      cursor: auto;
      transition: all 0.15s;

      &:hover {
        cursor: text;
      }

      input,
      input:hover,
      input:focus {
        background: none;
        border: none;
        box-shadow: none;
      }

      .newPasswordCheckbox,
      .currentPasswordCheckbox {
        margin: 3px;
      }
    }
  }

  .password-section {
    margin-top: 20px;

    @include upto-sm {
      display: none;
    }
  }

  .password-wrap {
    width: auto;
  }
}

.button-change-email {
  margin-left: auto;
  margin-right: auto;

  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 170px;
    white-space: nowrap;
  }

  .white-label {
    color: $tc-white;
  }

  &.active {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.button-cancel-change-email {
  margin-left: auto;
  margin-right: auto;

  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 170px;
    white-space: nowrap;
  }

  .white-label {
    color: $tc-white;
  }

  &.active {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.button-verification-email {
  margin-left: auto;
  margin-right: auto;

  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 200px;
    white-space: nowrap;
  }

  .white-label {
    color: $tc-white;
  }

  &.active {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.button-verification-again {
  margin-left: auto;
  margin-right: auto;

  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 237px;
    white-space: nowrap;
  }

  .white-label {
    color: $tc-white;
  }

  &.active {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.button-change-password {
  margin-left: auto;
  margin-right: auto;

  div:first-child {
    margin: 0;
  }

  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 155px;
    white-space: nowrap;
  }

  .white-label {
    color: $tc-white;
    margin: 0;
  }
}

$tips-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
$tips-background: $tc-gray-neutral-light;

// Tip conatiner
.tips {
  background-color: $tips-background;
  border-radius: 4px;
  opacity: 1;
  padding: 20px;
  transition: all 0.1s ease-in-out;
  box-shadow: $tips-shadow;
  width: 320px;
  padding-bottom: 10px;
  text-align: left;
  margin-top: 10px;

  @include upto-sm {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  // The tip container is hidden
  &.ng-hide {
    opacity: 0;
  }

  h3 {
    @include sofia-pro-medium;

    font-size: 14px;
    padding-bottom: 15px;

    @media only screen and (max-width: 915px) {
      font-size: 16px;
    }
  }

  p {
    @include merriweather-sans-regular;

    color: $tc-gray-90;
    font-size: 13px;
    line-height: 1.3;
    padding-bottom: 10px;
    position: relative;
    text-align: left;
  }

  p::before {
    @include sofia-pro-medium;

    content: '';
    width: 20px;
    font-size: 14px;
    left: 0;
    top: 0;
    position: absolute;
  }
}

// Password tips show checkmark validation
// TODO: refactor name to be context independent, like .validation-tips
.password-tips {
  p {
    padding-left: 20px;
  }

  p::before {
    color: $tc-green;
    content: '\2713 ';
    display: none;
  }

  .has-length-between-range::before,
  .has-letter::before,
  .has-symbol-or-number::before,
  .has-number::before,
  .different-with-old-password::before {
    display: block;
  }

  @include upto-sm {
    display: none;

    &.mobile {
      display: block;
    }
  }
}
