@import "../../style";
@import "~styles/mixins";

.hide {
  display: none;
}

.myaccount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include upto-sm {
    padding: 20px;
    border-bottom: 1px solid $tc-gray-10;
  }

  h1 {
    @include roboto-regular;

    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
    color: $tc-black;
    margin-bottom: 20px;

    @include upto-sm {
      display: none;
    }
  }

  .sub-title {
    @include roboto-light;

    color: #888894;
    line-height: 35px;
    font-weight: 300;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 30px;

    @include upto-sm {
      display: none;
    }
  }
}

.form-container-default {
  display: flex;
  flex-direction: column;

  .form-default {
    display: block;

    @include upto-sm {
      display: none;
    }
  }

  .form-mobile {
    display: none;

    @include upto-sm {
      display: block;

      .row {
        display: flex;
        flex-direction: column;
      }
    }
  }

  // Toggle password directive
  .toggle-password {
    @include merriweather-sans-regular;

    height: 40px;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 2px;
    cursor: auto;
    transition: all 0.15s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0;

    &.focus {
      border: 1px solid #0096ff !important;
    }

    input.password-input {
      margin-bottom: 0;
      outline: 0;
      width: 100%;
      padding-left: 10px;
      padding-right: 64px;
      height: 100%;
      border: none;

      @include placeholder {
        @include roboto-regular;

        color: $tc-gray-40;
        font-size: 12px;
        text-transform: uppercase;
        transition: opacity 0.15s;
      }
    }

    label {
      @include roboto-medium;

      display: flex !important;
      line-height: 20px !important;
      position: absolute;
      top: 10px;
      right: 0;
      text-transform: uppercase;
      font-size: 10px;
      color: #a3a3ae;
      height: 20px;
      width: 60px;
      padding: 0;

      input[type=checkbox] {
        height: 14px;
        width: 14px;
        visibility: visible;
      }
    }
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-content: space-between;
    justify-content: flex-start;

    &.button-group {
      justify-content: space-evenly;
    }

    .field {
      position: relative;

      @include upto-sm {
        display: block;
        padding-bottom: 10px;
      }

      label {
        @include roboto-bold;

        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        color: $tc-gray-80;

        @include upto-sm {
          @include roboto-regular;

          font-size: 12px;
        }
      }

      .passwordCheckbox {
        @include roboto-medium;

        font-size: 10px;
        line-height: 15px;
        font-weight: 500;
        color: $tc-gray-80;
        margin-bottom: 5px;
      }

      &.col-1 {
        max-width: 152px;
        min-width: 152px;
        margin-right: 14px;
        align-self: flex-start;
        margin-bottom: auto;
        margin-top: auto;
        white-space: nowrap;

        &.password {
          margin-top: 10px;
          align-self: flex-start;
          border: none;
          box-shadow: none;
        }
      }

      &.col-2 {
        align-self: flex-end;
        width: 80%;
        margin-bottom: auto;
        margin-top: auto;
        display: flex;
        flex-direction: column;
      }

      .date-input {
        display: flex;
        align-items: center;
      }

      &.hide {
        display: none;
      }
    }

    &.hide {
      display: none;
    }
  }

  input {
    @include roboto-regular;

    height: 40px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    margin-bottom: 0;
  }

  .form-field {
    background: white;
    color: black;

    &:disabled {
      color: #b7b7b7;
    }

    &.grey {
      background-color: #fcfcfc;
      color: #151516;
    }
  }

  .password {
    @include merriweather-sans-regular;

    padding-left: 0;
    height: 40px;
    width: 230px;
    font-size: 15px;
    line-height: 20px;
    color: #3d3d3d;
    margin: 0;
    outline: none;
    background: #fff;
    border: 1px solid $tc-gray-20;
    box-shadow: inset 0 0 2px 0 hsla(0, 0%, 72%, 0.2);
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    cursor: auto;
    transition: all 0.15s;

    &:hover {
      cursor: text;
    }

    input,
    input:hover,
    input:focus {
      background: none;
      border: none;
      box-shadow: none;
    }

    .newPasswordCheckbox,
    .currentPasswordCheckbox {
      margin: 3px;
    }
  }

  .validation-bar {
    width: 100%;
    display: block;
    position: relative;

    & input[type='text'],
    & input[type='password'] {
      width: 100% !important;
    }

    .password {
      @include merriweather-sans-regular;

      padding-left: 0;
      height: 40px;
      width: 100%;
      font-size: 15px;
      line-height: 20px;
      color: #3d3d3d;
      margin: 0;
      outline: none;
      background: #fff;
      border: 1px solid $tc-gray-20;
      box-shadow: inset 0 0 2px 0 hsla(0, 0%, 72%, 0.2);
      border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
      cursor: auto;
      transition: all 0.15s;

      &:hover {
        cursor: text;
      }

      input,
      input:hover,
      input:focus {
        background: none;
        border: none;
        box-shadow: none;
      }

      .newPasswordCheckbox,
      .currentPasswordCheckbox {
        margin: 3px;
      }
    }
  }

  .password-section {
    margin-top: 20px;

    @include upto-sm {
      display: none;
    }
  }

  .password-wrap {
    width: auto;
  }
}

.form-container {
  padding: $pad-xxxxl;
  background-color: $color-tc-white;
  border-radius: 4px;
  margin: $margin-sm 0 $margin-xxxxl 0;

  .password-form {
    display: flex;
    flex-wrap: wrap;
  }

  .account-form {
    display: flex;
    flex-wrap: wrap;
  }

  .error-message {
    @include roboto-medium;

    display: block;
    border-radius: 5px;
    background-color: $tc-red-10;
    color: $tc-red-110;
    font-size: 15px;
    padding: 15px;
    margin: 6px 0;
    line-height: 20px;
  }
}

.form-title {
  @include barlow-semi-bold;

  font-size: 20px;
  line-height: 22px;
  color: inherit;
  text-transform: uppercase;
  padding-bottom: $pad-xxxxl;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-label {
  flex: 0 0 calc(50% - 13px);
  padding-right: 230px;

  @include roboto-regular;

  font-size: 16px;
  line-height: 26px;
  color: inherit;
}

.form-body {
  flex: 0 0 calc(50% + 13px);
}

.button-change-password {
  margin-bottom: 16px;

  .button {
    @include roboto-bold;

    padding: 12px 24px;
    background: $tc-white;
    border: 2px solid $color-black-5;
    border-radius: 50px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: $color-black-60;
    height: 48px;
    width: 207px;
    margin: 0;

    &:hover,
    &:active,
    &:focus {
      outline: none !important;
      background: none !important;
      border-color: $color-black-5;
      color: $color-black-60;
      box-shadow: none !important;
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}

@include xs-to-md {
  .form-container {
    padding: $pad-xxl $pad-lg;
  }

  .form-title {
    @include barlow-semi-bold;

    font-size: 20px;
    line-height: 22px;
    padding-bottom: $pad-xxl;
  }

  .form-label {
    flex: 1 1 100%;
    padding: 0;
    margin-bottom: $margin-xxl;
    font-size: 14px;
    line-height: 20px;
  }

  .form-body {
    flex: 1 1 100%;
  }

  .form-footer {
    margin: 0;
  }
}

.button-change-email {
  margin-left: auto;
  margin-right: auto;

  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 170px;
    white-space: nowrap;
  }

  .white-label {
    color: $tc-white;
  }

  &.active {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.button-cancel-change-email {
  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 170px;
    white-space: nowrap;
  }

  .white-label {
    color: $tc-white;
  }

  &.active {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.button-verification-email {
  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 200px;
    white-space: nowrap;
  }

  .white-label {
    color: $tc-white;
  }

  &.active {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.button-verification-again {
  margin-left: auto;
  margin-right: auto;

  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 237px;
    white-space: nowrap;
  }

  .white-label {
    color: $tc-white;
  }

  &.active {
    display: block;
  }

  &.hide {
    display: none;
  }
}

$tips-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
$tips-background: $tc-gray-neutral-light;

// Tip conatiner
.tips {
  background-color: $tips-background;
  border-radius: 4px;
  opacity: 1;
  padding: 20px;
  transition: all 0.1s ease-in-out;
  box-shadow: $tips-shadow;
  width: 320px;
  padding-bottom: 10px;
  text-align: left;
  margin-top: 10px;

  @include upto-sm {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  // The tip container is hidden
  &.ng-hide {
    opacity: 0;
  }

  h3 {
    @include roboto-medium;

    font-size: 14px;
    padding-bottom: 15px;

    @media only screen and (max-width: 915px) {
      font-size: 16px;
    }
  }

  p {
    // @include merriweather-sans-regular;
    @include roboto-medium;

    color: $tc-gray-90;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.3;
    padding-bottom: 10px;
    position: relative;
    text-align: left;
  }

  p::before {
    @include roboto-medium;

    content: '';
    width: 20px;
    font-size: 14px;
    left: 0;
    top: 0;
    position: absolute;
  }
}

// Password tips show checkmark validation
// TODO: refactor name to be context independent, like .validation-tips
.password-tips {
  position: absolute;
  z-index: 10;
  margin-top: 10px;

  p {
    padding-left: 20px;
  }

  p::before {
    color: $tc-green;
    content: '\2713 ';
    display: none;
  }

  .re-password-match::before,
  .has-length-between-range::before,
  .has-letter::before,
  .has-symbol-or-number::before,
  .has-number::before,
  .different-with-old-password::before {
    display: block;
  }

  @include upto-sm {
    display: none;

    &.mobile {
      display: block;
      width: 313px;
    }
  }
}

.modalContainer {
  @include roboto-regular;

  padding: 0;
  position: fixed;
  overflow: auto;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: auto;
  max-width: none;
  transform: none;
  background: transparent;

  .verification-send-container {
    background: transparent;
    opacity: 1;
    position: relative;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    color: #444;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
  }
}

.verification-send-details {
  @include merriweather-sans-light;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $tc-white;
  opacity: 1;
  border-radius: 4px;
  padding: 40px;

  .verification-send-title {
    @include roboto-medium;

    font-size: 20px;
    line-height: 24px;
    color: $tc-gray-90;
    text-transform: uppercase;
  }

  .verification-send-message {
    margin: 10px 0;
    width: 100%;
  }

  .verification-send-button {
    margin-left: auto;
    margin-right: auto;

    button,
    a {
      @include roboto-medium;

      height: 40px;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      width: 170px;
      white-space: nowrap;
    }

    .white-label {
      color: $tc-white;
    }
  }
}

@media (min-width: 768px) {
  .verification-send-details {
    width: 520px;
    min-height: 256px;
  }
}

.sso-text {
  p {
    @include roboto-regular;

    margin: 12px 0;
    font-size: 16px;
    line-height: 26px;
    color: inherit;

    @include xs-to-md {
      font-size: 14px;
    }
  }
}
