@import "~styles/mixins";

.container {
  border-bottom: 1px solid #e9e9e9;

  @include xs-to-sm {
    padding-top: 10px;
    padding-bottom: 16px;
  }

  .row {
    font-size: 13px;
    color: $tc-gray-70;
    display: flex;
    border-bottom: 1px solid $tc-gray-10;
    padding: 16px 0;

    &.no-border {
      border: none;
    }

    @include xs-to-sm {
      padding: 0;
      display: flex;
      flex-direction: column;
    }
  }

  .col {
    text-align: center;

    @include roboto-medium;

    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding: 0;

    &.child {
      height: 57px;

      @include xs-to-sm {
        height: auto;
      }
    }

    &.col-1 {
      flex: 30;

      @include roboto-medium;

      color: #2a2a2a;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      text-align: left;

      @include xs-to-sm {
        flex: 10;
      }
    }

    &.col-2 {
      flex: 30;

      @include roboto-medium;

      color: #2a2a2a;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      text-align: left;

      @include xs-to-sm {
        display: block;
      }
    }

    &.col-3 {
      flex: 32;

      @include roboto-medium;

      color: #2a2a2a;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      text-align: left;
    }

    &.col-4 {
      flex: 10;

      @include roboto-medium;

      color: #2a2a2a;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      text-align: left;

      &.mm {
        flex: 28;
      }
    }

    &.center {
      text-align: center;

      @include xs-to-sm {
        text-align: left;
      }
    }
  }
}

.mobile-header {
  display: none;

  @include xs-to-sm {
    display: block;
    margin-top: 16px;
    font-size: 11px;
    line-height: 14px;

    @include barlow-bold;

    font-weight: 600;
    color: #767676;
    text-align: left;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  padding: 0;
  background: transparent;
  text-transform: uppercase;
}
