@import "~styles/mixins";

.skillList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 8px 4px;
  margin-bottom: $margin-lg;
}

.skillListItem {
  @include roboto-medium;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: $color-tc-white;
  text-transform: capitalize;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: ($pad-xs - 1px) ($pad-sm - 1px);
  background-color: $color-teal-140;
  border: 1px solid $color-teal-140;
  border-radius: 4px;
  cursor: default;

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
      display: block;
    }
  }

  .verified-badge {
    margin-right: $margin-xs;
  }
}

.form-container {
  padding: $pad-xxxxl;
  margin: 0 0 $margin-sm;
  background-color: $color-tc-white;
}

.form-title {
  @include barlow-semi-bold;

  font-size: 20px;
  line-height: 22px;
  color: inherit;
  text-transform: uppercase;
  padding-bottom: $pad-xxxxl;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  padding: $pad-xxxxl 0 0;
  border-top: 2px solid $color-black-10;
}

.form-label {
  flex: 0 0 calc(50% - 13px);
  padding-right: 48px;

  @include roboto-regular;

  font-size: 16px;
  line-height: 26px;
  color: inherit;
}

.form-body {
  flex: 0 0 calc(50% + 13px);
}

.form-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(50% - 13px);
  padding: $pad-sm 0;
  gap: $margin-sm 40px;

  .button-add {
    @include roboto-bold;

    font-size: 14px;
    line-height: 14px;
    color: $color-turq-160;
    min-height: 0;
    margin: 0;
    padding: 0;
    background: transparent !important;
    border: none;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      outline: none !important;
      color: lighten($color-turq-160, 5%);
      background: transparent !important;
      box-shadow: none !important;
    }

    .icon {
      margin-right: $margin-xs;
    }
  }
}

@include xs-to-md {
  .form-container {
    padding: $pad-xxl $pad-lg;
  }

  .form-title {
    @include barlow-condensed-medium;

    font-size: 22px;
    line-height: 24px;
    padding-bottom: $pad-xxl;
  }

  .form-content {
    padding: $pad-xxl 0 0;
  }

  .form-label {
    flex: 1 1 100%;
    padding: 0;
    margin-bottom: $margin-xxl;
    font-size: 14px;
    line-height: 20px;
  }

  .form-body {
    flex: 1 1 100%;
  }

  .form-footer {
    padding: 0;
    margin: 0;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .button-add {
      padding: $pad-sm 0;
    }
  }
}
