@import "~styles/mixins";

.container {
  max-width: $screen-lg;
  margin: auto;

  @include xs-to-sm {
    padding: 0 15px;
  }

  .filters {
    display: flex;
    align-items: flex-end;

    @include xs-to-sm {
      flex-direction: column;
    }

    > div {
      margin-right: 30px;
      flex: 1;

      @include xs-to-sm {
        margin-right: 0;
      }

      &:first-child {
        flex: 3;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .jobs-list-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0 50px 0;

    .no-results {
      display: flex;
      justify-content: center;
    }
  }
}
