/* stylelint-disable no-descending-specificity */
@import "~styles/mixins";

.loading-text {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #2a2a2a;
  text-align: center;
}

.container,
.container-with-hotlist {
  max-width: $screen-lg;
  margin: auto;

  @media (max-width: 1280px) {
    padding: 0 15px;
  }

  .gigs {
    display: block;
    flex: 1;
  }

  .filters {
    display: flex;
    align-items: flex-end;

    @include xs-to-sm {
      flex-direction: column;
    }

    > div {
      margin-right: 30px;
      flex: 1;

      @include xs-to-sm {
        margin-right: 0;
        margin-bottom: 15px;
      }

      &:first-child {
        flex: 3;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .jobs-list-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0 50px 0;

    .no-results {
      display: flex;
      justify-content: center;
    }
  }
}

.container-with-hotlist {
  display: flex;

  .hotlist {
    display: flex;
    flex: 1;
    margin: 5px 0;

    h5 {
      font-family: Barlow, sans-serif;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 7px 0 31px 6px;
      color: #2a2a2a;
    }

    .hotlist-items {
      display: grid;
      align-items: stretch;
      gap: 0 20px;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @include md-to-lg {
        grid-template-columns: 1fr 1fr;
      }

      @include xs-to-sm {
        grid-template-columns: 1fr;
      }

      .hotlist-item-1,
      .hotlist-item-2,
      .hotlist-item-3,
      .hotlist-item-4 {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 20px 20px 12px;
        font-family: Roboto, sans-serif;
        margin-bottom: 16px;
        color: #2a2a2a;

        .location {
          font-size: 14px;
          display: flex;
          align-items: center;
          line-height: 30px;

          svg {
            margin-right: 5px;
            width: 15px;
            height: 17px;
          }
        }

        .job-title {
          margin: 0;
        }

        .job-money {
          line-height: 30px;
        }

        .job-desc {
          font-family: Roboto, sans-serif;
          line-height: 24px;
          margin-top: 13px;
        }
      }

      .hotlist-item-1,
      .hotlist-item-2,
      .hotlist-item-4 {
        color: #fff;

        .location svg g {
          stroke: #fff;
        }

        .job-title,
        .job-desc {
          color: #fff;
        }
      }

      .hotlist-item-1 {
        background-image: linear-gradient(305.22deg, #9d41c9 0.01%, #ef476f 100%);
      }

      .hotlist-item-2 {
        background-image: linear-gradient(125.57deg, #2c95d7 0%, #83c5ee 100%);
      }

      .hotlist-item-3 {
        background-image: linear-gradient(309.43deg, #f4f4f4 0%, #d4d4d4 100%);
      }

      .hotlist-item-4 {
        background-image: linear-gradient(359.14deg, #555 0%, #2a2a2a 100%);
      }

      .hotlist-item-button-3,
      .hotlist-item-button-4 {
        font-family: Roboto, sans-serif;
        font-size: 12px;
        letter-spacing: 0.8px;
        line-height: 30px;
        padding: 0 15px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 22px 0 9px;
        max-width: 104px;
        border-radius: 15px;
      }

      .hotlist-item-button-3 {
        background-color: #137d60;
        color: #fff;
      }

      .hotlist-item-button-4 {
        background-color: #fff;
        color: #229174;
      }
    }
  }
}
