@import "~styles/mixins";

.item {
  display: inline-block;
  width: 150px;
  height: 100%;
  font-family: 'Sofia Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;

  &.current {
    background: fade-out($tc-dark-blue-90, 0.66);

    a {
      color: $tc-white;
    }
  }

  svg {
    display: block;
    height: 36px;
    margin: 0 auto 10px;
    width: 36px;
  }

  a {
    color: $tc-white;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding: 30px;
    width: 150px;

    &:visited,
    &:active {
      color: $tc-white;
    }
  }

  &:hover {
    background: $tc-dark-blue-90;

    a {
      color: $tc-white;
      text-decoration: none;
    }
  }
}
