@import "~styles/tc-includes";

.item {
  color: $tc-white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Sofia Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  height: 100%;
  line-height: 14px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  width: 150px;

  &.current {
    background: fade-out($tc-dark-blue-90, 0.66);
  }

  svg {
    display: block;
    height: 36px;
    margin: 0 auto 10px;
    width: 36px;
  }

  a {
    color: $tc-white;
  }

  &:hover {
    background: $tc-dark-blue-90;

    a {
      color: $tc-white;
      text-decoration: none;
    }
  }
}
