@import "~styles/mixins";

.container {
  @include tc-body-lg;

  padding: 10px 30px;
}

.link,
.link:active,
.link:visited {
  color: $tc-dark-blue-110;
}

.link:hover {
  color: $tc-dark-blue-70;
}
