.content {
  text-align: center;
}

.copyright {
  bottom: 6px;
  color: #787d81;
  display: inline-block;
  font: 12px 'Open Sans';
  left: 24px;
  position: relative;
}

.footer {
  background: #fafafb;
  padding: 24px 24px 18px;
}
