@import "../../../Header/style.scss";

.logos img {
  max-height: 23px;
}

.logosWrap {
  display: flex;
}

.container {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  align-items: center;
  z-index: 99999;
  position: relative;
}

.chevronDown::before {
  color: #fff;
  height: 9px;
  width: 9px;
}

.menu {
  height: 70px;
  justify-content: flex-end;
  align-items: center;

  @include xxs-to-xs {
    height: 100%;
    background-color: #fff;
  }
}

.menuWrap {
  max-height: none;

  @include xxs-to-xs {
    max-height: 0;
  }

}

.mobileToggle i {
  background-color: #fff;
}

.header {
  font-family: "Proxima Nova", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;

  a {
    color: #fff;
  }

}

.challengeDropdown {
  color: #fff;
  border-left-color: #fff;
}

.userMenuHandle {
  font: 400 14px/17px "Proxima Nova", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: none;
  text-decoration: none;
  color: #fff;
}

.menuWrap {
  flex-grow: 0;
}

.menuWrapOpen {

}

.menuLink,
.menuLink:visited,
.menuLinkActive,
.menuLinkActive:visited {
  font-family: "Proxima Nova", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: none;
  font-size: 14;
  color: #fff;
  transition: color 0.5s;
  font-weight: normal;
  margin-right: 40px;

  &:active,
  &:focus,
  &:hover, {
    color: #ddd;
  }

  @include xxs-to-xs {
    color: #999;
  }
}

.menuLinkActive::after,
.menuLinkActive:visited::after {
  background-color: #fff;
  height: 2px;
  width: 110%;
  left: 50%;
  transform: translate(-50%, -15px);
  border-radius: none;

  @include xxs-to-xs {
    color: #999;
  }
}

.userWrapMobile {
  opacity: 0; /* This hack hides the user avatar without braking the layout */
}
