@import "~styles/mixins";

$text-color-gray: #37373b;
$container-background-yello: #fce217;

.container {
  @include roboto-regular;

  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction: row;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  padding: 40px;
  background: $container-background-yello;

  @media only screen and (max-width: 767px) {
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
  }

  .title {
    @include barlow-condensed-medium;

    color: #2a2a2a;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    margin: auto 41px auto 0;
    text-transform: uppercase;

    @media only screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  .time-container {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
    -webkit-justify-content: center; /* Safari */
    justify-content: center;
  }

  .time-value {
    @include barlow-condensed;

    color: #9d41c9;
    font-size: 80px;
    line-height: 74px;
    text-align: center;
  }

  .time-label {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 18px;
    text-align: center;
    width: 100px;
    text-transform: uppercase;
    margin-top: 4px;

    @media only screen and (max-width: 767px) {
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;
    }
  }

  .time-second {
    display: block;
  }
}
