@import "../../style";

$checkbox-size: $base-unit * 4;
$checkbox-bg-empty: $tc-gray-neutral-light;
$checkbox-bg-selected: $tc-dark-blue;

.hide {
  display: none;
}

.education-container {
  display: flex;
  flex-direction: column;
  align-items: left;

  @include xs-to-sm {
    padding-bottom: 0;
  }

  h1 {
    @include roboto-regular;

    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
    color: $tc-black;
    margin-bottom: 20px;

    @include xs-to-sm {
      display: none;
    }
  }
}

.error-message {
  display: none;

  &.active {
    @include roboto-medium;

    display: block;
    border-radius: 5px;
    background-color: $tc-red-10;
    color: $tc-red-110;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 15px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid $tc-gray-10;
  padding: 20px 20px 20px 20px;
  background-color: $tc-gray-neutral-light;

  @include xs-to-sm {
    border: 0;
    border-radius: 0;
  }

  p {
    @include roboto-regular;

    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $tc-black;

    @include xs-to-sm {
      margin-bottom: 20px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-content: space-between;
    width: 100%;

    @include xs-to-sm {
      display: block;
      margin-bottom: 0;
    }

    div:last-child {
      margin-right: 0;
    }

    .field {
      display: flex;
      flex-direction: column;
      margin-right: 10px;

      @include xs-to-sm {
        display: block;
        padding-bottom: 10px;
      }

      label {
        @include roboto-medium;

        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        color: $tc-gray-80;
        margin-bottom: 5px;
      }

      .tc-checkbox {
        height: $checkbox-size;
        width: $checkbox-size;
        margin-bottom: 10px;
        position: absolute;
        display: inline-block;
        bottom: 0;

        input[type=checkbox] {
          display: none;
        }

        label {
          cursor: pointer;
          position: absolute;
          display: inline-block;
          width: $checkbox-size;
          height: $checkbox-size;
          top: 0;
          left: 0;
          border-radius: $corner-radius;
          box-shadow: none;
          border: 1px solid $tc-gray-50;
          background: $tc-gray-neutral-light;

          &::after {
            opacity: 0;
            content: '';
            position: absolute;
            width: 13px;
            height: 7px;
            background: transparent;
            top: 4px;
            left: 3px;
            border: 3px solid $tc-dark-blue;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
          }

          &:hover::after {
            opacity: 0.3;
          }
        }

        input[type=checkbox]:checked ~ label {
          background: $checkbox-bg-selected;
          border-color: $checkbox-bg-selected;
        }

        input[type=checkbox]:checked + label::after {
          opacity: 1;
          border-color: $tc-white;
        }
      }

      .tc-checkbox-label {
        display: inline-block;

        @include roboto-regular;

        font-size: 13px;
        line-height: $checkbox-size;
        vertical-align: middle;
        margin-left: $base-unit * 6;
        user-select: none;
        cursor: pointer;
      }

      .date-input {
        display: flex;
        align-items: center;
      }

      &.col-1 {
        width: 23%;

        @include xs-to-sm {
          width: 100%;
        }
      }

      &.col-2 {
        width: 51%;

        @include xs-to-sm {
          width: 100%;
        }
      }

      &.col-3 {
        width: 26%;

        @include xs-to-sm {
          width: 100%;
        }
      }

      &.col-date {
        width: 175px;

        @include xs-to-sm {
          width: 100%;
        }
      }

      &.col-checkbox {
        position: relative;

        @include xs-to-sm {
          top: 25px;
        }
      }
    }
  }

  input {
    @include roboto-regular;

    height: 36px;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;

    @include xs-to-sm {
      margin-top: 5px;
    }
  }
}

.button-save {
  align-self: center;

  @include xs-to-sm {
    margin-top: 30px;
  }

  button,
  a {
    @include roboto-medium;

    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 156px;
  }

  .complete {
    color: $tc-white;
  }
}

/*
 * React Select component styling
 */
.education-container .form-container .row .field :global .Select,
.education-container .form-container .row .field :global .Select-value span,
.education-container .form-container .row .field :global .Select-menu-outer,
.education-container .form-container .row .field :global .Select-placeholder,
.education-container .form-container .row .field :global .Select-input input {
  color: $tc-gray-80;
  font-size: 15px;

  @include xs-to-sm {
    margin-top: 5px;
  }
}

.education-container div[class="Select-control"] {
  height: 40px;

  div[class="Select-input"] {
    height: 38px;
  }

  div[class="Select-placeholder"] {
    height: 38px;
    line-height: 40px !important;

    @include xs-to-sm {
      line-height: 27px !important;
    }
  }

  div[class="Select-value"] {
    line-height: 40px !important;
  }
}

.education-container .form-container .row .field :global .Select-placeholder {
  color: $tc-gray-50;
}
