@import "~styles/mixins";

.error {
  @include roboto-regular;

  color: red;
  font-size: 13px;

  &.hide {
    color: transparent;
  }
}

.form {
  @include roboto-regular;

  display: flex;
  background-color: $tc-black;
  width: 80%;

  input {
    color: $tc-white !important;
    background-color: $tc-black !important;
    font-size: 15px !important;
    height: 43px !important;
    line-height: 19px !important;
    margin: 8px 0 !important;
    padding: 9px 10px 10px !important;
    box-shadow: none !important;
    width: 55%;

    &.invalid {
      border-color: $tc-red !important;
      border-width: 2px;

      &:focus {
        border-color: $tc-red !important;
        border-width: 2px;
      }
    }

    &.valid {
      border: none !important;

      &:focus {
        border: none !important;
      }
    }

    &:focus {
      box-shadow: none !important;
      color: $tc-white !important;
    }
  }

  button {
    height: 59px;
    background-color: #1fc13d;
    color: $tc-white;
    border: none;
    outline: 0;
    font-size: 21px;
    font-weight: 700;
    width: 45%;

    &:hover {
      background-color: $tc-gray-80;
    }
  }

  [placeholder]:focus::-webkit-input-placeholder {
    color: $tc-white !important;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $tc-white !important;
    text-transform: none;
    font-size: 15px;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: $tc-white !important;
    text-transform: none;
    font-size: 15px;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: $tc-white !important;
    text-transform: none;
    font-size: 15px;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $tc-white !important;
    text-transform: none;
    font-size: 15px;
  }
}

.returnToCommunityButton {
  display: block !important;
  margin: auto !important;
}

.modalTitle {
  color: $tc-black;
  text-align: center;
}
