@import "~styles/mixins";

nav.settings-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid $tc-gray-20;
  background-color: $tc-gray-neutral-light;

  @media only screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    align-items: center;
  }

  li {
    display: inline-block;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include sofia-pro-medium;

    font-size: 18px;
    line-height: 24px;
    color: $tc-gray-40;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    @media only screen and (min-width: 768px) {
      font-size: 16px;
    }

    &:hover {
      color: $tc-gray-90;
    }

    &:focus {
      outline: none;
    }
  }

  .active-tab {
    padding-bottom: 18px;
    border-bottom: 2px solid $tc-dark-blue-110;
    color: $tc-gray-90;
  }
}
