@import "~styles/mixins";

nav.settings-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $tc-gray-neutral-light;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  width: 662px;

  @media only screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    align-items: center;
  }

  li {
    display: inline-block;
    margin-right: 100px;

    @media only screen and (min-width: 768px) {
      width: 90px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include sofia-pro-medium;

    font-size: 13px;
    line-height: 24px;
    color: $tc-gray-40;
    text-decoration: none;
    cursor: pointer;

    @media only screen and (min-width: 768px) {
      font-size: 16px;
    }

    &:hover {
      color: $tc-gray-90;
    }

    &:focus {
      outline: none;
    }
  }

  .active-tab {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0;
    margin-right: 100px;
    border-bottom: 2px solid $tc-dark-blue-110;
    color: $tc-gray-90;
  }
  .inactive-tab {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0;
    margin-right: 100px;
  }
  .activeLink{
    color: $tc-gray-90;
    font-size: 15px;
    font-weight: 550;
  }
  .inactiveLink{
    font-size: 15px;
    font-weight: 550;
  }
}
