@import "~styles/mixins";

.button {
  background: #137d60 !important;
  border-radius: 50px !important;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 33%;
  margin-right: 2%;

  .file-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 6px;
    border: 1px dashed #aaa;
    min-height: 190px;
    height: 100%;
    position: relative;
    justify-content: space-around;

    &.topgear {
      justify-content: flex-start;
    }

    @include xs-to-sm {
      min-height: 150px;
      justify-content: space-between;
    }

    p {
      font-size: 16px;
      color: #2a2a2a;
      line-height: 25px;
      flex-basis: 0;
      text-align: center;

      @include xs-to-sm {
        font-size: 13px;
        line-height: 15px;
      }
    }

    span {
      font-size: 16px;
      color: #2a2a2a;
      flex-basis: 0;
      flex-grow: 1;
      position: absolute;
      left: 50%;
      top: calc(50% - 12px);
    }

    .submission-input {
      position: relative;
      top: -4000px;
    }

    .file-name {
      display: flex;
      align-items: center;
    }

    .url-input-container {
      width: 100%;
      margin-top: 40px;

      input.invalid {
        border-color: #f22f24;
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $tc-gray-40;
        opacity: 1; /* Firefox */
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $tc-gray-40;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $tc-gray-40;
      }
    }

    .invalid-url-message {
      font-size: 12px;
      color: #f22f24;
      margin-bottom: 10px;
    }
  }

  .file-picker.error {
    border-color: #f22f24;
  }

  .file-picker.drag {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.4);
  }

  .desc {
    font-size: 12px;
    color: #37373c;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  .mandatory {
    font-size: 10px;
    color: #0b71e6;
  }

  @include xs-to-md {
    button {
      padding: 10px;
    }
  }

  .error-container {
    margin-top: 5px;
    padding: 5px 13px;
    background: #fff4f4;
    border: 1px solid #ffd4d1;
    color: #f22f24;
    font-size: 13px;
    border-radius: 2px;
    font-style: italic;
  }
}

.drop-zone-mask {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
