@import '~tc-ui/src/styles/tc-includes';

.user-info {
  background-color: $tc-white;
  flex-basis: 60%;
  padding: 20px;
  position: relative;

  @media (max-width: 700px) {
    flex-basis: 50%;
  }
}

.user-profile {
  display: flex;
  align-items: center;

  .list-number {
    display: inline-block;
    width: 40px;
    vertical-align: top;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 28px;
    color: $tc-gray-20;
    background-color: $tc-white;

    @media (max-width: 700px) {
      width: 25px;
    }
  }
}
