@import "../../../style";

.container {
  width: 100%;
  background-color: $tc-white;
  padding: 0 0;

  &.active {
    margin-top: 20px;

    @include xs-to-sm {
      margin-top: 0;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-items: center;

    li {
      min-height: 90px;
    }

    li:last-child {
      border-bottom: 1px solid $tc-gray-10;
    }
  }
}
