.lightbox-container {
  font-family: 'Sofia Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  width: 100%;
  margin: auto;
  overflow: hidden;
  flex-direction: row;

  .selector {
    .title {
      font-size: 24px;
      margin: 30px auto;
      text-align: center;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    img {
      height: 550px;
    }

    .info {
      color: #a3a3ae;
      text-align: right;
    }

    .selections {
      img.selection {
        height: 60px;
        opacity: 0.6;

        &.current {
          border: solid 2px #0096ff;
          height: 62px;
          opacity: 1;
        }

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }

  .left-nav,
  .right-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;

    img {
      width: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  z-index: 10000;
  opacity: 0.95;
  height: 742px;
  width: 768px;
  padding: 0 0 0 0;
  align-self: center;

  .ngdialog-content {
    .ngdialog-close {
      display: none;
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 30px;
    }

    .head {
      .ngdialog-close {
        display: block;
      }
    }
  }
}
