@import '~styles/mixins';

$view-options-toggle-right-margin: $base-unit * 2;
$down-arrow-size: $base-unit;

%sorting-select-button {
  line-height: 12px;
  border-radius: 20px;
  padding: 4px 10px;
  background-color: $tc-white;
  font-weight: 400;
  text-transform: none;
}

.sortingBar {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: $tc-white;
  padding: 20px 0;

  .title {
    @include roboto-bold;

    display: flex;
    align-items: center;
    color: $tco-black;
    font-size: 24px;
    line-height: 32px;
    border: none;
    text-transform: capitalize;

    @include xs-to-md {
      margin-left: 16px;
      font-size: 16px;
      padding: 0;
    }
  }

  .view-options-toggle-container {
    display: flex;
    align-items: center right;

    @include xs-to-md {
      margin-right: 16px;
    }

    :global {
      // 'Sort by' dropdown
      .Select {
        @include roboto-regular;

        border-color: #b3b3b3 !important;
      }

      .Select-control {
        line-height: 12px;
        padding: 4px 35px 4px 10px;
        width: 208px;
        height: 40px;
        background-color: $tc-white;
        font-weight: 400;
        font-size: 12px;
        text-transform: none;
        border: 1px solid #aaa;
        color: $tc-gray-90;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
      }

      .Select-input {
        width: 100% !important;
        height: 0;
        padding: 0;
        opacity: 0;
        position: absolute;
      }

      .Select--single > .Select-control .Select-value {
        position: static;
        padding: 0;
        overflow: visible;
      }

      .Select.is-focused > .Select-control {
        outline: none;
        box-shadow: none;
      }

      .Select-value-label {
        @include roboto-regular;

        font-size: 400;
        font-size: 14px;
        line-height: 22px;
        color: $tco-black;
        vertical-align: middle;
      }

      .Select-arrow-zone {
        content: ' ';
        display: block;
        height: 0;
        position: absolute;
        right: 17px;
        top: 50%;
        width: 0;

        svg {
          width: 10px;
          height: 10px;
        }
      }

      .Select-menu-outer {
        width: 100%;
        color: $tc-gray-90;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        font-weight: 400;
        font-size: 12px;
        background-color: $tc-white;
        box-sizing: border-box;
        border: 1px solid #ccc;
        max-height: 200px;
        position: absolute;
        left: 0;
        height: fit-content;
        top: 100%;
      }

      .Select-menu {
        overflow-y: visible;
        font-size: 14px;
      }

      .Select-option {
        box-sizing: border-box;
        color: #2a2a2b;
        cursor: pointer;
        display: block;
        padding: 8px 15px;
      }

      .Select-option:hover {
        color: #fff !important;
        font-weight: 400 !important;
        background-color: #229173 !important;
      }

      .Select.is-focused:not(.is-open) > .Select-control {
        border-color: #b3b3b3 !important;
      }

      .Select-option.is-selected {
        color: $tc-black;
        font-weight: 500;
        background: $tc-white;
      }

      .Select-option.is-focused {
        background: $tc-white;
      }

      .Select-noresults {
        box-sizing: border-box;
        color: $tc-gray-90;
        cursor: default;
        display: block;
        padding: 8px 20px;
      }
    }
  }

  .view-options {
    position: absolute;
    right: $view-options-toggle-right-margin;
    top: $base-unit * 10;
    z-index: 1;
    background: $tc-white;
    border-radius: $base-unit;
    padding: $base-unit;
    box-shadow: 1px 5px 15px $tc-gray-20;
    display: flex;
    flex-direction: column;
  }

  .view-option {
    @extend %sorting-select-button;

    font-weight: 300;
    font-size: 12px;
    padding: $base-unit * 2;
    outline: none;
    border: 0;
    color: $tc-black;
    text-align: left;
  }

  .view-options-toggle {
    @extend %sorting-select-button;

    display: flex;
    align-items: center;
    color: $tc-gray-90;
    border: 1px solid $tc-gray-neutral-dark;
    font-size: 12px;
    outline: none;
  }

  .down-arrow {
    width: 0;
    height: 0;
    border-left: $down-arrow-size solid transparent;
    border-right: $down-arrow-size solid transparent;
    border-top: $down-arrow-size solid $tc-gray-50;
    margin-left: 3 * $base-unit;
  }
}
