@import "~styles/mixins";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #888894;
  font-size: 13px;
  line-height: 20px;
  min-width: 173px;
  margin-bottom: 22px;

  @include xs-to-lg {
    width: 46%;
  }
}

.track {
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 13px;
  line-height: 30px;
  width: 100%;
}

.empty,
.finalist {
  border: solid 1px #fff;
  color: #262628;
  display: block;
  height: 30px;
  font-size: 15px;
  text-align: left;
  line-height: 30px;
  width: 100%;
}

.finalist {
  padding: 0 10px;
}

.label {
  color: #888894;
  font-size: 13px;
  line-height: 20px;
}

.winner {
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0;
  width: 100%;

  img {
    border-radius: 50%;
    min-height: 100px;
    max-height: 100px;
    max-width: 100px;
  }
}
