@import "~styles/mixins";

.panel {
  background-color: #555;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 150px 15px 0;
  position: relative;

  @include xs-to-md {
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.timezone {
  @include tc-label-sm;

  color: $tc-gray-40;
  position: absolute;
  right: 12px;
  bottom: 6px;
}
