@import "~styles/mixins";

.panel {
  background-color: $tc-gray-80;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 15px;
  position: relative;
}

.timezone {
  @include tc-label-sm;

  color: $tc-gray-40;
  position: absolute;
  right: 12px;
  bottom: 6px;
}
