@import '~styles/mixins';

.container {
  border-radius: 3 * $corner-radius;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  height: 234px;
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  box-shadow: 0 0 1px 1px $tc-gray-neutral-dark;
}

.left {
  width: 50%;
  padding: 35px 40px 0;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.name {
  color: $tc-white;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  z-index: 1;
}

.learn-more {
  position: relative;
  z-index: 1;
  display: block;
  height: 43px;
  width: 128px;
  line-height: 43px;
  border-radius: 5px;
  background: $tc-white;
  text-align: center;

  &,
  &:hover,
  &:visited {
    color: #0096ff;
  }
}

.desc {
  position: relative;
  z-index: 1;
  color: $tc-white;
  margin: 20px 0;
  line-height: 24px;
}

.right {
  width: 50%;
  padding: 22px 32px 0 40px;
  background-color: $tc-white;
}

.stats {
  padding-left: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
}

.stats-item {
  margin-right: 50px;
}

.statsInner {
  display: flex;
  flex-direction: row;
}

.value {
  font-size: 40px;
  font-weight: 300;
  line-height: 60px;
}

.label {
  font-size: 16px;
  color: #666;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reg,
.unreg {
  margin-right: 40px;
  height: 43px;
  width: 107px;
  display: block;
  border-radius: 5px;
  text-align: center;
  line-height: 41px;
  font-size: 14px;
  cursor: pointer;
  flex-shrink: 0;
}

.reg {
  background-color: #0096ff;
  color: $tc-white;
  border: 1px solid #0096ff;

  &:hover {
    background-color: $tc-white;
    color: #0096ff;
  }
}

.unreg {
  background-color: $tc-white;
  color: #e66e66;
  border: 1px solid #e66e66;

  &:hover {
    background-color: #e66e66;
    color: $tc-white;
  }
}

.link {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;

  &,
  &:hover,
  &:visited {
    color: #0096ff;
  }
}

.pipe {
  margin: 0 14px;
  width: 1px;
  height: 14px;
  background-color: #0096ff;
}
