.tc-communities__header__container {
  background-color: green;
}

.tc-communities__header__menu-link,
.tc-communities__header__menu-link:visited {
  color: #fff;
}

.tc-communities__header__menu-link:hover {
  color: #2886af;
}
