@import '~tc-ui/src/styles/tc-includes';

.track-item {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 13px;
  font-weight: 600;
  color: $tc-white;

  &:last-child {
    margin-right: 0;

    @media (max-width: 700px) {
      margin-right: 15px;
    }
  }

  &.track-design {
    background-color: $tc-light_blue;
  }

  &.track-develop {
    background-color: $tc-green;
  }

  &.track-data_science {
    background-color: $tc-orange;
  }

  &.track-copilot {
    background-color: $tc-gray-70;
    font-size: 14px;
  }

  &.no-track {
    font-weight: 500;
    background-color: $tc-gray-20;
  }

  .track-name {
    font-size: 14px;
    line-height: 16px;
  }
}
