@import '~styles/mixins';
@import '~components/buttons/themed/tc.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: row;
    margin-left: 24px;
    z-index: 1;
  }
}

.no-login {
  width: 100%;
  background-color: $tc-white;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 768px) {
    height: 56px;
    padding: 0 16px 0 14px;
  }
}

.add-event-form {
  width: 100%;
  background-color: $tc-white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 14px;

  @media (max-width: 768px) {
    position: fixed;
    z-index: 2;
    border-radius: 0;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100vh - 120px);
    padding: 0 0 68px;
    overflow: auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    height: 24px;
    align-items: center;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      height: 48px;
      border-bottom: 1px solid $profile-border-gray;
      padding: 0 16px;
      flex-shrink: 0;
    }

    span {
      font-family: Barlow, sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;

      @media (max-width: 768px) {
        @include roboto-bold;

        font-size: 12px;
        line-height: 16px;
        color: $color-black-60;
      }
    }

    button {
      margin: 0;
      padding: 0;
      background-color: $tc-white;
      border: none;
    }
  }

  .form-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 16px;

    @media (max-width: 768px) {
      padding: 0 16px;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      row-gap: 25px;
    }

    .block-left {
      display: flex;
      flex-direction: column;

      .block-left-top {
        display: flex;
        margin-bottom: 25px;

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 17px;
        }

        .field-event-name {
          flex: 1;
          margin-bottom: 0;
        }

        .field-event-date {
          width: 142px;
          margin-left: 8px;
          margin-bottom: 0;

          @media (max-width: 768px) {
            margin-left: 0;
            min-width: 171px;
          }
        }
      }

      .field-event-description {
        margin-bottom: 0;

        :global {
          textarea {
            height: 126px;
            margin-bottom: -2px;
          }
        }
      }
    }

    .field-photo-picker {
      height: 100%;

      @media (max-width: 768px) {
        height: 100px;
        min-height: 100px;
      }
    }
  }

  .block-bottom {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    margin-top: 17px;
    align-items: center;

    @media (max-width: 768px) {
      padding: 0 16px;
    }

    .btn-cancel {
      margin-right: 8px !important;
    }
  }
}

.btn-add-event {
  width: 100%;
  background-color: $tc-white;
  height: 64px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 0 20px 0 24px;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: 56px;
    padding: 0 16px 0 14px;
  }

  .text-left {
    font-size: 16px;
    line-height: 24px;
    color: $color-black-60;
  }

  .block-right {
    display: flex;
    align-items: center;

    .block-right-1 {
      display: flex;
      align-items: center;

      span {
        @include roboto-medium;

        margin-left: 7px;
        font-size: 14px;
        line-height: 22px;
        color: $color-turq-160;
      }
    }

    .separator {
      margin-left: 12px;
      margin-right: 14px;
      width: 1px;
      height: 24px;
      background-color: $color-black-20;
    }
  }
}

.btn-outline {
  @include primary-white;
  @include sm;

  outline: none !important;

  &:hover {
    @include sm;

    outline: none !important;
  }
}

.btn-primary {
  @include primary-green;
  @include sm;

  outline: none !important;

  &:hover:not(:disabled) {
    @include sm;

    outline: none !important;
  }
}

.hide-mobile {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.hide-desktop {
  display: none !important;
}

.show-mobile {
  @media (max-width: 768px) {
    display: flex !important;
  }
}
