/**
 * Style of the Join Now button.
 *
 * IMPRORTANT: The way it is done now is not good: we are supposed to use the
 * standard themeable button here; the problem is that JoinCommunity component
 * was implemented without it; to speed-up development; thus it also should be
 * properly updated, and we don't have time right now.
 */

@import './mixins.scss';

.link {
  background: #1a85ff;
  border: none;
  border-radius: 4px;
  color: $white;
  display: block;
  font: 500 15px Roboto;
  height: 40px;
  margin: 24px auto;
  padding: 0 25px;
  text-align: center;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $white;
    outline: none;
    text-decoration: none;
  }

  &:hover {
    background: linear-gradient(180deg, #3996ff 0%, #127bf3 100%);
  }

  &.joining:hover {
    background: #1a85ff;
    cursor: default;
  }

  p {
    color: $white;
    display: inline-block;
    margin-right: 12px;
    padding-top: 8px;
    vertical-align: top;
  }
}
