/**
 * General style mixins specific to the Veterans community.
 */

@import "~styles/mixins";

/* Color variables. */

$black: #262628;
$white: white;

/* Typography mixins. */

@mixin h1 {
  @include roboto-light;

  color: $black;
  font-size: 42px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-transform: uppercase;

  @include xs-to-sm {
    font-size: 36px;
    line-height: 1.25;
  }
}

@mixin h2 {
  @include roboto-light;

  color: $black;
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 10px;

  @include xs-to-sm {
    font-size: 28px;
    line-height: 1.25;
  }
}

@mixin h3 {
  @include roboto-light;

  color: $black;
  font-size: 28px;
  line-height: 1.25;
  margin-bottom: 10px;

  @include xs-to-sm {
    font-size: 20px;
    line-height: 1.5;
  }
}

@mixin large-text {
  @include roboto-regular;

  color: $black;
  font-size: 20px;
  line-height: 1.25;

  @include xs-to-sm {
    font-size: 15px;
    line-height: 1.67;
  }
}

@mixin regular-text {
  @include roboto-regular;

  color: $black;
  font-size: 15px;
  line-height: 1.73;
}

/* Styling blocks reusable between pages. */

@mixin header-block {
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: inset 0 0 0 500px rgba(49, 100, 1, 0.75);
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  padding: 40px 24px;
  text-align: center;
  width: 100%;

  & > h1 {
    @include h1;

    color: $white;
  }

  & > p {
    @include large-text;

    color: $white;
    margin: 0 auto;
    max-width: 720px;
  }

  @include xs-to-sm {
    height: auto;
  }
}
