@import "~components/GUIKit/Assets/Styles/default";

.container {
  display: flex;
  align-items: center;
  width: 100%;

  .input-wrap {
    width: 100%;
    position: relative;
    margin-right: 10px;

    input.input {
      background: transparent;
      border: 1px solid #aaa;
      border-radius: 6px;
      height: 39px;
      margin: 0;
      position: relative;
      z-index: 1;
    }

    .search-placeholder {
      color: #aaa;
      font-size: 14px;
      font-family: Roboto, sans-serif;
      line-height: 22px;
      text-transform: none;
      position: absolute;
      z-index: 0;
      top: 8px;
      left: 15px;
      overflow: hidden;
      white-space: nowrap;
      max-width: calc(100% - 20px);
    }

    .clear-search {
      position: absolute;
      top: calc(50% - 5px);
      right: 15px;
      cursor: pointer;
      z-index: 2;
    }
  }

  button.primary-green-md {
    outline: none;
    display: flex;
    align-items: center;

    @include primary-green;
    @include md;

    &:hover {
      @include primary-green;
    }

    &:disabled,
    &:hover:disabled {
      background-color: #e9e9e9 !important;
      border: none !important;
      text-decoration: none !important;
      color: #fafafb !important;
      box-shadow: none !important;
    }

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 63.1 (101010) - https://sketch.com --%3E%3Ctitle%3E8A0513C9-B831-4C33-8BAA-A13D6D42B150%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cdefs%3E%3Cpath d='M12.7,11.2298137 C13.6,10.0372671 14.1,8.64596273 14.1,7.05590062 C14.1,3.18012422 11,0 7.1,0 C3.2,0 0,3.18012422 0,7.05590062 C0,10.931677 3.2,14.1118012 7.1,14.1118012 C8.7,14.1118012 10.2,13.6149068 11.3,12.7204969 L14.3,15.7018634 C14.5,15.9006211 14.8,16 15,16 C15.2,16 15.5,15.9006211 15.7,15.7018634 C16.1,15.3043478 16.1,14.7080745 15.7,14.310559 L12.7,11.2298137 Z M7.1,12.0248447 C4.3,12.0248447 2,9.83850932 2,7.05590062 C2,4.27329193 4.3,1.98757764 7.1,1.98757764 C9.9,1.98757764 12.2,4.27329193 12.2,7.05590062 C12.2,9.83850932 9.9,12.0248447 7.1,12.0248447 L7.1,12.0248447 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='TaaS' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='02-2-Gig-Work-Listing-Page-2----Approved' transform='translate(-773.000000, -308.000000)'%3E%3Cg id='UI-Kit/Button/Medium/primary' transform='translate(753.000000, 296.000000)'%3E%3Cg id='button-md'%3E%3Cg id='Stacked-Group' transform='translate(20.000000, 0.000000)'%3E%3Cg id='UI-Kit/Icons/magnifying-glass/normal' transform='translate(0.000000, 12.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='icon-color' fill='%23FFFFFF' fill-rule='evenodd' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }
}
