/**
 * Primary tag, colored with colors of data science track (orange).
 */

@import "../default";

.button {
  background-color: $tc-orange;
  color: $tc-white;

  &:active,
  &:focus,
  &:hover {
    color: $tc-white;
    background-color: $tc-orange;
  }

  &:visited {
    color: $tc-white;
  }
}
