/**
 * Primary tag, colored with colors of design track (blue).
 */

@import "../default";

.button {
  background-color: $tc-light-blue;
  color: $tc-white;

  &:active,
  &:focus,
  &:hover {
    color: $tc-white;
    background-color: $tc-light-blue;
  }

  &:visited {
    color: $tc-white;
  }
}
