/**
 * Primary tag, colored with colors of develop track (green).
 */

@import "../default";

.button {
  background-color: $tc-green;
  color: $tc-white;

  &:active,
  &:focus,
  &:hover {
    color: $tc-white;
    background-color: $tc-green;
  }

  &:visited {
    color: $tc-white;
  }
}
