@import '~styles/tc-styles';
$challenge-space-10: $base-unit * 2;
$challenge-space-15: $base-unit * 3;
$challenge-space-20: $base-unit * 4;
$challenge-space-30: $base-unit * 6;
$challenge-space-40: $base-unit * 8;
$challenge-radius-1: $corner-radius / 2;
$challenge-radius-4: $corner-radius * 2;

/* -100px is necessary to compensate for the temporarly added `Alpha preview`
 * banner. Should be modified / removed together with banner. */
$search-bar-width: '100% - 705px';
$search-input-width: '100% - 56px';

.ChallengeSearchBar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  position: relative;
  top: 1px;

  @include xs-to-sm {
    display: none;
  }

  @include calc(width, $search-bar-width);

  input:not([type="checkbox"]) {
    display: inline-block;

    @include calc(width, $search-input-width);

    background: $tc-white;
    border: 1px solid $tc-gray-20;
    border-radius: $challenge-radius-4 0 0 $challenge-radius-4;
    margin-bottom: 0;
    vertical-align: middle;

    @include placeholder {
      font-family: Roboto;
      font-weight: 300;
      font-size: 15px;
      color: $tc-gray-50;
      line-height: $challenge-space-30 + 5;
      text-transform: none;
      opacity: 1;
    }

    &:hover {
      border: 1px solid $tc-gray-40;
    }
  }

  .SearchButton {
    display: inline-block;
    background: $tc-gray-20;
    cursor: pointer;
    padding: $challenge-space-10 + 1 $challenge-space-20 $challenge-space-10 - 2;
    border-radius: 0 $challenge-radius-4 $challenge-radius-4 0;
    vertical-align: middle;
    height: 40px;

    &.active,
    &:hover {
      background: $tc-dark-blue;
    }

    .zoomIcon {
      height: 16px;
      width: 16px;
    }
  }
}
