@import '~styles/mixins';
$challenge-space-10: $base-unit * 2;
$challenge-space-15: $base-unit * 3;
$challenge-space-20: $base-unit * 4;
$challenge-space-30: $base-unit * 6;
$challenge-space-40: $base-unit * 8;
$challenge-space-60: $base-unit * 12;
$challenge-radius-1: $corner-radius / 2;
$challenge-radius-4: $corner-radius * 2;

.container {
  background: $tc-gray-neutral-light;
  border-bottom: 1px solid $tc-gray-30;
  padding: 0 $base-unit * 3;

  @media (max-width: #{$screen-lg - 1px}) {
    display: none;
  }
}

.ChallengeSearchBar {
  display: block;
  position: relative;
  top: 10px;
  height: 60px;

  .input-container {
    font-size: 12px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  input:not([type="checkbox"]) {
    flex: 1;
    background: $tc-white;
    border: 1px solid $tc-gray-20;
    border-left: 0;
    border-radius: 0 $challenge-radius-4 $challenge-radius-4 0;
    margin-bottom: 0;
    padding-left: 0;
    order: 2;

    @include placeholder {
      @include roboto-light;

      font-size: 15px;
      color: $tc-gray-50;
      text-transform: none;
      opacity: 1;
    }

    &:hover {
      border-color: 1px solid $tc-gray-40;
    }
  }

  .SearchButton {
    background: $tc-white;
    cursor: pointer;
    padding: $challenge-space-10 + 1 $challenge-space-20 $challenge-space-10 - 2;
    border-radius: $challenge-radius-4 0 0 $challenge-radius-4;
    height: 40px;
    order: 1;
    border: 1px solid $tc-gray-20;
    border-right: 0;

    .zoomIcon {
      height: 16px;
      width: 16px;
    }

    &:hover {
      border-color: $tc-gray-40;
    }
  }
}
