@import '~styles/mixins';
$challenge-space-10: $base-unit * 2;
$challenge-space-15: $base-unit * 3;
$challenge-space-20: $base-unit * 4;
$challenge-space-30: $base-unit * 6;
$challenge-space-40: $base-unit * 8;
$challenge-space-60: $base-unit * 12;
$challenge-radius-1: $corner-radius / 2;
$challenge-radius-4: $corner-radius * 2;

.container {
  @include xs-to-md {
    padding: 0;
    margin: 0;
  }
}

.ChallengeSearchBar {
  display: block;
  position: relative;

  .input-container {
    font-size: 14px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  input:not([type="checkbox"]) {
    flex: 1;
    background: $tc-white;
    border: 1px solid $tc-gray-20;
    border-left: 0;
    border-radius: 0 $challenge-radius-4 $challenge-radius-4 0;
    margin-bottom: 0;
    padding-left: 0;
    order: 2;

    @include placeholder {
      @include roboto-light;

      font-size: 14px;
      color: $listing-placeholder-gray;
      text-transform: none;
      opacity: 1;
    }

    &:hover {
      border-color: 1px solid $tc-gray-40;
    }
  }

  .SearchButton {
    background: $tc-white;
    cursor: pointer;
    padding: 11.4px 5.4px 14.4px 11.4px;
    border-radius: $challenge-radius-4 0 0 $challenge-radius-4;
    height: 40px;
    order: 1;
    border: 1px solid $tc-gray-20;
    border-right: 0;

    .zoomIcon {
      height: 11.2px;
      width: 11.2px;
      margin-bottom: 6px;
    }

    &:hover {
      border-color: $tc-gray-40;
    }
  }
}
