@import '~styles/mixins';

.switch {
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.wrapper {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  color: $tc-black;
  line-height: 22px;
  white-space: nowrap;

  @include roboto-regular;

  font-weight: 400;
}
