@import '~styles/mixins';

.switch {
  position: relative;
}

.wrapper {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  color: $tc-black;
  line-height: 18px;
  align-items: center;
  gap: 8px;

  @include roboto-regular;

  font-weight: 400;
}
