@import '~styles/tc-styles';

.SwitchWithLabel {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
}

.Switch {
  margin: 0 5px;
  position: relative;
  top: 3px;
}
