@import '~styles/mixins';

.EditTrackPanel {
  position: fixed;
  z-index: 10;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $tc-white;
  padding: 15px;

  &.opened {
    display: block;
  }

  &.closed {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: solid 1px $tc-gray-10;
  }

  .title {
    font-weight: 500;
    font-size: 12px;
    color: $tc-gray-50;
    letter-spacing: 0;
    line-height: $base-unit * 4;
    text-transform: uppercase;
  }

  .close-icon {
    cursor: pointer;
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: solid 1px $tc-gray-10;
  }

  .track-name {
    color: $tc-gray-80;
    font-size: 15px;
    font-weight: 500;
  }
}
