@import '~styles/mixins';
@import '../../themes/mixins';

.wrapper {
  overflow: hidden;
}

.banner {
  background: url(assets/themes/iot/get-started/get-started-hero.jpg) no-repeat right bottom;
  background-size: cover;
  color: $tc-white;
  margin-top: -66px;
  padding: 96px 0 30px;
}

.container {
  @include container;
}

.inner-container {
  @include inner-container-sm(8);

  margin-left: 0;
}

.title {
  @include h3;

  margin-top: 20px;
}

.text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;

  p {
    margin-bottom: 20px;
  }
}

.authorName {
  color: $tc-light-blue-100;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.authorDescription {
  font-size: 16px;
}
