@import "~styles/mixins";

.active {
  background: $tc-gray-10;
  cursor: default;
  font-weight: 600;

  // @include xs-to-sm {
  //   background: $tc-white;
  // }
}

.bucket {
  color: $tc-black;
  border-radius: 2 * $corner-radius;
  cursor: pointer;
  padding: 9px 10px 0 9px;
  display: flex;

  // @include xs-to-sm {
  //   font-size: 15px;
  //   padding: 2px 0;
  // }

  & input {
    width: 20px !important;
    height: 20px !important;
    background-color: $tc-white;
    border-radius: 50% !important;
    appearance: none;
    border: 1.5px solid #7f7f7f;
    position: relative;

    &:checked {
      border-color: $listing-checkbox-green !important;

      &::after {
        content: '';
        position: absolute;
        left: 23%;
        top: 23%;
        width: 10px;
        height: 10px;
        border-radius: 50% !important;
        background-color: $listing-checkbox-green !important;
      }
    }
  }

  .bucketName {
    @include roboto-regular;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $tco-black;
    margin-left: 5px;
  }

  .count {
    align-self: center;
    background-color: $listing-checkbox-blue;
    height: 16px;
    border-radius: 50px;
    color: $tc-white !important;
    font-size: 14px;
    line-height: 16px;

    @include roboto-regular;

    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    text-align: center;
    padding: 0 8px;
    margin-left: 8px;
    margin-bottom: 8px;
  }
}

.errorMsg {
  color: $tc-red;
  line-height: 13px;
  padding-bottom: 6px;
  display: none;
}

.active .errorMsg {
  display: block;
}
