@import '~styles/tc-styles';
$challenge-space-10: $base-unit * 2;

.SRMsCardExamples {
  .challenges-container {
    padding: $base-unit * 2;
    width: 100%;

    @include xs-to-sm {
      width: 100%;
    }

    .title {
      font-size: 13px;
      color: $tc-gray-80;
      line-height: $base-unit * 4;
      padding: $base-unit * 2 $base-unit * 4;
      font-family: 'Roboto';
      font-weight: 500;
      background: $tc-gray-neutral-light;
      border-top-left-radius: $corner-radius * 2;
      border-top-right-radius: $corner-radius * 2;
      margin-top: $base-unit * 4;

      @include xs-to-sm {
        margin-top: $base-unit * 2;
      }
    }
  }
}

/* Code pasted from other files */

.tc-content-wrapper {
  display: flex;
  padding: $challenge-space-10;

  @include xs {
    display: block;
    padding: $base-unit * 0;
  }

  &.srm {
    @include sm {
      display: block;
      padding: $base-unit * 0;
    }
  }
}
