$winner: #5cc900;
$border: #cef0af;
$finalists: #effae4;
$empty: #fafdf6;

.track {
  background-color: $winner;
}

.winner {
  border-left: solid 1px $border;
  border-right: solid 1px $border;
  color: $winner;
}

.finalist {
  background-color: $finalists;
}

.empty {
  background-color: $empty;
}
