@import "~styles/mixins";

.container {
  @include roboto-regular;

  color: #2a2a2a;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;

  @include xs-to-sm {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    @include xs-to-sm {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  }

  .right {
    @include xs-to-sm {
      flex-wrap: wrap;
      margin-top: -40px;
    }
  }
}

.entry {
  img {
    cursor: pointer;
    max-width: 100px;
  }

  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

    @include xs-to-sm {
      width: 100%;
      margin-top: 20px;
    }

    img {
      z-index: 2;
      cursor: default;
      max-width: none;
    }
  }
}

.blob {
  position: relative;
  border-radius: 100%;
  text-align: center;
  margin-top: -150px;
  z-index: 1;
  width: 480px;
  height: 443px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include xs-to-sm {
    height: auto;
  }

  svg {
    z-index: -1;
    overflow: visible;
    width: 100%;
  }

  .blobText {
    max-width: 340px;
    margin: auto;
    position: absolute;
    top: calc(50% - 25px);

    @media screen and (max-width: 425px) {
      max-width: 80vw;
      top: calc(50% - 50px);
    }

    a {
      display: block;
      margin-top: 9px;
      color: #137d60;
      font-weight: 500;
    }
  }
}
