.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.fact {
  background-color: #fff;
  border-radius: 4px;
  height: 330px;
  width: 360px;
}

.photo {
  max-height: 180px;
  max-width: 360px;
  min-height: 180px;
  min-width: 360px;
  overflow: hidden;
}

.text {
  border-top: solid 4px #5cc900;
  color: #000;
  font-size: 15px;
  height: 150px;
  line-height: 25px;
  padding: 15px;
  text-align: left;

  a,
  a:visited {
    color: #006dea;
  }
}
