@import "../mixins";

.outer-container {
  @include outer-container;
}

.page {
  @include page;
}

.container {
  @include inner-container;

  padding-top: 162px;
  padding-bottom: 184px;
}

.text {
  @include text;

  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  min-width: 500px;

  span {
    color: #037dff;
  }
}

.button-back {
  max-height: 40px;
  margin-left: auto;
  margin-right: auto;

  button,
  a {
    color: #fafafb;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
  }

  .white {
    color: $tc-white;
  }
}
