@import "../mixins";

.outer-container {
  @include outer-container;
}

.page {
  @include page;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 162px;
  padding-bottom: 184px;

  h1 {
    font-size: 28px;
    line-height: 35px;
    margin-top: 22px;
    margin-bottom: 3px;
  }
}

.text {
  @include text;

  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  min-width: 500px;

  span {
    color: #037dff;
  }
}

.button-back {
  max-height: 40px;
  width: 164px;
  margin-left: auto;
  margin-right: auto;

  button,
  a {
    color: #fafafb;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    width: 164px;
  }

  .white {
    color: $tc-white;
  }
}
