@import "~styles/mixins";

@mixin switch-transition {
  transition: all 0.15s ease-in-out;
}

$switch-active-color: $tc-dark-blue-110;
$switch-inactive-color: $tc-gray-20;
$switch-width: 34px;
$switch-height: 20px;

.track-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 0;
  background-color: $tc-white;

  &.disabled {
    background-color: $tc-gray-neutral-light;
  }
}

.body {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.icon {
  margin-right: 15px;
  max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
  margin-top: auto;
  margin-bottom: auto;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-first-line {
  @include sofia-pro-medium;

  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.info-second-line {
  @include merriweather-sans-regular;

  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #a3a3ae;
}

.onoffswitch-no-padding-right {
  margin-right: 10px;
  margin-left: 30px;

  @include switch-transition;

  align-self: center;
  background-color: $switch-inactive-color;
  border-radius: $switch-height;
  box-sizing: border-box;
  height: $switch-height;
  width: $switch-width;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
