@import '~styles/mixins';

.container {
  p {
    color: #394146;
    font: 15px/22px 'Open Sans', sans-serif;
    margin-bottom: 20px;
    opacity: 0.7;

    &:last-child {
      margin-bottom: 0;
    }

    @include xs-to-sm {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
