@import "~styles/mixins";

// Competing against some globals
.container {
  @include tc-body-md;

  z-index: 1000;
}

.content-wrapper {
  min-height: 350px;
  .modal-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  
    .modal-title {
      @include barlow-medium;
  
      font-weight: 600;
      color: #2a2a2a;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
    }
  
    .icon {
      cursor: pointer;
      margin-top: 5px;
    }
  }
}

.artifacts-list {
  margin-top: 30px;

  .header {
    border-bottom: 1px solid #ededf2;
    padding-bottom: 10px;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    color: $color-black-60;
    font-size: 11px;
    text-transform: uppercase;

    @include roboto-medium;

    font-weight: 500;

    .header-title {
      flex: 1;
    }
  }

  .no-artifacts {
    @include roboto-regular;

    margin-top: 40px;
    text-align: center;
  }

  .list-item {
    border-bottom: 1px solid #ededf2;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    color: $color-tc-black;
    font-size: 14px;
    font-weight: 500;

    @include roboto-regular;

    .artifact-name {
      display: flex;
      flex: 1;
    }

    .icon-download {
      cursor: pointer;
      margin-left: 15px;
      margin-top: 3px;
      background: none;
      border: 0;
      font-size: 0;
      padding: 0;
      line-height: 0;
      display: inline-block;
    }
  }
}

.modalContainer {
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  width: 720px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 8px;
  .hr {
    width: 100%;
    margin: 0;
  }
}

.modalOverlay {
  pointer-events: bounding-box;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}
