@import "../mixins";

.outer-container {
  @include outer-container;
}

.page {
  @include page;
}

.container {
  @include inner-container;

  padding-top: 133px;
  padding-bottom: 108px;

  ul {
    @include roboto-regular;

    list-style: none;
    font-size: 13px;
    line-height: 25px;
    border: 1px solid #ededf2;
    background-color: #fafafb;
    border-radius: 6px;
    padding: 20px;
    max-width: 450px;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: left;
  }

  li {
    list-style-type: disc;
    margin-left: 2em;
    color: #c3c3c8;

    span {
      color: #47474f;
    }
  }
}

.text {
  @include text;

  margin-left: auto;
  margin-right: auto;
  max-width: 637px;
  min-width: 637px;
}

.button-back {
  max-height: 40px;
  margin-left: auto;
  margin-right: auto;

  button,
  a {
    color: #fafafb;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
  }

  .white {
    color: $tc-white;
  }
}
