@import "~styles/mixins";

.modal-overlay {
  background: #000;
}

.modal-container-copilot,
.modal-container {
  width: 1232px;
  min-height: 700px;
  max-width: 1232px;
  border-radius: 8px;
  padding: 32px 32px 0 32px;
  gap: 24px;

  &.modal-container-copilot {
    height: auto;
  }

  @include xs-to-sm {
    width: 100%;
    max-width: 100%;
    height: 100% !important;
    max-height: 100% !important;
    padding: 24px 16px 48px 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    .title {
      @include barlow-medium;

      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-transform: uppercase;
    }

    .icon {
      cursor: pointer;
    }
  }
}
