@import '~styles/mixins';
$track-space-20: $base-unit * 4;
$track-radius-4: $corner-radius * 2;

.track-abbreviation-tooltip {
  @include roboto-regular;

  min-width: $base-unit * 45;
  max-width: $base-unit * 60;
  line-height: $track-space-20 - 2;
  padding: 10px;
  border-radius: 8px;
  background-color: #2a2a2a;

  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
  }

  .body {
    font-weight: 400;
    color: $tc-white;
    font-size: 14px;
    line-height: 22px;
    text-transform: lowercase;
    margin-top: 5px;
  }

  .body::first-letter {
    text-transform: capitalize;
  }
}
