@import "~styles/mixins";

.stats-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $tc-white;
  color: $tc-black;
  font-family: Helvetica, sans-serif;
  padding: 1em 8%;
  z-index: 1;
  overflow: auto;
  animation: fadeInDown 300ms;

  .nav-top {
    margin-top: 60px;
    font-family: Sofia Pro, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .user {
      display: flex;
      font-weight: 700;
    }

    .avatar img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .handle {
      margin-left: 15px;
      font-size: 28px;
    }

    .exit svg {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
  }

  hr {
    margin-top: 30px;
    border: 0;
    border-top: 1px solid #f0f0f0;
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    width: 305px !important;
  }

  a {
    width: 100% !important;
  }
}

@include md-to-xl {
  .category {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
