@import '~styles/mixins';

.container {
  background-position: 60% 0 !important;
  height: 300px !important;
}

.content {
  border-radius: 100% !important;
  bottom: -370px !important;
  min-height: 550px !important;
  height: 550px !important;
  left: -100px !important;
  overflow: visible !important;
  position: absolute !important;
  transform: none !important;
  width: 550px !important;
}

.contentBg {
  background: rgba(0, 10, 50, 0.8) !important;
  position: absolute !important;
  border-radius: 100% !important;
  width: 550px !important;
  height: 550px !important;
  transform: none !important;
}

.contentInner {
  color: #fff !important;
  padding: 30px 0 0 100px !important;
  position: relative !important;
  width: 600px !important;
  z-index: 1 !important;

  @include xs-to-sm {
    text-align: left;
  }
}

h2.title {
  display: block !important;
  font-family: 'Akkurat mono', monospace !important;
  font-size: 20px !important;
  line-height: 150% !important;
  padding-top: 5px !important;
  text-decoration: underline !important;
  text-transform: none !important;
  width: 300px !important;
}

.contentInner p,
.text {
  font-family: 'Akkurat regular', monospace !important;
  line-height: 20px !important;
  margin: 15px 60px 15px 25px !important;
}

.linkWrap {
  display: none !important;
  position: absolute !important;
  left: 50% !important;
  top: 50px !important;

  .link {
    background-color: $tc-dark-blue !important;
  }
}
