@import "~styles/mixins";

.label {
  cursor: default;
  padding-top: 5px;
  font-size: 11px;
  font-weight: 500;
  line-height: 10px;
  color: $tco-black;
  white-space: nowrap;

  @include xs-to-sm {
    display: inline-block;
  }
}

.prize {
  cursor: default;
}

.symbol {
  display: inline-block;
  color: $tco-black;
}
