@import "~styles/tc-styles";

.label {
  cursor: default;
  padding: 0 (2 * $base-unit);
  background: $tc-gray-neutral-light;
  font-size: 10px;
  color: $tc-gray-70;
  white-space: nowrap;

  @include xxs-to-xs {
    margin-left: 10px;
  }
}

.prize {
  cursor: default;
}

.symbol {
  display: inline-block;
  color: $tc-gray-50;
  min-width: 2 * $base-unit + 1;
}
