@import "../../style";
@import "./List//Item/mixin";

$checkbox-size: $base-unit * 4;
$checkbox-bg-empty: $tc-gray-neutral-light;
$checkbox-bg-selected: $tc-dark-blue;

.hide {
  display: none;
}

.error-message {
  display: none;

  &.active {
    @include roboto-medium;

    display: block;
    border-radius: 5px;
    background-color: $tc-red-10;
    color: $tc-red-110;
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 21px;
    padding: 12px 15px;
    white-space: pre-line;
  }
}

label {
  @include roboto-medium;

  display: block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: $tc-gray-80;
  margin-bottom: 5px;

  .text-required {
    font-size: 10px;
    color: $tc-red-110;
    margin-left: 5px;
  }
}

.tc-checkbox {
  height: $checkbox-size;
  width: $checkbox-size;
  margin-bottom: 125px;
  position: absolute;
  display: inline-block;
  bottom: auto;

  @include upto-sm {
    margin-bottom: 10px;
  }

  input[type=checkbox] {
    display: none;
  }

  label {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    top: 0;
    left: 0;
    border-radius: $corner-radius;
    box-shadow: none;
    border: 1px solid $tc-gray-50;
    background: $tc-gray-neutral-light;

    &::after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 13px;
      height: 7px;
      background: transparent;
      top: 4px;
      left: 3px;
      border: 3px solid $tc-dark-blue;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
    }

    &:hover::after {
      opacity: 0.3;
    }
  }

  input[type=checkbox]:checked ~ label {
    background: $checkbox-bg-selected;
    border-color: $checkbox-bg-selected;
  }

  input[type=checkbox]:checked + label::after {
    opacity: 1;
    border-color: $tc-white;
  }
}

.form-container-default {
  @include form-container-default;

  input {
    @include roboto-regular;

    height: 40px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    margin-bottom: 0;
  }

  .text-required {
    @include roboto-medium;

    font-size: 10px;
    color: $tc-red-110;
    margin-bottom: 5px;
    text-align: right;
  }

  .tc-checkbox-label {
    display: inline-block;

    @include roboto-regular;

    font-size: 13px;
    line-height: $checkbox-size;
    vertical-align: middle;
    margin-left: $base-unit * 6;
    user-select: none;
    cursor: pointer;
  }

  .row .field.align-top {
    margin-top: 25px;
  }
}

.form-container-mobile {
  display: none;

  @include upto-sm {
    border: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background-color: $tc-gray-neutral-light;
  }

  p {
    @include roboto-regular;

    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $tc-black;

    @include upto-sm {
      margin-bottom: 20px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-content: space-between;

    div:last-child {
      margin-right: 0;
    }

    @include upto-sm {
      display: block;
      margin-bottom: 0;
    }

    .field {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      align-content: space-between;

      @include upto-sm {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
      }

      .date-input {
        display: flex;
        align-items: center;
      }

      &.col-1,
      &.col-long-text,
      &.col-1-long-text,
      &.col-1-no-padding {
        width: 42%;

        @include from-sm-to-lg {
          width: 46%;
        }

        @include upto-sm {
          width: 100%;
        }
      }

      &.col-2 {
        width: 32%;

        @include from-sm-to-lg {
          width: 27%;
        }

        @include upto-sm {
          width: 100%;
        }
      }

      &.col-3 {
        width: 26%;

        @include from-sm-to-lg {
          width: 27%;
        }

        @include upto-sm {
          width: 100%;
        }
      }

      &.col-city {
        width: 150px;

        @include from-sm-to-lg {
          width: 46%;
        }

        @include upto-sm {
          width: 100%;
        }
      }

      &.col-date {
        width: 160px;

        @include from-sm-to-lg {
          width: 27%;
        }

        @include upto-sm {
          width: 100%;
        }
      }

      .tc-checkbox-label {
        display: block;

        @include roboto-regular;

        font-size: 13px;
        line-height: $checkbox-size;
        vertical-align: middle;
        margin-left: $base-unit * 6;
        user-select: none;
        cursor: pointer;
        width: 500px;
      }

      &.col-checkbox {
        position: relative;

        @include upto-sm {
          top: 25px;
        }
      }

      &.col-checkbox-sibling-next {
        padding-top: 30px;

        @include upto-sm {
          padding-top: 55px;
        }
      }
    }
  }

  input {
    @include roboto-regular;

    height: 36px;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;

    @include upto-sm {
      margin-top: 5px;
    }
  }
}

.work-container {
  display: flex;
  flex-direction: column;
  align-items: left;

  h1 {
    @include roboto-regular;

    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
    color: $tc-black;
    margin-bottom: 20px;

    @include upto-sm {
      display: none;
    }
  }

  .sub-title {
    @include roboto-light;

    color: #888894;
    line-height: 35px;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 10px;

    &.second {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    &.first {
      margin-bottom: 30px;
    }

    &.hidden {
      display: none;
    }

    @include upto-sm {
      display: none;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-save,
  .button-cancel {
    align-self: center;

    @include upto-sm {
      margin-top: 30px;
    }

    button,
    a {
      @include roboto-medium;

      height: 40px;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      width: 250px;

      @include upto-sm {
        width: 156px;
      }
    }

    .complete {
      color: $tc-white;
    }
  }

  .button-cancel {
    margin-left: 10px;
  }
}

.editor-outer-container {
  position: relative;

  @include upto-sm {
    margin-top: 5px;
  }

  .toolbar-wrapper {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  :global {
    .editor-container {
      height: 254px;
      margin: 0;
      padding: 0;
      background: $tc-white;
      border: 1px solid #c3c3c8;
      border-radius: 4px;
    }

    .DraftEditor-root {
      margin-top: 0;
      padding: 10px 10px 0 10px;
      height: calc(100% - 10px);
      overflow: auto;
    }

    .public-DraftEditorPlaceholder-root {
      z-index: auto;
    }

    .editor-container.is-focused .DraftEditor-root {
      margin-top: 40px;
      height: calc(100% - 40px);
    }

    .editor-container.is-focused .public-DraftEditorPlaceholder-root,
    .editor-container.has-user-input .public-DraftEditorPlaceholder-root {
      display: none;
    }

    .public-DraftEditorPlaceholder-inner {
      line-height: 20px;
    }

    .public-DraftEditor-content {
      @include html-content-style {
        ol li {
          list-style-type: decimal;
        }

        ol li::before {
          display: none;
        }
      }
    }
  }
}

.char-num {
  @include roboto-medium;

  margin-bottom: 2px;
  line-height: 15px;
  font-size: 11px;
  color: $tc-dark-blue-100;
  text-align: right;

  @include upto-sm {
    position: relative;
    top: -15px;
    margin-bottom: -3px;
    height: 0;
  }
}

.label-achievements {
  width: 134px;
  white-space: normal;

  @include upto-sm {
    width: auto;
  }
}

.label-checkbox-working {
  margin-left: 29px;
}

.select-technologies-container {
  @include upto-sm {
    margin-top: 5px;
  }

  .selected-value-text {
    @include roboto-regular;

    font-size: 15px;
    color: #262628;

    &:not(:first-child) {
      &::before {
        content: ', ';
      }
    }
  }

  :global {
    .select-technologies {
      .Select-control {
        height: 40px;
      }

      .Select-multi-value-wrapper {
        padding: 0 15px;
        line-height: 40px;
      }

      .Select-placeholder {
        line-height: 40px;
        padding: 0 15px;
      }

      .Select-input {
        height: 40px;
        margin: 0;

        > input {
          padding: 0;
        }
      }

      &:not(.is-open) {
        .Select-input {
          width: 1px;
          margin: 0;
        }
      }

      .Select-option {
        height: 40px;
        line-height: 40px;
        padding: 0 15px;

        &.is-selected {
          position: relative;
          background-color: white;

          &::after {
            content: '';
            position: absolute;
            right: 15px;
            bottom: 22px;
            display: block;
            width: 15px;
            height: 8px;
            border-left: 2px solid $tc-gray-90;
            border-bottom: 2px solid $tc-gray-90;
            transform: rotate(-45deg);
          }
        }

        &.is-focused {
          background-color: $tc-dark-blue-10;
        }
      }
    }
  }
}

.work-container .form-container .row .field :global .Select-placeholder {
  color: $tc-gray-50;
}

/*
 * React Select component styling
 */
.work-container .form-container .row .field :global .Select,
.devices-container .form-container .row .field :global .Select-value span,
.work-container .form-container .row .field :global .Select-menu-outer,
.work-container .form-container .row .field :global .Select-placeholder,
.work-container .form-container .row .field :global .Select-input input {
  color: $tc-gray-80;
  font-size: 15px;

  @include upto-sm {
    margin-top: 5px;
  }
}
