@import "~styles/mixins";
@import "~components/Contentful/default";

.container {
  padding: 0;
  width: auto;
  max-width: 727px;
  height: auto;
  max-height: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include gui-kit-headers;
  @include gui-kit-content;

  @media (min-width: 757px) {
    width: 727px;
  }

  @media (min-width: 630px) and (max-width: 757px) {
    width: 600px;
  }

  @media (max-width: 630px) {
    width: 290px;
    max-height: none;
    top: 42%;
  }

  .title {
    color: #9d41c9;
    font-family: BarlowCondensed, sans-serif;
    font-size: 60px;
    line-height: 58px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 30px;

    @include xs-to-sm {
      max-width: 400px;
      margin: auto;
      font-size: 60px !important;
      line-height: 58px !important;
      margin-bottom: 30px;
    }

    @media (max-width: 425px) {
      max-width: 230px;
      margin: auto;
      font-size: 36px !important;
      line-height: 34px !important;
      margin-bottom: 30px;
    }
  }

  .loginMsg {
    color: #2a2a2a;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;

    @media (max-width: 425px) {
      text-align: left !important;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  .ctaButtons {
    display: flex;
    align-content: center;
    justify-content: center;

    & > button:first-child {
      margin-right: 10px !important;
    }

    & > a:first-child {
      margin-right: 10px !important;
    }
  }

  .referrals {
    display: flex;
    overflow: auto;

    .sucessMsg {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    .rightAlign {
      justify-content: flex-end;
    }
  }

  .loginRequired {
    display: flex;
    flex-direction: column;
    padding: 80px 55px 40px 60px;
    text-align: center;
    position: relative;

    @include xs-to-sm {
      padding: 50px 35px 40px;
    }

    @media (max-width: 425px) {
      padding: 50px 15px 70px;
    }

    .progressBar {
      width: 100%;

      @include xs {
        margin-bottom: 40px;
      }

      svg {
        max-width: 100%;
      }
    }

    .blobYellow,
    .blobPurple {
      position: absolute;
      z-index: -1;

      svg {
        max-width: 100%;
      }
    }

    .blobYellow {
      top: 0;
      right: 0;

      @media (max-width: 425px) {
        max-width: 62px;
      }
    }

    .blobPurple {
      bottom: -5px;
      left: 0;

      @media (max-width: 425px) {
        max-width: 84px;
        bottom: -40px;
      }
    }

    .thinkingFace {
      width: 23px;
      margin: 0 5px;
      transform: translateY(4px);

      @media (max-width: 425px) {
        width: 21px;
        transform: translateY(2px);
      }
    }

    .regTxt {
      font-size: 16px;
      margin: 30px 0 0;
    }
  }
}

.overlay {
  background-color: #2a2a2a;
  opacity: 0.95;
}
