/**
 * The default button theme: white button with dark gray label, gray border, and
 * some extra effects in different state.
 *
 * The comments in this file explain how to write a custom button theme.
 */

@import "~styles/mixins";

/* General button style - medium size. */
.button {
  @include tc-label-lg;

  background: $tc-white;
  border: solid 1px $tc-gray-30;
  border-radius: 4px;
  display: inline-block;
  height: 40px;
  margin: 5px;
  padding: 0 25px;
  line-height: 38px;
  text-align: center;
}

/* Additional styling for a disabled button. */
.disabled {
  opacity: 0.3;
}

/* .link and .regular classes are applied only to active button-like links,
 * and real buttons (rendered as <button> elements). */
.link,
.regular {
  &:focus {
    box-shadow: 0 0 2px 1px #cfe6ff;
    border: solid 1px #59a7ff;
    outline: none;
  }

  &:hover {
    background-image: linear-gradient(to top, #f5f5f5, white 49%, white);
    border-color: $tc-gray-40;
  }

  &:active {
    background-image: linear-gradient(to bottom, #f5f5f5, white 49%, white);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-color: $tc-gray-40;
  }
}

/* To prevent different styling of the button-like link once it has been
 * visited. */
.link:visited {
  @include tc-label-lg;
}

/* And a few extra classes to support XS, SM and LG sizes. */

.xs {
  @include tc-label-sm;

  border-radius: 2px;
  height: 20px;
  line-height: 18px;
  padding: 0 15px;
}

.sm {
  @include tc-label-md;

  height: 30px;
  line-height: 28px;
  padding: 0 20px;
}

.lg {
  @include tc-label-xl;

  height: 50px;
  line-height: 48px;
  padding: 0 30px;
}
