/**
 * Primary button, colored with colors of design track (blue).
 */

@import "./default";

@mixin feedback {
  &:active {
    border-color: transparent;
    box-shadow: inset 0 1px 3px 0 rgba(71, 71, 79, 0.5);
  }

  &:focus {
    border: 1px solid $tc-green;
    box-shadow: 0 0 2px 1px $tc-green-30;
  }

  &:hover {
    background: linear-gradient(180deg, $tc-green-70 0%, $tc-green 100%);
    border-color: transparent;
  }
}

.button {
  background: $tc-green;
  border-color: transparent;

  &,
  &:visited {
    color: $tc-white;
  }
}

.disabled {
  background: $tc-green-30;
}

.link,
.regular {
  @include feedback;
}
