/**
 * Secondary button (gray background, white label).
 */

@import "default";

.button {
  background: $tc-gray-40;
  border-color: transparent;
  color: $tc-white;
}

.disabled {
  background-color: $tc-gray-20;
  opacity: 1;
}

.link,
.regular {
  &:focus {
    box-shadow: 0 0 2px 1px #59a7ff;
    border-color: $tc-gray-50;
    outline: none;
  }

  &:hover {
    background-image: linear-gradient(to bottom, #a3a3ad, #888894);
    border-color: transparent;
    color: $tc-white;
  }

  &:active {
    background-color: $tc-gray-50;
    background-image: none;
    box-shadow: inset 0 1px 3px 0 rgba(71, 71, 79, 0.38);
    border-color: transparent;
  }
}

.link:visited {
  color: $tc-white;
}
