/**
 * Challenge tag button, default style with white text on light blue background.
 */
@import "~styles/tc-styles";
 
@mixin feedback {
  &:active, 
  &:focus, 
  &:hover {
    color: $tc-white;       
  }
}

.button {
  border-radius: 3px;
  font-family: roboto;
  font-size: 10px;
  line-height: 20px;
  margin: 5px 5px 0 0;
  display: inline-block;
  text-align: center;
  padding: 0 5px;
  font-weight: 700;
  color: $tc-white;
  background-color: $tc-light-blue-10;
  &,
  &:visited {
    color: $tc-white;
  }
}

.disabled {
  background-color: $tc-gray-20;
}

.link,
.regular {
  @include feedback;  
}