@import '~tc-ui/src/styles/tc-includes';

.member-item {
  display: flex;
  max-width: 960px;
  border-bottom: 1px solid rgba(163, 163, 174, 0.3);

  @media (max-width: 700px) {
    display: block;
  }

  &:not(.with-bio):last-child {
    border-bottom: none;
  }
}

.with-bio {
  margin: 20px auto 0;
  border: 1px solid rgba(163, 163, 174, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
}

// ReactCSSTransitionGroup transitions
.member-item-appear {
  opacity: 0.01;

  &.member-item-appear-active {
    opacity: 1;
    transition: opacity 0.25s ease-in;
  }
}
