:global {
  .home-header {
    background: url(assets/images/tc-communities/wipro/hands-circle.jpg) 100% 100% no-repeat;
    background-size: cover;
  }

  .about-header {
    background: url(assets/images/tc-communities/wipro/about-hero.png) 100% 0% no-repeat;
    background-size: cover;
  }

  .section-1 {
    background: #eee;
  }

  .section-2 {
    background: #424242;
  }

  .prefooter-section-1 {
    background: #1e73be;
  }
}
