.page-wrapper {
  display: block !important; // overrides .container>*:nth-child(2)
  width: 100%;
  min-height: 100%;
  background-color: #f6f6f6;
}

.fold-wrapper {
  margin: 0;
  min-height: 100%;
}

.view-container {
  min-height: 440px;
  padding-bottom: 30px;
}

:global {
  #member-search-wrapper {
    font-family: "Roboto", Helvetica, Arial, sans-serif !important;

    // Overrides .member-search-view
    > div {
      background-color: transparent;
    }

    // Overrides old style guide
    a {
      cursor: auto !important;
      transition: none !important;
      text-decoration: none !important;
      color: inherit !important;

      &:visited,
      &:hover,
      &:active {
        color: inherit !important;
        cursor: auto !important;
        text-decoration: none !important;
      }
    }
  }
}
