@import "~styles/mixins";

.body {
  border: 1px solid $tc-gray-30;
  word-break: break-word;
  padding: 5px 15px;
  color: $tc-gray-80;
  font-size: 15px;
  line-height: 25px;

  h2 {
    line-height: 30px;
    font-size: 20px;
    color: $tc-gray-80;

    &:first-child {
      display: none;
    }

    @include sm {
      padding: 0 15px;
    }
  }

  h3 {
    font-weight: 700;
    padding: 20px 0;
    color: $tc-black;

    &:nth-child(2) {
      padding: 0 0 30px;
    }
  }

  h4 {
    color: $tc-red;
    padding: 20px 0;
  }

  br + br {
    display: none;
  }

  ol {
    margin: 0 0 5px;
    counter-reset: item;
    font-size: 15px;
    color: $tc-gray-90;
    line-height: 25px;
    display: table;

    li {
      list-style-type: none;
      font-weight: 400;
      counter-increment: item;
      display: table-row;
      white-space: normal;

      &::before {
        display: table-cell;
        font-weight: 700;
        text-align: right;
        content: counter(item) ".";
        padding: 0 10px 0 0;
        width: 32px;
      }
    }
  }

  ul {
    margin: 0 0 5px 20px;
    font-size: 15px;
    color: $tc-gray-90;
    line-height: 25px;
    list-style: disc outside none;

    li {
      font-weight: 400;
    }
  }
}

.frame {
  height: 1420px;
  width: 100%;
}

.hidden {
  display: none;
}
