@import "~components/GUIKit/Assets/Styles/default";
@import "~components/Contentful/default";

.container {
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #2a2a2a;
  padding: 25px 35px;
  margin-bottom: 15px;

  @include gui-kit-headers;
  @include gui-kit-content;
  @include roboto-regular;

  .gig-name,
  .gig-name:visited,
  .gig-name:active,
  .gig-name:hover {
    color: #1e94a3;
    margin-top: 0;
    margin-bottom: 12px;
    text-decoration: none;
    font-family: Barlow, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;

    @include xs-to-sm {
      margin-bottom: 20px;
    }
  }

  .job-infos {
    display: flex;

    @include xs-to-sm {
      flex-direction: column;
    }

    .icon-val {
      display: flex;
      align-items: center;

      @include xs-to-sm {
        margin-bottom: 20px;
      }

      &:first-child {
        width: 250px;
      }

      &:nth-child(2) {
        width: 204px;
      }

      &:nth-child(3) {
        width: 263px;
      }

      &:nth-child(4) {
        width: 255px;
      }

      &:last-child {
        margin-right: 0;
        width: 141px;
      }

      svg,
      img {
        margin-right: 7px;
      }
    }

    .row-btn {
      display: flex;
      justify-content: flex-end;
      flex: 1;

      @include xs-to-sm {
        justify-content: flex-start;
      }

      button.primary-green-md {
        outline: none;

        @include primary-green;
        @include md;

        &:hover {
          @include primary-green;
        }

        &:disabled,
        &:hover:disabled {
          background-color: #e9e9e9 !important;
          border: none !important;
          text-decoration: none !important;
          color: #fafafb !important;
          box-shadow: none !important;
        }
      }
    }
  }
}
