@import "../../style";
@import "~styles/mixins";

.hide {
  display: none;
}

.form-container-default {
  display: flex;
  flex-direction: column;

  .form-default {
    display: block;

    @include upto-sm {
      display: none;
    }
  }

  .form-mobile {
    display: none;

    @include upto-sm {
      display: block;

      .row {
        display: flex;
        flex-direction: column;
      }
    }
  }

  input {
    @include roboto-regular;

    height: 40px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    margin-bottom: 0;
  }

  .form-field {
    background: white;
    color: black;

    &:disabled {
      color: #b7b7b7;
    }

    &.grey {
      background-color: #fcfcfc;
      color: #151516;
    }
  }
}

.form-container {
  padding: $pad-xxxxl;
  background-color: $color-tc-white;
  border-radius: 4px;
  margin: $margin-sm 0 $margin-xxxxl 0;

  .account-form {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.form-title {
  @include barlow-semi-bold;

  font-size: 20px;
  line-height: 22px;
  color: inherit;
  text-transform: uppercase;
  padding-bottom: $pad-xxxxl;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-label {
  flex: 0 0 calc(50% - 13px);
  padding-right: 230px;

  @include roboto-regular;

  font-size: 16px;
  line-height: 26px;
  color: inherit;
}

.form-body {
  flex: 0 0 calc(50% + 13px);
}

@include xs-to-md {
  .form-container {
    padding: $pad-xxl $pad-lg;
  }

  .form-title {
    @include barlow-semi-bold;

    font-size: 20px;
    line-height: 22px;
    padding-bottom: $pad-xxl;
  }

  .form-label {
    flex: 1 1 100%;
    padding: 0;
    margin-bottom: $margin-xxl;
    font-size: 14px;
    line-height: 20px;
  }

  .form-body {
    flex: 1 1 100%;
  }

  .form-footer {
    margin: 0;
  }
}

.nagModal {
  display: flex;
  flex-direction: column;
  margin: 32px;

  @include xs-to-md {
    flex-direction: column;
    margin-top: 24px;
  }

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid #e9e9e9;

    @include xs-to-md {
      margin-top: 24px;
      text-align: center;
    }

    .title {
      @include barlow-bold;

      color: $tco-black;
      font-size: 22px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 12px;
      text-transform: uppercase;

      @include xs-to-md {
        text-align: center;
      }
    }

    .icon {
      cursor: pointer;
    }
  }

  .description {
    @include roboto-regular;

    font-weight: 400;
    color: $tco-black;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;

    strong {
      font-weight: 700;
    }

    .badgeWrap {
      display: flex;
      justify-content: center;
      margin-bottom: 12px;
    }

    span span {
      color: #137d60;
      font-weight: bold;
    }
  }
}

.container {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  min-width: 600px;
  max-width: 700px;

  @include xs-to-sm {
    width: 90%;
    min-width: unset;
  }
}

.overlay {
  background-color: #0c0c0c;
  opacity: 0.85;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 32px;
  padding-top: 24px;
  border-top: 2px solid #e9e9e9;

  .primaryBtn {
    background-color: #137d60;
    border-radius: 24px;
    color: #fff;
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 32px;
    padding: 0 20px;
    border: none;
    outline: none;
    display: flex;

    &:hover {
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      background-color: #0ab88a;
    }

    @include xs-to-sm {
      margin-bottom: 20px;
    }
  }
}
