@import "~styles/mixins";

$container-background-gray: #ebebeb;
$text-color-black: #262628;
$text-color-gray: #888894;
$text-color-pannel: #4a4a4a;

.container {
  @include roboto-regular;

  max-width: $screen-md;
  margin: auto;
}

.tablist {
  @include roboto-regular;

  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction: row;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  list-style-type: none;
  border-bottom: 5px solid #e9e9e9;

  @include xs-to-sm {
    overflow-x: auto;
    white-space: nowrap;
    border: none;
    margin-left: 16px;
  }

  @media (max-width: 425px) {
    justify-content: space-between;
  }
}

.tab {
  text-align: center;
  margin: 0 25px;
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 15px;
  cursor: pointer;
  margin-bottom: -5px;
  position: relative;

  @include xs-to-sm {
    margin: 0;
    padding-right: 36px;
    border-bottom: 5px solid #e9e9e9;
  }

  &:hover,
  &.selected {
    &::after {
      content: '';
      border-radius: 1000vw;
      background: #43d7b0;
      height: 5px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;

      @include xs-to-sm {
        width: calc(100% - 36px);
        bottom: -5px;
      }
    }
  }

  p {
    small {
      color: #888894;
      font-size: 13px;
      font-weight: 400;
      line-height: 25px;
      text-align: left;
    }

    strong {
      font-weight: bold;
    }
  }
}

.tabpannel {
  display: none;
}

.selectedTabPanel {
  display: block;

  @include xs-to-sm {
    padding: 0 15px;
  }
}
