@import "~styles/mixins";

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: $tc-white;
  border-bottom: 2px solid $color-black-10;
  padding: 0 0 $pad-xxl 0;

  .title {
    h1 {
      @include barlow-condensed-semi-bold;

      color: $tco-black;
      font-weight: 600;
      font-size: 32px;
      line-height: 32px;
      text-transform: uppercase;
    }
  }

  .saveButton {
    @include roboto-bold;

    border: 0 !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 50px !important;
    background: #137d60 !important;
    color: #fff !important;
    height: 48px;
    margin: 0;
  }

  @include xs-to-md {
    padding: 0 0 $pad-lg;

    .title {
      h1 {
        font-size: 28px;
      }
    }

    .saveButton {
      display: none;
    }
  }
}
