.container {
  display: block;
  margin: auto;
  padding-top: 50px;
  width: 80%;

  a {
    color: blue;
    text-decoration: underline;
  }
}

.table {
  width: 100%;
}

.title {
  text-align: center;
}
