@import "~styles/mixins";

.title {
  text-align: center;
}

.container {
  display: block;
  margin: auto;
  padding-top: 50px;
  width: 80%;
  max-width: $screen-lg;
  font-family: Roboto, Helvetica, Arial, sans-serif;

  .title {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 35px;
  }

  .actionBar {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .text {
      font-family: Roboto, sans-serif;
      margin-right: 15px;
      font-size: 15px;
    }

    :global(.Select) {
      height: 40px;
      flex: 1;

      :global(.Select-control) {
        max-width: 512px;
      }
    }

    .button {
      float: right;
    }
  }
}

.table {
  width: 100%;
  color: $tc-black;
  font-size: 13px;

  .name {
    color: $tc-black;
  }

  thead {
    background: $tc-gray-10;

    th {
      color: $tc-gray-60;
      vertical-align: middle;
      text-align: left;
      height: 40px;
      min-width: 30px;
    }
  }
}
