@mixin avatar {
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  height: 100%;
  width: 100%;
}

.default {
  @include avatar;

  border-color: rgba(0, 0, 0, 0.05);
}

.default-tco22 {
  @include avatar;

  border-color: #fff;
}

.gold {
  @include avatar;

  border-color: #ffd84d;
}

.silver {
  @include avatar;

  border-color: #d1d0cf;
}

.bronze {
  @include avatar;

  border-color: #d98f64;
}

.iron {
  @include avatar;

  border-color: #d98f64;
}

.tco20-1,
.tco20-2,
.tco20-3,
.tco20-4 {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.tco22-1,
.tco22-2,
.tco22-3,
.tco22-4 {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.tco23-1,
.tco23-2,
.tco23-3,
.tco23-4,
.tco23-5,
.tco23-6 {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
