@mixin avatar {
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  height: 100%;
  width: 100%;
}

.bronze {
  @include avatar;

  border-color: #d98f64;
}

.default {
  @include avatar;

  border-color: rgba(0, 0, 0, 0.05);
}

.gold {
  @include avatar;

  border-color: #ffd84d;
}

.silver {
  @include avatar;

  border-color: #d1d0cf;
}
