@import '~styles/mixins';

.Leaderboard {
  padding: 0 15px;
  margin: 20px auto;

  @include md {
    margin: 30px auto;
    width: 750px;
  }

  @include lg {
    margin: 40px auto;
    width: 970px;
  }

  @include xl {
    margin: 40px auto;
    width: 900px;
  }
}

.Leaderboard .section-title {
  @include roboto-light;

  font-size: 30px;
  text-align: center;
  color: #6e6e6e;
  margin: 0 0 30px;
}
