@import "~styles/mixins";

.outer-container {
  background: $tc-gray-neutral-dark;
  width: 100%;
  max-width: $screem-md;
  margin: 0 auto;

  @include xs-to-sm {
    padding: 0;
  }

  @include md {
    padding: 30px 14px 30px 20px;
  }

  @include lg-to-xl {
    padding: 0;
  }
}

.challenge-detail-container {
  background: $tc-white;
  border-radius: 3 * $corner-radius;
  width: 100%;
  margin: auto;
}

.page {
  @include roboto-regular;

  background: $tc-white;
  border-radius: 3 * $corner-radius;
  margin: auto;
  max-width: 1240px;
  padding: 4 * $base-unit;
  text-align: center;
  width: 100%;
}
