@import "~styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  align-items: center;
  width: 100%;
  padding: 32px;

  @include xs-to-md {
    padding: 16px;
  }
}

.outer-container {
  width: 100%;
  max-width: $screem-md;
}

.challenge-detail-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include xs-to-md {
    gap: 16px;
  }
}

.page {
  @include roboto-regular;

  margin: auto;
  text-align: center;
  width: 100%;
}
