@import "~styles/mixins";

$tc-link-visited: #0c4e98;

@mixin linkStyle {
  a {
    color: $tc-dark-blue-110;
    word-wrap: break-word;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
    color: $tc-dark-blue-70;
  }

  a:visited {
    color: $tc-link-visited;
  }
}

@mixin linkLikeParagraph {
  @include roboto-regular;

  font-size: 13px;
  color: $tc-gray-90;
  line-height: 20px;
  margin: 0 0 20px;

  @include linkStyle;
}
