@import '~styles/mixins';
$tc-fb-blue: #325fba;

.container {
  display: flex;
  gap: 4px;
}

.tc-share-social {
  margin-top: 10px;
  white-space: nowrap;

  svg {
    rect {
      fill: #0d61bf;
    }
  }
}
