@import "~styles/mixins";
$tc-fb-blue: #325fba;

.tc-share-social {
  margin-top: 10px;
  white-space: nowrap;
}

.facebook-icon {
  @include roboto-bold;

  width: 35px;
  height: 35px;
  background: $tc-fb-blue;
  border-radius: 18px;
  padding: 0 13px;
  color: $tc-white;
  font-size: 25px;
}
