@import "~styles/tc-styles";
$tc-fb-blue: #325fba;

.tc-share-social {
  white-space: nowrap;
}

.facebook-icon {
  width: 35px;
  height: 35px;
  background: $tc-fb-blue;
  border-radius: 18px;
  padding: 0 13px;
  color: $tc-white;
  font-family: roboto;
  font-weight: 700;
  font-size: 25px;
}
