.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    z-index: 1;
    position: absolute;
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}
