@import "~styles/mixins";

.container {
  @include roboto-regular;

  align-items: center;
  position: absolute;
  width: 100%;
  height: calc(100vh);
  background-color: white;
  top: -54px;
  left: 0;
  z-index: 100000;
  display: flex;
  justify-content: center;
}

.link,
.link:visited {
  font-size: 20px;
  line-height: 30px;
  color: #1a85ff;
}

.uploading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .error-msg {
    width: 500px;
    margin-bottom: 45px;
    padding: 5px 13px;
    background: #fff4f4;
    border: 1px solid #ffd4d1;
    color: #f22f24;
    font-size: 13px;
    border-radius: 2px;
    font-style: italic;
    text-align: center;
  }

  .progress-container {
    width: 650px;
    height: 10px;
    background-color: $tc-gray-10;
    border-radius: 12px;

    .progress-bar {
      width: 0%;
      height: 10px;
      background-color: $tc-dark-blue;
      border-radius: 12px;
    }
  }

  h3 {
    font-size: 20px;
    line-height: 30px;
    color: #3d3d3d;
  }

  svg {
    margin-top: 50px;
  }

  p {
    font-size: 15px;
    color: #a3a3ad;
    width: 80%;
    text-align: center;
    line-height: 18px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .submitting {
    margin-top: 20px;
    font-size: 13px;
    color: $tc-black;
  }

  .button-container {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}
