@import "~styles/mixins";

.container {
  @include roboto-regular;

  align-items: center;
  width: 100%;
  background-color: white;
  left: 0;
  z-index: 100000;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 30px;
}

.uploading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .error-msg {
    @include roboto-bold;

    font-weight: 500;
    width: 500px;
    margin-bottom: 24px;
    color: #ef476f;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
  }

  .progress-container {
    width: 650px;
    height: 10px;
    background-color: #e9e9e9;
    border-radius: 8px;

    .progress-bar {
      width: 0%;
      height: 10px;
      background-color: #9d41c9;
      border-radius: 8px;
    }
  }

  h3 {
    @include barlow-bold;

    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: $tc-black;
  }

  svg {
    margin-top: 84px;

    @include xs-to-md {
      margin-top: 40px;
    }
  }

  div.animate {
    svg {
      animation-name: spin;
      animation-duration: 2000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  h4.link {
    @include roboto-regular;

    font-weight: 400;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    color: $tc-black;
    margin-top: 24px;
  }

  p {
    @include roboto-bold;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: $tc-black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 80px;

    @include xs-to-md {
      margin-top: 40px;
    }
  }

  .submitting {
    margin-top: 20px;
    font-size: 13px;
    color: $tc-black;
  }

  .button-container {
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
  }
}

.button {
  @include roboto-bold;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px !important;
  background: #137d60 !important;
  color: #fff !important;
}

.buttonOutlined {
  @include roboto-bold;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px !important;
  background: #fff !important;
  color: #137d60 !important;
  border: 2px solid #137d60;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
