@import "~styles/mixins";

.header {
  @include roboto-regular;

  display: flex;
  padding: 30px 60px;
  background-color: #fcfcfc;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;

  @include xs-to-md {
    padding: 30px 20px;
  }

  a {
    font-size: 18px;
    color: #a3a3ae;
    font-weight: 300;
    display: flex;
    align-items: center;

    span {
      font-size: 54px;
      display: block;
      position: relative;
      top: -3px;
      margin-right: 6px;
    }
  }

  h2 {
    font-weight: 300;
    font-size: 24px;
    color: #3d3d3d;
    line-height: 30px;

    @include xs-to-md {
      font-size: 20px;
    }

    @include xs-to-sm {
      font-size: 16px;
      width: 80%;
      line-height: 24px;
    }

    @media (max-width: 720px) {
      font-size: 20px;
      width: 80%;
      text-align: right;
    }
  }

  p {
    @include xs-to-sm {
      display: none;
    }
  }
}
