@import "~styles/mixins";

.header {
  @include roboto-regular;

  display: flex;
  padding: 30px 0;
  background-color: #fff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;

  @include xs-to-md {
    padding: 30px 0;
  }

  .header-link {
    display: flex;

    @include xs-to-md {
      flex-direction: column;
    }
  }

  p {
    @include barlow-bold;

    font-weight: 600;
    line-height: 32px;
    font-size: 34px;
    color: #2a2a2a;
    display: flex;
    margin-left: 16px;
    margin-top: -8px;
  }

  h1 {
    font-weight: 300;
    font-size: 24px;
    color: #3d3d3d;
    line-height: 30px;

    @include xs-to-md {
      font-size: 20px;
    }

    @include xs-to-sm {
      font-size: 16px;
      width: 80%;
      line-height: 24px;
    }

    @media (max-width: 720px) {
      font-size: 20px;
      width: 80%;
      text-align: right;
    }
  }
}

.back-arrow {
  width: 32px;
  height: 24px;
  border: 1.5px solid #137d60;
  color: #137d60;
  border-radius: 24px;
  padding: 4px 8px;
  margin-bottom: 10px;
  position: relative;

  @include xs-to-md {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.left-arrow {
  border: 1.5px solid #137d60;
  border-radius: 24px;

  @include xs-to-md {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}
