@import "~styles/mixins";

$screen-sm: 768px !default;
$screen-md: 1024px !default;
$screen-lg: 1280px !default;

@mixin md-to-lg {
  @media (min-width: #{$screen-sm + 1px}) and (max-width: #{$screen-md}) {
    @content;
  }
}

@mixin xs-to-sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin screen1025-to-screen1280 {
  @media (min-width: #{$screen-md + 1px}) and (max-width: #{$screen-lg}) {
    @content;
  }
}

.container {
  background: $tc-gray-neutral-dark;
  padding: 30px 60px;
  width: 100%;
  box-shadow: 0 1px 0 0 #f0f0f0;

  @include md-to-lg {
    padding: 30px;
  }

  @include xs-to-sm {
    padding: 10px;
  }
}

.page {
  background: $tc-white;
  border-radius: 6px;
  margin: 0 auto;
  max-width: 1246px;
}

:global {
  .profile-settings {
    .Select-input,
    .Select-placeholder,
    .Select-value-label,
    .Select-menu-outer {
      @include merriweather-sans-regular;
    }
  }

  .settings-section {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px auto;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      margin: 30px auto 0;
      padding-bottom: 30px;

      .section-info {
        h2 {
          font-size: 18px;
        }

        .description {
          margin-top: 10px;
        }
      }

      .section-fields {
        width: 100%;
      }

      &.skills {
        input {
          width: 100%;
        }
      }
    }

    border-bottom: 1px solid;
    border-color: $tc-gray-20;

    .section-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-self: flex-start;

      @media only screen and (min-width: 768px) {
        width: 270px;
        margin-right: 30px;
      }

      h2 {
        @include sofia-pro-medium;

        font-size: 16px;
        text-transform: uppercase;
      }

      .description {
        font-size: 13px;
        line-height: 20px;
        color: $tc-gray-40;

        @include merriweather-sans-regular;

        font-style: italic;
        margin-top: 5px;
      }
    }

    .section-fields {
      display: flex;
      flex-direction: column;

      @media only screen and (min-width: 768px) {
        border-left: 6px solid #f6f6f6;
        padding-left: 60px;
        max-width: 816px;
      }

      .form-field {
        background: white;
        color: black;
        max-width: 360px;

        &:disabled {
          color: #b7b7b7;
        }

        &.grey {
          background-color: #fcfcfc;
        }
      }

      .form-label {
        @include sofia-pro-medium;

        color: $tc-gray-90;
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 5px;
        text-transform: uppercase;
        max-width: 100%;

        .mandatory {
          color: $tc-dark-blue-70;
          float: right;
          text-transform: none;
        }

        .char-count {
          float: right;
          font-size: 11px;
          padding-right: 5px;
        }

        .grey {
          color: $tc-gray-40;
        }
      }

      .form-input-error {
        @include sofia-pro-regular;

        background-color: $tc-red-10;
        border: 1px solid $tc-red-30;
        color: $tc-red;
        line-height: 20px;
        margin-bottom: 10px;
        padding: 10px;
        text-align: left;
        font-size: 13px;
      }
    }
  }

  .save-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // Switch location
  $switch-width: 34px;
  $switch-height: 20px;
  $switch-handle-offset: 3px;
  $switch-handle-size: $switch-height - (2 * $switch-handle-offset);
  $switch-active-color: $tc-dark-blue-110;
  $switch-inactive-color: $tc-gray-20;

  @mixin switch-transition {
    transition: all 0.15s ease-in-out;
  }

  .onoffswitch {
    @include switch-transition;

    align-self: center;
    margin-right: 10px;
    margin-left: 22px;
    background-color: $switch-inactive-color;
    border-radius: $switch-height;
    box-sizing: border-box;
    height: $switch-height;
    width: $switch-width;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    @include xs-to-sm {
      display: none;
    }
  }

  .onoffswitch-mobile {
    display: none;

    @include xs-to-sm {
      @include switch-transition;

      display: block;
      align-self: center;
      margin-right: 10px;
      margin-left: 15px;
      background-color: $switch-inactive-color;
      border-radius: $switch-height;
      box-sizing: border-box;
      height: $switch-height;
      width: $switch-width;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }

  .onoffswitch-checkbox {
    display: none;
  }

  .onoffswitch-label {
    border-radius: $switch-height;
    cursor: pointer;
    display: block;
    width: $switch-width;
    overflow: hidden;
  }

  .onoffswitch-inner {
    @include switch-transition;

    display: block;
    width: 200%;
    margin-left: -100%;
  }

  // Pseudo-elements that slide to create background of the switch; TODO: Remove those
  .onoffswitch-inner::before,
  .onoffswitch-inner::after {
    box-sizing: border-box;
    color: $tc-white;
    display: block;
    float: left;
    height: $switch-height;
    width: 50%;
    font-size: 15px;
    font-weight: bold;
    line-height: $switch-height;
    padding: 0;
  }

  // SWITCH HANDLE
  .onoffswitch-switch {
    @include switch-transition;

    background: $tc-white;
    background-color: $tc-white;
    border: none;
    border-radius: $switch-height;
    bottom: 0;
    color: $tc-white;
    display: block;
    height: $switch-handle-size;
    width: $switch-handle-size;
    margin: $switch-handle-offset;
    position: absolute;
    top: 0;
  }

  .onoffswitch-checkbox + .onoffswitch-label {
    @include switch-transition;

    background-color: $switch-inactive-color;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: $switch-active-color;

    & .onoffswitch-switch {
      right: 0;
    }
  }

  // Switch is on
  .onoffswitch-inner::before {
    background-color: transparent; //$switch-active-color;
    color: transparent;// $switch-active-color;
    content: '';
    padding-left: 10px;
  }

  // switch is off
  .onoffswitch-inner::after {
    background-color: transparent; // $switch-inactive-color;
    color: transparent; // $switch-inactive-color;
    content: '';
    padding-right: 10px;
    text-align: right;
  }
}
