@import '~styles/mixins';

.copyright-notice {
  text-align: center;
  font-size: 16px;
  color: $tc-white;
}

.footer {
  background-color: $tc-gray-90;
  font-family: "Sofia Pro", Helvetica, Arial, sans-serif;
  font-weight: 500;
  height: auto;
  padding: 36px;
  text-align: center;
}

.link {
  display: inline-block;
  cursor: pointer;
  line-height: 24px;
  margin: 0 24px;
  text-align: center;

  a,
  a:visited,
  a:focus,
  a:hover {
    color: $tc-white;
    text-decoration: none;

    &:hover {
      color: $tc-dark-blue-90;
    }
  }
}

.social-links {
  text-align: center;
  font-weight: normal;
  margin: 36px 0 24px;
  color: $tc-white;

  a {
    display: inline-block;
    margin: 12px;
  }
}

@include xxs-to-sm {
  .link {
    display: block;
  }
}
