@import '~styles/mixins';

.mobile-only {
  @include md-to-xl {
    display: none;
  }
}

.link a {
  color: #e9e9e9 !important;
}

.sep-line {
  height: 2px;
  background-color: #555;
  border-radius: 1px;
  width: 100%;

  @include xs-to-sm {
    display: none;
  }
}

.social-icons {
  margin-top: 15px;

  @include xs-to-sm {
    display: flex;
    justify-content: center;
  }

  a {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.mobile-navi {
  display: flex;
  justify-content: center;

  @include md-to-xl {
    display: none;
  }

  .mobile-navi-col {
    display: flex;
    flex-direction: column;
    margin-right: 43px;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: #e9e9e9;
      font-size: 12px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}

.footer {
  background-color: #2a2a2a;
  padding: 30px 80px 21px 80px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  z-index: 0;

  @include xs-to-sm {
    padding: 30px 30px 21px 30px;
  }

  .footer-wrap {
    max-width: $screen-lg;
    margin: auto;

    .logo-wrap {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
  }

  .navi-links {
    margin-bottom: 39px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    @include xs-to-sm {
      display: none;
    }

    .navi-col {
      .navi-col-title {
        color: white;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 1px;
      }

      .navi-col-links {
        margin-top: 7px;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;

    .copyright-notice {
      color: #aaa;

      @include xs-to-sm {
        font-size: 11px;
        line-height: 21px;

        a {
          text-decoration: underline;
        }
      }

      a {
        margin-left: 20px;
      }
    }
  }
}
