@import '~styles/mixins';

.copyright-notice {
  text-align: center;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: $tc-gray-60;
}

.footer {
  background-color: $tc-gray-90;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 45px;
  padding-bottom: 30px;
  text-align: center;
  height: 220px;
  flex: none;
}

.social-links {
  text-align: center;
  margin: 40px auto 0;
  display: inline-block;
  color: $tc-gray-30;

  hr {
    border: none;
    border-top: solid 2px $tc-gray-70;
    opacity: 0.2;
    margin: 0 auto;
    width: 205px;
  }

  a {
    display: inline-block;
    margin: 15px;
    margin-bottom: 28px;
    margin-top: 10px;
  }
}

.link {
  display: inline-block;
  cursor: pointer;
  line-height: 24px;
  margin: 0 24px;
  text-align: center;

  a,
  a:visited,
  a:focus,
  a:hover {
    color: $tc-gray-30;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;

    &:hover {
      color: $tc-white;
    }
  }
}

@include xs-to-md {
  .footer {
    height: auto;

    .link {
      display: inline-block;
    }
  }
}
