@import '~styles/mixins';

.container {
  border-bottom: 1px solid $tc-gray-neutral-dark;
  padding: 30px 0;
}

.challenges {
  header {
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .section-title {
    color: #3d3d3d;
    text-align: center;
    display: flex;
    padding-top: 30px;

    h1 {
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin: 0 50px;
      padding-bottom: 30px;
      cursor: pointer;
    }

    .active {
      border-bottom: 3px solid #1bf;
    }
  }

  .challenge-view-toggle {
    position: absolute;
    bottom: 30px;
    right: 55px;

    @media only screen and (max-width: 767px) {
      display: none;
    }

    button {
      margin-right: 17px;
      padding: 0;
      border: 0;
      outline: 0;
      background-color: $tc-white;
      font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 11px;
      line-height: 16px;
      text-transform: uppercase;
      color: #a3a3ae;
      cursor: pointer;
      transition: none;

      &:hover {
        color: #000;
        transition: none;
      }

      &.disabled {
        color: #000;
        cursor: default;

        &.tile::before {
          background: url(assets/images/dashboard/grid-on.svg);
        }

        &.list::before {
          background: url(assets/images/dashboard/list-on.svg);
        }
      }

      &::before {
        content: '';
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 4px;
        vertical-align: middle;
        width: 12px;
        height: 12px;
        background-size: 12px, 12px;
        background-repeat: no-repeat;
      }

      &.tile {
        &::before {
          background: url(assets/images/dashboard/grid-off.svg);
        }

        &:hover::before {
          background: url(assets/images/dashboard/grid-on.svg);
        }
      }

      &.list {
        &::before {
          background: url(assets/images/dashboard/list-off.svg);
        }

        &:hover::before {
          background: url(assets/images/dashboard/list-on.svg);
        }
      }
    }
  }

  .show-only {
    @include roboto-regular;

    color: $tc-gray-80;
    position: absolute;
    bottom: 30px;
    right: 55px;
  }

  .section-loading {
    min-height: 500px;
  }

  .hasChallenges {
    padding: 20px 15px 5px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fcfcfc;

    &.list-view-active {
      border: 0;
      background-color: $tc-white;

      .section-titles {
        display: flex;
        max-width: 1122px;
        margin: 0 auto;
        border: 1px solid $tc-white;
        padding-left: 5px;
        width: 100%;

        div {
          display: inline-block;
          flex: 2;
          align-self: flex-end;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 15px;
          font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
          font-weight: 400;
          color: #7f7f7f;
          font-size: 12px;
          text-transform: uppercase;

          @media only screen and (min-width: 1000px) {
            padding-left: 30px;
          }
        }

        .challenge-title,
        .phase-title {
          border-right: 1px solid $tc-white;
        }

        .regs-subs-title {
          flex: 1;
        }
      }
    }

    .challenges {
      display: flex;
      flex-direction: column-reverse;

      @media only screen and (min-width: 768px) {
        flex-direction: row;
      }

      &.tile-view,
      &.list-view {
        @media only screen and (min-width: 768px) {
          display: flex;
          margin: 0 auto;
          overflow: visible;
          white-space: normal;
        }
      }

      .items {
        flex: 1;
        display: flex;
        justify-content: center;
      }

      &.tile-view {
        @media only screen and (min-width: 768px) {
          width: 555px;
        }

        @media only screen and (min-width: 870px) {
          width: 840px;
        }

        @media only screen and (min-width: 1155px) {
          width: 1125px;
        }

        .items {
          flex-flow: row wrap;
        }
      }

      &.list-view {
        max-width: 1122px;

        .items {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
        }
      }

      .no-challenges {
        width: 100%;
        padding-top: 20px;
        font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: center;
      }

      .filter-wrapper {
        min-width: 285px;
        flex-shrink: 0;
        padding-bottom: 40px;
      }
    }
  }

  .my-challenges-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tc-white;
    min-height: 72px;
    text-transform: uppercase;
    flex-direction: row;
    padding: 15px 0;
    font-size: 12px;
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;

    @media only screen and (min-width: 900px) {
      padding: 30px 0;
    }

    a {
      color: #0096ff;
    }

    a:not(:first-child) {
      margin-left: 30px;
    }
  }
}

@media (min-width: 768px) {
  .my-challenges {
    .my-challenges-links {
      a:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
}
