@import "~styles/mixins";

.container {
  align-content: center;
  background: white;
  padding: 10px 0;
}

.contentWrapper {
  align-items: flex-start;
  display: flex;
  margin: auto;
  max-width: $screen-lg;
  padding: 100px 0;

  @include xs-to-md {
    flex-direction: column-reverse;
    padding: 40px 0 100px;
  }
}

.content {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 9px 0 rgba(38, 38, 40, 0.15);
  margin: 60px 0 0 -80px;
  padding: 30px;

  @include lg {
    margin: 40px 0 0 -250px;
  }

  @include xs-to-md {
    margin: 0 auto -40px;
    width: 80%;
  }
}

.quoteTextWrapper {
  @include tc-body-lg;

  font-style: italic;
  font-weight: 300;

  @include xs-to-sm {
    @include tc-label-sm;
  }
}

.quoteTextWrapper h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.authorInfo {
  position: relative;
}

.authorName {
  @include tc-label-sm;

  display: block;
  position: relative;
  height: auto;
  font-weight: 700;
  margin-top: 30px;

  @include md {
    margin-top: 20px;
  }
}

.authorAffiliation {
  @include tc-label-sm;

  display: block;
  position: relative;
  margin-top: 10px;
}

.avatarContainer {
  height: 450px;

  @include xs-to-md {
    height: auto;
    width: 100%;
  }

  &.noImage {
    display: none;
  }

  img {
    height: 100%;
    width: auto;
    border-radius: 6px;

    @include xs-to-md {
      height: auto;
      width: 100%;
    }
  }

  .authorInfo {
    display: none;
  }
}
