/* stylelint-disable no-descending-specificity */
@import "~styles/mixins";

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.filter-btn {
  @include roboto-bold;

  height: 24px;
  cursor: pointer;
  display: none;
  font-size: 14px;
  color: #137d60;
  background-color: $tc-white;
  padding: 0 16px;
  margin: 16px 0 16px 16px;
  border-radius: 24px;
  border: 1.5px solid #137d60;
  text-transform: uppercase;

  @include xs-to-md {
    display: block;
    margin-bottom: 0 !important;
  }
}

.FiltersPanel {
  @include roboto-regular;

  font-size: 11px;
  padding: 16px 18px;
  margin-top: 0;
  background-color: $listing-filter-bg;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;

  @include xs-to-md {
    position: fixed;
    z-index: 10;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f4f4f4;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    overflow-y: scroll;
  }

  .headerWrapper {
    display: none;

    @include xs-to-md {
      position: fixed;
      z-index: 1000;
      width: 93%;
      background: #f4f4f4;
      padding-top: 15px;
    }
  }

  .header {
    display: none;

    @include xs-to-md {
      display: flex;
      justify-content: space-between;
      padding-bottom: 25px;
    }
  }

  .title {
    display: none;

    @include xs-to-md {
      display: block;

      @include barlow-bold;

      font-weight: 600;
      font-size: 18px;
      color: $tco-black;
      letter-spacing: 0;
      line-height: 20px;
      text-transform: uppercase;
    }
  }

  .close-icon {
    display: none;

    @include xs-to-md {
      display: block;
      cursor: pointer;
    }
  }

  .buttons {
    margin-top: 14px;

    button {
      height: 24px;
      min-height: 26px;
      line-height: 26px;
      padding: 0 10px;
    }

    @include xs-to-md {
      margin-bottom: 80px;
    }
  }
}

.mobile-buttons {
  display: flex;
  gap: 8px;
}

.mobile-button {
  height: 24px;
  min-height: 26px;

  button {
    @include roboto-bold;

    font-size: 12px;
    letter-spacing: 0.8px;
    padding: 5px 10px !important;
  }
}

hr.hr {
  color: $tc-gray-10;
  background: $tc-gray-10;
  border: 0;
  height: 2px;

  &.mobile {
    display: none;

    @include xs-to-md {
      display: block;
    }
  }
}

.filters {
  @include xs-to-md {
    margin-top: 66px;
  }

  .filter-row {
    display: flex;

    .recommended-select-label,
    .tco-select-label {
      margin-bottom: 16px;
      display: flex;
      line-height: 30px;
      justify-content: flex-start;
      margin-top: 15px;

      @include xs-to-md {
        margin-right: 0 !important;
      }

      @include sm-to-md {
        > div {
          display: inline-flex;
          flex-direction: row-reverse;
          align-items: baseline;

          > div {
            margin-left: 0;
          }
        }
      }

      > div {
        font-size: 14px;

        @include sm-to-md {
          display: initial;
        }

        > div {
          width: 30px;
          height: 16px;

          > div {
            width: 12px;
            height: 12px;
            border-radius: 50%;
          }
        }
      }
    }

    .search-bar {
      display: none;

      @include xs-to-md {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;

        div {
          margin: 0 !important;
        }
      }
    }

    .bucket-selector-mobile {
      display: none;

      @include xs-to-md {
        display: block;
        width: 100%;

        > div {
          > div {
            padding-left: 0;
          }
        }
      }
    }
  }

  .filter {
    width: 100%;

    .label {
      @include roboto-bold;

      display: block;
      color: $tc-black;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    @include xs-to-md {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      flex-direction: column;

      .label {
        min-width: 108px;
        align-self: flex-start;
        line-height: 30px;
      }

      .label + * {
        flex: 1;

        @include xs-to-md {
          flex: unset;
          margin-right: 16px;
          margin-top: 8px;
        }
      }

      &.past-period,
      &.review-type,
      &.challenge-type {
        .checkboxes,
        .radios {
          flex-direction: column;
        }
      }
    }

    &.track {
      position: relative;
      z-index: 4;

      .label {
        display: block;
      }

      .switches {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .filter-switch-with-label {
          width: 45%;
          margin-bottom: 16px;
          display: flex;
          white-space: nowrap;
          line-height: 30px;
          justify-content: flex-start;

          @include xs-to-md {
            margin-right: 0 !important;
          }

          @include sm-to-md {
            width: 50%;

            @include xs-to-md {
              width: 35%;
            }

            > div {
              display: inline-flex;
              flex-direction: row-reverse;
              align-items: baseline;

              @include xs-to-md {
                display: block;
              }

              > div {
                margin-left: 0;
              }
            }
          }

          > div {
            font-size: 14px;

            > div {
              width: 30px;
              height: 16px;

              > div {
                width: 12px;
                height: 12px;
                border-radius: 50%;
              }
            }
          }

          .category-cmp-tooltip {
            height: 100%;
            padding-left: 5px;
            position: relative;
            top: -2px;

            div {
              width: unset;
            }
          }
        }

        @include xs-to-md {
          margin: 0;
          display: flex;
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      @include xs-to-md {
        display: flex;
        flex-direction: column;
      }
    }

    &.past-period {
      .label {
        display: block;
      }

      .radios {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .radio {
          position: relative;
          display: inline-block;
          line-height: 30px;
          min-width: 105px;
          width: 45%;
          margin-bottom: 6px;

          @include xs-to-md {
            width: 130px;
          }

          @include md-to-lg {
            width: 26%;
          }

          .radio-label {
            display: inline-block;
            padding-left: 24px;
            white-space: nowrap;
            vertical-align: top;
            font-size: 14px;
            line-height: 22px;

            @include roboto-regular;

            color: $tco-black;
            margin-left: 8px;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              border: 1px solid #aaa;
              border-radius: 50%;
              box-shadow: 0 1px 2px 0 rgba($tc-black, 0.29);
              background: #fff;
            }

            &::after {
              content: "";
              position: absolute;
              top: 5px;
              left: 5px;
              width: 10px;
              height: 10px;
              background: $listing-checkbox-green;
              border-radius: 50%;
              opacity: 0;
            }
          }

          .input-control {
            display: none;

            &:checked + .radio-label {
              &::before {
                border-color: $listing-checkbox-green;
                background-color: $tc-white;
              }

              &::after {
                opacity: 1;
              }
            }
          }
        }

        @include xs-to-md {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
        }
      }
    }

    &.review-type,
    &.challenge-type {
      .label {
        display: block;
        margin-top: 13px;

        @include xs-to-md {
          margin-top: 0;
        }
      }

      .checkboxes {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;

        .checkbox {
          position: relative;
          display: flex;
          flex-direction: row;
          line-height: 30px;
          min-width: calc(50% - 10px);
          margin-bottom: 18px;

          @include xs-to-md {
            min-width: 35% !important;
          }

          &:not(:last-child) {
            padding-right: 10px;
          }

          .checkbox-label {
            display: inline-block;
            padding-left: 24px;
            white-space: nowrap;
            line-height: 15px;
            vertical-align: top;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 15px;
              height: 15px;
              border: 1px solid #aaa;
              border-radius: 2px;
              box-shadow: 0 1px 2px 0 rgba($tc-black, 0.29);
            }

            &::after {
              content: "";
              position: absolute;
              top: 3px;
              left: 3px;
              width: 10px;
              height: 6px;
              border-left: 2px solid $tc-white;
              border-bottom: 2px solid $tc-white;
              transform: rotate(-45deg);
              opacity: 0;
            }
          }

          .input-control {
            display: none;

            &:checked + .checkbox-label {
              &::before {
                background-color: $listing-checkbox-green;
                border-color: $listing-checkbox-green;
              }

              &::after {
                opacity: 1;
              }
            }
          }

          > div {
            font-size: 14px;

            > div {
              width: 30px;
              height: 16px;

              > div {
                width: 12px;
                height: 12px;
                border-radius: 50%;
              }
            }
          }

          .type-tooltip {
            height: 100%;
            padding-left: 5px;
            position: relative;
            top: -2px;

            div {
              width: unset;
            }
          }
        }

        @include sm-to-md {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

    &.dates {
      @include sm-to-md {
        .label + div {
          max-width: 240px;

          @include xs-to-md {
            max-width: 100%;
            min-width: 100%;
          }
        }
      }
    }

    &.filter.community {
      margin-bottom: 10px;

      .community-label {
        padding-top: 12px;
        margin-top: -6px;
      }

      .active-community {
        font-size: 14px;
        font-weight: normal;
      }

      .registration-status {
        color: #888894;
        font-size: 0.7rem;
      }

      .community-name {
        display: flex;
      }

      svg {
        width: 9px;
        height: 9px;
      }

      .checkmark-icon-container {
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        margin-left: 5px;
        background: #5dca03;
        border-radius: 50%;

        svg {
          width: 10px;
          height: 10px;
        }
      }

      .community-select-item {
        display: flex;
        justify-content: space-between;
      }

      .learn-more-link {
        color: $tc-light-blue;
        margin-left: 5px;

        &:hover,
        &:visited {
          color: $tc-dark-blue-110;
        }
      }

      :global {
        .Select {
          display: block;
          z-index: 5;
        }

        .Select-control {
          height: 40px;
          border-radius: 4px;
          box-sizing: border-box;
          border: 1px solid #aaa;

          &:hover {
            box-shadow: none;
          }
        }

        .Select.is-focused > .Select-control {
          outline: none;
          box-shadow: none;
        }

        .Select-menu-outer {
          font-size: 14px;

          .Select-option {
            color: #2a2a2b !important;
            padding: 8px 15px;
          }

          .Select-option.is-focused {
            background-color: #fff !important;
          }

          .Select-option.is-selected {
            font-weight: 700;
            color: #2a2a2b !important;
            background-color: #fff !important;
          }

          .Select-option:hover {
            background-color: #229173 !important;
            color: #fff !important;
          }
        }
      }
    }
  }

  .recommended-challenges-filter,
  .tco-challenges-filter {
    display: flex;
    margin: 0;
    position: relative;

    @include xs-to-md {
      display: flex;
      margin: 0;
      position: relative;
      justify-content: flex-start;
      flex-direction: row;
    }

    .recommended-challenge-tooltip,
    .tco-challenge-tooltip {
      position: relative;
      left: 7px;
      top: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }
}

.tctooltiptext {
  background: $tc-black;
  min-width: 210px;
  max-width: 300px;
  color: $tc-white;
  border-radius: 8px;
  padding: 10px;

  a {
    font-weight: bold;
  }

  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
  }

  .body {
    font-weight: 400;
    color: $tc-white;
    font-size: 14px;
    line-height: 22px;
    margin-top: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: fit-content;
  }
}

.section-label {
  display: flex;
  justify-content: space-between;

  @include xs-to-md {
    justify-content: space-between;
    width: 100%;
  }
}

.section-label:hover .hover-control {
  display: flex;
  justify-content: space-between;
}

.hover-control {
  display: none;

  @include xs-to-md {
    display: flex;
    margin-right: 53px;
  }

  &.section {
    margin-top: 8px;
  }

  &.domain {
    margin-top: -5px;
  }
}

.control-item {
  @include roboto-regular;

  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $color-link-blue-dark;
  cursor: pointer;
  margin-left: 16px;
}
