@import '~styles/mixins';

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.filter-btn {
  @include roboto-bold;

  cursor: pointer;
  display: none;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #737380;
  padding: 0 15px;
  background: $tc-white;
  margin: 12px 0 0;
  border-radius: 4px;

  .FiltersIcon {
    margin: 0 10px;
    position: relative;
    top: 3px;

    path {
      fill: #737380;
    }
  }

  @include xs-to-md {
    display: block;
  }
}

.FiltersPanel {
  @include roboto-regular;

  font-size: 11px;
  padding: 24px;
  background: white;
  position: relative;

  @include xs-to-md {
    position: fixed;
    z-index: 10;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $tc-white;
    padding: 15px;
    overflow-y: scroll;
  }

  .header {
    display: none;

    @include xs-to-md {
      display: flex;
      justify-content: space-between;
      padding-bottom: 25px;
    }
  }

  .title {
    display: none;

    @include xs-to-md {
      display: block;
      font-weight: 500;
      font-size: 12px;
      color: $tc-gray-50;
      letter-spacing: 0;
      line-height: $base-unit * 4;
      text-transform: uppercase;
    }
  }

  .close-icon {
    display: none;

    @include xs-to-md {
      display: block;
      cursor: pointer;
    }
  }

  .buttons {
    text-align: center;

    button {
      height: 26px;
      min-height: 26px;
      line-height: 26px;
      padding: 0 14px;
    }
  }
}

.filters {
  .filter-row {
    display: flex;
  }

  .filter {
    width: 100%;
    margin-bottom: 25px;

    .label {
      @include roboto-bold;

      display: block;
      color: $tc-black;
      font-size: 11px;
      line-height: 13px;
      margin-bottom: 4px;
    }

    @include xs-to-md {
      display: flex;
      align-items: center;

      .label {
        min-width: 108px;
        align-self: flex-start;
        line-height: 30px;
      }

      .label + * {
        flex: 1;
      }

      &.past-period,
      &.review-type,
      &.challenge-type {
        .checkboxes,
        .radios {
          flex-direction: column;
        }
      }
    }

    &.track {
      position: relative;
      z-index: 4;

      .label {
        display: block;
      }

      .switches {
        display: flex;
        flex-wrap: wrap;

        .filter-switch-with-label {
          display: inline-block;
          white-space: nowrap;
          line-height: 30px;

          @include xs-to-md {
            margin-right: 0 !important;
          }

          @include sm-to-md {
            width: 50%;

            > div {
              display: inline-flex;
              flex-direction: row-reverse;
              align-items: baseline;

              > div {
                margin-left: 0;
              }
            }
          }

          &:not(:last-child) {
            margin-right: 10px;
          }

          > div {
            font-size: 11px;

            > div {
              width: 23px;
              height: 13px;

              > div {
                width: 9px;
                height: 9px;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    &.past-period {
      .label {
        display: block;
      }

      .radios {
        display: flex;
        flex-wrap: wrap;

        .radio {
          position: relative;
          display: inline-block;
          line-height: 30px;
          margin-right: 24px;
          min-width: 96px;

          .radio-label {
            display: inline-block;
            padding-left: 24px;
            white-space: nowrap;
            line-height: 15px;
            vertical-align: top;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 15px;
              height: 15px;
              border: 1px solid #aaa;
              border-radius: 50%;
              box-shadow: 0 1px 2px 0 rgba($tc-black, 0.29);
            }

            &::after {
              content: '';
              position: absolute;
              top: 4px;
              left: 4px;
              width: 7px;
              height: 7px;
              background: white;
              border-radius: 50%;
              opacity: 0;
            }
          }

          .input-control {
            display: none;

            &:checked + .radio-label {
              &::before {
                background-color: #0681ff;
                border-color: #0681ff;
              }

              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &.review-type,
    &.challenge-type {
      .label {
        display: block;
      }

      .checkboxes {
        display: flex;
        flex-wrap: wrap;

        .checkbox {
          position: relative;
          display: inline-block;
          line-height: 30px;
          width: 33%;

          .checkbox-label {
            display: inline-block;
            padding-left: 24px;
            white-space: nowrap;
            line-height: 15px;
            vertical-align: top;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 15px;
              height: 15px;
              border: 1px solid #aaa;
              border-radius: 2px;
              box-shadow: 0 1px 2px 0 rgba($tc-black, 0.29);
            }

            &::after {
              content: '';
              position: absolute;
              top: 3px;
              left: 3px;
              width: 10px;
              height: 6px;
              border-left: 2px solid $tc-white;
              border-bottom: 2px solid $tc-white;
              transform: rotate(-45deg);
              opacity: 0;
            }
          }

          .input-control {
            display: none;

            &:checked + .checkbox-label {
              &::before {
                background-color: #0681ff;
                border-color: #0681ff;
              }

              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &.dates {
      @include sm-to-md {
        .label + div {
          max-width: 240px;
        }
      }
    }

    &.filter.community {
      .active-community {
        font-size: 12px;
        font-weight: normal;
      }

      .registration-status {
        color: #888894;
        font-size: 0.7rem;
      }

      .community-name {
        display: flex;
      }

      .checkmark-icon-container {
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        margin-left: 5px;
        background: #5dca03;
        border-radius: 50%;

        svg {
          width: 10px;
          height: 10px;
        }
      }

      .community-select-item {
        display: flex;
        justify-content: space-between;
      }

      .learn-more-link {
        color: $tc-light-blue;
        margin-left: 5px;

        &:hover,
        &:visited {
          color: $tc-dark-blue-110;
        }
      }

      :global {
        .Select {
          display: block;
          z-index: 5;
        }

        .Select-control {
          height: 26px;
          border-radius: 2px;

          &:hover {
            box-shadow: none;
          }
        }

        .Select.is-focused > .Select-control {
          outline: none;
          box-shadow: none;
          border-color: #0681ff !important;
        }

        .Select-menu-outer {
          margin-top: 1px;
        }
      }
    }
  }
}
