/* Default banner styling. */

@import "~styles/mixins";

.container {
  background-position: 50% 50%;
  background-size: cover;
  height: 480px;
  overflow: hidden;
  position: relative;
}

.content {
  @include roboto-regular;

  color: white;

  h1 { margin-bottom: 10px; }
  p { margin: 5px 0; }
}

.contentWrapper {
  background: black;
  opacity: 0.6;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
