@import "~styles/mixins";

.content {
  font-family: 'Open Sans', sans-serif;
  line-height: 136.11%;
  transform: skewX(10deg);
  transform-origin: right top;
  margin-left: -45px;
  margin-right: 45px;

  h1 {
    font: normal 36px/136.11% 'Open Sans', sans-serif;
    text-transform: uppercase;

    @include xs-to-sm {
      font-size: 30px;
    }
  }

  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;

    @include xs-to-sm {
      line-height: 22px;
    }
  }
}

.contentWrapper {
  opacity: 1;
  background-color: rgba(#0c53a6, 0.7);
  transform: skewX(-10deg);
  transform-origin: left bottom;
  top: auto;
  left: auto;
  right: 0;
  width: 538px;
  padding: 45px 35px 45px 86px;
}

.container {
  align-items: center;
  background: center no-repeat;
  background-size: cover;
  display: flex;
  height: 470px;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;

  @include xs-to-sm {
    align-items: flex-end;
    height: 600px;
  }
}
