@import "~styles/mixins";

.content {
  @include frutiger-regular;

  line-height: 136.11%;
  transform: skewX(10deg);
  transform-origin: right top;
  margin-left: -45px;
  margin-right: 45px;

  h1 {
    @include frutiger-light;

    font-size: 40px;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #4c433d;
    text-transform: uppercase;

    @include xs-to-sm {
      font-size: 30px;
    }
  }

  p {
    @include frutiger-light;

    font-size: 18px;
    line-height: 1.33;
    margin-top: 10px;
    color: #4c433d;

    @include xs-to-sm {
      line-height: 22px;
    }
  }

  @include xs-to-sm {
    transform: none;
  }
}

.contentWrapper {
  opacity: 1;
  background-color: rgba(#0c53a6, 0.7);
  transform: skewX(-10deg);
  transform-origin: left bottom;
  top: auto;
  left: auto;
  right: 0;
  width: 538px;
  padding: 45px 35px 45px 86px;

  @include xs-to-sm {
    transform: none;
    width: 100%;
  }
}

.container {
  align-items: center;
  background: center no-repeat;
  background-size: cover;
  display: flex;
  height: 470px;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;

  @include xs-to-sm {
    align-items: flex-end;
    height: 600px;
    max-height: 100vh;
  }
}
