@import '~components/GUIKit/Assets/Styles/default';

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $tc-white;
  border-radius: 50%;
  border: 1px solid $gui-kit-gray-30;

  /* Create the indicator (the dot/circle - hidden when not checked) */
  &::after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $tc-white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
  }

  &.hasError {
    border: 2px solid $gui-kit-level-5;
  }
}

.radioButton {
  display: flex;
  align-items: center;
}

.label {
  font-size: 14px;
  cursor: pointer;
}

/* The container */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $gui-kit-gray-90;

  /* Hide the browser's default radio button */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    /* When the radio button is checked, add a blue background */
    &:checked ~ .checkmark {
      background-color: $gui-kit-level-2;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.29);
      border: none;

      /* Show the indicator (dot/circle) when checked */
      &::after {
        display: block;
      }
    }
  }
}

.radioButtonContainer {
  display: flex;
  flex-direction: column;

  .label {
    color: $gui-kit-gray-90;
  }

  // lg size
  &.lgSize {
    .container {
      padding-left: 24px;
      line-height: 24px;
      height: 24px;

      .checkmark {
        height: 24px;
        width: 24px;

        &::after {
          margin-top: -6px;
          margin-left: -6px;
          width: 12px;
          height: 12px;
        }
      }
    }

    .label {
      margin-left: 8px;
    }
  }

  // sm size
  &.smSize {
    .container {
      padding-left: 20px;
      line-height: 20px;
      height: 20px;

      .checkmark {
        height: 20px;
        width: 20px;

        &::after {
          margin-top: -5px;
          margin-left: -5px;
          width: 10px;
          height: 10px;
        }
      }
    }

    .label {
      margin-left: 8px;
    }
  }

  // xs size
  &.xsSize {
    .container {
      padding-left: 15px;
      line-height: 15px;
      height: 15px;

      .checkmark {
        height: 16px;
        width: 16px;

        &::after {
          margin-top: -4px;
          margin-left: -4px;
          width: 8px;
          height: 8px;
        }
      }
    }

    .label {
      margin-left: 8px;
    }
  }
}

.errorMessage {
  display: block;

  @include errorMessage;

  color: #ef476f;
  margin-left: 0;
}
