.tcoButton {
  color: #fafafb !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  background-color: #ff8300 !important;

  &:hover {
    background-image: none !important;
  }
}
