.tcoButton {
  color: #f6bb10 !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  background-color: #00566b !important;

  &:hover {
    background-image: none !important;
  }
}
