.tcoButton {
  color: #fafafb !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  background-color: #43abe4 !important;
  text-transform: uppercase !important;

  &:hover {
    background-image: none !important;
  }
}
