@import '~styles/mixins';
@import "~components/Contentful/default";

.container {
  max-width: $screen-lg;
  min-height: 50vh;
  margin: auto;
  color: #2a2a2a;

  @include gui-kit-headers;
  @include gui-kit-content;
  @include roboto-regular;

  @include xs-to-md {
    padding: 0 15px;
  }

  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;
    height: 80vh;
  }

  .wrap .content .right .support a {
    font-weight: 600;
    text-decoration: none;
  }

  .wrap {
    h2 {
      color: #26b3c5;
      text-align: center;
      margin-top: 47px;
      margin-bottom: 40px;

      @include xs-to-md {
        text-align: left;
      }
    }

    .infos {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #e9e9e9;
      padding-bottom: 52px;

      @include xs-to-md {
        flex-direction: column;
      }

      .infos-item {
        display: flex;
        margin-right: 70px;

        @include xs-to-md {
          margin-bottom: 15px;
        }

        &:last-child {
          margin-right: 0;
        }

        svg {
          margin-right: 8px;
          margin-top: 6px;
        }

        .infos-data {
          display: flex;
          flex-direction: column;

          strong {
            font-weight: bold;
            line-height: 30px;
          }
        }
      }
    }

    .content {
      display: flex;
      margin-top: 44px;
      margin-bottom: 192px;

      @include xs-to-md {
        flex-direction: column;
      }

      .right {
        min-width: 408px;
        display: flex;
        flex-direction: column;
        flex: 1;

        @include xs-to-md {
          margin-top: 47px;
        }

        .shareButtons {
          display: flex;
          align-items: center;
          margin-bottom: 12px;

          a {
            margin-right: 5px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .subscribe-area {
          background-image: linear-gradient(135.29deg, #2c95d7 0%, #06d6a0 100%);
          border-radius: 10px;
          padding: 25px 32px 30px 20px;

          h6 {
            margin: 0 0 6px;
            color: #fff;
          }

          p {
            color: #fff;
            margin-bottom: 15px;
          }
        }

        .info-area {
          background-color: #f4f4f4;
          padding: 20px;
          border-radius: 10px;
          margin-top: 20px;

          /* stylelint-disable */
          p,
          a,
          li {
            font-size: 14px;
            line-height: 26px;

            strong {
              font-weight: bold;
            }
          }
          /* stylelint-enable */

          ul {
            margin-bottom: 0;
            list-style: none;
            padding: 0;

            li {
              margin-bottom: 15px;
              display: flex;
              align-items: flex-start;

              img {
                margin-right: 16px;
                min-width: 40px;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .gig-skills {
          display: flex;
        }

        .support {
          background-color: #eaf6fd;
          border-radius: 10px;
          padding: 20px;
          text-transform: uppercase;
          font-weight: 600;
          font-family: Barlow, sans-serif;
          margin-top: 20px;
          line-height: 20px;
        }
      }

      .left {
        flex: 2;
        margin-right: 80px;

        /* stylelint-disable */
        div strong {
          font-weight: bold;
          line-height: 30px;
          display: inline-block;
        }
        /* stylelint-enable */

        h4 {
          margin-top: 35px;

          &:first-child {
            margin-top: 0;
          }
        }

        .skills {
          display: flex;
          align-items: center;
          line-height: 21px;
          /* stylelint-disable */
          img {
            margin-right: 8px;
          }
          /* stylelint-enable */
        }
      }
    }
  }

  .cta-buttons {
    display: flex;
    justify-content: center;
    margin-top: 47px;

    @include xs-to-sm {
      flex-direction: column;
    }

    /* stylelint-disable */
    a {
      background-color: #fff;
      border: 1px solid #137d60;
      border-radius: 20px;
      color: #229174;
      font-size: 14px;
      font-weight: bolder;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 40px;
      padding: 0 20px;

      &:hover {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      }

      @include xs-to-sm {
        text-align: center;
      }
    }

    /* stylelint-enable */

    .primaryBtn {
      background-color: #137d60;
      border-radius: 20px;
      color: #fff;
      font-size: 14px;
      font-weight: bolder;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 40px;
      padding: 0 20px;
      border: none;
      outline: none;
      margin-right: 20px;

      &:hover {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        background-color: #0ab88a;
      }

      @include xs-to-sm {
        margin-bottom: 20px;
      }
    }
  }
}
