@import '~styles/mixins';

.auth-align {
  position: relative;
  top: -4px;
}

.avatar {
  display: inline-block;
  margin: 12px 6px 8px 12px;
}

.header {
  position: relative;
  font-family: 'Sofia Pro', sans-serif;
  flex: none;
}

.main-desktop-header {
  border-bottom: 1px solid $tc-gray-20;
  padding: 0 20px;
  position: relative;
}

.logo {
  position: absolute;
  padding-left: 11px;
  padding-top: 1px;
}

.main-menu {
  margin-bottom: 0;
  text-align: center;
}

.main-menu-item {
  color: $tc-gray-40;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 54px;
  margin: 0;
  padding: 0 40px;
  position: relative;
  text-transform: uppercase;

  &.current {
    box-shadow: inset 0 -4px 0 -1px $tc-dark-blue;
  }

  &.opened {
    color: $tc-dark-blue;

    /* TODO: This code for downward blue arrow is used also
     * in another place of this stylesheet. Should be implemented
     * as a mixin! */
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 5px 0;
      border-color: $tc-dark-blue transparent transparent transparent;
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -6px;
      background-color: transparent;
    }
  }
}

.right-menu {
  height: 100%;
  position: absolute;
  right: 20px;
  top: 0;
}

.search-field {
  background: $tc-black;
  height: 0;
  margin-top: -1px;
  opacity: 0.98;
  overflow: hidden;
  padding: 0 48px;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 0.25s ease-in-out;
  z-index: 10;

  &:global.opened {
    height: 128px;
    padding: 48px;
    transition: all 0.25s ease-in-out;
  }

  input,
  input:active,
  input:focus,
  input:hover {
    border: none;
    border-bottom: 1px solid $tc-white;
    box-shadow: none;
    font-size: 22px;
    outline: none;
    padding-bottom: 3px;

    &::placeholder {
      color: $tc-gray-20;
    }
  }
}

.search-icon {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 11px 4px 11px 6px;
  padding-left: 12px;
  position: relative;
  border-left: 1px solid $tc-gray-40;
  width: 36px;

  svg {
    height: 18px;
    margin-top: 7px;
    width: 18px;
  }

  /* TODO: This code for downward blue arrow is used also
    * in another place of this stylesheet. Should be implemented
    * as a mixin! */
  &:global.opened {
    path {
      fill: $tc-dark-blue;
    }

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 5px 0;
      border-color: $tc-dark-blue transparent transparent transparent;
      position: absolute;
      left: 60%;
      bottom: -3px;
      margin-left: -6px;
      background-color: transparent;
    }
  }
}

.user-menu {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}

.user-menu-handle {
  border-bottom: 2px solid $tc-dark-blue;
  display: inline-block;
  font-size: 15px;
  height: 54px;
  padding: 23px 0;
  vertical-align: bottom;
  position: relative;
}

@include xs-to-md {
  .auth-buttons {
    top: 16px;
  }

  .main-desktop-header {
    display: none;
  }
}
