@import '~styles/mixins';

.mobile-wrapper {
  @include xs-to-sm {
    display: flex;
  }
}

.mobile-sort-icon {
  display: none;

  @include xs-to-sm {
    display: inline-block;
    margin-left: 8px;
  }
}

.challenge-view-selector-mobile {
  .mobile-tab-container {
    background-color: #eaf6fd;
    height: 40px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #d4d4d4;

    .title {
      @include barlow-bold;

      display: flex;
      justify-content: center;
      align-self: center;
      height: 100%;
      font-weight: 700;
      color: $tco-black;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      padding-left: 16px;
      padding-top: 10px;
    }

    .icon {
      width: 16px;
      height: 9px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      cursor: pointer;
      transform: scale(1.5);
    }

    .down {
      transform: scale(1.5) rotate(180deg);
      margin-right: 20px !important;
    }

    @include xs-to-md {
      width: 100%;
      margin: 0;
    }
  }

  .challenge-selected-view {
    font-weight: 700 !important;
    background-color: #bae1f9 !important;
  }

  .mobile-tab-left-content {
    display: flex;
    align-items: center;
  }

  .mobile-tab-num {
    @include roboto-regular;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #2c95d7;
    border-radius: 50px;
    padding: 0 8px;
    text-align: center;
    color: $tc-white;
    margin-left: 4px;
    margin-top: 1px;
  }

  @include xs-to-md {
    width: 100%;
  }
}

.mobile-tab-expanded {
  margin: 0 16px;
  background-color: #eaf6fd;
  flex-direction: column;
  display: flex;

  a {
    width: 100%;
    height: 40px;
    margin: 0;

    @include barlow-bold;

    font-weight: 600;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 16px;
    padding-top: 10px;
  }

  .active {
    background-color: #bae1f9;

    p {
      color: $tco-black;
      font-weight: 700;
    }
  }

  @include xs-to-sm {
    margin: 0;
  }
}

.challenge-view-selector {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-bottom: #e9e9e9 solid 1px;
  gap: 24px;
  padding: 0 8px;

  @include xs-to-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: auto;
  }

  .challenge-selector-common {
    @include roboto-medium;

    display: flex;
    align-items: center;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    padding: 12px 8px;
    text-transform: capitalize;
  }

  .challenge-selected-view {
    color: #16679a;
    border-bottom: 2px solid #16679a;
  }

  .challenge-unselected-view {
    color: #2a2a2a;
  }
}

.num {
  font-weight: 400;
  background: #16679a;
  border-radius: 12px;
  padding: 0.5px 5.5px;
  text-align: center;
  color: $tc-white;
  margin-left: 4px;
  font-size: 12px;
  line-height: 16.8px;
}

.container {
  position: relative;
  background-color: white;

  @include xs-to-md {
    background-color: transparent;
  }
}

.mask {
  height: 100%;
  position: absolute;
  width: 30px;
  z-index: 100;
}

.mask.left {
  display: none;
  background: transparent;
  left: 0;

  @include xs-to-sm {
    background: transparent;
  }
}

.mask.right {
  background: transparent;
  right: 0;

  @include xs-to-sm {
    background: transparent;
  }
}

.sort-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #fff;
  top: 0;

  .sort-header {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;

    p {
      @include barlow-bold;

      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: $tc-black;
    }
  }

  .sort-body {
    background-color: #fff;
    margin-left: -2px;
    filter: drop-shadow(0 12px 20px rgba(0, 0, 0, 0.1));
    -webkit-filter: drop-shadow(0 12px 20px rgba(0, 0, 0, 0.1));
    border-radius: 4px;

    .sort-item {
      @include roboto-regular;

      padding: 7.5px 0 0;
      height: 40px;
      color: #555;
      font-size: 14px;
      line-height: 20px;
      border-bottom: 1px solid #d4d4d4;

      span {
        margin: 0 12px;
      }

      &:last-child {
        border-bottom: 0;
      }

      & .bold {
        font-weight: 700 !important;
        color: #000 !important;
      }
    }
  }
}
