@import '~styles/mixins';
$progress-height: $base-unit - 1;
$progress-space-3: $base-unit - 2;
$progress-space-15: $base-unit * 3;
$progress-radius-16: $corner-radius * 8;
$tc-progress-turquiose: #9d41c9;
$tc-progress-red: #ef476f;
$tc-progress-gray: #e9e9e9;
$status-space-15: $base-unit * 3;

.challenge-progress-bar {
  display: block;
  height: 6px;
  background: $tc-gray-neutral-dark;
  border-radius: $progress-radius-16;
  position: relative;
  margin: 8px 0;

  .fill {
    display: inline-block;
    height: 100%;
    border-radius: $progress-radius-16;
    border: $progress-space-3 solid $tc-white;
    position: absolute;
    box-sizing: content-box;
    left: -$progress-space-3;
    top: -$progress-space-3;

    &.green {
      background: $tc-progress-turquiose;
    }

    &.gold {
      background: $tc-gold;
    }

    &.gray {
      background: $tc-progress-gray;
    }

    &.red {
      background: $tc-progress-red;
    }
  }
}

.time-left {
  text-align: left;
  color: $tc-gray-60;
  font-size: 11px;
  font-weight: 500;
  display: table-cell;
  line-height: 10px;

  &.red {
    color: $tc-progress-red;
  }
}
