@import '~styles/mixins';
$progress-height: $base-unit - 1;
$progress-space-3: $base-unit - 2;
$progress-space-15: $base-unit * 3;
$progress-radius-16: $corner-radius * 8;

.challenge-progress-bar {
  display: block;
  height: $progress-height;
  background: $tc-gray-neutral-dark;
  border-radius: $progress-radius-16;
  position: relative;
  margin: $base-unit 0;

  .fill {
    display: inline-block;
    height: 100%;
    border-radius: $progress-radius-16;
    border: $progress-space-3 solid $tc-white;
    position: absolute;
    box-sizing: content-box;
    left: -$progress-space-3;
    top: -$progress-space-3;

    &.green {
      background: $tc-green;
    }

    &.gold {
      background: $tc-gold;
    }

    &.gray {
      background: $tc-gray-20;
    }

    &.red {
      background: $tc-red-70;
    }
  }
}
