@import "~styles/mixins";

header.head {
  @include sofia-pro-extra-light;

  font-size: 28px;
  line-height: 34px;
  position: relative;

  span {
    display: inline;

    &.title {
      color: $tc-dark-blue;
      font-weight: bold;
    }
  }

  .profile-circle {
    display: inline;
    border-radius: 50%;
    height: 30px;
    width: auto;
    margin-bottom: -5px;
    margin-right: 13px;
  }

  @include xs-to-sm {
    text-align: center;

    .divider {
      display: none;
    }

    .title {
      display: block;
    }
  }
}

.ngdialog {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.badges {
  margin-top: 30px;
  padding: 15px 15px 30px 15px;
  background: #fbfbfb;
  border: 1px solid #f0f0f0;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .content {
    overflow: auto;

    .badgeGroups {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    }

    .footer-badges {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
  }
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
  height: 15px;
  width: 15px;

  path {
    transition: fill 0.1s;

    &:hover {
      fill: $tc-gray-50;
    }
  }

  @include xs-to-sm {
    height: 20px;
    width: 20px;
  }
}

.tooltip {
  pointer-events: none;
}
