$winner: #fd7d00;
$border: #ffe3cf;
$finalists: #fff0eb;
$empty: #fffaf9;

.track {
  background-color: $winner;
}

.winner {
  border-left: solid 1px $border;
  border-right: solid 1px $border;
  color: $winner;
}

.finalist {
  background-color: $finalists;
}

.filler {
  background-color: $finalists;
}

.empty {
  background-color: $empty;
}
