@import "~styles/mixins";

.track-item {
  padding: 4px 10px;
  border: 2px solid $listing-checkbox-green;
  border-radius: 4px;
  background-color: $tc-white !important;

  @include xs-to-sm {
    padding: 2px 10px;
  }

  span {
    @include roboto-medium;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
