@import "~styles/mixins";

.memberCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  box-shadow: 0 2px 9px 0 rgba(38, 38, 40, 0.15), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  max-width: 305px;
  max-height: 322px;

  @include xs-to-sm {
    margin-bottom: 1em;
  }
}

.imageWrapper {
  flex: 1 1 70%;
  max-height: 224px;

  img {
    width: 100%;
    height: 100%;
    max-height: 224px;
    max-width: 303px;
  }
}

.info {
  flex: 1 1 30%;
  display: flex;
  height: 96px;

  .trackIcon {
    width: 76px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      max-height: 30px;
      max-width: 30px;
    }
  }

  .handleWrapper {
    flex: 1 1 auto;
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .handle {
      @include roboto-bold;

      font-size: 1.2em;
      color: $tc-dark-blue-110;
      line-height: 30px;
    }

    .memberName {
      color: #2a2a2b;
      font-size: 15px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
    }

    .flag {
      margin-right: 0.5em;
    }

    .countryName {
      @include roboto-regular;

      color: #555;
      line-height: 25px;
    }
  }
}

.contentWrapper {
  display: flex;
  margin: 0 auto;
  max-width: $screen-md;
  padding: 15px 0;
  color: $tc-black;

  @include xs-to-sm {
    flex-direction: column;
  }
}
