@import "~styles/mixins";

.image-input {
  border-top: 1px solid $listing-light-gray;
  margin-top: 42px;
  margin-bottom: 40px;
  padding-top: 32px;

  @include xs-to-md {
    margin-top: 22px;
  }

  .title {
    @include barlow-bold;

    font-weight: 600;
    line-height: 26px;
    font-size: 22px;
    color: $tco-black;

    @include xs-to-md {
      @include barlow-condensed-semi-bold;

      line-height: 24px;
    }
  }

  .sub-title {
    @include roboto-regular;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $tco-black;
    margin-top: 24px;

    @include xs-to-md {
      margin-top: 22px;
      font-size: 14px;
      line-height: 20px;
    }

    p {
      margin-bottom: 8px;
    }

    ul {
      list-style: unset;
      margin-left: 24px;
    }
  }
}

.upload-profile-photo {
  display: flex;
  align-items: center;
  margin-top: 50px;

  @include xs-to-md {
    margin: 35px 16px;
  }

  & > button {
    margin-left: 15px !important;
  }

  .profile-photo {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: -30px;
  }

  .profile-photo-void {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fafafa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: -30px;
    border: 2px dashed #ddd;
  }

  .icon-edit {
    width: 20px;
  }

  .icon-upload {
    width: 20px;
    margin: 0 5px 0 0;
  }

  .uploadButton {
    background-color: $listing-checkbox-green;
    padding: 8px 24px 8px 20px;
    border-radius: 24px;
    border: 0 !important;
    height: 40px;
    color: $tc-white;

    &:hover {
      background: darken($listing-checkbox-green, 5%);
    }

    span {
      @include roboto-bold;

      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.error-message {
  @include roboto-medium;

  display: block;
  border-radius: 5px;
  background-color: $tc-red-10;
  color: $tc-red-110;
  font-size: 15px;
  padding: 15px;
  margin: 15px 0;
}

.uploading {
  width: 155px;
}
