@import "~styles/mixins";

@mixin button {
  margin: 0 1px;
  padding: 0 10px;
}

.basic {
  @include button;
}

.bold {
  @include button;

  font-weight: bold;
}

.container {
  background: $tc-gray-neutral-light;
  padding: 10px;
  width: 100%;
}

.highlight-color-picker {
  display: inline;
  position: absolute;
  transform: translate(-56px, 44px);
}

.inlineCode {
  @include button;
  @include roboto-mono-regular;
}

.italic {
  @include button;

  font-style: italic;
}

.select {
  @include tc-label-md;
}

.select-wrapper {
  @include button;

  display: inline-block;
  vertical-align: middle;
  width: 250px;
}

.save {
  @include button;
}

.separator {
  display: inline-block;
  height: 30px;
  margin: 0 5px;
  vertical-align: middle;
  width: 1px;
}

.strikethrough {
  @include button;

  text-decoration: line-through;
}

.text-color-picker {
  display: inline;
  position: absolute;
  transform: translate(-44px, 44px);
}

.underline {
  @include button;

  text-decoration: underline;
}
