@import '~tc-ui/src/styles/tc-includes';

.tag-list {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;

  @include tc-label;

  font-weight: 400;

  @media (max-width: 700px) {
    flex-wrap: nowrap;
    display: block;
    width: auto;
    white-space: nowrap;
  }

  &.no-tags {
    margin-bottom: 5px;
    font-style: italic;
    color: $tc-gray-20;
  }
}

.tag-list-label {
  display: inline-block;
  margin-right: 5px;
}
