@import "~styles/mixins";

.contentWrapper {
  display: flex;
  margin: 0 auto;
  max-width: $screen-md;
  padding: 15px;
  color: black;
}

.container {
  align-content: center;
  background: white;
  padding: 10px 0;

  &:nth-child(even) .contentWrapper {
    flex-direction: row-reverse;
  }
}

.content {
  padding: 15px;

  h1 {
    color: #394146;
    font: 600 36px "Open Sans", sans-serif;
    margin-bottom: 12px;
  }

  p {
    color: rgb(120, 125, 129);
    font: 15px/22px "Open Sans", sans-serif;
    padding: 6px 0;
  }
}

.image {
  background: no-repeat center;
  background-size: cover;
  height: 320px;
  margin: 15px;
  width: 50%;

  @include xs-to-sm {
    height: auto;
    min-height: 180px;
    width: 100%;

    &::after {
      content: '';
      display: block;
      height: 0;
      padding-bottom: 48%; /* fixed aspect ration 180 / 375 */
    }
  }
}
