@import "~styles/mixins";

.contentWrapper {
  background-color: rgb(189, 115, 30);
  border-radius: 6px;
  overflow: hidden;
  padding: 0;
}

.container {
  background: white;
  align-content: center;

  &:nth-child(even) .contentWrapper {
    flex-direction: row-reverse;
    background-color: rgb(37, 192, 137);
  }
}

.content {
  padding: 30px;
  width: 51%;

  h1 {
    color: $tc-white;
    font: 600 36px "Open Sans", sans-serif;
    margin-bottom: 12px;
  }

  p {
    color: $tc-white;
    font: 15px/22px "Open Sans", sans-serif;
    padding: 6px 0;
  }
}

.image {
  background: no-repeat center;
  background-size: cover;
  height: auto;
  margin: 0;
  width: 49%;

  @include xs-to-sm {
    height: auto;
    min-height: 180px;
    width: 100%;

    &::after {
      content: '';
      display: block;
      height: 0;
      padding-bottom: 48%;  /* fixed aspect ration 180 / 375 */
    }
  }
}
