@import "~styles/mixins";
@import "../../_default";

.contentWrapper {
  display: flex;
  margin: 0 auto;
  max-width: $screen-lg;
  padding: 15px;
  color: black;

  @include xs-to-sm {
    flex-direction: column;
  }
}

.container {
  align-content: center;
  background: white;
  padding: 10px 0;

  &:nth-child(even) .contentWrapper {
    flex-direction: row-reverse;

    @include xs-to-sm {
      flex-direction: column;
    }
  }
}

.content {
  h3 {
    @include frutiger-regular;

    font-size: 18px;
    line-height: 1.22;
    color: #4c433d;
    margin: 1em 0;
  }

  p {
    @include frutiger-regular;

    color: #4c433d;
    font-size: 16px;
    line-height: 1.5;
  }

  th {
    font-weight: 500;
    color: #888894;
    font-size: 20px;
    line-height: 1.5;
    padding: 0 10px;
    text-align: left;
    border: 1px solid #ededf2;

    @include md-to-xl {
      white-space: nowrap;
    }
  }

  td {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: $tc-gray-80;
    border: 1px solid #ededf2;
    padding: 0 10px;
  }

  flex: 1;
  padding: 15px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    flex-basis: auto;
  }
}

.image {
  flex: 1;
  margin: 15px;

  img {
    width: 100%;
  }
}
