@import "~styles/mixins";
@import "../../_default";

.contentWrapper {
  display: flex;
  margin: 0 auto;
  max-width: $screen-md;
  padding: 15px;
  color: black;

  @include xs-to-sm {
    flex-direction: column;
  }
}

.container {
  align-content: center;
  background: white;
  padding: 10px 0;

  &:nth-child(even) .contentWrapper {
    flex-direction: row-reverse;

    @include xs-to-sm {
      flex-direction: column;
    }
  }
}

.content {
  h1 {
    @include frutiger-light;

    font-size: 36px;
    color: #706964;
  }

  h3 {
    @include frutiger-light;

    font-size: 26px;
    color: #706964;
  }

  p {
    @include frutiger-regular;

    color: #3e3e3e;
    font-size: 14px;
    line-height: 18px;
  }

  flex: 1;
  padding: 15px;
}

.image {
  flex: 1;
  margin: 15px;

  img {
    width: 100%;
  }
}
