@import "~styles/mixins";
@import "~components/GUIKit/Assets/Styles/default";
@import "~components/Contentful/default";

.gig-header {
  @include roboto-medium;

  @include xs-to-sm {
    height: 81px;
    line-height: 22px;
    padding-left: 20px;
  }

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  height: 70px;
  background: linear-gradient(90deg, #6f308b 0%, #1470ac 100%);
  border-radius: 10px;
  color: #fff;
  font-size: 16px;

  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #fff;

    .banner-info {
      width: 24px;
      height: 24px;
      margin-left: 20px;
      margin-right: 10px;

      @include xs-to-sm {
        display: none;
      }
    }

    @include xs-to-sm {
      width: 80%;
    }
  }

  .row-btn {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 20px;

    @include xs-to-sm {
      justify-content: flex-start;
    }

    button.primary-white-md {
      outline: none;

      @include primary-white;
      @include md;

      &:hover {
        @include primary-white;
      }
    }
  }

  .banner-close {
    width: 14px;
    height: 14px;
    margin-right: 30px;

    &:hover {
      cursor: pointer;
    }

    @include xs-to-sm {
      margin-bottom: 20px;
    }
  }
}
