@import '~styles/mixins';
$status-space-10: $base-unit * 2;
$status-space-20: $base-unit * 4;
$status-space-25: $base-unit * 5;
$submission-space-10: $base-unit * 2;
$submission-space-20: $base-unit * 4;
$submission-space-25: $base-unit * 5;
$submission-space-50: $base-unit * 10;

.submissions-table {
  // border: 1px solid $tc-gray-10;
  overflow: hidden;
  // border-radius: 4px 4px 0 0;

  @include xs-to-sm {
    border: none;
    border-radius: 0;
    border-top: 1px solid $tc-gray-10;
    border-bottom: 1px solid $tc-gray-10;
    margin: 0 16px;
  }

  table {
    width: 100%;

    th {
      @include barlow-bold;

      font-size: 11px;
      color: #767676;
      font-weight: 600;
      line-height: $status-space-20;
      text-align: left;
      padding: 0 15px 11px 15px;
      text-transform: uppercase;

      &.status,
      &.actions {
        text-align: center;
      }

      @include xs-to-sm {
        display: none;
      }
    }

    .no-submission {
      line-height: $submission-space-20;
      padding: $submission-space-50 $submission-space-20;
      text-align: center;
    }
  }

  .status-col {
    text-align: center;
  }

  .action-col {
    text-align: center;
  }
}

.submission-row {
  width: 100%;
  font-size: 15px;
  color: $tc-black;
  font-weight: 400;

  td {
    vertical-align: middle;
    padding: 16px 16px 2px 16px;
    background: $tc-white;
    font-size: 14px;
    color: $tc-black;
    font-weight: 500;
    border-top: 1px solid $tc-gray-10;
    line-height: 12px;

    @include xs-to-md {
      padding: 16px 16px 2px 8px;
    }

    &.no-submission {
      line-height: $submission-space-20;
      padding: $submission-space-50 $submission-space-20;
      text-align: center;
    }

    &.dev-details {
      padding-right: 60px;
      border-top: 0;
      padding-top: 0;

      .upload-artifact-btn {
        @include roboto-medium;

        line-height: 24px;
        border-radius: 50px;
        border-color: #137d60;
        background-color: transparent;
        color: #137d60;
        text-transform: uppercase;

        &:hover {
          background-color: #137d60;
          color: #fff;
          background-image: none;
        }

        @include xs-to-md {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .id-col {
    font-weight: 700;
    width: 32%;
  }

  .type-col {
    width: 21%;
  }

  .date-col {
    width: 20%;
    color: $tc-black;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
  }

  .status-col {
    text-align: center;

    button {
      background: none;
      border: none;
      padding: 0;

      .pending {
        text-transform: initial;
        font-size: 15px;
        color: $tc-gray-40;
        line-height: $submission-space-20;
      }
    }
  }

  .action-col {
    text-align: center;

    .delete-icon {
      margin: 0 $submission-space-25;
    }

    button {
      background: none;
      border: 0;
      font-size: 0;
      padding: 0;
      line-height: 0;
      display: inline-block;
      margin-left: 15px;
      margin-top: 3px;

      &:focus {
        outline: none;
      }
    }

    .expand-icon {
      transition: all 1.5s;

      &.expanded {
        transform: rotate(180deg);
      }
    }
  }

  .status-col button:focus {
    outline: none;
  }
}
