@import '~styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  font-family: Barlow, sans-serif;
  margin-bottom: auto;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 257px;

  @media (max-width: 768px) {
    min-height: 190px;
  }
}

.header-content-1 {
  font-family: BarlowCondensed, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 56px;
  text-transform: uppercase;
  color: $tc-white;
  margin: 32px 0 0 128px;
  position: relative;

  @media (max-width: 768px) {
    font-family: BarlowCondensed, sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 40px;
    margin: 14px 0 0 24px;
    max-width: 296px;
  }
}

.header-content-2 {
  font-family: BarlowCondensed, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 56px;
  text-transform: uppercase;
  color: $tc-white;
  margin-left: 128px;
  margin-top: 47px;
  position: relative;
  display: flex;
}

.header-bg {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.hide {
  display: none !important;
}

.tab-item {
  border: none;
  background-color: transparent;
  padding: 0;
  color: $tc-white;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: Barlow, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  margin-right: 32px;
  display: flex;

  .content {
    position: relative;
    padding: 0 0 10px;

    .select-indicator {
      position: absolute;
      background-color: $tc-white;
      height: 2px;
      width: 26px;
      border-radius: 1px;
      bottom: 0;
      left: calc(50% - 13px);
      display: none;
    }
  }

  &.selected {
    opacity: 1;

    .content {
      .select-indicator {
        display: flex;
      }
    }
  }

  .tag {
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: $tc-white;
    border-radius: 8px;
    padding: 0 8px;
    background-color: $tc-red-100;
    margin-left: 8px;
    height: 16px;
  }
}

.tab-content {
  margin-top: -104px;
  position: relative;

  @media (max-width: 768px) {
    margin-top: -72px;
  }

  &.is-admin {
    margin-top: -124px;
  }
}

.filter-dropdown {
  display: flex;
  position: absolute;
  top: 20px;
  right: 12px;
  height: 32px;
  align-items: center;
  padding: 0 12px 0 16px;
  background-color: $tc-white;
  border-radius: 15px;
  border: none;

  span {
    @include roboto-medium;

    margin-right: 4px;
    font-size: 16px;
    line-height: 24px;
    color: $color-link-blue-dark;
  }
}

.hide-mobile {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.hide-desktop {
  display: none !important;
}

.show-mobile {
  @media (max-width: 768px) {
    display: flex !important;
  }
}
