@import '~styles/mixins';

.button {
  font-family: "Proxima Nova", Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 23px;
  width: 160px;
  height: 46px;
  text-transform: none;
  transition: opacity 0.6s;
  font-size: 18px;
  font-weight: 600;
  line-height: 46px;
  color: $tc-dark-blue;
  left: 50%;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.6;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}
