@import "~styles/mixins";

.button {
  margin: 40px 0;
}

.container {
  margin: auto;
  max-width: $screen-lg;
  padding: 60px;
  text-align: center;
}

.text {
  @include tc-body-lg;

  margin: auto;
  max-width: 847px;
}

.title {
  @include tc-heading-xl;

  margin-bottom: 10px;
}
