@import '~styles/mixins';

.wrapper {
  @include roboto-regular;

  display: flex;
  justify-content: center;
  color: #888894;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loading {
  margin-top: 30px;
}
