@import '~styles/mixins';

.desktop {
  @include xs-to-sm {
    display: none;
  }
}

.mobile {
  @include md-to-xl {
    display: none;
  }
}

.title {
  border-bottom: 1px solid #d1d3d4;
  display: none;
  color: #a3a3ae;
  cursor: pointer;
  font: 600 15px 'Open Sans', sans-serif;
  padding: 12px 16px;
  position: relative;

  @include xs-to-sm {
    display: block;
  }

  .containerOpen & {
    color: #202a36;
    cursor: default;
  }
}

.titleText {
  display: block;
}

.titleArrow {
  align-items: center;
  display: flex;
  height: 23px;
  margin-top: -12px;
  position: absolute;
  right: 15px;
  transform: rotate(-90deg);
  top: 50%;
  width: 23px;

  .containerOpen & {
    transform: rotate(0);
  }
}

.content {
  display: none;
  padding-bottom: 25px;
  padding-top: 25px;

  @include xs-to-sm {
    background-color: #fafafa;
    padding: 20px 15px 26px;
  }

  .containerOpen & {
    display: block;
  }
}
