@import '~styles/mixins';
@import '../themes/mixins';

.main {
  @include main;
}

.discussContainer {
  background-color: $tc-light-blue-100;
  color: $tc-white;
  padding: 60px 0;

  h2 {
    @include container;

    color: $tc-white;
    font-size: 36px;
    font-weight: 400;
    line-height: 57px;
    margin: 0 auto 10px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
  }
}

.discussButtonContainer {
  margin-top: 50px;

  @include md-to-xl {
    margin-top: 0;
  }
}

.educationalContainer {
  background-color: $tc-gray-neutral-dark;
  padding: 60px 0;
}

.educationalButtonContainer {
  margin-left: -$base-unit;
  margin-top: 50px;
}

.columns {
  @include md-to-xl {
    display: flex;
    justify-content: space-between;
  }
}

.content {
  @include inner-container-sm(8);

  font-size: 20px;
  line-height: 1.42857143;

  &:first-child {
    @include md-to-xl {
      margin-right: 15px;
    }
  }

  &:last-child {
    @include md-to-xl {
      margin-left: 15px;
    }
  }
}

.aside {
  @include inner-container-sm(4);

  text-align: center;

  &:first-child {
    @include md-to-xl {
      margin-right: 15px;
    }
  }

  &:last-child {
    @include md-to-xl {
      margin-left: 15px;
    }
  }
}

.image {
  max-width: 100%;
  margin-bottom: 10px;

  @include md-to-xl {
    margin-bottom: 0;
  }
}
