@import '~styles/mixins';
@import '../Themes/mixins';

.outer-container {
  @include outer-container;
}

.page {
  @include page;
}

.header {
  background-color: $tc-black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 60px;
  border-bottom: solid 1px #ededf2;

  @media screen and (max-width: $screen-sm) {
    padding: 0 0 20px 0;
  }
}

.steps {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;

  h1 {
    margin-bottom: 40px;
  }

  @media screen and (max-width: $screen-sm) {
    padding: 0 20px;

    h1 {
      margin: 40px 20px;
    }
  }
}

.how-to-extras {
  h1 {
    margin-bottom: 40px;
  }

  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(239, 239, 242, 0.6), rgba(239, 239, 242, 0.6)), url('assets/images/track-homepages/bg.png');
  background-repeat: repeat;
  padding: 60px;

  @media screen and (max-width: $screen-sm) {
    h1 {
      font-size: 28px;
      line-height: 35px;
      margin: 40px 20px;
    }

    padding: 0 10px 10px 10px;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;

  .text {
    @include text;

    margin: 40px 0;
  }

  @media screen and (max-width: $screen-sm) {
    h1 {
      font-size: 28px;
      line-height: 35px;
      margin: 40px 20px;
    }

    .text {
      @include text;

      margin: 0 0 10px 0;
      text-align: center;
      width: 260px;
    }

    padding: 0 10px 10px 10px;
  }
}
