:global {
  .vertical-timeline.admin-timeline {
    max-width: unset !important;
    width: 100%;
    margin-left: 0;
    margin-top: 2px;
    top: -104px;

    &::before {
      width: 20px;
      border-radius: 99px;
      margin-left: 80px;
      top: 26px;
    }

    .vertical-timeline-element-content {
      max-width: 100% !important;
      left: 0 !important;
    }

    .vertical-timeline-element-icon {
      left: 50px !important;

      svg {
        circle {
          fill: #e2af3b;
        }
      }
    }

    .vertical-timeline-element {
      .vertical-timeline-element-content.bounce-in {
        left: 60px !important;
        right: 0 !important;
      }

      margin-bottom: 16px !important;
    }

    .vertical-timeline-element-date {
      display: none;
    }
  }
}
