/**
 * Defines typography/font related mixins not currently implemented in topcoder-react-ui-ki
 */

@mixin sofia-pro-extra-light {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 200;
}

@mixin sofia-pro-light {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin sofia-pro-regular {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin sofia-pro-italic {
  @include sofia-pro-regular;

  font-style: italic;
}

@mixin sofia-pro-medium {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

@mixin sofia-pro-semi-bold {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@mixin sofia-pro-bold {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@mixin merriweather-sans-light {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin merriweather-sans-regular {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin roboto-sans-regular {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

@mixin frutiger-light {
  font-family: "Frutiger", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

@mixin frutiger-light-italic {
  font-family: "Frutiger", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
}

@mixin frutiger-regular {
  font-family: "Frutiger", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin frutiger-italic {
  font-family: "Frutiger", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin frutiger-bold {
  font-family: "Frutiger", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin frutiger-bold-italic {
  font-family: "Frutiger", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: italic;
}

@mixin frutiger-black {
  font-family: "Frutiger", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@mixin frutiger-black-italic {
  font-family: "Frutiger", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@mixin garamond {
  font-family: "Garamond", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin garamond-italic {
  font-family: "Garamond", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin garamond-bold {
  font-family: "Garamond", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin barlow {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin barlow-medium {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

@mixin barlow-bold {
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@mixin barlow-condensed {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin barlow-condensed-medium {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

@mixin barlow-condensed-semi-bold {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin barlow-condensed-bold {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
