/**
 * Defines typography/font related mixins not currently implemented in topcoder-react-ui-ki
 */

@mixin sofia-pro-extra-light {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 200;
}

@mixin sofia-pro-light {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin sofia-pro-regular {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin sofia-pro-italic {
  @include sofia-pro-regular;

  font-style: italic;
}

@mixin sofia-pro-medium {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

@mixin sofia-pro-semi-bold {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@mixin sofia-pro-bold {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@mixin merriweather-sans-light {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin merriweather-sans-regular {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/**
 * Mixing of inline styles for a generic text block.
 *
 * TODO: In my understanding, it violates UI styleguides in various aspects,
 * thus it is placed here for now, and not into UI Kit library. This code comes
 * from challenges related to Contentful integration, ContentBlocks,
 * in particular, that was done without a close watch on the design. It is
 * separated into mixing, as other Contentful components also need inline
 * styles, thus we at least should keep them consistent between different
 * Contentful components, and later clean them all to match UI Kit.
 */

@mixin inline-styles {
  a { color: $tc-dark-blue; }

  a:active,
  a:focus,
  a:visited,
  a:hover {
    color: $tc-dark-blue;
  }

  h1 {
    @include tc-heading-lg;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 20px 0 10px;
  }

  p {
    @include tc-body-md;

    padding: 10px 0;
  }

  td,
  th {
    @include tc-body-md;
  }

  ul,
  ol {
    @include tc-body-md;

    padding-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    max-width: 100%;
  }

  code {
    @include roboto-mono-regular;

    line-height: 1.5;
    white-space: pre;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup { top: -0.5em; }
  sub { bottom: -0.25em; }

  strong {
    font-weight: bold;
  }
}

