/* colors. */
$tco-black: #2a2a2a;

/* @media */
$screen-sm: 768px;

/* member rating colors */
$member-gray: #555;
$member-green: #258205;
$member-blue: #4c50d9;
$member-yellow: #f2c900;
$member-red:  #ea1900;

/* recommendation tag color */
$recommendation-bg: #cef0af;

/* dashboard colors */
$dashboard-teal: #219174;
$dashboard-dark-card-bg: #363636;
$dashboard-dark-link: #5fb7ee;
$dashboard-dark-bg: #2a2a2a;
