/* colors. */
$tco-black: #2a2a2a;

/* @media */
$screem-md: 1376px;
$screen-sm: 768px;
$screen-max: 1376px;

/* member rating colors */
$member-gray: #555;
$member-green: #258205;
$member-blue: #4c50d9;
$member-yellow: #f2c900;
$member-red: #ea1900;

/* recommendation tag color */
$recommendation-bg: #cef0af;

/* dashboard colors */
$dashboard-teal: #219174;
$dashboard-dark-card-bg: #363636;
$dashboard-dark-link: #5fb7ee;
$dashboard-dark-bg: #2a2a2a;
$dashboard-light-link: #0d61bf;
$dashboard-light-card-bg: #fbfbfb;

/* mm dashboard colors */
$dashboard-light-blue: #67aed6;
$dashboard-blue: #009dce;
$dashboard-border: #c4c4c4;
$dashboard-text: #adadad;

/* challenge listing colors */
$listing-gray: #e5e5e5;
$listing-light-gray: #d4d4d4;
$listing-light-blue: #eaf6fd;
$listing-filter-bg: #f4f4f4;
$listing-placeholder-gray: #767676;
$listing-checkbox-green: #137d60;
$listing-checkbox-blue: #2c95d7;
$listing-white: #fff;
$listing-avatar-white: #f0f0f0;

/* profile page colors */
$profile-skill-badge: #227681;
$profile-member-wins: #1e94a3;
$profile-border-gray: #e9e9e9;

/* tooltip colors */
$tooltip-gray: #222;

/// https://github.com/topcoder-platform/mfe-customer-work/src-ts/lib/styles/variables/_palette.scss
@import "variables-platform-ui";

/* track color */
$track-code-green: #35ac35;
$track-code-green-light: #d8fdd8;
$track-code-blue: #2984bd;
$track-code-blue-light: #bae1f9;
$track-code-turquose: #0ab88a;
$track-code-turquose-light: #c1f5e7;
