/* colors. */
$tco-black: #2a2a2a;

/* @media */
$screen-sm: 768px;

/* member rating colors */
$member-gray: #555555;
$member-green: #258205;
$member-blue: #4c50d9;
$member-yellow: #F2C900;
$member-red:  #ea1900;
