@import "~styles/mixins";

.page-row {
  display: flex;

  @include md-to-xl {
    &.page-col {
      flex-direction: column;

      & > div {
        width: 100%;
      }
    }

    &.page-row-half {
      & > div {
        width: 50%;
      }

      & > div:nth-child(1) {
        margin-right: 0;
      }

      & > div:nth-child(2) {
        margin-left: 20px;
      }
    }

    &.page-row-normal > div:nth-child(1) {
      width: 50%;
      padding-right: 100px;
      min-width: 500px;
    }

    &.page-row-normal > div:nth-child(2) {
      width: 52%;
    }
  }

  @include xs-to-md {
    flex-direction: column;

    & > div {
      width: 100%;
    }
  }
}
