@import '~styles/mixins';

.card {
  max-width: 455px;

  .header {
    display: flex;
    justify-content: space-between;
  }
}

.title {
  @include barlow;

  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 26px;
  color: $tc-black;
}

.icon {
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &.revert {
    transform: rotate(180deg);
    margin-bottom: 0;
  }
}

.description {
  @include roboto-regular;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $tc-black;

  &.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
