/* LEGACY CODE BELOW */

// Buttons

// Table of Contents
//
// Links
// Buttons

:global {
  button {
    cursor: pointer;
  }

  // Links
  a.tc-link,
  .tc-link,
  a.tc-link:active,
  .tc-link:active,
  a.tc-link:visited,
  .tc-link:visited {
    cursor: pointer;
  }

  a.tc-link:hover,
  .tc-link:hover {
    color: $tc-dark-blue;
    text-decoration: none;
  }

  .tc-btn {
    @include roboto-regular;

    border-radius: $corner-radius;
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  // Button States

  a.tc-btn-pressed,
  .tc-btn-pressed {
    box-shadow: 0 1px 3px 0 $tc-gray-80;
  }

  // Button Sizes

  a.tc-btn-lg,
  .tc-btn-lg {
    height: 50px;
    padding: 10px 30px;

    @include tc-heading-md;
  }

  a.tc-btn-md,
  .tc-btn-md {
    height: 40px;
    padding: 10px 25px;

    @include tc-label-lg;
  }

  a.tc-btn-sm,
  .tc-btn-sm {
    height: 30px;
    padding: 5px 15px;

    @include tc-label-md;
  }

  a.tc-btn-xs,
  .tc-btn-xs {
    height: 20px;
    padding: 3px 10px;

    @include tc-label-sm;
  }

  // Button Types

  .tc-btn-primary {
    background-color: $tc-dark-blue;

    @include background-gradient($tc-dark-blue, $tc-dark-blue);

    color: $tc-gray-neutral-light;
    border: 1px solid $tc-dark-blue;

    @include button-transition;

    &:hover {
      color: $tc-gray-neutral-light;

      @include background-gradient($tc-dark-blue, $tc-dark-blue);
    }

    &:active {
      color: $tc-gray-neutral-light;

      @include background-gradient($tc-dark-blue, $tc-dark-blue);
    }
  }

  .tc-btn-secondary {
    background-color: $tc-gray-40;
    color: $tc-gray-neutral-light;
    border: 1px solid $tc-gray-50;

    @include button-transition;

    &:hover {
      color: $tc-gray-neutral-light;

      @include background-gradient($tc-gray-40, $tc-gray-50);
    }

    &:active {
      color: $tc-gray-neutral-light;

      @include background-gradient($tc-gray-50, $tc-gray-40);
    }
  }

  a.tc-btn-default,
  .tc-btn-default {
    background-color: white;
    color: $tc-gray-70;
    border: 1px solid $tc-gray-50;
  }

  a.tc-btn-warning,
  .tc-btn-warning {
    background-color: $tc-red-70;
    color: $tc-gray-neutral-light;
    border: 1px solid $tc-red;
  }

  button[disabled],
  a.tc-btn[disabled],
  button[disabled]:hover,
  a.tc-btn[disabled]:hover,
  button[disabled]:active,
  a.tc-btn[disabled]:active {
    background-color: $tc-gray-10;
    border: none;
    cursor: default;
    color: $tc-white;
  }

  .tc-outline-btn {
    border: 1px solid $tc-gray-30;
    background: $tc-white;
    cursor: pointer;
    display: inline-block;
    padding: $base-unit - 1 $base-unit * 2;
    font-weight: 400;
    font-size: 12px;
    color: $tc-black;
    line-height: $base-unit * 4;
    border-radius: $corner-radius;
    margin-left: $base-unit * 3;
  }

  .tc-blue-btn {
    cursor: pointer;
    display: inline-block;
    padding: $base-unit - 1 $base-unit * 2;
    font-weight: 400;
    font-size: 12px;
    border-radius: $corner-radius;
    margin-left: $base-unit * 3;
    background: $tc-dark-blue;
    color: $tc-white;
    border: none;
    line-height: $base-unit * 4 + 2;
  }

  .tc-btn.tc-btn-wide {
    padding: 0 30px;
  }

  .tc-btn.tc-btn-s {
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
    font-size: 12px;
    font-weight: 500;

    &:active {
      line-height: 29px;
    }
  }

  .tc-btn.tc-btn-ghost {
    color: #0096ff;
    background-color: $tc-white;

    &:hover {
      color: $tc-white;
      border-color: #0096ff;
      background-color: #0096ff;
    }

    &:active {
      color: $tc-white;
      border-color: #097dce;
      background-color: #097dce;
      box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    }

    &:disabled {
      border-color: #b7b7b7;
      color: #b7b7b7;
    }
  }
}
