// FONT STACK
// --------------------------------------------------------------------------------------------

/* Roboto mono. */

/* TODO: At the moment I have only ttf version of the font around, thus using
 * font-face directly, should be updated later. */
@include font-family-ttf(
  'Roboto Mono', 100, normal,
  'assets/fonts/roboto-mono/RobotoMono-Thin');
@include font-family-ttf(
  'Roboto Mono', 100, italic,
  'assets/fonts/roboto-mono/RobotoMono-ThinItalic');
@include font-family-ttf(
  'Roboto Mono', 300, normal,
  'assets/fonts/roboto-mono/RobotoMono-Light');
@include font-family-ttf(
  'Roboto Mono', 300, italic,
  'assets/fonts/roboto-mono/RobotoMono-LightItalic');
@include font-family-ttf(
  'Roboto Mono', 400, normal,
  'assets/fonts/roboto-mono/RobotoMono-Regular');
@include font-family-ttf(
  'Roboto Mono', 400, italic,
  'assets/fonts/roboto-mono/RobotoMono-Italic');
@include font-family-ttf(
  'Roboto Mono', 500, normal,
  'assets/fonts/roboto-mono/RobotoMono-Medium');
@include font-family-ttf(
  'Roboto Mono', 500, italic,
  'assets/fonts/roboto-mono/RobotoMono-MediumItalic');
@include font-family-ttf(
  'Roboto Mono', 700, normal,
  'assets/fonts/roboto-mono/RobotoMono-Bold');
@include font-family-ttf(
  'Roboto Mono', 700, italic,
  'assets/fonts/roboto-mono/RobotoMono-BoldItalic');

// Using the implementation of this mixin provided by topcoder-react-utils
// is not loading fonts correctly.  This may be a webpack related issue.
@mixin font-family($font-name, $font-weight, $font-style, $font-url, $font-file) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('#{$font-url}#{$font-file}.eot');
    src: url('#{$font-url}#{$font-file}.eot?#iefix') format('embedded-opentype'), url('#{$font-url}#{$font-file}.woff') format('woff'), url('#{$font-url}#{$font-file}.ttf') format('truetype'), url('#{$font-url}#{$font-file}.svg##{$font-name}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

/* Sofia Pro font is currently used in the Topcoder footer
  and header. */
@include font-family('Sofia Pro', 300, normal, '../assets/fonts/sofiapro/', 'sofiapro-light-webfont');
@include font-family('Sofia Pro', 300, italic, '../assets/fonts/sofiapro/', 'sofiapro-light-italic-webfont');
@include font-family('Sofia Pro', 400, normal, '../assets/fonts/sofiapro/', 'sofiapro-regular-webfont');
@include font-family('Sofia Pro', 400, italic, '../assets/fonts/sofiapro/', 'sofiapro-regular-italic-webfont');
@include font-family('Sofia Pro', 500, normal, '../assets/fonts/sofiapro/', 'sofiapro-medium-webfont');
@include font-family('Sofia Pro', 500, italic, '../assets/fonts/sofiapro/', 'sofiapro-medium-italic-webfont');
@include font-family('Sofia Pro', 600, normal, '../assets/fonts/sofiapro/', 'sofiapro-semibold-webfont');
@include font-family('Sofia Pro', 600, italic, '../assets/fonts/sofiapro/', 'sofiapro-semibold-italic-webfont');
@include font-family('Sofia Pro', 700, normal, '../assets/fonts/sofiapro/', 'sofiapro-bold-webfont');
@include font-family('Sofia Pro', 700, italic, '../assets/fonts/sofiapro/', 'sofiapro-bold-italic-webfont');

/* OpenSans font is being used by the new design of community pages */
@include font-family('Open Sans', 300, normal, 'assets/fonts/opensans/', 'opensans-light-webfont');
@include font-family('Open Sans', 300, italic, 'assets/fonts/opensans/', 'opensans-lightitalic-webfont');
@include font-family('Open Sans', 400, normal, 'assets/fonts/opensans/', 'opensans-regular-webfont');
@include font-family('Open Sans', 400, italic, 'assets/fonts/opensans/', 'opensans-italic-webfont');
@include font-family('Open Sans', 600, normal, 'assets/fonts/opensans/', 'opensans-semibold-webfont');
@include font-family('Open Sans', 600, italic, 'assets/fonts/opensans/', 'opensans-semibolditalic-webfont');
@include font-family('Open Sans', 700, normal, 'assets/fonts/opensans/', 'opensans-bold-webfont');
@include font-family('Open Sans', 700, italic, 'assets/fonts/opensans/', 'opensans-bolditalic-webfont');
@include font-family('Open Sans', 800, normal, 'assets/fonts/opensans/', 'opensans-extrabold-webfont');
@include font-family('Open Sans', 800, italic, 'assets/fonts/opensans/', 'opensans-extrabolditalic-webfont');

/* Akkurat font is being used by the Wipro community */
@include font-family('Akkurat light', 300, normal, 'assets/fonts/Akkurat/', 'WiproAkkuratTT-Light');
@include font-family('Akkurat regular', 400, normal, 'assets/fonts/Akkurat/', 'WiproAkkuratTTRegular');
@include font-family('Akkurat mono', 400, normal, 'assets/fonts/Akkurat/', 'AkkuratMonoMono');
@include font-family('Akkurat bold', 700, normal, 'assets/fonts/Akkurat/', 'WiproAkkuratTT-Bold');

/* Merriweather Sans is being used by Dashboard & Settings page */
@include font-family('Merriweather Sans', 700, normal, 'assets/fonts/merriweather-sans/', 'merriweathersans-bold-webfont');
@include font-family('Merriweather Sans', 700, italic, 'assets/fonts/merriweather-sans/', 'merriweathersans-bolditalic-webfont');
@include font-family('Merriweather Sans', 400, normal, 'assets/fonts/merriweather-sans/', 'merriweathersans-regular-webfont');
@include font-family('Merriweather Sans', 400, italic, 'assets/fonts/merriweather-sans/', 'merriweathersans-italic-webfont');
@include font-family('Merriweather Sans', 300, normal, 'assets/fonts/merriweather-sans/', 'merriweathersans-light-webfont');
@include font-family('Merriweather Sans', 300, italic, 'assets/fonts/merriweather-sans/', 'merriweathersans-lightitalic-webfont');

/* Awesome font */
@include font-family('FontAwesome', normal, normal, 'assets/fonts/font-awesome/', 'fontawesome-webfont');
