html,
body {
  text-rendering: geometricPrecision;
}

// Headings

h1 {
  @include tc-heading-xl;

  color: inherit;
}

h2 {
  @include tc-heading-lg;

  color: inherit;
}

h3 {
  @include tc-heading-md;

  color: inherit;
}

h4 {
  @include tc-heading-sm;

  color: inherit;
}

h5 {
  @include tc-heading-xs;

  color: inherit;
}
