@import "~styles/mixins";

.bucket {
  background: $tc-white;
  margin: 0;
  padding: 0 16px 16px 16px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;

  @include xs-to-md {
    padding: 0;
  }
}

.view-more,
.view-more:active,
.view-more:focus,
.view-more:hover,
.view-more:visited {
  @include roboto-medium;

  background: $tc-gray-neutral-light;
  border-top: 1px solid $tc-gray-10;
  border-bottom: 1px solid $tc-gray-10;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  color: $tco-black;
  cursor: pointer;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  padding: 12px 0;
  text-align: center;
  text-transform: none;
  width: 100%;
}

.view-more:focus {
  border: 3px solid #79a3ef;
  border-radius: 4px;
}

.no-results {
  @include tc-label-lg;

  display: flex;
  align-items: center;
  justify-content: center;

  @include roboto-regular;

  font-size: 24px;
  line-height: 32px;
  color: $tco-black;
  padding-top: 80px;
  border-top: 2px solid $listing-gray;
  border-radius: 1px;
  margin-left: 24px;

  @include xs-to-md {
    margin-left: 0;
  }
}
