@import "~styles/tc-styles";

.bucket {
  background: $tc-gray-neutral-light;
  margin: 20px 0;
}

.view-more {
  width: 100%;
  background: $tc-gray-neutral-light;
  border-top: 1px solid $tc-gray-10;
  border-bottom: 1px solid $tc-gray-10;
  border-left: 0;
  border-right: 0;
  color: $tc-gray-50;
  font-weight: 300;
  text-transform: none;
  border-radius: 0;
  outline: none;
  font-size: 13px;
  padding: 12px 0;
}
