@import "~styles/mixins";

.history {
  padding-bottom: 10px;
  border-radius: 8px;
  margin: 25px 32px 32px;
}

.history-head {
  display: flex;
  margin-top: 24px;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #e9e9e9;

  .col {
    text-transform: uppercase;

    @include roboto-medium;

    color: #2a2a2a;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: left;

    &.col-1 {
      flex: 0;
    }

    &.col-2 {
      flex: 30;
    }

    &.col-3 {
      flex: 30;
    }

    &.col-4 {
      flex: 30;
    }

    &.col-5 {
      flex: 30;
    }
  }

  @include xs-to-sm {
    display: none;
  }
}

.wrapper {
  a { cursor: pointer; }

  .row {
    font-size: 13px;
    color: $tc-gray-70;
    display: flex;
    border-bottom: 1px solid $tc-gray-10;

    @include xs-to-sm {
      flex-direction: column;
      border-top: 1px solid #e9e9e9;
      border-bottom: 0;
      margin-left: 16px;
      margin-top: 25px;
      margin-right: 34px;
    }

    &.no-border {
      border: none;
    }
  }

  .history {
    .history-head {
      font-weight: 500;
      font-size: 13px;
      color: $tc-gray-50;
      width: 100%;
      display: flex;

      @include xs-to-sm {
        display: none;
      }

      .col-2 {
        color: black;
      }

      .col-3 {
        flex: 30;
      }

      .col-4 {
        flex: 35;
      }

      @include xs-to-sm {
        display: none;
      }
    }
  }

  div.col {
    padding: 16px 0;

    @include xs-to-sm {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .col {
    @include roboto-medium;

    color: #2a2a2a;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: left;

    &.col-1 {
      flex: 20;
      display: flex;

      @include xs-to-sm {
        flex: 15;
        display: block;
      }
    }

    &.col-2 {
      flex: 20;
      text-align: left;
      color: $tc-gray-50;
      padding-left: 10px;
      display: flex;

      @include xs-to-sm {
        padding-left: 0;
      }
    }

    &.col-3 {
      flex: 20;
      display: flex;
      color: $tc-gray-50;

      @include xs-to-sm {
        flex: 42;
        display: block;
        text-align: left;
      }

      &.time {
        width: 100%;
        display: block;
      }
    }

    &.col-4 {
      flex: 20;
      color: $tc-gray-50;

      @include xs-to-sm {
        flex: 10;
      }
    }

    &.col-5 {
      flex: 20;
    }

    &.col-6 {
      flex: 20;
    }

    &.col-7 {
      flex: 20;
    }

    &.col-8 {
      flex: 13;
    }

    .text {
      cursor: pointer;
      color: #0d61bf;
    }
  }

  .handle {
    color: $tc-dark-blue;
  }
}

.tooltip {
  font-size: 14px;
  margin: 10px 10px 0 10px;
  padding-top: 5px;
}

.level-1 {
  color: $member-gray !important;
}

.level-2 {
  color: $member-green !important;
}

.level-3 {
  color: $member-blue !important;
}

.level-4 {
  color: $member-yellow !important;
}

.level-5 {
  color: $member-red !important;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .title {
    @include barlow-medium;

    font-weight: 600;
    color: #2a2a2a;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  .icon {
    cursor: pointer;
    margin-top: 5px;
  }
}

hr {
  opacity: 0.5;
}

.submission-text {
  @include roboto-regular;

  font-size: 16px;
  color: #2a2a2a;
  line-height: 24px;
  margin-top: 24px;

  span {
    font-weight: 700;
  }
}

.container {
  width: 750px !important;
  border-radius: 8px;

  @include xs-to-sm {
    margin: 9px 16px 16px 9px;
    max-width: 100% !important;
    top: 43%;
    padding: 0 !important;
    overflow-y: scroll;
  }
}

.close-btn {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  margin-bottom: 32px;
  background-color: #137d60;
  padding: 8px 24px;
  border-radius: 24px;
  float: right;

  span {
    @include roboto-bold;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
  }

  @include xs-to-sm {
    border-top: 1px solid #e9e9e9;
    position: sticky;
    margin-bottom: 16px;
  }
}

.mobile-header {
  display: none;

  @include xs-to-sm {
    display: block;
    margin-top: 16px;
    font-size: 11px;
    line-height: 14px;

    @include barlow-bold;

    font-weight: 600;
    color: #767676;
    text-align: left;
  }
}
