@import '~styles/mixins';
$sm-space-10: $base-unit * 2;
$sm-space-15: $base-unit * 3;
$sm-space-25: $base-unit * 5;
$sm-space-40: $base-unit * 8;

.outer-container {
  background: $tc-gray-10;
  padding: 24px;
  width: 100%;

  @include xs-to-sm {
    padding: 15px;
  }
}

.deletingIndicator {
  margin: -17px 0;

  &:global.hidden {
    display: none;
  }
}

.submission-management-container {
  @include roboto-regular;

  background: #fff;
  margin: auto;
}

.add-sub-btn {
  @include roboto-bold;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px !important;
  background: #137d60 !important;
  color: #fff !important;
  text-transform: uppercase;

  @include xs-to-md {
    font-size: 14px;
    line-height: 20px;
  }
}

.add-sub-btn-warning {
  @include roboto-bold;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px !important;
  background: $tc-red-70 !important;
  color: #fff !important;
  text-transform: uppercase;

  @include xs-to-md {
    font-size: 14px;
    line-height: 20px;
  }
}

.modal-content {
  @include roboto-regular;

  text-align: center;
  border-radius: 8px;
  padding: 20px 0;

  .are-you-sure {
    font-weight: 400;
    font-size: 15px;
    color: $tc-gray-80;
    line-height: $sm-space-25;
    margin-bottom: $sm-space-10;
    padding: 0 $sm-space-15;

    .id {
      color: #000;
      font-weight: 500;
    }
  }

  .remove-warn {
    font-weight: 400;
    font-size: 13px;
    color: $tc-gray-60;
    line-height: $sm-space-25;
    padding: 0 $sm-space-15;
    margin-bottom: $sm-space-40;
  }

  .action-btns {
    button {
      margin: 0 5px;
    }

    &:global.hidden {
      display: none;
    }
  }
}

.modalContainer {
  border-radius: 8px;
}
