@import '~styles/mixins';
@import '../../themes/mixins';

.wrapper {
  overflow: hidden;
}

.banner {
  background: url(assets/themes/iot/about/about-hero.png) no-repeat center;
  background-size: cover;
  color: $tc-white;
  margin-top: -66px;
  padding: 166px 0 100px;
}

.container {
  @include container;
}

.inner-container {
  @include inner-container-sm(8);

  text-align: center;
}

.title {
  @include h3;

  margin-top: 20px;
}

.text {
  @include text;

  margin-top: 30px;
}

.buttons {
  margin-top: 100px;
}
