@import "~styles/mixins";

.tca-certificates {
  margin-top: 32px;
  background: $listing-filter-bg;
  padding: 32px;
  border-radius: 8px;

  @include xs-to-md {
    padding: 16px;
  }

  .title {
    @include barlow-semi-bold;

    font-size: 22px;
    line-height: 26px;
    color: $tco-black;
    text-transform: uppercase;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 13px;

    svg {
      width: 37px;
      height: 38px;
    }

    @include xs-to-md {
      font-size: 18px;
      line-height: 20px;

      svg {
        width: 31px;
        height: 33px;
      }
    }
  }

  .category-title {
    @include barlow-semi-bold;

    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    margin-top: 24px;

    @include xs-to-md {
      font-size: 16px;
      line-height: 18px;
      margin-top: 16px;
    }
  }
}
