@import '~styles/mixins';

.container {
  position: relative;
  text-align: center;
  width: 280px;

  @include md {
    width: 200px;
  }

  @include xs-to-sm {
    padding: 0 15px;
    width: auto;

    & + & {
      padding-top: 50px;
    }
  }
}

.icon {
  height: auto;
  max-height: 100px;
  width: 100px;

  @include xs-to-md {
    max-height: 60px;
    width: 60px;
  }
}

.title {
  color: #394146;
  font: 600 20px/150% 'Open Sans', sans-serif;
  margin-top: 30px;

  @include xs-to-sm {
    font-size: 24px;
  }
}

.text {
  color: #394146;
  font: 15px/146.67% 'Open Sans', sans-serif;
  margin-top: 10px;
  opacity: 0.7;
}

.linkWrap {
  margin-top: 30px;
}

.link {
  color: #0092ff;
  display: inline-block;
  border: 1px solid #0092ff;
  border-radius: 20px;
  font: 700 14px/40px 'Open Sans', sans-serif;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  min-width: 220px;
  padding: 0 24px;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #0092ff;
    outline: none;
    text-decoration: none;
  }

  @include md {
    width: 200px;
  }
}
