@import "~styles/mixins";

.member-search-tab {
  height: 42px;
  background: #eaf6fd;
  border-radius: 4px 4px 0 0;
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  margin-top: 34px;
  display: flex;
}

.tab {
  @include barlow;

  color: $tco-black;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-weight: 600;

  &.active {
    background: #bae1f9;
    font-weight: 700;

    &::after {
      content: "";
      background-image: url(assets/images/nav-active-item-blue.svg);
      height: 10px;
      width: 40px;
      margin-top: 10px;
      justify-content: center;
      z-index: 100;
      display: block;
      position: absolute;
      top: 31px;
      left: 41%;

      @include xs-to-sm {
        display: none;
      }
    }
  }

  @include xs-to-sm {
    padding: 12px 18px;
    border-radius: 0 0 4px 4px;
  }
}

.count {
  @include roboto-regular;

  background-color: #2c95d7;
  border-radius: 50px;
  padding: 0 8px;
  text-align: center;
  color: $tc-white;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  height: 16px;
  margin-left: 4px;

  @include xs-to-sm {
    &.count-title {
      margin-top: 2px;
    }
  }
}

.mobile-member-search-tab {
  margin-top: 24px;

  .mobile-tab-container {
    background-color: #eaf6fd;
    height: 40px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #d4d4d4;

    .title {
      @include barlow-bold;

      display: flex;
      justify-content: center;
      align-self: center;
      height: 100%;
      font-weight: 700;
      color: $tco-black;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      padding-left: 16px;
      padding-top: 10px;
    }

    .icon {
      width: 16px;
      height: 9px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      cursor: pointer;
      transform: scale(1.5);
    }

    .down {
      transform: scale(1.5) rotate(180deg);
      margin-right: 20px !important;
    }

    @include xs-to-md {
      width: 100%;
      margin: 0;
    }
  }
}

.mobile-tab-left-content {
  display: flex;
  align-items: center;
}

.mobile-tab-expanded {
  margin: 0 16px;
  background-color: #eaf6fd;
  flex-direction: column;
  display: flex;

  a {
    width: 100%;
    height: 40px;
    margin: 0;

    @include barlow-bold;

    font-weight: 600;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 16px;
    padding-top: 10px;
  }

  .active {
    background-color: #bae1f9;

    p {
      color: $tco-black;
      font-weight: 700;
    }
  }

  @include xs-to-sm {
    margin: 0;
  }
}
