@import "~styles/mixins";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  flex-wrap: wrap;

  @include xs-to-lg {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 6px;
  }
}
