@import "~styles/mixins";

.container {
  align-content: center;
  background: white;
  padding: 10px 0;
}

.contentWrapper {
  display: flex;
  margin: 0 auto;
  max-width: $screen-lg;
  padding: 15px;
  color: $tc-black;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;

    .leftArrow {
      margin: 25px;
      margin-left: 20px;
      transform: scale(1.5);
    }

    .title {
      margin: 15px;
      font-weight: bold;
    }

    .postMeta {
      display: flex;
      margin: 15px;
      margin-top: 0;

      .postAuthor,
      .postUpdatedAt {
        i {
          margin-right: 5px;
          font-style: normal;
        }
      }

      .postAuthor {
        margin-right: 2em;
      }
    }

    .postTags {
      display: flex;
      margin: 15px;
      margin-top: 0;
    }
  }
}

.content {
  flex: 1;
  padding: 15px;
  color: $tc-black;

  @include roboto-regular;

  a { color: $tc-dark-blue; }

  a:active,
  a:focus,
  a:visited,
  a:hover {
    color: $tc-dark-blue;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 20px 0 10px;
    color: $tc-black;
    font-weight: 400;
  }

  p {
    color: $tc-black;
    padding: 10px 0;
    line-height: 1.5;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    max-width: 100%;
  }

  code {
    @include roboto-mono-regular;

    color: rgb(120, 125, 129);
    line-height: 1.5;
    white-space: pre;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup { top: -0.5em; }
  sub { bottom: -0.25em; }
}

.relatedPostsWrap {
  margin-top: 1em;

  h2 {
    margin-bottom: 1em;
  }

  .relatedPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      max-width: 350px;
      margin-bottom: 2em;

      > div {
        flex-direction: column;
      }
    }
  }
}

.image {
  flex: 1;
  margin: 15px;

  img {
    width: 100%;
  }
}
