@import "~styles/mixins";

.container {
  background: $tc-gray-neutral-dark;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6 * $base-unit;

  .failed-to-load {
    background: $tc-white;
    border-radius: 3 * $corner-radius;
    max-width: 1240px;
    text-align: left;
    width: 100%;
    padding: 12 * $base-unit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include sm-to-md {
      padding: 6 * $base-unit;
      align-items: flex-start;
    }

    h2 {
      display: flex;
      justify-content: center;
      text-align: center;

      span {
        width: 36px;
        height: 36px;
        background: url(../../../../assets/images/review-opportunity-load-error.svg);
        background-size: 100% 100%;
        margin-right: 2 * $base-unit;
      }

      @include sm-to-md {
        font-size: 24px;
      }
    }

    p {
      @include roboto-regular;

      line-height: 20px;
      text-align: center;
      margin: 8 * $base-unit auto;

      a {
        margin: 0 4px;
        color: $tc-dark-blue-100;
      }
    }
  }
}
