@import '~styles/mixins';
$track-code-pad: ($base-unit * 2) - 2;
$tco-line-hieght: $base-unit * 2 + 2;
$track-space-10: $base-unit * 2;
$track-space-15: $base-unit * 3;
$track-space-20: $base-unit * 4;
$track-radius-4: $corner-radius * 2;

.trackIcon {
  display: flex;
  width: $base-unit * 6 + 2;
  height: $base-unit * 6 + 2;
  margin-right: $track-space-20;
  flex-direction: column;

  @include sm {
    margin-right: $track-space-15;
  }

  .main-icon {
    @include tc-label-md;

    text-align: center;
    line-height: $track-space-15;
    color: $tc-white;
    padding: $track-code-pad - 1 0 $track-code-pad;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &.CH {
      background: $track-code-green;
    }

    &.F2F {
      background: $track-code-blue;
    }

    &.TSK {
      background: $track-code-turquose;
    }

    &.MM {
      background: $track-code-red;
    }

    &.RDM {
      background: $track-code-purple;
    }

    &.SKL {
      background: $track-code-purplish;
    }

    &.SRM {
      background: $track-code-yellow;
    }

    &.PC {
      background: $track-code-grey;
    }

    &.withTco {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .tco-icon {
    @include roboto-regular;

    text-align: center;
    font-size: 9px;
    font-weight: 700;
    border-radius: $corner-radius + 1px;
    line-height: 8px;
    padding: 2px 0;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #555;
    background: #d4d4d4;
  }

  .hidden {
    display: none;
  }
}
