@import "~styles/mixins";

.container {
  margin: auto;
  max-width: $screen-md;
  padding: 24px;

  code {
    background: whitesmoke;
    padding: 2px 4px;
  }
}

.subsection {
  @include tc-heading-lg;

  margin: 18px 0 0;
}

.text {
  @include tc-body-md;

  margin: 6px 0;
}

.title {
  @include tc-title;

  margin: 18px 0 6px;
}
