@import "~styles/tc-styles";

.page {
  @include roboto-light;

  padding: 24px;

  h1 {
    margin: 0 0 18px;
  }

  h3 {
    margin: 24px 0 6px;
  }

  code {
    background: whitesmoke;
    padding: 2px 4px;
  }
}

.btnXS {
  @include btn-xs;
}

.btnSM {
  @include btn-sm;
}

.btnLG {
  @include btn-lg;
}
