@import "../../../Themes/mixins";

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 45px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-decoration: none;

  &.active {
    background-color: $tc-gray-10;
  }
}

a:hover,
a:active {
  background-color: $tc-gray-10;
}

.icon {
  margin: 0 20px;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.menu-title {
  @include tc-body-md;

  color: $tc-gray-80;
}
