@import "~styles/mixins";
$tip-min-width: '100% - 80px';
$tip-offset: 80px;
$tip-space-10: $base-unit * 2;
$tip-space-15: $base-unit * 3;
$tip-space-35: $base-unit * 7;
$tip-space-95: $base-unit * 19;
$tip-radius-15: $corner-radius * 7 + 1;
$tip-radius-4: $corner-radius * 2;

@mixin phase($bullet-color) {
  display: block;
  width: 100%;

  .type {
    display: inline-block;
    width: 50%;

    &::before {
      content: "\2022";
      color: $bullet-color;
      font-size: 26px;
      margin-right: 2 * $base-unit;
      vertical-align: middle;
    }
  }

  .date {
    display: inline-block;
    width: 50%;
  }
}

.active-phase {
  @include phase($tc-green);

  color: $tc-gray-90;
  background: rgb(244, 249, 255);
  font-weight: 700;
}

.button {
  border-radius: $corner-radius * 12;
  font-size: 13px;
  font-weight: 400;
  height: 25px;
  padding: 0 10px;
  max-width: 120px;
}

.container {
  @include roboto-regular;

  align-items: center;
  background: $tc-white;
  display: flex;
  color: $tc-gray-90;
  font-size: 13px;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 2 * $base-unit;
  padding-top: 2 * $base-unit;
  text-align: left;
  width: 30%;
}

.expanded {
  border-radius: $corner-radius * 4;
  box-shadow: 0 0 16px $tc-gray-20;
  height: 325px;
  position: relative;
}

.inactive-phase {
  @include phase($tc-gray-50);

  color: $tc-gray-50;
  font-weight: 350;

  strong {
    font-weight: 500;
  }
}

.phases {
  padding-left: 8 * $base-unit;
  width: 100%;
}

div.tooltip-container {
  color: $tc-white;
  font-family: 'Roboto';
  max-width: none;
  padding: 0 $base-unit * 3;

  .rc-tooltip-inner {
    padding: 0 $base-unit * 3;
  }

  .tip {
    word-wrap: none;
    white-space: nowrap;

    .phase {
      display: inline-block;
      line-height: $tip-space-15;
      min-width: $tip-offset;
      padding: $tip-space-15 0;
      background: $tc-gray-80;
      width: $tip-space-95;

      &:last-child {
        border-radius: 0 $tip-radius-4 $tip-radius-4 0;
        padding-right: $tip-space-15;
      }
    }
  }

  .bar {
    background: $tc-gray-20;
    height: $base-unit - 1;
    margin: ($tip-space-10) - 3 0;
    width: 100%;

    &.last {
      width: 0;
    }

    .inner-bar {
      background: $tc-light-blue;
      position: relative;
      border-radius: $corner-radius * 4;
      border: 2px solid $tc-gray-80;
      top: -(($tip-space-15) - 1);
      height: $tip-space-10 - 2;
      z-index: 1;
    }

    .point {
      background: $tc-gray-20;
      border: 2px solid $tc-gray-80;
      border-radius: $corner-radius * 9;
      height: ($tip-space-15) - 3;
      left: -($base-unit - 2);
      position: relative;
      top: -($base-unit - 1);
      width: ($tip-space-15) - 3;
      z-index: 2;
    }

    &.started {
      .point {
        background: $tc-light-blue;
      }
    }
  }

  .date {
    font-weight: 400;
    font-size: 11px;
    color: $tc-gray-30;
    letter-spacing: 0;
    line-height: $tip-space-15;
    text-shadow: none;
  }

  .duration {
    display: inline-block;
    border-left: 1px solid $tc-gray-30;
    color: $tc-gray-30;
    font-size: 11px;
    padding-left: 2 * $base-unit;
    padding-top: $base-unit;

    .hours {
      color: $tc-white;
      font-size: 13px;
    }
  }
}
