@import "~styles/mixins";

/* Draft.js sets some list-related globals that need to be undone,
 * these can't be changed using the blockStylefn mechanism */
:global {
  .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR::before {
    width: auto;
    position: relative;
    left: 0;
  }

  .public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
    margin-left: 0;
  }
}

.container {
  @include tc-body-md;

  border: 1px solid $tc-gray-10;
  margin: 10px 0;
  padding: 10px;

  &:hover { border: 1px solid $tc-gray-40; }
}

.focused {
  border: 1px solid $tc-dark-blue-90;

  &:hover { border: 1px solid $tc-dark-blue-90; }
}

.note {
  background: $tc-gold-30;
  border: 1px solid $tc-gold-70;
  border-radius: 6px;
  font-family: roboto;
  font-weight: 400;
  font-style: italic;
  font-size: 13px;
  color: $tc-black;
  line-height: 20px;
  padding: 15px 20px;
  margin: 25px 0;

  a,
  p,
  ul {
    font-size: 13px;
  }
}
