@import "~styles/mixins";

:global {
  // Has a default z-index of 0 which interferes with <Modal> component
  .DraftEditor-editorContainer {
    z-index: auto;
  }

  // Draft.js sets some list-related globals that need to be undone,
  // and these can't be changed using the blockStyleFn mechanism
  .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR::before {
    width: auto;
    position: relative;
    left: 0;
  }

  .public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
    margin-left: 0;
  }
}

.container {
  @include tc-body-md;

  border: 1px solid $tc-gray-10;
  margin: 10px 0;
  padding: 10px;

  &:hover { border: 1px solid $tc-gray-40; }

  // Draft.js will render code-blocks like <pre><code></code></pre>
  // This will prevent the code/pre styles from being applied twice
  pre {
    code {
      background: none;
      border: 0;
      border-radius: none;
      margin: 0;
      padding: 0;
    }
  }
}

.focused {
  border: 1px solid $tc-dark-blue;

  &:hover { border: 1px solid $tc-dark-blue; }
}

.note {
  @include tc-body-sm;

  background: $tc-yellow-30;
  border: 1px solid $tc-yellow-70;
  border-radius: 6px;
  font-style: italic;
  color: $tc-black;
  line-height: 20px;
  padding: 15px 20px;
  margin: 25px 0;

  a,
  p,
  ul {
    font-size: 13px;
  }
}
