@import "~styles/mixins";

.profile-container {
  display: flex;
  padding-top: 60px;

  .col-bar {
    width: 370px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .col-content {
    width: 876px;
  }
}
