@import "../style";

.profile-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 9px 0 rgba(38, 38, 40, 0.06);

  @include upto-sm {
    padding: 0;
  }

  .col-bar {
    width: 250px;
    background-color: #fafafb;
    padding: 30px;
    border-bottom-left-radius: 6px;

    @include from-sm-to-lg {
      width: 90px;
      padding-right: 30px;
      margin-right: 0;
    }

    @include upto-sm {
      display: none;
    }
  }

  .col-content {
    flex: 1;
    padding: 30px 80px;

    @include upto-sm {
      display: none;
    }
  }
}
