@import '~styles/mixins';

.input-field {
  display: flex;
  background-color: $tc-white;
  height: 65px;
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.08));
  margin-left: 96px;
  margin-top: 34px;
  border-radius: 8px;
  width: 70%;
  padding: 20px;
  justify-content: space-between;

  &::after {
    content: '';
    background: url("assets/images/timeline/input-pointer.svg");
    left: 48%;
    bottom: -8px;
    width: 36px;
    height: 9px;
    position: absolute;
  }

  .input-placeholder {
    @include roboto-regular;

    font-weight: 400;
    color: $color-black-60;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
  }
}
