@import '~tc-ui/src/styles/tc-includes';
@import "~styles/mixins";

.user-avatar-r {
  width: 80px;
  height: 80px;
  margin-left: 24px;
  position: relative;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 3px solid #fff;

  @include xs-to-sm {
    width: 64px;
    height: 64px;
    margin-left: 0;
  }
}

.user-avatar-default {
  background: linear-gradient(84.45deg, #05456d 2.12%, #0a7ac0 97.43%);
  position: relative;

  span {
    @include barlow-condensed;

    color: $tc-white;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
  }
}
