@import '~styles/mixins';

.container {
  position: fixed;
  display: flex;
  background: $tc-gray-neutral-dark;
  border-radius: 4px;
  left: $base-unit;
  bottom: $base-unit;
  opacity: 0.7;
  transition: opacity 200ms ease;

  &:hover {
    opacity: 1;
  }

  svg {
    margin: $base-unit;
  }
}

.Tooltip {
  &:global(.rc-tooltip-placement-top) {
    padding: 20px 0 8px $base-unit;
  }

  :global(.rc-tooltip-arrow) {
    display: none !important;
  }
}

.Tip {
  position: relative;
  padding: $base-unit * 2;
  font-family: 'Roboto', sans-serif;

  .item {
    width: 280px;
  }

  .title {
    font-weight: bold;
    color: $tc-white;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .message {
    color: $tc-gray-20;
    font-size: 13px;
    line-height: 20px;
  }

  .clear {
    font-size: 15px;
    position: absolute;
    top: 0;
    right: $base-unit * 2;

    &:hover {
      background: rgba(71, 71, 79, 0.7);
      cursor: pointer;
    }
  }
}
