@import '~tc-ui/src/styles/tc-includes';

.load-more {
  display: block;
  height: 40px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 20px;
  background-color: $tc-gray-40;
  border: 1px solid $tc-gray-50;
  border-radius: 2px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: $tc-gray-neutral-light;
}
