@import "~styles/mixins";
.navlist{
    height: 45px;
    margin-bottom: 20px;
}
a.tab img{
    margin-right: 14px;
    width: 34px;
    max-height: 30px;
}
.activeTab {
    background-color: #ededf2;
    font-weight: 700;
}
.tab{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #262628;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    padding-left: 21px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
a.tab img{
    margin-right: 14px;
    width: 34px;
    max-height: 30px;
}