@import "../../style";
@import "~styles/mixins";

.security-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $pad-xxxxl;
  background-color: $color-tc-white;
  border-radius: 4px;

  @media (max-width: #{$screen-md - 1px}) {
    padding: 26px 16px;
  }

  .security-title {
    @include barlow-semi-bold;

    font-size: 20px;
    line-height: 22px;
    color: #2a2a2a;
    text-transform: uppercase;
    width: 100%;
  }

  .factor-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $pad-lg;
    border: 1px solid $color-black-20;
    border-radius: 8px;
    width: 100%;
    margin-top: 32px;

    @media (max-width: #{$screen-md - 1px}) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 24px;
    }

    .first-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: auto;

      @media (max-width: #{$screen-md - 1px}) {
        width: 100%;
      }
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 74px;
      width: 74px;
      height: 74px;
      background: $color-black-5;
      border-radius: 4px;
      margin-right: 16px;

      @media (max-width: #{$screen-md - 1px}) {
        align-self: flex-start;
        margin-bottom: 8px;
      }

      img {
        display: block;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      flex: 1;

      .info-first-line {
        @include roboto-regular;

        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: $tco-black;

        @media (max-width: #{$screen-md - 1px}) {
          margin-bottom: 8px;
        }
      }

      .info-second-line {
        @include roboto-regular;

        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-black-60;

        &.dice-info-mobile {
          display: none;
        }

        @media (max-width: #{$screen-md - 1px}) {
          padding-right: 0;

          &.dice-info {
            display: none;
          }

          &.dice-info-mobile {
            display: block;
          }
        }
      }
    }

    .mfa-switch {
      display: unset;

      @media (max-width: #{$screen-md - 1px}) {
        display: none;
      }
    }

    .mfa-switch-mobile {
      display: none;

      @media (max-width: #{$screen-md - 1px}) {
        display: unset;
        align-self: flex-start;
        margin-top: 10px;
      }
    }

    .dice-switch {
      display: flex;
      align-items: center;

      @media (max-width: #{$screen-md - 1px}) {
        display: none;
      }
    }

    .disabled-toggle {
      cursor: not-allowed;
      background-color: #7fb5a6 !important;
    }

    .button {
      @include roboto-bold;

      text-align: center;
      margin: 0;
      height: 48px;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.008em;
      text-transform: uppercase;
      color: $color-turq-160;
      padding: 12px 24px;
      background: $tc-white;
      border: 2px solid $color-turq-160;
      border-radius: 50px;
      cursor: pointer;

      &.disabled {
        background: #f4f4f4;
        color: #767676;
        border: none;
        line-height: 24px;
        pointer-events: none;
      }

      @media (max-width: #{$screen-md - 1px}) {
        display: none;
      }
    }
  }
}

.step-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .step-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon-unsuccessful {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 32px;
      width: 32px;
      height: 32px;
      margin-bottom: 8px;

      svg {
        display: block;
      }
    }
  }

  .step-title {
    @include barlow-condensed-medium;

    font-size: 26px;
    line-height: 28px;
    color: $tco-black;
    text-transform: uppercase;
    margin-bottom: 16px;

    &.error {
      color: #ef476f;
    }

    &.no-margin {
      margin-bottom: 0;
    }
  }

  .step-content {
    @include roboto-regular;

    font-size: 20px;
    line-height: 26px;
    color: $tco-black;
    margin-bottom: 16px;

    &.no-margin {
      margin-bottom: 0;
    }
  }

  .app-store {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    margin-bottom: 16px;

    .market {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.mmr {
        margin-right: 100px;
      }

      .market-link {
        margin-bottom: 32px;
      }
    }
  }

  .body-logo {
    display: flex;
    flex-direction: row;
    padding: 57px 0;
    align-items: flex-start;
    gap: 100px;
    width: 100%;
    justify-content: center;
    margin-bottom: 16px;
  }
}

.step-footer {
  @include roboto-regular;

  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #767676;
  margin-top: auto;
}

.tctooltiptext {
  background: $tooltip-gray;
  color: $tc-white;
  border-radius: 8px;
  padding: 10px;

  p {
    @include roboto-medium;

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}
