@import '~styles/mixins';

.experience-and-skills {
  display: flex;
  flex-direction: column;
  margin: 9px 0 0;
  color: $color-black-100;

  @include xs-to-md {
    display: block;
    margin: 0;
  }
}

.footer {
  display: flex;
  flex-direction: row-reverse;

  .save-changes-btn {
    @include roboto-bold;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 50px !important;
    background: #137d60 !important;
    color: #fff !important;
    text-transform: uppercase;
    padding: 11px 23px;
    letter-spacing: 0.008em !important;
    margin: 0;

    &:focus,
    &:focus-within,
    &:focus-visible {
      outline: none !important;
      box-shadow: none !important;
      border: none !important;
    }

    &.disabled {
      opacity: 0.5;
    }
  }

  @include xs-to-md {
    padding: $pad-xxxxl 0 $pad-sm;
    border-top: 2px solid $color-black-10;

    .save-changes-btn {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
