@import '~styles/mixins';
$sm-space-10: $base-unit * 2;
$sm-space-15: $base-unit * 3;
$sm-space-25: $base-unit * 5;
$sm-space-40: $base-unit * 8;

.container {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 32px;

  @include xs-to-sm {
    padding: 0;
  }
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: $screem-md;
  margin: 0 auto;
}

.submission-management-container {
  @include roboto-regular;

  background: #fff;
  margin: auto;
  width: 1242px;

  .modal-content {
    text-align: center;

    .are-you-sure {
      font-weight: 400;
      font-size: 15px;
      color: $tc-gray-80;
      line-height: $sm-space-25;
      margin-bottom: $sm-space-10;
      padding: 0 $sm-space-15;

      .id {
        color: #000;
        font-weight: 500;
      }
    }

    .remove-warn {
      font-weight: 400;
      font-size: 13px;
      color: $tc-gray-60;
      line-height: $sm-space-25;
      padding: 0 $sm-space-15;
      margin-bottom: $sm-space-40;
    }

    .action-btns {
      button {
        margin: 0 5px;
      }
    }
  }
}

.bannerContainer {
  height: 252px;

  @include xs-to-sm {
    height: 300px;
  }
}

.bannerContent {
  bottom: 0;
  top: 0;
  transform: none;
  width: 600px;

  @include xs-to-sm {
    top: auto;
    width: 100%;
  }
}

.bannerContentInner {
  @include xs-to-sm {
    padding-bottom: 20px;
    padding-top: 48px;
  }
}
