@import "~styles/mixins";

.copilot-opportunity-bucket {
  background: $tc-white;
  margin: 20px 0;

  .no-results {
    @include tc-label-lg;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tc-white;

    @include roboto-regular;

    font-size: 24px;
    line-height: 32px;
    color: $tco-black;
    padding-top: 80px;
    border-top: 2px solid $listing-gray;
    border-radius: 1px;
    margin-left: 24px;

    @include xs-to-md {
      margin-left: 0;
    }
  }
}
