@import "~styles/mixins";

.container {
  @include tc-heading-lg;

  color: $tc-dark-blue;
  cursor: pointer;
  padding: 0 10px 20px;
  margin: 0 10px;
}

.selected {
  border-bottom: 2px solid $tc-black;
  color: $tc-black;
  cursor: default;
}
