@import "~styles/mixins";

.form-container {
  padding: $pad-xxxxl;
  background-color: $color-tc-white;
  border-radius: 4px;
  margin: $margin-sm 0 0;

  .device-form {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-title {
  @include barlow-semi-bold;

  font-size: 20px;
  line-height: 22px;
  color: inherit;
  text-transform: uppercase;
  padding-bottom: $pad-xxxxl;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-label {
  flex: 0 0 calc(50% - 13px);
  padding-right: 230px;

  @include roboto-regular;

  font-size: 16px;
  line-height: 26px;
  color: inherit;
}

.form-body {
  flex: 0 0 calc(50% + 13px);
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(50% - 13px);
  padding: $pad-sm 0;
  gap: 8px 16px;

  .button {
    @include roboto-bold;

    font-size: 14px;
    line-height: 14px;
    color: $color-turq-160;
    min-height: 0;
    margin: 0;
    padding: 0;
    background: transparent !important;
    border: none;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      outline: none !important;
      color: lighten($color-turq-160, 5%);
      background: transparent !important;
      box-shadow: none !important;
    }

    .icon {
      margin-right: $margin-xs;
    }
  }
}

@include xs-to-md {
  .form-container {
    padding: $pad-xxl $pad-lg;
  }

  .form-title {
    @include barlow-condensed-medium;

    font-size: 22px;
    line-height: 24px;
    padding-bottom: $pad-xxl;
  }

  .form-label {
    flex: 1 1 100%;
    padding: 0;
    margin-bottom: $margin-xxl;
    font-size: 14px;
    line-height: 20px;
  }

  .form-body {
    flex: 1 1 100%;
  }

  .form-footer {
    margin: 0;
  }
}
