@import "../../style";

.devices-container {
  display: flex;
  flex-direction: column;

  h1 {
    @include roboto-regular;

    font-size: 28px;
    line-height: 35px;
    font-weight: 400;
    color: $tc-black;
    margin-bottom: 30px;

    @include upto-sm {
      display: none;
    }
  }

  .sub-title {
    @include roboto-light;

    color: #888894;
    line-height: 35px;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 10px;

    &.second {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    &.first {
      margin-bottom: 30px;
    }

    &.hidden {
      display: none;
    }

    @include upto-sm {
      display: none;
    }
  }
}

.form-container-default {
  @include form-container-default;

  input {
    @include roboto-regular;

    height: 40px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;
    margin-bottom: 0;
  }

  .text-required {
    @include roboto-medium;

    font-size: 10px;
    color: $tc-red-110;
    margin-bottom: 5px;
    text-align: right;
  }
}

.form-container-mobile {
  display: none;

  @include upto-sm {
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 0;
    padding: 20px;
    background-color: $tc-gray-neutral-light;
    border-bottom: 1px solid $tc-gray-10;
  }

  p {
    @include roboto-regular;

    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $tc-black;

    @include upto-sm {
      margin-bottom: 20px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-content: space-between;
    align-items: center;
    width: 100%;

    @include upto-sm {
      display: block;
      margin-bottom: 0;
    }

    .field {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-right: 10px;
      align-content: space-between;

      @include upto-sm {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
      }

      label {
        @include roboto-medium;

        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        color: $tc-gray-80;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;

        .text-required {
          color: $tc-red-110;
        }
      }

      &.col-1,
      &.col-1-no-padding {
        width: 35%;

        @include upto-sm {
          width: 100%;
        }

        > div {
          @include upto-sm {
            margin-top: 5px;
          }
        }
      }

      &.col-2 {
        width: 50%;

        @include upto-sm {
          width: 100%;
        }
      }
    }

    div.field:last-child {
      margin-right: 0;
    }
  }

  input {
    @include roboto-regular;

    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $tc-black;
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius * 2 $corner-radius * 2 $corner-radius * 2 $corner-radius * 2;

    @include upto-sm {
      margin-top: 5px;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-save,
  .button-cancel {
    align-self: center;

    @include upto-sm {
      margin-top: 10px;
    }

    button,
    a {
      @include roboto-medium;

      height: 40px;
      font-size: 15px;
      font-weight: 500;
      line-height: 40px;
      margin: 0;
      padding: 0;
      width: 199px;

      @include upto-sm {
        width: 156px;
      }
    }

    .complete {
      color: $tc-white;
    }
  }

  .button-cancel {
    margin-left: 10px;
  }
}

/*
 * React Select component styling
 */
.devices-container .form-container .row .field :global .Select,
.devices-container .form-container .row .field :global .Select-value span,
.devices-container .form-container .row .field :global .Select-menu-outer,
.devices-container .form-container .row .field :global .Select-placeholder,
.devices-container .form-container .row .field :global .Select-input input {
  color: $tc-gray-80;
  font-size: 15px;

  @include upto-sm {
    //margin-top: 5px;
  }
}

.devices-container div[class="Select-control"] {
  height: 40px;

  div[class="Select-input"] {
    height: 38px;
  }

  div[class="Select-placeholder"] {
    height: 38px;
    line-height: 40px !important;

    @include upto-sm {
      line-height: 38px !important;
    }
  }

  div[class="Select-value"] {
    line-height: 40px !important;
  }
}

.devices-container .form-container .row .field :global .Select-placeholder {
  color: $tc-gray-50;
}
