@import "../themes/mixins.scss";

.card {
  border-radius: 6px;
  box-shadow: 0 2px 9px 0 rgba(38, 38, 40, 0.15);
  flex: 1;
  overflow: hidden;
  margin: 0 10px;

  h1 {
    @include h3;

    font-weight: normal;

    @include xs-to-sm {
      font-weight: normal;
    }
  }

  p {
    @include regular-text;

    margin-bottom: 40px;

    @include xs-to-sm {
      margin-bottom: 20px;
    }
  }

  @include xs-to-sm {
    flex: none;
    margin: 10px 0;
    width: 100%;
  }
}

.cardImage {
  background-position: 50% 50%;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.card-01 .cardImage {
  background-image: url('./images/card-image-01.jpg');
}

.card-02 .cardImage {
  background-image: url('./images/card-image-02.jpg');
}

.cardContent {
  padding: 30px;
}

.cardsBlock {
  display: flex;
  margin: 40px auto;
  max-width: $screen-lg;
  padding: 0 15px;

  @include xs-to-sm {
    flex-wrap: wrap;
  }
}

.headerBlock {
  @include header-block;

  background-image: url('images/header.jpg');
}

.joinBlock {
  margin: 100px auto;
  max-width: $screen-lg;
  padding: 0 40px;
  text-align: center;

  h1 {
    @include h2;
  }

  & > p {
    @include regular-text;

    margin: 0 auto 40px;
    max-width: 740px;
  }

  @include xs-to-sm {
    margin: 50px 0;
  }
}

.readMoreButton {
  @include btn-sm;

  margin: 0 !important;
}
