@import '~styles/mixins';

.item {
  @include roboto-regular;

  height: 30px;
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
  padding-left: 15px;
  color: $tco-black;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $color-turq-160;
    color: $tc-white;
  }
}

.is-select {
  @include roboto-bold;

  background-color: $color-turq-160;
  color: $tc-white;
}
