@import "~styles/mixins";

.user-stats {
  margin-left: 24px;

  @include xs-to-sm {
    margin-left: 0;
  }
}

.not-found-text {
  @include roboto-regular;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #767676;

  @include xs-to-sm {
    &.track {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.skills-wrapper {
  margin-top: 16px;

  @include xs-to-sm {
    margin-top: 8px;
  }
}

.tracks {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  @include xs-to-sm {
    gap: 8px;
  }
}

.skills {
  max-width: fit-content;
}
