@import '~styles/mixins';

.outerContainer {
  width: 100%;

  .menuContainer {
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;

    @include xs-to-sm {
      height: auto;
    }

    .container {
      display: flex;
      list-style-type: none;
      margin: 0 auto;

      @include xs-to-sm {
        flex-direction: column;
        margin: 0;
        margin-left: 1em;
        margin-bottom: 1em;
      }
    }
  }

  .menuItemLink {
    text-transform: uppercase;
    text-decoration: none;
  }

  .menuItemLinkActive {
    position: relative;
  }

  .menuItemLevel {
    padding: 15px 20px 15px 0;

    @include xs-to-sm {
      padding: 0;
    }

    @include tc-heading-xs;

    line-height: 30px;

    a {
      color: #aaaaab;

      &:hover {
        color: darken($color: #aaaaab, $amount: 10);
      }
    }

    .menuItemLinkActive {
      color: #404041;

      &:hover {
        color: darken($color: #404041, $amount: 20);
      }
    }

    .menuItemLinkActive::after {
      position: absolute;
      bottom: -5px;
      left: calc(50% - 13px);

      @include xs-to-sm {
        left: 0;
      }

      content: '';
      width: 28px;
      height: 2px;
      background-color: #55a5ff;
    }
  }
}

.submenu {
  .outerContainer {
    background-color: transparentize(#37373c, 0.15);

    @include xs-to-sm {
      padding: 0.5em;
      margin: 0;
    }

    @include lg-to-xl {
      position: absolute;
      left: 0;
      top: 60px;
      z-index: 999;
    }

    .menuContainer {
      @include lg-to-xl {
        max-width: $screen-lg;
        margin: auto;
        padding-left: 280px;
        padding-right: 130px;
      }
    }

    .menuItemLevel {
      a {
        color: #a3a3ad;
        font-weight: 400;

        &:hover {
          color: $tc-white;
        }
      }

      .menuItemLinkActive {
        color: $tc-white;
      }

      .menuItemLinkActive::after {
        background-color: $tc-white;
      }
    }

    // Level 3
    .submenu {
      .outerContainer {
        background-color: transparentize(#37373c, 0.15);

        @include xs-to-sm {
          padding: 0;
          margin: 0;
        }

        @include lg-to-xl {
          top: 0;
          z-index: 999;
        }

        .menuContainer {
          @include xs-to-sm {
            padding-left: 1em;
          }

          @include lg-to-xl {
            padding-left: 0;
            padding-right: 0;
          }

          @include md {
            padding-left: 80px;
            padding-right: 60px;
          }

          .container {
            @include xs-to-sm {
              margin-left: 2em;
              margin-bottom: 0;
            }
          }

          .menuSwitchContainer {
            @include roboto-regular;

            font-size: 13px;
            font-weight: 700;
            line-height: 25px;
            color: $tc-white;
            text-transform: uppercase;

            :global {
              .Select-menu-outer {
                padding-left: 0;
                padding-right: 0;
                border-radius: 0 0 6px 6px;
                box-shadow: 0 2px 9px 0 rgba(38, 38, 40, 0.15);

                .Select-option {
                  @include roboto-regular;

                  font-size: 13px;
                  font-weight: 400;
                  line-height: 30px;
                  text-transform: uppercase;
                  color: #47474f;
                  padding-left: 10px;
                  padding-right: 20px;

                  &.is-selected,
                  &:hover {
                    background-color: #dcdce0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
