.outer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .container {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }

  button.close {
    background: none;
    border: none;

    span {
      color: #a3a3ae;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
